<div class="demo-content">
  <mdc-radio></mdc-radio>
  <example-viewer [example]="example1"></example-viewer>
</div>

<div class="demo-content">
  <mdc-form-field>
    <mdc-radio name="demo-radio-set"></mdc-radio>
    <label>Radio 1</label>
  </mdc-form-field>
  <mdc-form-field>
    <mdc-radio name="demo-radio-set"></mdc-radio>
    <label>Radio 2</label>
  </mdc-form-field>
  <example-viewer [example]="exampleRadioSet"></example-viewer>
</div>

<div class="demo-content">
  <div class="demo-layout__row">
    <button mdc-button
      (click)="demoFormField.alignEnd = !demoFormField.alignEnd">RTL: {{demoFormField.alignEnd ? 'On'
      : 'Off'}}</button>
    <button mdc-button
      (click)="demoRadio2.disabled = !demoRadio2.disabled">Disabled: {{demoRadio2.disabled ? 'On' :
      'Off'}}</button>
    <button mdc-button (click)="alternateColors(demoRadio2)">Alternate
      Colors</button>
  </div>
  <mdc-form-field #demoFormField [alignEnd]="false">
    <mdc-radio #demoRadio2></mdc-radio>
    <label>Radio Button</label>
  </mdc-form-field>
  <example-viewer [example]="example2"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Radio Group</h3>
  <div class="demo-layout__row">
    <button mdc-button
      (click)="demoRadioGroup.disabled = !demoRadioGroup.disabled">Disabled: {{demoRadioGroup.disabled
      ? 'On' : 'Off'}}</button>
  </div>
  <mdc-radio-group #demoRadioGroup [(ngModel)]="favoriteSeason">
    <mdc-form-field *ngFor="let season of seasons">
      <mdc-radio [value]="season"></mdc-radio>
      <label>{{season}}</label>
    </mdc-form-field>
  </mdc-radio-group>
  <p>Your favorite season is: {{favoriteSeason}}</p>
  <example-viewer [example]="exampleRadioGroup"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Radio Group - Reactive forms</h3>
  <div class="demo-layout__row">
    <button mdc-button
      (click)="demoRadioReactive.disabled = !demoRadioReactive.disabled">Disabled:
      {{demoRadioReactive.disabled ? 'On' : 'Off'}}</button>
  </div>
  <form [formGroup]="form">
    <mdc-radio-group #demoRadioReactive formControlName="season">
      <mdc-form-field *ngFor="let season of seasons">
        <mdc-radio [value]="season"></mdc-radio>
        <label>{{season}}</label>
      </mdc-form-field>
    </mdc-radio-group>
  </form>
  <p>Your favorite season is: {{form.controls['season'].value}}</p>
  <example-viewer [example]="exampleReactive"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Accessibility</h3>
  <p>
    Material Design spec advises that touch targets should be at least 48 x 48
    px. To meet this requirement, add the `touch` property.
  </p>
  <p>
    Note that the outer mdc-touch-target-wrapper element is only necessary if
    you want to avoid potentially overlapping touch targets on adjacent elements
    (due to collapsing margins). </p>
  <div class="demo-layout__row">
    <div class="mdc-touch-target-wrapper">
      <mdc-form-field>
        <mdc-radio name="demo-radio-set" touch></mdc-radio>
        <label>My Accessibility Radio</label>
      </mdc-form-field>
    </div>
  </div>
  <example-viewer [example]="exampleAccessibility"></example-viewer>
</div>