<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>unchecked-stroke-color($color)</code></td>
        <td>Sets the stroke color of an unchecked, enabled radio button</td>
      </tr>
      <tr>
        <td><code>checked-stroke-color($color)</code></td>
        <td>Sets the stroke color of a checked, enabled radio button</td>
      </tr>
      <tr>
        <td><code>ink-color($color)</code></td>
        <td>Sets the ink color of an enabled radio button</td>
      </tr>
      <tr>
        <td><code>disabled-unchecked-stroke-color($color)</code></td>
        <td>Sets the stroke color of an unchecked, disabled radio button</td>
      </tr>
      <tr>
        <td><code>disabled-checked-stroke-color($color)</code></td>
        <td>Sets the stroke color of a checked, disabled radio button</td>
      </tr>
      <tr>
        <td><code>disabled-ink-color($color)</code></td>
        <td>Sets the ink color of a disabled radio button</td>
      </tr>
      <tr>
        <td><code>focus-indicator-color($color)</code></td>
        <td>Sets the color of the focus indicator</td>
      </tr>
      <tr>
        <td><code>touch-target($size, $ripple-size)</code></td>
        <td>Sets radio touch target size which can be more than the ripple size.
          Param <code>$ripple-size</code> is required for custom ripple size,
          defaults to <code>$ripple-size</code>.</td>
      </tr>
      <tr>
        <td><code>ripple-size($size)</code></td>
        <td>Sets custom ripple size of radio.</td>
      </tr>
      <tr>
        <td><code>density($density-scale)</code></td>
        <td>Sets density scale for radio. Supported density scale values are
          <code>-3</code>, <code>-2</code>, <code>-1</code> and <code>0</code>
          (default).</td>
      </tr>
    </tbody>
  </table>
</div>