<div class="demo-page">
  <div class="markdown-body">
    <h1>Typography</h1>
    Material Design's text sizes and styles were developed to balance content density and reading comfort under typical usage conditions.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/style/typography.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Typography</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-typography/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code><![CDATA[import { MdcTypographyModule } from '@angular-mdc/web';]]></code></pre>

    <h2>Sass Mixins</h2>
    To customize the typography of a style, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography#sass-variables-and-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-typography"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <table>
        <thead>
          <tr>
            <th>Directive</th>
            <th>Format</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>mdc-typography</td>
            <td>Set document body or element font to Roboto</td>
          </tr>
          <tr>
            <td>mdcOverline | mdc-typography-overline</td>
            <td>
              <div mdcOverline>Overline Text</div>
            </td>
          </tr>
          <tr>
            <td>mdcButton | mdc-typography-button</td>
            <td>
              <div mdcButton>Button Text</div>
            </td>
          </tr>
          <tr>
            <td>mdcBody1 | mdc-typography-body1</td>
            <td>
              <div mdcBody1>Body 1</div>
            </td>
          </tr>
          <tr>
            <td>mdcBody2 | mdc-typography-body2</td>
            <td>
              <div mdc-typography-body2>Body 2</div>
            </td>
          </tr>
          <tr>
            <td>mdcSubtitle1 | mdc-typography-subtitle1</td>
            <td>
              <div mdc-typography-subtitle1>Subtitle 1</div>
            </td>
          </tr>
          <tr>
            <td>mdcSubtitle2 | mdc-typography-subtitle2</td>
            <td>
              <div mdc-typography-subtitle2>Subtitle 2</div>
            </td>
          </tr>
          <tr>
            <td>mdcCaption | mdc-typography-caption</td>
            <td>
              <span mdc-typography-caption>Caption</span>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline6 | mdc-typography-headline6</td>
            <td>
              <div mdc-typography-headline6>Headline 6</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline5 | mdc-typography-headline5</td>
            <td>
              <div mdc-typography-headline5>Headline 5</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline4 | mdc-typography-headline4</td>
            <td>
              <div mdc-typography-headline4>Headline 4</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline3 | mdc-typography-headline3</td>
            <td>
              <div mdc-typography-headline3>Headline 3</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline2 | mdc-typography-headline2</td>
            <td>
              <div mdc-typography-headline2>Headline 2</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline1 | mdc-typography-headline1</td>
            <td>
              <div mdc-typography-headline1>Headline 1</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
