<div class="demo-page">
  <div class="markdown-body">
    <h1>Dialog</h1>
    Dialogs inform users about a task and can contain critical information, require decisions, or involve multiple tasks.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/components/dialogs.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Dialog</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-dialog/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <p class="docs-api-module-import"><![CDATA[import { MdcDialogModule } from '@angular-mdc/web';]]></p>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <table>
        <thead>
          <tr>
            <th>Dialog service</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>MdcDialog</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Methods</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
    <pre>open(myDialogComponent)

open(myDialogComponent, {{"{
  id?: string,
  ariaDescribedBy?: string,
  ariaLabel?: string,
  clickOutsideToClose?: boolean,
  escapeToClose?: boolean,
  scrollable?: boolean,
  buttonsStacked?: boolean,
  data?: any
}"}})></pre></td>
            <td>Opens the dialog with optional configuration.</td>
          </tr>
          <tr>
            <td>close(dialogResult?: any)</td>
            <td>Closes the dialog with optional returned result.</td>
          </tr>
        </tbody>
          <tr>
            <td>afterDismiss: Observable<pre>R | undefined</pre></td>
            <td>Gets an observable that is notified when the snackbar is finished closing.</td>
          </tr>
      </table>

      <table>
        <thead>
          <tr>
            <th>Config</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>id: string</td>
            <td>ID for the dialog. If omitted, a unique one will be generated.</td>
          </tr>
          <tr>
            <td>ariaLabel: string</td>
            <td>Aria label to assign to the dialog element.</td>
          </tr>
          <tr>
            <td>ariaDescribedBy: string</td>
            <td>ID of the element that describes the dialog.</td>
          </tr>
          <tr>
            <td>clickOutsideToClose: boolean</td>
            <td>Close the dialog if user clicks on the backdrop. (Default: true)</td>
          </tr>
          <tr>
            <td>escapeToClose: boolean</td>
            <td>Enable or disable close on escape key (Default: true).</td>
          </tr>
          <tr>
            <td>scrollable: boolean</td>
            <td>Applied automatically when the dialog has overflowing content to warrant scrolling.</td>
          </tr>
          <tr>
            <td>buttonsStacked: boolean</td>
            <td>Enable or disable the stacking of action buttons, if they can't fit on a single line.</td>
          </tr>
          <tr>
            <td>data: any</td>
            <td>Data that can be assigned inside child component.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-dialog</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Mandatory. The root DOM element containing the surface and the container.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-dialog-container</span>
        <span class="docs-api-class-selector-name">mdcDialogContainer</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Mandatory. Wrapper element needed to ensure flexbox behavior in IE 11.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-dialog-surface</span>
        <span class="docs-api-class-selector-name">mdcDialogSurface</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Mandatory. The bounding box for the dialog's content.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-dialog-title</span>
        <span class="docs-api-class-selector-name">mdcDialogTitle</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Optional. Brief summary of the dialog's purpose.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-dialog-content</span>
        <span class="docs-api-class-selector-name">mdcDialogContent</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Optional. Primary content area. May contain a list, a form, or prose.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-dialog-actions</span>
        <span class="docs-api-class-selector-name">mdcDialogActions</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Optional. Footer area containing the dialog's action buttons.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">button[mdcDialogButton]</span>
        <span class="docs-api-class-selector-name">a[mdcDialogButton]</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>default: boolean</td>
            <td>Indicates that this action button represents the default action.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdcDialogAction="close"</span>
        <span class="docs-api-class-selector-name">mdcDialogAction="accept"</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Optional. Any element within a dialog may include the <code class="docs-markdown-code">mdcDialogAction</code> directive.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize the colors of any part of the dialog, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-dialog#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-dialog"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Dialog service</h3>
    <div class="demo-layout__row">
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="escapeToClose"></mdc-checkbox>
        <label>Escape Key Closes</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="clickOutsideToClose"></mdc-checkbox>
        <label>Click or Touch Outside Closes</label>
      </mdc-form-field>
    </div>
    <div class="demo-layout__row">
      <button mdc-button (click)="openAlert()">Alert</button>
      <button mdc-button (click)="openSimple()">Simple</button>
      <button mdc-button (click)="openConfirmation()">Confirmation</button>
      <button mdc-button (click)="openScrollable(true)">Scrollable</button>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Usage</h3>
    A dialog is opened by calling the <code class="docs-markdown-code">open</code> method with a component to be loaded and an optional config object. The <code class="docs-markdown-code">open</code> method will return an instance of <code class="docs-markdown-code">MdcDialogRef</code>:
    <pre>
  let dialogRef = dialog.open(UserProfileComponent, {{"{
    clickOutsideToClose: 'true',
    escapeToClose: 'true',
  }"}});
  </pre>

  The <code class="docs-markdown-code">MdcDialogRef</code> provides a handle on the opened dialog. It can be used to close the dialog and to receive notification when the dialog has been closed.
  <pre>
  dialogRef.afterClosed().subscribe(result => {{"{
    console.log(`Dialog result: ${result}`); // Pizza!
  }"}});

  dialogRef.close('Pizza!');
  </pre>

  <p>Components created via <code class="docs-markdown-code">MdcDialog</code> can inject <code class="docs-markdown-code">MdcDialogRef</code> and use it to close the dialog in which they are contained. When closing, an optional result value can be provided. This result value is forwarded as the result of the <code class="docs-markdown-code">afterClosed</code> promise.</p>
  <pre>
  @Component({{"{/* ... */}"}})
  export class YourDialog {{"{
    constructor(public dialogRef: MdcDialogRef<![CDATA[<YourDialog>]]>) { }

    closeDialog() {
      this.dialogRef.close('Pizza!');
    }
  }"}}
  </pre>

    <h3 class="demo-content__headline">Sharing data with the Dialog component</h3>
    If you want to share data with your dialog, you can use the <code class="docs-markdown-code">data</code> option to pass information to the dialog component.
  <pre>
  let dialogRef = dialog.open(YourDialog, {{"{
    data: {name: this.name, animal: this.animal}
  }"}});
  </pre>

  To access the data in your dialog component.
  <pre>
  <![CDATA[
  import { Component, Inject } from '@angular/core';
  import { MdcDialogRef, MDC_DIALOG_DATA } from '@angular-mdc/web';
  @Component({
    // ...
  })
  export class YourDialog {
    constructor(public dialogRef: MdcDialogRef<YourDialog>,
      @Inject(MDC_DIALOG_DATA) public data: DialogData) {
      userName: string = data.name;
    }
  }]]>
  </pre>

      <h3 class="demo-content__headline">Configuring dialog content via entryComponents</h3>
      <p mdcBody2>Because <code class="docs-markdown-code">MdcDialog</code> instantiates components at run-time, the Angular compiler needs extra information to create the necessary
        ComponentFactory for your dialog content component.</p>
      <p mdcBody2>For any component loaded into a dialog, you must include your component
        class in the list of <code class="docs-markdown-code">entryComponents</code> in your NgModule definition so that the Angular compiler knows to create the ComponentFactory.</p>
  <pre>
  <![CDATA[
  @NgModule({
    imports: [
      // ...
      MdcDialogModule
    ],

    declarations: [
      AppComponent,
      ExampleDialogComponent
    ],

    entryComponents: [
      ExampleDialogComponent
    ],

    providers: [],
    bootstrap: [AppComponent]
  })
  export class AppModule {}]]>
  </pre>
</div>
