<div class="demo-page">
  <div class="markdown-body">
    <h1>Lists</h1>
    <div>MDC List provides styles which implement Material Design Lists - "A single continuous column of tessellated subdivisions of equal width." Both single-line and two-line lists are supported (with three-line lists planned). MDC Lists are designed to be accessible and RTL aware.</div>
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/components/lists.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Lists</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-list/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code><![CDATA[import { MdcListModule } from '@angular-mdc/web';]]></code></pre>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <h3>mdc-list-group</h3>
      <table>
        <tbody>
          <tr>
            <td>Wraps one or more mdc-list and/or mdc-list-divider elements.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-list-group-subheader</h3>
      <table>
        <tbody>
          <tr>
            <td>Heading text displayed above each list in a group.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-list</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>dense: boolean</td>
            <td>Increases the density of the list, making it appear more compact.</td>
          </tr>
          <tr>
            <td>lines: number (Set to 2 for two line list. Default is 1)</td>
            <td>Increases the height of the row to give it greater visual separation from adjacent rows.</td>
          </tr>
          <tr>
            <td>avatar: boolean</td>
            <td>Configures the leading tiles of each row to display images instead of icons.</td>
          </tr>
          <tr>
            <td>border: boolean</td>
            <td>Sets a border around each list item.</td>
          </tr>
          <tr>
            <td>interactive: boolean</td>
            <td>List items receive styles for hover, focus, and press states (including the ripple). Default is true.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Event</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre>selectionChange:
  EventEmitter<![CDATA[<MdcListItemChange>]]></pre></td>
            <td>Change event that is being fired whenever the selected state of an option changes.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-list-item</h3>
      <h3 class="small-margin">a[mdc-list-item]</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>selected: boolean</td>
            <td>Whether or not the item is selected. Setting this sets the selected item.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Parameters</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>toggle()</td>
            <td>Toggles the selection state of the option.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Child Directives</th>
            <th>Description</th>
          </tr>
        </thead>
        <tr>
          <td>mdc-list-item-graphic</td>
          <td>The first tile in the row (in LTR languages, the left-most).</td>
        </tr>
        <tr>
          <td>mdc-list-item-meta</td>
          <td>The last tile in the row (in LTR languages, the right-most)</td>
        </tr>
        <tr>
          <td>mdc-list-item-text</td>
          <td>Primary text for the row (displayed as the middle tile)</td>
        </tr>
        <tr>
          <td>mdc-list-item-secondary</td>
          <td>Secondary text for the list item. Displayed below the primary text.</td>
        </tr>
        </tbody>
      </table>

      <h3>mdc-list-divider</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>inset: boolean</td>
            <td>Increases the leading margin of the divider so that it does not intersect the avatar column.</td>
          </tr>
          <tr>
            <td>padded: boolean</td>
            <td>To make a divider match the padding of list items.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-list"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3>Single-Line</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="singleline.border = !singleline.border">Border: {{singleline.border ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="singleline.dense = !singleline.dense">Dense: {{singleline.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="singleline.interactive = !singleline.interactive">Interactive w/Ripple: {{singleline.interactive ? 'On' : 'Off'}}</button>
    </div>
    <mdc-list #singleline>
      <mdc-list-item>Single-line item</mdc-list-item>
      <mdc-list-item>Single-line item</mdc-list-item>
      <mdc-list-item>Single-line item</mdc-list-item>
    </mdc-list>
  </div>
  <div class="demo-content">
    <h3>Two-line List</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="twoline.border = !twoline.border">Border: {{twoline.border ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="twoline.dense = !twoline.dense">Dense: {{twoline.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="twoline.interactive = !twoline.interactive">Interactive w/Ripple: {{twoline.interactive ? 'On' : 'Off'}}</button>
    </div>
    <mdc-list #twoline [lines]="2">
      <mdc-list-item>
        <mdc-list-item-text>
          Single-line item
          <mdc-list-item-secondary>Secondary text</mdc-list-item-secondary>
        </mdc-list-item-text>
      </mdc-list-item>
      <mdc-list-item>
        <mdc-list-item-text>
          Single-line item
          <mdc-list-item-secondary>Secondary text</mdc-list-item-secondary>
        </mdc-list-item-text>
      </mdc-list-item>
      <mdc-list-item>
        <mdc-list-item-text>
          Single-line item
          <mdc-list-item-secondary>Secondary text</mdc-list-item-secondary>
        </mdc-list-item-text>
      </mdc-list-item>
    </mdc-list>
  </div>
  <div class="demo-content">
    <h3>Start Graphic</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="startgraphic.border = !startgraphic.border">Border: {{startgraphic.border ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="startgraphic.dense = !startgraphic.dense">Dense: {{startgraphic.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="startgraphic.interactive = !startgraphic.interactive">Interactive w/Ripple: {{startgraphic.interactive ? 'On' : 'Off'}}</button>
    </div>
    <mdc-list #startgraphic>
      <mdc-list-item>
        <mdc-icon mdc-list-item-graphic>network_wifi</mdc-icon>Wi-Fi
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-graphic>bluetooth</mdc-icon>Bluetooth
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-graphic>data_usage</mdc-icon>Data Usage
      </mdc-list-item>
    </mdc-list>
  </div>
  <div class="demo-content">
    <h3>End Meta</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="endmeta.border = !endmeta.border">Border: {{endmeta.border ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="endmeta.dense = !endmeta.dense">Dense: {{endmeta.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="endmeta.interactive = !endmeta.interactive">Interactive w/Ripple: {{endmeta.interactive ? 'On' : 'Off'}}</button>
    </div>
    <mdc-list #endmeta>
      <mdc-list-item>
        Wi-Fi
        <mdc-icon mdc-list-item-meta>info</mdc-icon>
      </mdc-list-item>
      <mdc-list-item>
        Bluetooth
        <mdc-icon mdc-list-item-meta>info</mdc-icon>
      </mdc-list-item>
      <mdc-list-item>
        Data Usage
        <mdc-icon mdc-list-item-meta>info</mdc-icon>
      </mdc-list-item>
    </mdc-list>
  </div>
  <div class="demo-content">
    <h3>Start and End Graphic/Meta Detail</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="startend.border = !startend.border">Border: {{startend.border ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="startend.dense = !startend.dense">Dense: {{startend.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="startend.interactive = !startend.interactive">Interactive w/Ripple: {{startend.interactive ? 'On' : 'Off'}}</button>
    </div>
    <mdc-list #startend>
      <mdc-list-item>
        <mdc-icon mdc-list-item-graphic>network_wifi</mdc-icon>Wi-Fi
        <mdc-icon mdc-list-item-meta>info</mdc-icon>
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-graphic>bluetooth</mdc-icon>Bluetooth
        <mdc-icon mdc-list-item-meta>info</mdc-icon>
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-graphic>data_usage</mdc-icon>Data Usage
        <mdc-icon mdc-list-item-meta>info</mdc-icon>
      </mdc-list-item>
    </mdc-list>
  </div>
  <div class="demo-content">
    <h3>Checkbox List</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="checkboxes.border = !checkboxes.border">Border: {{checkboxes.border ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="checkboxes.dense = !checkboxes.dense">Dense: {{checkboxes.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="checkboxes.interactive = !checkboxes.interactive">Interactive w/Ripple: {{checkboxes.interactive ? 'On' : 'Off'}}</button>
    </div>
    <mdc-list #checkboxes>
      <mdc-list-item (click)="checkbox1.toggle()">
        Single-line item
        <mdc-checkbox #checkbox1 mdc-list-item-meta></mdc-checkbox>
      </mdc-list-item>
      <mdc-list-item (click)="checkbox2.toggle()">
        Single-line item
        <mdc-checkbox #checkbox2 mdc-list-item-meta></mdc-checkbox>
      </mdc-list-item>
      <mdc-list-item (click)="checkbox3.toggle()">
        Single-line item
        <mdc-checkbox #checkbox3 mdc-list-item-meta></mdc-checkbox>
      </mdc-list-item>
    </mdc-list>
  </div>
  <div class="demo-content">
    <h3>Avatars</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="avatar.border = !avatar.border">Border: {{avatar.border ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="avatar.dense = !avatar.dense">Dense: {{avatar.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="avatar.interactive = !avatar.interactive">Interactive w/Ripple: {{avatar.interactive ? 'On' : 'Off'}}</button>
    </div>
    <mdc-list #avatar>
      <mdc-list-item>
        <mdc-icon mdc-list-item-graphic>person</mdc-icon>Single-line item
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-graphic>person</mdc-icon>Single-line item
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-graphic>person</mdc-icon>Single-line item
      </mdc-list-item>
    </mdc-list>
  </div>
  <div class="demo-content">
    <h3>Group Lists</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="divider.inset = !divider.inset">Divider Inset: {{divider.inset ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="divider.padded = !divider.padded">Divider Padded: {{divider.padded ? 'On' : 'Off'}}</button>
    </div>
    <mdc-list-group>
      <mdc-list-group-subheader>First Group</mdc-list-group-subheader>
      <mdc-list>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>network_wifi</mdc-icon>Wi-Fi
          <mdc-icon mdc-list-item-meta>info</mdc-icon>
        </mdc-list-item>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>bluetooth</mdc-icon>Bluetooth
          <mdc-icon mdc-list-item-meta>info</mdc-icon>
        </mdc-list-item>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>data_usage</mdc-icon>Data Usage
          <mdc-icon mdc-list-item-meta>info</mdc-icon>
        </mdc-list-item>
      </mdc-list>
      <mdc-list-divider #divider></mdc-list-divider>
      <mdc-list-group-subheader>Second Group</mdc-list-group-subheader>
      <mdc-list [avatar]="true">
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>person</mdc-icon>Single-line item
        </mdc-list-item>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>person</mdc-icon>Single-line item
        </mdc-list-item>
        <mdc-list-item>
          <mdc-icon mdc-list-item-graphic>person</mdc-icon>Single-line item
        </mdc-list-item>
      </mdc-list>
    </mdc-list-group>
  </div>
</div>
