<div class="demo-page">
  <div class="markdown-body">
    <h1>App Bar</h1>
    MDC App Bar acts as a container for items such as application title, navigation icon, and action items.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/design/components/app-bars-top.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Top App Bar</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-top-app-bar/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code><![CDATA[import { MdcAppBarModule } from '@angular-mdc/web';]]></code></pre>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <h3>mdc-app-bar</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>fixed: boolean</td>
            <td>Style the app bar as a fixed top app bar.</td>
          </tr>
          <tr>
            <td>short: boolean</td>
            <td>Style the app bar as a short app bar. Short top app bars should only be used with one action item.</td>
          </tr>
          <tr>
            <td>prominent: boolean</td>
            <td>Enables prominent variant.</td>
          </tr>
          <tr>
            <td>dense: boolean</td>
            <td>Enables dense variant.</td>
          </tr>
          <tr>
            <td>shortCollapsed: boolean</td>
            <td>Set the short app bar to always collapsed.</td>
          </tr>
          <tr>
            <td>fixedAdjustElement: any</td>
            <td>If set, scroll event listener is attached to element object.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>setFixed(fixed: boolean)</td>
            <td>Style the app bar as a fixed top app bar.</td>
          </tr>
          <tr>
            <td>setShort(short: boolean)</td>
            <td>Style the app bar as a short app bar. Short top app bars should only be used with one action item.</td>
          </tr>
          <tr>
            <td>setProminent(prominent: boolean)</td>
            <td>Enables prominent variant.</td>
          </tr>
          <tr>
            <td>setDense(dense: boolean)</td>
            <td>Enables dense variant.</td>
          </tr>
          <tr>
            <td>setShortCollapsed(shortCollapsed: boolean)</td>
            <td>Set the short app bar to always collapsed.</td>
          </tr>
          <tr>
            <td>setFixedAdjustElement(element: HTMLElement)</td>
            <td>Set automatic adjustment for padding on element positioned below app bar.</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <tr>
            <th>Events</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>navigationSelected: MdcAppBarNavSelected</td>
            <td>Emitted when the app bar navigation menu icon is selected.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-app-bar-row, [mdcAppBarRow]</h3>
      <table>
        <tbody>
          <tr>
            <td>A one-line row to add app bar sections.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-app-bar-title</h3>
      <table>
        <tbody>
          <tr>
            <td>Styles toolbar text representing a page's title, or an application name.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-app-bar-section, [mdcAppBarSection]</h3>
      <table>
        <tbody>
          <tr>
            <td>A content area for navigation or actions.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>align: string</td>
            <td>Align section to either 'start' or 'end' of row.
<pre>Valid values are 'start' | 'end'</pre></td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-app-bar-navigation-icon, mdc-icon[mdcAppBarNavIcon]</h3>
      <table>
        <tbody>
          <tr>
            <td>Left most icon of app bar used for navigation.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-app-bar-action-item, mdc-icon[mdcAppBarActionItem]</h3>
      <table>
        <tbody>
          <tr>
            <td>Top app bars can accommodate multiple action items on opposite side of navigation icon.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize the colors of any part of the app bar, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-top-app-bar#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-app-bar" target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>
</div>
