<div class="docs-api">
  <h3 mdcHeadline6>MdcMenuSurface</h3>
  <p>
    Selector:
    <span class="markdown-code">mdc-menu-surface</span>
  </p>
  Exported as: <span class="markdown-code">mdcMenuSurface</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>open: boolean</td>
        <td>Opens or closes the menu.</td>
      </tr>
      <tr>
        <td>anchorCorner: string</td>
        <td>Override the opening point of the menu. (Default: topStart)
          <p>Values: 'bottomEnd' | 'bottomStart' | 'topEnd' | 'topStart'</p>
        </td>
      </tr>
      <tr>
        <td>anchorMargin: {{'{'}}top: number, bottom: number, left: number, right : number{{'}'}}</td>
        <td>Sets the distance from the anchor point that the menu surface should be shown.</td>
      </tr>
      <tr>
        <td>coordinates: {{'{'}}x: number, y: number{{'}'}}</td>
        <td>Sets the absolute x/y position of the menu. Should only be used when the menu is hoisted or using fixed
          positioning.</td>
      </tr>
      <tr>
        <td>quickOpen: boolean</td>
        <td>Sets whether the menu should open and close without animation when the open/close methods are called.</td>
      </tr>
      <tr>
        <td>anchorElement: Element | mdcMenuSurfaceAnchor</td>
        <td>Set to indicate an element the menu should be anchored to.</td>
      </tr>
      <tr>
        <td>fixed: boolean</td>
        <td>Used to indicate that the menu is using fixed positioning.</td>
      </tr>
      <tr>
        <td>hoistToBody: boolean</td>
        <td>Removes the menu-surface element from the DOM and appends it to the body element. Should be used to
          overcome overflow: hidden issues.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcMenuSurfaceAnchor</h3>
  Sets the anchor element used as an anchor for menu-surface positioning logic.
  <p>
    Selector:
    <span class="markdown-code">mdcMenuSurfaceAnchor</span>
    <span class="markdown-code">mdc-menu-surface-anchor</span>
  </p>
  Exported as: <span class="markdown-code">mdcMenuSurfaceAnchor</span>
</div>
