<div class="demo-content">
  <h3 class="demo-content__headline">Standard Image List</h3>
  Images in a Standard Image list are constrained to 1:1 aspect ratio by default this can be overridden using the mdc-image-list-aspect mixin documented below.
  <pre><code highlight="@use '@material/image-list';

.my-image-list {
  @include image-list.standard-columns(5);
}

@media (max-width: 599px) {
  .my-image-list {
    @include image-list.standard-columns(3);
  }
}"></code></pre>
    <div class="demo-layout__row">
    <button mdc-button (click)="demolist.textProtection = !demolist.textProtection">Text Protection:
      {{demolist.textProtection ? 'On' : 'Off'}}</button>
  </div>
  <mdc-image-list #demolist class="standard-image-list image-list--rounded-corners">
    <mdc-image-list-item *ngFor="let i of images">
      <mdc-image-list-image-aspect>
        <img mdcImageListImage src="https://material-components-web.appspot.com/images/photos/3x2/{{i+1}}.jpg" />
      </mdc-image-list-image-aspect>
      <mdc-image-list-supporting>
        <span mdcImageListLabel>Text label</span>
      </mdc-image-list-supporting>
    </mdc-image-list-item>
  </mdc-image-list>

  <example-viewer [example]="exampleStandard"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Masonry Image List</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="demomasonry.textProtection = !demomasonry.textProtection">Text Protection:
      {{demomasonry.textProtection ? 'On' : 'Off'}}</button>
  </div>
  <mdc-image-list #demomasonry masonry class="masonry-image-list">
    <mdc-image-list-item *ngFor="let item of masonryImages">
      <img mdcImageListImage src="{{item.image}}" />
      <mdc-image-list-supporting>
        <span mdcImageListLabel>Text label</span>
      </mdc-image-list-supporting>
    </mdc-image-list-item>
  </mdc-image-list>

  <example-viewer [example]="exampleMasonry"></example-viewer>
</div>