<div class="docs-api">
  <h3 mdcHeadline6>MdcCard</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-card</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcCard</span>
  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>outlined: boolean</td>
        <td>Removes the shadow and displays a hairline stroke instead.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcCardPrimaryAction</h3>
  Optional. The main tappable area of the card. Typically contains most (or all) card content except mdc-card-actions.
  Only applicable to cards that have a primary action that the main surface should trigger.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-card-primary-action</span>
    <span class="docs-api-class-selector-name">mdcCardPrimaryAction</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcCardPrimaryAction</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcCardMedia</h3>
  The main tappable area of the card. Typically contains most (or all) card content except mdc-card-actions.
  Only applicable to cards that have a primary action that the main surface should trigger.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-card-media</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcCardMedia</span>
  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>square: boolean</td>
        <td>Automatically scales the media area's height to equal its width.</td>
      </tr>
      <tr>
        <td>wide: boolean</td>
        <td>Automatically scales the media area's height according to its width, maintaining a 16:9 aspect ratio.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcCardMediaContent</h3>
  Optional. An absolutely-positioned box the same size as the media area, for displaying a title or icon on top of the
  background-image.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-card-media-content</span>
    <span class="docs-api-class-selector-name">mdcCardMediaContent</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcCardMediaContent</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcCardActions</h3>
  Optional. Row containing action buttons and/or icons.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-card-actions</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcCardActions</span>
  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>fullBleed: boolean</td>
        <td>Removes the action area's padding and causes its only child (an mdc-card__action element) to consume 100%
          of the action area's width.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcCardActionIcons</h3>
  Optional. A group of supplemental action icons, displayed on the right side of the card (in LTR).
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-card-action-icons</span>
    <span class="docs-api-class-selector-name">mdcCardActionIcons</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcCardActionIcons</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcCardActionButtons</h3>
  Optional. A group of action buttons, displayed on the left side of the card (in LTR).
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-card-action-buttons</span>
    <span class="docs-api-class-selector-name">mdcCardActionButtons</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcCardActionButtons</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcCardAction</h3>
  Optional. An individual action button or icon.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdcCardAction="icon"</span>
    <span class="docs-api-class-selector-name">mdcCardAction="button"</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcCardAction</span>
</div>
