<div class="docs-api">
  <h3 mdcHeadline6>MdcFab</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">button[mdc-fab]</span>
    <span class="docs-api-class-selector-name">a[mdc-fab]</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcFab</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mini: boolean</td>
        <td>Make the fab smaller (40 x 40 pixels).</td>
      </tr>
      <tr>
        <td>exited: boolean</td>
        <td>Animates the FAB in or out of view.</td>
      </tr>
      <tr>
        <td>extended: boolean</td>
        <td>Modifies the FAB to wider size which includes a text label.</td>
      </tr>
      <tr>
        <td>fluid: boolean</td>
        <td>Makes the Extended FAB fluid to container, such as screen width or the layout grid.</td>
      </tr>
      <tr>
        <td>label: string</td>
        <td>Optional, for the text label. Applicable only for Extended FAB.</td>
      </tr>
      <tr>
        <td>position: string</td>
        <td>Set the fab absolute position.
          <p>Valid values: 'bottomLeft' | 'bottomRight'</p>
        </td>
      </tr>
      <tr>
        <td>icon: string</td>
        <td>Optional. Apply a Material Icon.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>toggleExited(exited?: boolean)</td>
        <td>Toggle the fab animation in and out.</td>
      </tr>
      <tr>
        <td>focus()</td>
        <td>Focuses the button.</td>
      </tr>
    </tbody>
  </table>
</div>