<div fxFlexOffset="1" fxLayout="column" fxLayoutAlign="start start" class="demo-page">
  <div>
    <h1 mdc-typography-display1>Dialog</h1>
    <span>Dialogs inform users about a specific task, require decisions, or involve multiple tasks.</span>
  </div>
  <div class="demo-docs-class-name" mdc-typography-subheading2 fxFlexOffset="2">
    <![CDATA[import { MdcDialogModule } from '@angular-mdc/web';]]>
  </div>

  <div fxFlexOffset="2">
    <mdc-tab-bar [primary]="true">
      <mdc-tab *ngFor="let child of dialogTabs" [routerLink]="[{outlets: {taboutlet: child.route}}]" mdcRouter
        routerLinkActive #rla="routerLinkActive">{{child.label}}</mdc-tab>
    </mdc-tab-bar>
  </div>
  <router-outlet name="taboutlet"></router-outlet>
</div>
