<div class="docs-api">
  <table>
    <thead>
      <tr>
        <th>Component</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mdc-dialog</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Properties</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>clickOutsideToClose: boolean</td>
        <td>Close the dialog if user clicks on the backdrop. (Default: true)</td>
      </tr>
      <tr>
        <td>escapeToClose: boolean</td>
        <td>Enable or disable close on escape key (Default: true).</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Methods</th>
        <th>Parameters</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>show()</td>
        <td>Shows the dialog.</td>
      </tr>
      <tr>
        <td>close()</td>
        <td>Closes the dialog.</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Directives</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mdc-dialog-header</td>
        <td>Defines the header content block.</td>
      </tr>
      <tr>
        <td>mdc-dialog-header-title</td>
        <td>Briefly describes the type of choice being made.</td>
      </tr>
      <tr>
        <td>mdc-dialog-body</td>
        <td>Body content typically consists of text and/or UI control elements.</td>
      </tr>
      <tr>
        <td>mdc-dialog-footer</td>
        <td>Place mdc-dialog-button's inside the footer.</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Events</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>accept</td>
        <td>Broadcast when a user accepts the dialog.</td>
      </tr>
      <tr>
        <td>cancel</td>
        <td>Broadcast when a user cancels the dialog.</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Button Directives</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>button[mdc-dialog-button]</td>
      </tr>
      <tr>
        <td>a[mdc-dialog-button]</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Properties</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>accept: boolean</td>
        <td>Closes the dialog and emits an accept() event.</td>
      </tr>
      <tr>
        <td>cancel: boolean</td>
        <td>Closes the dialog and emits an cancel() event.</td>
      </tr>
      <tr>
        <td>action: boolean</td>
        <td>Apply contrasting secondary color to button.</td>
      </tr>
      <tr>
        <td>focused: boolean</td>
        <td>Set initial focus to button after Dialog opened.</td>
      </tr>
    </tbody>
  </table>
</div>

<mdc-form-field>
  <mdc-checkbox [(ngModel)]="isEscapeToClose"></mdc-checkbox>
  <label>Escape Key Closes</label>
</mdc-form-field>
<mdc-form-field>
  <mdc-checkbox [(ngModel)]="isClickOutsideToClose"></mdc-checkbox>
  <label>Click or Touch Outside Closes</label>
</mdc-form-field>
<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start start" class="mdc-padding">
  <button mdc-button [primary]="true" (click)="openDialog()">Declarative Dialog</button>
</div>

<mdc-dialog #myDialog [escapeToClose]="isEscapeToClose" [clickOutsideToClose]="isClickOutsideToClose">
  <mdc-dialog-header>
    <mdc-dialog-header-title>
      Use Google's location service?
    </mdc-dialog-header-title>
  </mdc-dialog-header>
  <mdc-dialog-body>
    Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
  </mdc-dialog-body>
  <mdc-dialog-footer>
    <button mdc-dialog-button [cancel]="true">Decline</button>
    <button mdc-dialog-button [accept]="true">Accept</button>
  </mdc-dialog-footer>
</mdc-dialog>

<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog</span> #<span style="color:#89bdff">myDialog</span> 
  [<span style="color:#89bdff">escapeToClose</span>]=<span style="color:#65b042">"true"</span>
  [<span style="color:#89bdff">clickOutsideToClose</span>]=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog-header</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog-header-title</span>></span>
      Use Google's location service?
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog-header-title</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog-header</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog-body</span>></span>
    Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog-body</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog-footer</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-dialog-button</span> [<span style="color:#e0c589">cancel</span>]=<span style="color:#65b042">"true"</span>></span>Decline<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-dialog-button</span> [<span style="color:#e0c589">accept</span>]=<span style="color:#65b042">"true"</span>></span>Accept<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog-footer</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-dialog</span>></span>
</pre>

<div style="background: #000; overflow:auto;width:auto;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #f8f8f8; background-color: #000">@</span><span style="color: #a6e22e">ViewChild</span><span style="color: #f8f8f2">(</span><span style="color: #e6db74">&#39;myDialog&#39;</span><span style="color: #f8f8f2">)</span> <span style="color: #a6e22e">myDialog</span>: <span style="color: #66d9ef">MdcDialogComponent</span><span style="color: #f8f8f2">;</span>

  <span style="color: #a6e22e">openDialog() <![CDATA[{]]></span>
    <span style="color: #66d9ef">this</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">myDialog</span><span style="color: #f8f8f2">.</span><span style="color: #a6e22e">show</span><span style="color: #f8f8f2">();</span>
  <span style="color: #f8f8f2"><![CDATA[}]]></span>
</pre></div>
