<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Dialog</h1>
  <div mdc-typography-subheading2>Dialogs inform users about a specific task, require decisions, or involve multiple tasks.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcDialogModule } from '@angular-mdc/web';]]>
  </div>

  <div>
    <mdc-tab-bar [primary]="true">
      <mdc-tab *ngFor="let child of dialogTabs" [routerLink]="[{outlets: {taboutlet: child.route}}]"
        routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{child.label}}</mdc-tab>
    </mdc-tab-bar>
  </div>
  <router-outlet name="taboutlet" class="mdc-padding"></router-outlet>
</div>
