<mdc-dialog>
  <mdc-dialog-header>
    <mdc-dialog-header-title>
      Choose a Ringtone
    </mdc-dialog-header-title>
  </mdc-dialog-header>
  <mdc-dialog-body [scrollable]="true">
    <mdc-list>
      <mdc-list-item>None</mdc-list-item>
      <mdc-list-item>Callisto</mdc-list-item>
      <mdc-list-item>Ganymede</mdc-list-item>
      <mdc-list-item>Luna</mdc-list-item>
      <mdc-list-item>Marimba</mdc-list-item>
      <mdc-list-item>Schwifty</mdc-list-item>
      <mdc-list-item>Callisto</mdc-list-item>
      <mdc-list-item>Ganymede</mdc-list-item>
      <mdc-list-item>Luna</mdc-list-item>
      <mdc-list-item>Marimba</mdc-list-item>
      <mdc-list-item>Schwifty</mdc-list-item>
    </mdc-list>
  </mdc-dialog-body>
  <mdc-dialog-footer>
    <button mdc-dialog-button [cancel]="true">Decline</button>
    <button mdc-dialog-button [accept]="true">Accept</button>
  </mdc-dialog-footer>
</mdc-dialog>
