<mdc-toolbar class="demo-toolbar--primary" [fixed]="isFixed">
  <mdc-toolbar-row>
    <mdc-toolbar-section [alignStart]="true">
      <button material-icon mdc-toolbar-icon-menu (click)="toggleDrawer();" fxShow fxHide.gt-xs="true">menu</button>
      <a class="demo-toolbar-logo" button mdc-toolbar-icon-menu fxHide fxShow.gt-xs="true" [routerLink]="['home']" [mdc-ripple]="true">
       <img src="https://trimox.github.io/angular-mdc-web/assets/hub-192x192.png" width="28" height="28" />
     </a>
      <mdc-toolbar-title>
        <span fxHide fxShow.gt-sm="true">Angular - Material Design Components</span>
        <span fxShow fxHide.gt-sm="true">Angular MDC</span>
      </mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
      <a mdc-button class="mdc-theme--text-primary-on-primary" mdc-toolbar-icon href="https://github.com/trimox/angular-mdc-web" alt="GitHub">
        <mdc-icon>
          <img src="https://trimox.github.io/angular-mdc-web/assets/github-circle-white-transparent.svg" height="20" />
        </mdc-icon>
        <span fxHide fxShow.gt-xs="true">View on Github</span>
      </a>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>

<mdc-temporary-drawer #drawer fxShow fxHide.gt-sm="true">
  <mdc-temporary-drawer-content>
    <mdc-list-group>
      <mdc-list>
        <a mdc-list-item [routerLink]="['home']">
          <mdc-icon mdc-list-item-start>home</mdc-icon>Home
        </a>
        <mdc-list-divider></mdc-list-divider>
        <a mdc-list-item [routerLink]="['getting-started']">
          <mdc-icon mdc-list-item-start>touch_app</mdc-icon>Getting Started
        </a>
        <mdc-list-divider></mdc-list-divider>
        <a mdc-list-item [routerLink]="['core']">
          <mdc-icon mdc-list-item-start>keyboard_arrow_right</mdc-icon>Core Modules
        </a>
        <mdc-list-divider></mdc-list-divider>
        <a mdc-list-item *ngFor="let navItem of navLinks" [routerLink]="[navItem.route]">
          <mdc-icon mdc-list-item-start>{{navItem.icon}}</mdc-icon>{{navItem.name}}
        </a>
      </mdc-list>
    </mdc-list-group>
  </mdc-temporary-drawer-content>
</mdc-temporary-drawer>

<div class="container">
  <mdc-permanent-drawer [fixed]="true" fxHide fxShow.gt-xs="true">
   <mdc-permanent-drawer-content>
      <mdc-list-group>
        <mdc-list>
          <a mdc-list-item [routerLink]="['home']">
            <mdc-icon mdc-list-item-start>home</mdc-icon>Home
          </a>
          <mdc-list-divider></mdc-list-divider>
        <a mdc-list-item [routerLink]="['getting-started']">
          <mdc-icon mdc-list-item-start>touch_app</mdc-icon>Getting Started
        </a>
        <mdc-list-divider></mdc-list-divider>
          <a mdc-list-item [routerLink]="['core']">
            <mdc-icon mdc-list-item-start>keyboard_arrow_right</mdc-icon>Core Modules
          </a>
          <mdc-list-divider></mdc-list-divider>
          <a mdc-list-item *ngFor="let navItem of navLinks" [routerLink]="[navItem.route]">
            <mdc-icon mdc-list-item-start>{{navItem.icon}}</mdc-icon>{{navItem.name}}
          </a>
        </mdc-list>
      </mdc-list-group>
    </mdc-permanent-drawer-content>
  </mdc-permanent-drawer>

  <div class="demo-content">
    <router-outlet></router-outlet>
  </div>
</div>
