<mdc-toolbar class="demo__toolbar--primary" [fixed]="true" [fixedAdjustElement]="demobody">
  <mdc-toolbar-row>
    <mdc-toolbar-section [alignStart]="true">
      <button material-icon mdc-toolbar-menu-icon (click)="appdrawer.open()" fxShow fxHide.gt-sm="true">menu</button>
      <a mdc-toolbar-menu-icon fxHide fxShow.gt-sm="true" [routerLink]="['home']">
       <img src="https://trimox.github.io/angular-mdc-web/assets/hub-192x192.png" width="28" height="28" />
     </a>
      <mdc-toolbar-title>Angular MDC</mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
      <a mdc-toolbar-icon href="https://github.com/trimox/angular-mdc-web" alt="GitHub">
        <mdc-icon>
          <img src="https://trimox.github.io/angular-mdc-web/assets/github-circle-white-transparent.svg" height="24" />
        </mdc-icon>
      </a>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>
<div #demobody>
  <mdc-drawer #appdrawer="mdcDrawer" [drawer]="media.isActive('gt-sm') ? 'permanent' : 'temporary'" [fixed]="true" [fixedAdjustElement]="democontent"
    [closeOnClick]="false">
    <mdc-drawer-content>
      <mdc-list-group>
        <mdc-list>
          <mdc-list-item [routerLink]="['home']" routerLinkActive #rlaHome="routerLinkActive">
            <mdc-icon mdc-list-item-graphic>home</mdc-icon>Home
          </mdc-list-item>
          <mdc-list-divider></mdc-list-divider>
          <a mdc-list-item href="https://github.com/trimox/angular-mdc-web/blob/master/docs/getting-started.md" target="_blank" rel="noopener noreferrer">
            <mdc-icon mdc-list-item-graphic>touch_app</mdc-icon>Getting Started
          </a>
          <mdc-list-divider></mdc-list-divider>
          <mdc-list-item (click)="coreVisible = !coreVisible">
            <mdc-icon mdc-list-item-graphic>keyboard_arrow_{{coreVisible ? 'down' : 'right'}}</mdc-icon>Core Modules
          </mdc-list-item>
          <div *ngIf="coreVisible">
            <mdc-list-item *ngFor="let item of coreRoutes" [routerLink]="[item.route]" routerLinkActive #rlaCore="routerLinkActive">
              <mdc-icon mdc-list-item-graphic>{{item.icon}}</mdc-icon>{{item.name}}
            </mdc-list-item>
          </div>
          <mdc-list-divider></mdc-list-divider>
          <mdc-list-item (click)="buttonVisible = !buttonVisible">
            <mdc-icon mdc-list-item-graphic>keyboard_arrow_{{buttonVisible ? 'down' : 'right'}}</mdc-icon>Buttons
          </mdc-list-item>
          <div *ngIf="buttonVisible">
            <mdc-list-item *ngFor="let item of buttonRoutes" [routerLink]="[item.route]" routerLinkActive #rlaButton="routerLinkActive">
              <mdc-icon mdc-list-item-graphic>{{item.icon}}</mdc-icon>{{item.name}}
            </mdc-list-item>
          </div>
          <mdc-list-divider></mdc-list-divider>
          <mdc-list-item (click)="inputVisible = !inputVisible">
            <mdc-icon mdc-list-item-graphic>keyboard_arrow_{{inputVisible ? 'down' : 'right'}}</mdc-icon>Inputs and Controls
          </mdc-list-item>
          <mdc-list-divider></mdc-list-divider>
          <div *ngIf="inputVisible">
            <mdc-list-item *ngFor="let item of inputRoutes" [routerLink]="[item.route]" routerLinkActive #rlaInputs="routerLinkActive">
              <mdc-icon mdc-list-item-graphic>{{item.icon}}</mdc-icon>{{item.name}}
            </mdc-list-item>
          </div>
          <mdc-list-item *ngFor="let navItem of navigationLinks" [routerLink]="[navItem.route]" routerLinkActive #rla="routerLinkActive">
            <mdc-icon mdc-list-item-graphic>{{navItem.icon}}</mdc-icon>{{navItem.name}}
          </mdc-list-item>
        </mdc-list>
      </mdc-list-group>
    </mdc-drawer-content>
  </mdc-drawer>
  <mdc-content #democontent>
    <router-outlet></router-outlet>
  </mdc-content>
</div>
