<div class="docs-api" fxLayout="column" fxLayoutAlign="start">
  <table>
    <thead>
      <tr>
        <th>Component</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mdc-text-field</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Properties</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>id: string</td>
        <td>Unique id of the element.</td>
      </tr>
      <tr>
        <td>type: string = 'text'</td>
        <td>Input type of textfield (e.g. email, password, url).</td>
      </tr>
      <tr>
        <td>name: string</td>
        <td>Name of the textfield.</td>
      </tr>
      <tr>
        <td>label: string</td>
        <td>Shown to the user when there's no focus or values.</td>
      </tr>
      <tr>
        <td>value: string</td>
        <td>The input element's value.</td>
      </tr>
      <tr>
        <td>outlined: boolean</td>
        <td>Set a border around all sides of the text field.</td>
      </tr>
      <tr>
        <td>dense: boolean</td>
        <td>Shrinks the font size and height of the input.</td>
      </tr>
      <tr>
        <td>fullwidth: boolean</td>
        <td>Use to change element to fullwidth textfield. Not usable with mdc-textfield-box.</td>
      </tr>
      <tr>
        <td>disabled: boolean</td>
        <td>Disables the component.</td>
      </tr>
      <tr>
        <td>required: boolean</td>
        <td>Whether the element is required.</td>
      </tr>
      <tr>
        <td>tabIndex: number</td>
        <td>Tab index of the text element.</td>
      </tr>
      <tr>
        <td>maxlength: number</td>
        <td>Maxlength of characters allowed to be entered.</td>
      </tr>
      <tr>
        <td>focused: boolean</td>
        <td>Set or unset focus on the input element.</td>
      </tr>
      <tr>
        <td>direction: string</td>
        <td>Support for right-to-left (RTL). (Default is ltr)
          <pre>Values: 'ltr' | 'rtl'</pre>
        </td>
      </tr>
      <tr>
        <td>helperText: string</td>
        <td>Reference to input's mdc-text-field-helper-text directive</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Directive</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mdc-text-field-helper-text</td>
        <td>Useful for providing supplemental information to users, as well for validation messages.</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Properties</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>validation: boolean</td>
        <td>Help text can be used to provide additional validation messages.</td>
      </tr>
      <tr>
        <td>persistent: boolean</td>
        <td>Help text will always be visible.</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Methods</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>setValid(value?: boolean)</td>
        <td>Updates input validity using passed value, or if left empty checking the validity of the input.</td>
      </tr>
      <tr>
        <td>isBadInput(): boolean</td>
        <td>Returns input bad input validity value.</td>
      </tr>
      <tr>
        <td>isDisabled(): boolean</td>
        <td>Returns whether or not the input is disabled.</td>
      </tr>
      <tr>
        <td>focus()</td>
        <td>Sets focus to the input.</td>
      </tr>
      <tr>
        <td>updateIconState()</td>
        <td>Update the state of class modifiers that display an icon.</td>
      </tr>
      <tr>
        <td>selectAll()</td>
        <td>Selects all of the input's content.</td>
      </tr>
      <tr>
        <td>setHelperTextContent(content: string)</td>
        <td>Sets the content of the helper text.</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Events</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>change(value: string)</td>
        <td>Emitted whenever the value of the input changes.</td>
      </tr>
      <tr>
        <td>blur(value: string)</td>
        <td>Emitted whenever the input loses focus.</td>
      </tr>
    </tbody>
  </table>
  <div fxLayout="column">
    <div class="demo-list-host">
      <h3>Text Field</h3>
      <div fxLayout="row" fxLayoutWrap>
        <button mdc-button (click)="user.disabled = !user.disabled">Disabled: {{user.disable ? 'On' : 'Off'}}</button>
        <button mdc-button (click)="user.required = !user.required">Required: {{user.required ? 'On' : 'Off'}}</button>
        <button mdc-button (click)="user.dense = !user.dense">Dense: {{user.dense ? 'On' : 'Off'}}</button>
        <button mdc-button (click)="user.selectAll()">Select All</button>
      </div>
      <mdc-text-field #user label="Username" [(ngModel)]="username" #userModel="ngModel" [helperText]="userHelper"></mdc-text-field>
      <mdc-text-field-helper-text #userHelper="mdcHelperText" [validation]="true" [persistent]="false">
        <span *ngIf="userModel.errors?.required">Username is required</span>
      </mdc-text-field-helper-text>
      <a mdc-button href="https://stackblitz.com/edit/angular-mdc-list?embed=1&file=app/app.component.html" target="_blank" rel="noopener noreferrer">View Source</a>
    </div>

    <div class="demo-list-host">
      <h3>Outlined Text Field</h3>
      <div fxLayout="row" fxLayoutWrap>
        <button mdc-button (click)="outlined.disabled = !outlined.disabled">Disabled: {{outlined.disable ? 'On' : 'Off'}}</button>
        <button mdc-button (click)="outlined.required = !outlined.required">Required: {{outlined.required ? 'On' : 'Off'}}</button>
        <button mdc-button (click)="outlined.dense = !outlined.dense">Dense: {{outlined.dense ? 'On' : 'Off'}}</button>
      </div>
      <mdc-text-field #outlined [outline]="true" label="Your name"></mdc-text-field>
      <a mdc-button href="https://stackblitz.com/edit/angular-mdc-list?embed=1&file=app/app.component.html" target="_blank" rel="noopener noreferrer">View Source</a>
    </div>

    <div class="demo-list-host">
      <h3>Prefilled Text Field</h3>
      <mdc-text-field #prefilled [(ngModel)]="prefill" label="Username"></mdc-text-field>
      <a mdc-button href="https://stackblitz.com/edit/angular-mdc-list?embed=1&file=app/app.component.html" target="_blank" rel="noopener noreferrer">View Source</a>
    </div>

    <div class="demo-list-host">
      <h3>Password</h3>
      <mdc-text-field type="password" label="Password" [required]="true"></mdc-text-field>
      <a mdc-button href="https://stackblitz.com/edit/angular-mdc-list?embed=1&file=app/app.component.html" target="_blank" rel="noopener noreferrer">View Source</a>
    </div>

    <div class="demo-list-host">
      <h3>Dark theme</h3>
      <div mdc-theme-dark>
        <mdc-text-field fxFlexOffset="2" label="Dark Theme"></mdc-text-field>
      </div>
      <a mdc-button href="https://stackblitz.com/edit/angular-mdc-list?embed=1&file=app/app.component.html" target="_blank" rel="noopener noreferrer">View Source</a>
    </div>
  </div>
</div>
