<div class="docs-api">
  <table>
    <thead>
      <tr>
        <th>Component</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mdc-textarea</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Properties</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>rows: number</td>
        <td>Number of rows for this textarea. Not usable with mdc-textfield-box.</td>
      </tr>
      <tr>
        <td>cols: number</td>
        <td>Number of columns for this textarea. Not usable with mdc-textfield-box.</td>
      </tr>
      <tr>
        <td>focused: boolean</td>
        <td>Set or unset focus on the input element.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Methods</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>setValid(value?: boolean)</td>
          <td>Updates input validity using passed value, or if left empty checking the validity of the input.</td>
        </tr>
        <tr>
          <td>isBadInput(): boolean</td>
          <td>Returns input bad input validity value.</td>
        </tr>
        <tr>
          <td>isDisabled(): boolean</td>
          <td>Returns whether or not the input is disabled.</td>
        </tr>
        <tr>
          <td>focus()</td>
          <td>Sets focus to the input.</td>
        </tr>
        <tr>
          <td>selectAll()</td>
          <td>Selects all of the input's content.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Events</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>change(string | null)</td>
          <td>Emitted whenever the value of the input changes.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div fxLayout="column" class="mdc-padding" fxFlexAlign="start start">
    <span mdc-typography-headline>Textarea</span>
    <mdc-textarea label="Comments" rows="8" cols="40" [required]="isTextareaRequired"></mdc-textarea>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="isTextareaRequired"></mdc-checkbox>
      <label>Required</label>
    </mdc-form-field>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textarea</span>
 <span style="color:#89bdff">label</span>=<span style="color:#65b042">"Comments"</span>
 <span style="color:#89bdff">rows</span>=<span style="color:#65b042">"8"</span>
 <span style="color:#89bdff">cols</span>=<span style="color:#65b042">"40"</span>
</span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textarea</span>></span>
</pre> </div>
  <div fxLayout="column" class="mdc-padding">
    <span mdc-typography-headline>Full-width single line</span>
    <div>
      <mdc-text-field label="Subject" [fullwidth]="true"></mdc-text-field>
    </div>
    <div fxFlexAlign="start">
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-text-field</span>
  <span style="color:#89bdff">label</span>=<span style="color:#65b042">"Subject"</span>
  [<span style="color:#89bdff">fullwidth</span>]=<span style="color:#65b042">"true"</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-text-field</span>></span>
</pre></div>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <span mdc-typography-headline>Full-Width Textarea</span>
    <mdc-textarea label="Type your message here" [fullwidth]="true" rows="8"></mdc-textarea>
    <div fxFlexAlign="start">
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textarea</span>
  <span style="color:#89bdff">label</span>=<span style="color:#65b042">"Type your message here"</span>
  [<span style="color:#89bdff">fullwidth</span>]=<span style="color:#65b042">"true"</span>
  <span style="color:#89bdff">rows</span>=<span style="color:#65b042">"8"</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textarea</span>></span>
</pre></div>
