<div class="docs-api">
  <table>
    <thead>
      <tr>
        <th>Component</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mdc-text-field</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Properties</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>id: string</td>
        <td>Unique id of the element.</td>
      </tr>
      <tr>
        <td>type: string = 'text'</td>
        <td>Input type of textfield (e.g. email, password, url).</td>
      </tr>
      <tr>
        <td>name: string</td>
        <td>Name of the textfield.</td>
      </tr>
      <tr>
        <td>label: string</td>
        <td>Shown to the user when there's no focus or values.</td>
      </tr>
      <tr>
        <td>value: string</td>
        <td>The input element's value.</td>
      </tr>
      <tr>
        <td>dense: boolean</td>
        <td>Shrinks the font size and height of the input.</td>
      </tr>
      <tr>
        <td>fullwidth: boolean</td>
        <td>Use to change element to fullwidth textfield. Not usable with mdc-textfield-box.</td>
      </tr>
      <tr>
        <td>disabled: boolean</td>
        <td>Disables the component.</td>
      </tr>
      <tr>
        <td>required: boolean</td>
        <td>Whether the element is required.</td>
      </tr>
      <tr>
        <td>tabIndex: number</td>
        <td>Tab index of the text element.</td>
      </tr>
      <tr>
        <td>maxlength: number</td>
        <td>Maxlength of characters allowed to be entered.</td>
      </tr>
      <tr>
        <td>focused: boolean</td>
        <td>Set or unset focus on the input element.</td>
      </tr>
      <tr>
        <td>direction: string</td>
        <td>Support for right-to-left (RTL). (Default is ltr)
          <pre>Values: 'ltr' | 'rtl'</pre>
        </td>
      </tr>
      <tr>
        <td>helperText: string</td>
        <td>Reference to input's mdc-text-field-helper-text directive</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Directive</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>mdc-text-field-helper-text</td>
        <td>Useful for providing supplemental information to users, as well for validation messages.</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Properties</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>validation: boolean</td>
        <td>Help text can be used to provide additional validation messages.</td>
      </tr>
      <tr>
        <td>persistent: boolean</td>
        <td>Help text will always be visible.</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="docs-api">
  <table>
    <thead>
      <tr>
        <th>Methods</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>setValid(value?: boolean)</td>
        <td>Updates input validity using passed value, or if left empty checking the validity of the input.</td>
      </tr>
      <tr>
        <td>isBadInput(): boolean</td>
        <td>Returns input bad input validity value.</td>
      </tr>
      <tr>
        <td>isDisabled(): boolean</td>
        <td>Returns whether or not the input is disabled.</td>
      </tr>
      <tr>
        <td>focus()</td>
        <td>Sets focus to the input.</td>
      </tr>
      <tr>
        <td>updateIconState()</td>
        <td>Update the state of class modifiers that display an icon.</td>
      </tr>
      <tr>
        <td>selectAll()</td>
        <td>Selects all of the input's content.</td>
      </tr>
      <tr>
        <td>setHelperTextContent(content: string)</td>
        <td>Sets the content of the helper text.</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="docs-api">
  <table>
    <thead>
      <tr>
        <th>Events</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>change(value: string)</td>
        <td>Emitted whenever the value of the input changes.</td>
      </tr>
      <tr>
        <td>blur(value: string)</td>
        <td>Emitted whenever the input loses focus.</td>
      </tr>
    </tbody>
  </table>
</div>
<div fxLayout="column" class="mdc-padding" fxFlexAlign="start start">
  <div fxLayout="column" class="mdc-padding" fxFlexAlign="start">
    <mdc-text-field [(ngModel)]="username" #demoInput="ngModel" label="Username" [helperText]="userHelper" [required]="isRequired"
     [disabled]="isDisabled" [dense]="isDense" (blur)="onBlur($event)" (change)="onChange($event)"></mdc-text-field>
    <mdc-text-field-helper-text #userHelper="mdcHelperText" [validation]="true" [persistent]="false">
      <span *ngIf="demoInput.errors?.required">Username is required</span>
    </mdc-text-field-helper-text>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="isRequired"></mdc-checkbox>
      <label>Required</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="isDisabled"></mdc-checkbox>
      <label>Disable</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="isDense"></mdc-checkbox>
      <label>Dense</label>
    </mdc-form-field>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <h3>Prefilled value</h3>
    <div fxFlexAlign="start">
      <mdc-text-field #prefilled [(ngModel)]="prefill" label="Username"></mdc-text-field>
      <button mdc-button (click)="selectAll()">Select All</button>
    </div>
  </div>
  <h3>Password</h3>
  <mdc-text-field type="password" label="Password" [required]="true"></mdc-text-field>

  <h3>Dark theme</h3>
  <div mdc-theme-dark>
    <mdc-text-field fxFlexOffset="2" label="Dark Theme"></mdc-text-field>
  </div>
</div>
