# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/bazel-out
/demos/node_modules
/demos/dist

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.idea
/.vscode/launch.json
/*.iml

# misc
.DS_Store
/.sass-cache
/connect.lock
/libpeerconnection.log
npm-debug.log
yarn-debug.log
yarn-error.log
testem.log
/.chrome
/.git
/.firebase
/.bazelrc.user
/examples/**/*.lock
