<div class="docs-api">
  <h3 mdcHeadline6>MdcIconButton</h3>
  <p>
    Selector:
    <span class="markdown-code">button[mdcIconButton]</span>
    <span class="markdown-code">a[mdcIconButton]</span>
    <span class="markdown-code">mdc-icon-button</span>
  </p>
  Exported as: <span class="markdown-code">mdcIconButton</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>on: boolean</td>
        <td>Sets the toggle state to the provided value.</td>
      </tr>
      <tr>
        <td>disabled: boolean</td>
        <td>Disables the icon button.</td>
      </tr>
      <tr>
        <td>icon: string</td>
        <td>Optional. Set a Material Icon as a non-toggle icon.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>toggle(isOn?: boolean)</td>
        <td>Toggles the icon toggle state. If an argument is given, will toggle on if true, off if false.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Events</h4>
  <table>
    <tbody>
      <tr>
        <td>change: MdcIconButtonChange</td>
        <td>Emits when the icon is toggled.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcIconOn</h3>
  Apply to an mdc-icon, and is used to indicate the toggle button icon representing the "on" icon.<p>
    Selector:
    <span class="markdown-code">mdcIcon[mdcIconOn]</span>
    <span class="markdown-code">mdcIconOn</span>
  </p>
</div>