<div class="demo-page">
  <div class="markdown-body">
    <h1>Icon Buttons</h1>
    Icon buttons allow users to take actions, and make choices, with a single tap.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/design/components/buttons.html#toggle-button"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Toggle Buttons</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-icon-button/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code highlight="import { MdcIconButtonModule } from '@angular-mdc/web';"></code></pre>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">button[mdcIconButton]</span>
        <span class="docs-api-class-selector-name">a[mdcIconButton]</span>
        <span class="docs-api-class-selector-name">mdc-icon-button</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>on: boolean</td>
            <td>Sets the toggle state to the provided value.</td>
          </tr>
          <tr>
            <td>disabled: boolean</td>
            <td>Disables the icon button.</td>
          </tr>
          <tr>
            <td>icon: string</td>
            <td>Optional. Set a Material Icon as a non-toggle icon.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Parameters</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>toggle(isOn?: boolean)</td>
            <td>Toggles the icon toggle state. If an argument is given, will toggle on if true, off if false.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Events</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>change: MdcIconButtonChange</td>
            <td>Emits when the icon is toggled.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdcIcon[mdcIconOn]</span>
        <span class="docs-api-class-selector-name">mdcIconOn</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Apply to an mdc-icon, and is used to indicate the toggle button icon representing the "on" icon.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize an icon button's color and properties, you can use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-icon-button/README.md#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-icon-button"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-layout__row">
    <div class="demo-content">
      <h3 class="demo-content__headline">Icon Button</h3>
      <button mdc-icon-button icon="keyboard_arrow_left"></button>
      <button mdc-icon-button icon="keyboard_arrow_right"></button>
      <button mdcIconButton>
        <mdc-icon>favorite</mdc-icon>
      </button>
    </div>

    <div class="demo-content">
      <h3 class="demo-content__headline">Using Font Awesome</h3>
      <button mdcIconButton>
        <mdc-icon fontSet="fa" fontIcon="fa-star" mdcIconOn></mdc-icon>
        <mdc-icon fontSet="fa" fontIcon="fa-star-o"></mdc-icon>
      </button>
    </div>

    <div class="demo-content">
      <h3 class="demo-content__headline">Using NgModel Form</h3>
      <div class="demo-layout__row">
        <button mdc-button (click)="demoiconbutton.disabled = !demoiconbutton.disabled">Disabled: {{demoiconbutton.disabled ? 'On' : 'Off'}}</button>
      </div>
      <form #demoForm="ngForm" id="demoForm">
        <button mdcIconButton name="demoiconbutton" #demoiconbutton
         ngModel #demoIconButtonModel="ngModel">
          <mdc-icon mdcIconOn>favorite</mdc-icon>
          <mdc-icon>favorite_border</mdc-icon>
         </button>
      </form>
      <p>Value: {{ demoIconButtonModel.value }}</p>
    </div>

    <div class="demo-content">
      <h3 class="demo-content__headline">Using [on] property</h3>
      <div class="demo-layout__row">
        <button mdc-button (click)="demoiconbutton3.on = !demoiconbutton3.on">Icon: {{demoiconbutton3.on ? 'On' : 'Off'}}</button>
      </div>
      <button mdcIconButton #demoiconbutton3 [on]="true">
        <mdc-icon mdcIconOn>favorite</mdc-icon>
        <mdc-icon>favorite_border</mdc-icon>
      </button>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">SVG Icon</h3>
    Coming soon.
<!--     <button mdcIconButton>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" mdcIconOn>
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path>
      </svg>
    </button>
 -->  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Custom Themes</h3>
    <button mdcIconButton class="demo-icon-button-custom">
      <mdc-icon mdcIconOn>favorite</mdc-icon>
      <mdc-icon>favorite_border</mdc-icon>
    </button>
    <button mdcIconButton class="demo-icon-button-primary">
      <mdc-icon mdcIconOn>favorite</mdc-icon>
      <mdc-icon>favorite_border</mdc-icon>
    </button>
    <button mdcIconButton class="demo-icon-button-secondary">
      <mdc-icon mdcIconOn>favorite</mdc-icon>
      <mdc-icon>favorite_border</mdc-icon>
    </button>
  </div>
</div>
