<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>
  <p>
    To customize an icon button's color and properties, you can use the following mixins.
  </p>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>icon-button-size($width, $height, $padding)</code></td>
        <td>Sets the width, height, font-size and padding for the icon and ripple. <code>$height</code> is optional and
          defaults to <code>$width</code>. <code>$padding</code> is optional and defaults to <code>max($width, $height)/2</code>.
          <code>font-size</code> is set to <code>max($width, $height)</code>.</td>
      </tr>
      <tr>
        <td><code>icon-button-ink-color($color)</code></td>
        <td>Sets the font color and the ripple color to the provided color value.</td>
      </tr>
    </tbody>
  </table>
</div>