<div class="demo-page">
  <div class="markdown-body">
    <h1>Radio buttons</h1>
    Radio buttons allow the user to select one option from a set.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/design/components/selection-controls.html#radio-buttons"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Radio buttons</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-radio/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <p class="docs-api-module-import"><![CDATA[import { MdcRadioModule } from '@angular-mdc/web';]]></p>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-radio-group</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>name: string</td>
            <td>Name of the radio button group.</td>
          </tr>
          <tr>
            <td>required: boolean</td>
            <td>Whether the radio group is required.</td>
          </tr>
          <tr>
            <td>disabled: boolean</td>
            <td>Whether the radio group is disabled.</td>
          </tr>
          <tr>
            <td>selected: MdcRadio | null</td>
            <td>The currently selected radio button. If set to a new radio button, the radio group value will be updated to match the new selected button.</td>
          </tr>
          <tr>
            <td>value: any</td>
            <td>Value for the radio-group. Should equal the value of the selected radio button if there is a corresponding radio button with a matching value. If there is not such a corresponding radio button, this value persists to be applied in case a new radio button is added with a matching value.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Event</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>change(source: MdcRadio, value: any)</td>
            <td>Event emitted when the group value changes. Change events are only emitted when the value changes due to user interaction with a radio button.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-radio</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>id: string</td>
            <td>Unique Id of the radio button (auto generated if not supplied).</td>
          </tr>
          <tr>
            <td>name: string</td>
            <td>Name of the radio button.</td>
          </tr>
          <tr>
            <td>value: any</td>
            <td>Value of the radio button.</td>
          </tr>
          <tr>
            <td>ariaLabel: string</td>
            <td>Used to set the 'aria-label' attribute on the underlying input element.</td>
          </tr>
          <tr>
            <td>ariaLabelledby: string</td>
            <td>The 'aria-labelledby' attribute takes precedence as the element's text alternative.</td>
          </tr>
          <tr>
            <td>checked: boolean</td>
            <td>Use to verify the checked value.</td>
          </tr>
          <tr>
            <td>disabled: boolean</td>
            <td>Disables the component.</td>
          </tr>
          <tr>
            <td>required: boolean</td>
            <td>Whether the radio button is required.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>focus()</td>
            <td>Set focus to the radio button.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Event</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>change(source: MdcRadio, value: any)</td>
            <td>Event emitted when the group value changes. Change events are only emitted when the value changes due to user interaction with a radio button.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize the colors of any part of the radio button, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-radio#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-radio-buttons"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <div class="demo-layout__row">
      <button mdc-button (click)="demoformfield.alignEnd = !demoformfield.alignEnd">RTL: {{demoformfield.alignEnd ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoradio1.disabled = !demoradio1.disabled">Disabled: {{demoradio1.disabled ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="alternateColors(demoradio1)">Alternate Colors</button>
    </div>
    <mdc-form-field #demoformfield>
      <mdc-radio #demoradio1></mdc-radio>
      <label>Radio Button</label>
    </mdc-form-field>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Radio Group</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="demoRadioGroup.disabled = !demoRadioGroup.disabled">Disabled: {{demoRadioGroup.disabled ? 'On' : 'Off'}}</button>
    </div>
    <mdc-radio-group #demoRadioGroup [(ngModel)]="favoriteSeason">
      <mdc-form-field *ngFor="let season of seasons">
        <mdc-radio [value]="season"></mdc-radio>
        <label>{{season}}</label>
      </mdc-form-field>
    </mdc-radio-group>
    <p>Your favorite season is: {{favoriteSeason}}</p>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Radio Group - Reactive forms</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="demoRadioReactive.disabled = !demoRadioReactive.disabled">Disabled: {{demoRadioReactive.disabled ? 'On' : 'Off'}}</button>
    </div>
    <form [formGroup]="form">
      <mdc-radio-group #demoRadioReactive formControlName="season">
        <mdc-form-field *ngFor="let season of seasons">
          <mdc-radio [value]="season"></mdc-radio>
          <label>{{season}}</label>
        </mdc-form-field>
      </mdc-radio-group>
    </form>
    <p>Your favorite season is: {{form.controls['season'].value}}</p>
  </div>
</div>
