<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Elevation</h1>
  <p mdc-typography-subheading2>Shadows provide important visual cues about objects’ depth and directional movement. They are the only visual cue indicating the amount of separation between surfaces. An object’s elevation determines the appearance of its shadow.</p>
  <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-elevation">Google's MDC Documentation</a>
  <h1 mdc-typography-headline>Usage</h1>
  <div>
    <pre class="prettyprint"><![CDATA[import { ElevationModule } from '@angular-mdc/web';]]></pre>
  </div>
  <h1 mdc-typography-headline>Examples</h1>
  <p mdc-typography-subheading1>Usage: mdc-elevation-z0 -> mdc-elevation-z24</p>
  <div fxLayout="column" fxLayoutAlign="start" class="mdc-padding">
    <p mdc-elevation-z1>mdc-elevation-z1</p>
    <pre class="prettyprint">
<![CDATA[
<h4 mdc-elevation-z1>mdc-elevation-z1</h4>
]]></pre>
    <p mdc-elevation-z2>mdc-elevation-z2</p>
    <pre class="prettyprint">
<![CDATA[
<h4 mdc-elevation-z2>mdc-elevation-z2</h4>
]]></pre>
    <p mdc-elevation-z3>mdc-elevation-z3</p>
    <pre class="prettyprint">
<![CDATA[
<h4 mdc-elevation-z3>mdc-elevation-z3</h4>
]]></pre>
  </div>
</div>
