<div class="docs-api">
  <h2 mdcHeadline6>Service</h2>
  <h3 mdcHeadline6>MdcSnackbar</h3>
  Service to open MDC snackbars.

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>afterDismiss: Observable
          <pre>MdcSnackbarDismissReason</pre>
        </td>
        <td>Gets an observable that is notified when the snackbar is finished closing.
          <pre><code highlight="/** Event that is emitted when a snackbar is dismissed. */
export interface MdcSnackbarDismissReason {
  /** Whether the snackbar was dismissed using the action button. */
  action: boolean;

  /** Whether the snackbar was dismissed using the dismiss icon button. */
  dismiss: boolean;
}"></code></pre>
        </td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>open(message: string)</td>
        <td>Open snackbar with message.</td>
      </tr>
      <tr>
        <td>open(message: string, action: string)</td>
        <td>Opens snackbar message and action.</td>
      </tr>
      <tr>
        <td>open(message: string, action: string, config?: MdcSnackbarConfig)</td>
        <td>Opens the snackbar with optional configuration.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>MdcSnackbarConfig</h4>
  <table>
    <tbody>
      <tr>
        <td>timeoutMs?: number</td>
        <td>Value must be between 4000 and 10000 or an error will be thrown. Defaults to 5000 (5 seconds).</td>
      </tr>
      <tr>
        <td>stacked?: boolean</td>
        <td>Positions the action button/icon below the label instead of alongside it. Defaults to false.</td>
      </tr>
      <tr>
        <td>leading?: boolean</td>
        <td>Positions the snackbar on the leading edge of the screen.</td>
      </tr>
      <tr>
        <td>trailing?: boolean</td>
        <td>Positions the snackbar on the trailing (right) edge of the screen.</td>
      </tr>
      <tr>
        <td>direction?: string</td>
        <td>The layout direction of the snackbar content. Default is 'ltr'.</td>
      </tr>
      <tr>
        <td>dismiss?: boolean</td>
        <td>Show dismiss ("X") icon. Default is false.</td>
      </tr>
      <tr>
        <td>closeOnEscape?: boolean</td>
        <td>Whether the snackbar closes when it is focused and the user presses the ESC key. Default is true.</td>
      </tr>
      <tr>
        <td>classes?: string | string[]</td>
        <td>Add a CSS class or an array of classes.</td>
      </tr>
      <tr>
        <td>actionClasses?: string | string[]</td>
        <td>Add a CSS class or an array of classes to the action button.</td>
      </tr>
      <tr>
        <td>dismissClasses?: string | string[]</td>
        <td>Add a CSS class or an array of classes to the action icon.</td>
      </tr>
    </tbody>
  </table>
</div>