<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Cards</h1>
  <div mdc-typography-subheading2>The MDC Card component is a sheet of material that serves as an entry point to more detailed information.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcCardModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-horizontal</td>
          <td>Stack multiple card blocks horizontally instead of vertically, by placing them inside of a horizontal block.</td>
        </tr>
        <tr>
          <td>mdc-card-supporting-text</td>
          <td>Used for displaying the bulk of the textual content of the card.</td>
        </tr>
        <tr>
          <td>mdc-card-media</td>
          <td>Used for showing rich media in cards, and optionally as a container.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-primary</td>
          <td>Defines the primary text / title content block.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-title</td>
          <td>A title block.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@Input() large: boolean</td>
          <td>An option to make the title text larger. (default is true)</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-subtitle</td>
          <td>A subtitle block.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-media-item</td>
          <td>Media items are designed to be used in horizontal blocks, taking up a fixed height, rather than stretching to the width of the card.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@Input() size: number</td>
          <td>Some predefined media item sizes. Valid values are [1, 1.5, 2, and 3]</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-actions</td>
          <td>Place mdc-card-button's inside the action content.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@Input() vertical: boolean</td>
          <td>Option to lay actions out vertically instead of horizontally.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>button[mdc-card-button]</td>
        </tr>
        <tr>
          <td>a[mdc-card-button]</td>
          <td>Compact and spec-aligned buttons for card actions.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start">
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isLargeTitle"></mdc-checkbox>
        <label>Large Title</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isThemeDark"></mdc-checkbox>
        <label>Dark Theme</label>
      </mdc-form-field>
<mdc-card class="demo-card" [mdc-theme-dark]="isThemeDark">
  <mdc-card-primary>
    <mdc-card-title [large]="isLargeTitle">Title</mdc-card-title>
    <h2 mdc-card-subtitle>Subtitle</h2>
  </mdc-card-primary>
  <mdc-card-actions>
    <button mdc-card-button>Action 1</button>
    <button mdc-card-button>Action 2</button>
  </mdc-card-actions>
</mdc-card>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span> [<span style="color:#89bdff">mdc-theme-dark</span>]=<span style="color:#65b042">"false"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-title</span> [<span style="color:#89bdff">large</span>]=<span style="color:#65b042">"true"</span>></span>Title<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-title</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">h2</span> <span style="color:#89bdff">mdc-card-subtitle</span>></span>Subtitle<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h2</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 1<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 2<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
</pre>
    <div fxLayout="column">
      <mdc-card class="demo-card">
        <mdc-card-primary>
          <mdc-card-title>Title</mdc-card-title>
          <h2 mdc-card-subtitle>Subtitle</h2>
        </mdc-card-primary>
        <mdc-card-supporting-text>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </mdc-card-supporting-text>
        <mdc-card-actions>
          <button mdc-card-button>Action 1</button>
          <button mdc-card-button>Action 2</button>
        </mdc-card-actions>
      </mdc-card>
      <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc-card-title</span>></span>Title<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc-card-title</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">h2</span> <span style="color:#89bdff">mdc-card-subtitle</span>></span>Subtitle<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h2</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-supporting-text</span>></span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-supporting-text</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 1<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 2<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
</pre> </div>
    <div fxLayout="column">
      <mdc-card class="demo-card">
        <mdc-card-horizontal>
          <mdc-card-primary>
            <mdc-card-title>Title</mdc-card-title>
            <h2 mdc-card-subtitle>Subtitle</h2>
          </mdc-card-primary>
          <img mdc-card-media-item [size]="2" src="https://material-components-web.appspot.com/images/1-1.jpg" />
        </mdc-card-horizontal>
        <mdc-card-actions>
          <button mdc-card-button>Action 1</button>
          <button mdc-card-button>Action 2</button>
        </mdc-card-actions>
      </mdc-card>
      <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-horizontal</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc-card-title</span>></span>Title<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc-card-title</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">h2</span> <span style="color:#89bdff">mdc-card-subtitle</span>></span>Subtitle<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h2</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">mdc-card-media-item</span> [<span style="color:#e0c589">size</span>]=<span style="color:#65b042">"2"</span>
     <span style="color:#e0c589">src</span>=<span style="color:#65b042">"image.png"</span> /></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-horizontal</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 1<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 2<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
</pre> </div>
    <div fxLayout="column">
<mdc-card class="demo-card">
  <mdc-card-horizontal>
    <img mdc-card-media-item [size]="3" src="https://material-components-web.appspot.com/images/1-1.jpg" />
    <mdc-card-actions [vertical]="true">
      <button mdc-card-button>Action 1</button>
      <button mdc-card-button>Action 2</button>
    </mdc-card-actions>
  </mdc-card-horizontal>
</mdc-card>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-horizontal</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">img</span> <span style="color:#e0c589">mdc-card-media-item</span> [<span style="color:#e0c589">size</span>]=<span style="color:#65b042">"3"</span> <span style="color:#e0c589">src</span>=<span style="color:#65b042">"image.png"</span> /></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span> [<span style="color:#89bdff">vertical</span>]=<span style="color:#65b042">"true"</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 1<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
      <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 2<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-horizontal</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
</pre>
</div>
    <div fxLayout="column">
      <mdc-card class="demo-card">
        <mdc-card-media [ngClass]="{'demo-card__16-9-media' : true}"></mdc-card-media>
        <mdc-card-primary>
          <mdc-card-title>Title</mdc-card-title>
          <h2 mdc-card-subtitle>Subtitle</h2>
        </mdc-card-primary>
        <mdc-card-actions>
          <button mdc-card-button>Action 1</button>
          <button mdc-card-button>Action 2</button>
        </mdc-card-actions>
      </mdc-card>
      <pre style="background:#000;color:#f8f8f8"><span style="color:#aeaeae;font-style:italic">&lt;!--Sample 16x9 media header style--></span>
.demo-card__16-9-media
  height: 12.313rem;
  background-image: 
    url(https://material-components-web.appspot.com/images/16-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;

<span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-media</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"demo-card__16-9-media"</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-media</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc-card-title</span>></span>Title<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc-card-title</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">h2</span> <span style="color:#89bdff">mdc-card-subtitle</span>></span>Subtitle<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h2</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 1<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 2<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
</pre></div>
    <div fxLayout="column">
      <mdc-card class="demo-card">
        <mdc-card-primary>
          <mdc-card-title>Title</mdc-card-title>
          <h2 mdc-card-subtitle>Subtitle</h2>
        </mdc-card-primary>
        <mdc-card-media [ngClass]="{'demo-card__16-9-media' : true}"></mdc-card-media>
        <mdc-card-actions>
          <button mdc-card-button>Action 1</button>
          <button mdc-card-button [compact]="false">Action 2</button>
        </mdc-card-actions>
      </mdc-card>
      <pre style="background:#000;color:#f8f8f8"><span style="color:#aeaeae;font-style:italic">&lt;!--Sample 16x9 media header style--></span>
.demo-card__16-9-media
  height: 12.313rem;
  background-image: 
    url(https://material-components-web.appspot.com/images/16-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;

<span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc-card-title</span>></span>Title<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc-card-title</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">h2</span> <span style="color:#89bdff">mdc-card-subtitle</span>></span>Subtitle<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h2</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-media</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"demo-card__16-9-media"</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-media</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 1<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-card-button</span>></span>Action 2<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-actions</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span>
</pre>
    </div>
  </div>
</div>
