<div fxFlexOffset="1" fxLayout="column" fxLayoutAlign="start start" class="demo-page">
  <div>
    <h1 mdc-typography-display1>Cards</h1>
    <span>The MDC Card component is a sheet of material that serves as an entry point to more detailed information.</span>
  </div>
  <div class="demo-docs-class-name" mdc-typography-subheading2 fxFlexOffset="2">
    <![CDATA[import { MdcCardModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>stroked: boolean</td>
          <td>Removes the shadow and displays a hairline stroke instead</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-primary-action</td>
          <td>The main tappable area of the card. Typically contains most (or all) card content except mdc-card-actions. Only applicable to cards that have a primary action that the main surface should trigger.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-media</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>square: boolean</td>
          <td>Automatically scales the media area's height to equal its width.</td>
        </tr>
        <tr>
          <td>rectangle: boolean</td>
          <td>Automatically scales the media area's height according to its width, maintaining a 16:9 aspect ratio.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-media-content</td>
          <td>An absolutely-positioned box the same size as the media area, for displaying a title or icon on top of the background-image</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-actions</td>
          <td>Row containing action buttons and/or icons</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>fullBleed: boolean</td>
          <td>Removes the action area's padding and causes its only child (an mdc-card__action element) to consume 100% of the action area's width.</td>
        </tr>
        <tr>
          <td>icons: boolean</td>
          <td>A group of supplemental action icons, displayed on the right side of the card (in LTR), adjacent to mdc-card-action buttons</td>
        </tr>
        <tr>
          <td>buttons: boolean</td>
          <td>A group of action buttons, displayed on the left side of the card (in LTR), adjacent to mdc-card-action icons</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-action-icons</td>
          <td>A group of supplemental action icons, displayed on the right side of the card (in LTR), adjacent to mdc-card-action buttons</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-card-action-buttons</td>
          <td>A group of action buttons, displayed on the left side of the card (in LTR), adjacent to mdc-card-action icons</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdcCardAction</td>
          <td>An individual action button or icon. Provide either `icon` or `button`. (e.g.: mdcCardAction="icon" or mdcCardAction="button")</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
    <mdc-card class="demo-card" fxFlexOffset="4">
      <mdc-card-primary-action mdc-ripple>
        <mdc-card-media class="demo-card__media--16-9" [rectangle]="true"></mdc-card-media>
        <div class="demo-card__primary">
          <h2 class="demo-card__title" mdc-typography-title>Our Changing Planet</h2>
          <h3 class="demo-card__subtitle" mdc-typography-subheading1>by Kurt Wagner</h3>
        </div>
        <div class="demo-card__secondary" mdc-typography-body1>
          Visit ten places on our planet that are undergoing the biggest changes today.
        </div>
      </mdc-card-primary-action>
      <mdc-card-actions>
        <mdc-card-action-buttons>
          <button mdc-button mdcCardAction="button">Read</button>
          <button mdc-button mdcCardAction="button">Bookmark</button>
        </mdc-card-action-buttons>
        <mdc-card-action-icons>
          <mdc-icon-toggle iconOn="favorite" iconOff="favorite_border" mdcCardAction="icon"></mdc-icon-toggle>
          <mdc-icon mdcCardAction="icon">share</mdc-icon>
          <mdc-icon mdcCardAction="icon">more_vert</mdc-icon>
        </mdc-card-action-icons>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card [stroked]="true" fxFlexOffset="4">
      <div class="demo-card-article-group-heading" mdc-typography-subheading2>Headlines</div>
      <mdc-list-divider></mdc-list-divider>
      <mdc-ripple class="demo-card-article">
        <h2 class="demo-card-article__title" mdc-typography-headline>Copper on the rise</h2>
        <p class="demo-card-article__snippet" mdc-typography-body1>
          Copper price soars amid global market optimism and increased demand.
        </p>
      </mdc-ripple>
      <mdc-list-divider></mdc-list-divider>
      <mdc-ripple class="demo-card-article">
        <h2 class="demo-card-article__title" mdc-typography-headline>U.S. tech startups rebound</h2>
        <p class="demo-card-article__snippet" mdc-typography-body1>
          Favorable business conditions have allowed startups to secure more fundraising deals compared to last year.
        </p>
      </mdc-ripple>
      <mdc-list-divider></mdc-list-divider>
      <mdc-ripple class="demo-card-article">
        <h2 class="demo-card-article__title" mdc-typography-headline>Asia's clean energy ambitions</h2>
        <p class="demo-card-article__snippet" mdc-typography-body1>
          China plans to invest billions of dollars for the development of over 300 clean energy projects in Southeast Asia.
        </p>
      </mdc-ripple>
      <mdc-list-divider></mdc-list-divider>
      <mdc-card-actions [fullBleed]="true">
        <button mdc-button mdcCardAction="button">
          All Business Headlines
          <mdc-icon>arrow_forward</mdc-icon>
        </button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card--photo" fxFlexOffset="2">
      <mdc-card-primary-action mdc-ripple>
        <mdc-card-media [square]="true" class="demo-card__media">
          <mdc-card-media-content class="demo-card__media-content--with-title">
            <div class="demo-card__media-title" mdc-typography-subheading2>Vacation Photos</div>
          </mdc-card-media-content>
        </mdc-card-media>
      </mdc-card-primary-action>
      <mdc-card-actions [icons]="true">
        <mdc-icon-toggle iconOn="favorite" iconOff="favorite_border" mdcCardAction="icon"></mdc-icon-toggle>
        <mdc-icon-toggle iconOn="bookmark" iconOff="bookmark_border" mdcCardAction="icon"></mdc-icon-toggle>
        <mdc-icon mdcCardAction="icon">share</mdc-icon>
      </mdc-card-actions>
    </mdc-card>
  </div>
