<div class="docs-api">
  <h3 mdcHeadline6>MdcRipple</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-ripple</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcRipple</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>attachTo: Element</td>
        <td>Attach the ripple surface to an element.</td>
      </tr>
      <tr>
        <td>primary: boolean</td>
        <td>Colors the ripple with the primary theme color.</td>
      </tr>
      <tr>
        <td>secondary: boolean</td>
        <td>Colors the ripple with the secondary theme color.</td>
      </tr>
      <tr>
        <td>disabled: boolean</td>
        <td>Disable the ripple ink.</td>
      </tr>
      <tr>
        <td>unbounded: boolean</td>
        <td>Whether or not the ripple is unbounded (e.g.: checkbox or radio buttons).</td>
      </tr>
    </tbody>
  </table>
</div>