<div class="docs-api">
  <h4 mdcSubtitle2>Ripple Mixins</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>surface</code></td>
        <td>Mandatory. Adds base styles for a ripple surface</td>
      </tr>
      <tr>
        <td><code>radius-bounded($radius)</code></td>
        <td>Adds styles for the radius of the ripple effect,<br>for bounded
          ripple surfaces</td>
      </tr>
      <tr>
        <td><code>radius-unbounded($radius)</code></td>
        <td>Adds styles for the radius of the ripple effect,<br>for unbounded
          ripple surfaces</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Basic States Mixins</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>states($color, $has-nested-focusable-element)</code></td>
        <td>Mandatory. Adds state and ripple styles in the given color</td>
      </tr>
      <tr>
        <td>
          <code>states-activated($color, $has-nested-focusable-element)</code>
        </td>
        <td>Optional. Adds state and ripple styles for activated states in the
          given color</td>
      </tr>
      <tr>
        <td>
          <code>states-selected($color, $has-nested-focusable-element)</code>
        </td>
        <td>Optional. Adds state and ripple styles for selected states in the
          given color</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Advanced States Mixins</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>states-base-color($color)</code></td>
        <td>Mandatory. Sets up base state styles using the provided color</td>
      </tr>
      <tr>
        <td>
          <code>states-opacities($opacity-map, $has-nested-focusable-element)</code>
        </td>
        <td>Sets the opacity of the ripple in any of the <code>hover</code>,
          <code>focus</code>, or <code>press</code> states. The
          <code>opacity-map</code> can specify one or more of these states as
          keys. States not specified in the map resort to default opacity
          values.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Sass Functions</h4>
  <table>
    <thead>
      <tr>
        <th>Function</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>states-opacity($color, $state)</code></td>
        <td>Returns the appropriate default opacity to apply to the given color
          in the given state (hover, focus,
          press, selected, or activated)</td>
      </tr>
    </tbody>
  </table>
</div>