<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Elevation</h1>
  <div mdc-typography-subheading2>Shadows provide important visual cues about objects’ depth and directional movement. They are the only visual cue indicating the amount of separation between surfaces. An object’s elevation determines the appearance of its shadow.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcElevationModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Directive</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>[mdc-elevation]="#"</td>
          <td>Elevation values are mapped out in a "z-space" and range from 0 to 24.</td>
        </tr>
      </tbody>
    </table>
    <div fxLayout="row" fxLayoutWrap>
      <figure [mdc-elevation]="i" class="demo-surface" *ngFor="let i of items">
        <figcaption>[mdc-elevation]="{{i}}"</figcaption>
      </figure>
    </div>
  </div>
