<mdc-list-group>
  <mdc-list>
    <a mdc-list-item class="mdc-permanent-drawer--selected" href="#">
        <i material-icon mdc-list-item-start>inbox</i>Inbox
      </a>
    <a mdc-list-item href="#">
        <i material-icon mdc-list-item-start>star</i>Star
      </a>
    <a mdc-list-item href="#">
        <i material-icon mdc-list-item-start>send</i>Sent Mail
      </a>
    <a mdc-list-item href="#">
        <i material-icon mdc-list-item-start>drafts</i>Drafts
      </a>
  </mdc-list>
  <mdc-list-divider></mdc-list-divider>
  <mdc-list>
    <mdc-list-item>
      <i material-icon mdc-list-item-start>email</i>All Mail
    </mdc-list-item>
    <mdc-list-item>
      <i material-icon mdc-list-item-start>delete</i>Trash
    </mdc-list-item>
    <mdc-list-item>
      <i material-icon mdc-list-item-start>report</i>Spam
    </mdc-list-item>
  </mdc-list>
</mdc-list-group>
