<mdc-toolbar [fixed]="true" class="demo-toolbar--primary">
  <mdc-toolbar-row>
    <mdc-toolbar-section [alignStart]="true">
      <button material-icon mdc-toolbar-icon-menu (click)="handleMenuClick();">menu</button>
      <mdc-toolbar-title>
        <span fxHide fxShow.gt-sm="true">Angular - Material Design Components</span>
        <span fxShow fxHide.gt-sm="true">Angular MDC</span>
      </mdc-toolbar-title>
    </mdc-toolbar-section>
    <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
      <a class="mdc-theme--text-primary-on-primary" mdc-toolbar-icon href="https://github.com/trimox/angular-mdc-web" alt="GitHub">
        <mdc-icon>
          <img src="https://github.com/trimox/angular-mdc-web/blob/gh-pages/assets/github-circle-white-transparent.svg" height="20" />
        </mdc-icon>
        <span fxHide fxShow.gt-xs="true">View on Github</span>
      </a>
    </mdc-toolbar-section>
  </mdc-toolbar-row>
</mdc-toolbar>
<mdc-temporary-drawer #drawer>
  <mdc-temporary-drawer-spacer fxLayout="row" fxLayoutAlign="start center">
      <img src="https://github.com/trimox/angular-mdc-web/blob/gh-pages/assets/hub-192x192.png" width="32" height="32">
      <div fxFlexOffset="3">Angular MDC</div>
  </mdc-temporary-drawer-spacer>
  <mdc-temporary-drawer-content>
    <mdc-list-group>
      <mdc-list>
        <mdc-list-item *ngFor="let navItem of navLinks" [routerLink]="[navItem.route]">
            <i material-icon mdc-list-item-start>{{navItem.icon}}</i>{{navItem.name}}
        </mdc-list-item>
      </mdc-list>
      <mdc-list-divider></mdc-list-divider>
      <mdc-list>
        <mdc-list-item *ngFor="let navItem of coreLinks" [routerLink]="[navItem.route]">
            <i material-icon mdc-list-item-start>{{navItem.icon}}</i>{{navItem.name}}
        </mdc-list-item>
      </mdc-list>
    </mdc-list-group>
  </mdc-temporary-drawer-content>
</mdc-temporary-drawer>
