<div class="demo-page">
  <div class="markdown-body">
    <h1>Text Field</h1>
    Text fields let users enter and edit text.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/components/text-fields.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Text Fields</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-textfield/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <p class="docs-api-module-import"><![CDATA[import { MdcTextFieldModule } from '@angular-mdc/web';]]></p>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-text-field</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>id: string</td>
            <td>Unique id of the element.</td>
          </tr>
          <tr>
            <td>type: string = 'text'</td>
            <td>Input type of textfield (e.g.: email, password, date, color).</td>
          </tr>
          <tr>
            <td>name: string</td>
            <td>Name of the textfield.</td>
          </tr>
          <tr>
            <td>label: string</td>
            <td>Shown to the user when there's no focus or values.</td>
          </tr>
          <tr>
            <td>value: string</td>
            <td>The input element's value.</td>
          </tr>
          <tr>
            <td>outlined: boolean</td>
            <td>Set a border around all sides of the text field.</td>
          </tr>
          <tr>
            <td>dense: boolean</td>
            <td>Shrinks the font size and height of the input.</td>
          </tr>
          <tr>
            <td>fullwidth: boolean</td>
            <td>Set to fullwidth textfield.</td>
          </tr>
          <tr>
            <td>disabled: boolean</td>
            <td>Disables the component.</td>
          </tr>
          <tr>
            <td>readonly: boolean</td>
            <td>Whether or not the textfield value is editable.</td>
          </tr>
          <tr>
            <td>required: boolean</td>
            <td>Whether the element is required.</td>
          </tr>
          <tr>
            <td>useNativeValidation: boolean</td>
            <td>Sets whether to check native HTML validity state (true, default) or custom validity state when updating styles (false).</td>
          </tr>
          <tr>
            <td>valid: boolean</td>
            <td>Updates input validity styling using passed value.</td>
          </tr>
          <tr>
            <td>empty: boolean</td>
            <td>Returns whether the control is empty.</td>
          </tr>
          <tr>
            <td>autocomplete: string</td>
            <td>Indicates if the input can be automatically completed by the browser, usually by remembering previous values the user has entered.</td>
          </tr>
          <tr>
            <td>tabIndex: number</td>
            <td>Tab index of the text element.</td>
          </tr>
          <tr>
            <td>pattern: string</td>
            <td>Regular expression that the control's value is checked against.</td>
          </tr>
          <tr>
            <td>maxlength: number</td>
            <td>Maxlength of characters allowed to be entered.</td>
          </tr>
          <tr>
            <td>minlength: number</td>
            <td>Specifies the minimum number of characters that the user can enter.</td>
          </tr>
          <tr>
            <td>max: number</td>
            <td>The maximum numeric value for the input.</td>
          </tr>
          <tr>
            <td>min: number</td>
            <td>The minimum numeric value for this input, which must not be greater than its maximum (max attribute) value.</td>
          </tr>
          <tr>
            <td>step: number</td>
            <td>Works with the min and max attributes to limit the increments at which a numeric or date-time value can be set.</td>
          </tr>
          <tr>
            <td>size: number</td>
            <td>The initial size of the control.</td>
          </tr>
          <tr>
            <td>helperText: MdcTextFieldHelperText</td>
            <td>Reference to input's MdcTextFieldHelperText directive</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>focus()</td>
            <td>Sets focus to the input.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Events</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>change(value: string)</td>
            <td>Emitted whenever the value of the input changes.</td>
          </tr>
          <tr>
            <td>blur(value: string)</td>
            <td>Emitted whenever the input loses focus.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdcTextFieldHelperText</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>validation: boolean</td>
            <td>Help text can be used to provide additional validation messages.</td>
          </tr>
          <tr>
            <td>persistent: boolean</td>
            <td>Help text will always be visible.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-icon[mdcTextFieldIcon]</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>leading: boolean</td>
            <td>Styles the text field as a text field with a leading icon.</td>
          </tr>
          <tr>
            <td>trailing: boolean</td>
            <td>Styles the text field as a text field with a trailing icon.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-textarea</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>rows: number</td>
            <td>Number of rows for this textarea.</td>
          </tr>
          <tr>
            <td>cols: number</td>
            <td>Number of columns for this textarea.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Theming</h2>
    To customize the colors of any part of the text-field, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-textfield#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-text-field"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Text Field - FormControl</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="demoformInput.outlined = !demoformInput.outlined">Outlined: {{demoformInput.outlined ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoformInput.dense = !demoformInput.dense">Dense: {{demoformInput.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoformInput.disabled = !demoformInput.disabled">Disabled: {{demoformInput.disabled ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoformInput.required = !demoformInput.required">Required: {{demoformInput.required ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoformInput.readonly = !demoformInput.readonly">Read Only: {{demoformInput.readonly ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoformInput.useNativeValidation = !demoformInput.useNativeValidation">Use native validation: {{demoformInput.useNativeValidation ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="alternateColors(demoformInput)">Alternate Colors</button>
    </div>
    <form [formGroup]="demoForm" id="demoForm" (ngSubmit)="submitForm()">
      <mdc-text-field #demoformInput formControlName="userName" label="Username" outlined [readonly]="readonly" [helperText]="demoformHelper" required minlength="3"></mdc-text-field>
      <mdc-text-field-helper-text #demoformHelper="mdcHelperText" validation>
        <span *ngIf="demoForm.controls['userName'].errors?.required">Username is required</span>
        <span *ngIf="demoForm.controls['userName'].errors?.minlength">Username is not long enough</span>
      </mdc-text-field-helper-text>
    </form>
    <div class="demo-layout__row">
      <button mdc-button type="submit" [disabled]="!demoForm.valid" form="demoForm">Submit</button>
      <button mdc-button (click)="demoForm.reset()">Reset</button>
      <button mdc-button (click)="demoForm.controls['userName'].setValue('test')">Set Value</button>
    </div>
    <p>Dirty: {{ demoForm.dirty }}</p>
    <p>Valid: {{ demoForm.valid }}</p>
    <p>Pristine: {{ demoForm.pristine }}</p>
    <p>Touched: {{ demoForm.touched }}</p>
    <p>Value: {{ demoForm.value | json }}</p>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Text Field - Numeric with ngModel Form</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="demoweight.outlined = !demoweight.outlined">Outlined: {{demoweight.outlined ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoweight.dense = !demoweight.dense">Dense: {{demoweight.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoweight.disabled = !demoweight.disabled">Disabled: {{demoweight.disabled ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoweight.required = !demoweight.required">Required: {{demoweight.required ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="alternateColors(demoweight)">Alternate Colors</button>
    </div>
    <form #demoWeightForm="ngForm" id="demoWeightForm" (ngSubmit)="submitWeightForm(demoWeightForm)">
      <mdc-text-field #demoweight type="number" name="demoweight" label="Weight" ngModel #demoWeightModel="ngModel"
       required [helperText]="weightHelper"></mdc-text-field>
      <mdc-text-field-helper-text #weightHelper="mdcHelperText" validation>
        <span *ngIf="!demoweight?.value">Weight is required</span>
      </mdc-text-field-helper-text>
    </form>
    <div class="demo-layout__row">
      <button mdc-button type="submit" form="demoWeightForm">Submit</button>
      <button mdc-button (click)="resetWeightModel(demoWeightForm)">Reset</button>
    </div>
    <p>Dirty: {{ demoWeightModel.dirty }}</p>
    <p>Valid: {{ demoWeightForm.valid }}</p>
    <p>Pristine: {{ demoWeightForm.pristine }}</p>
    <p>Touched: {{ demoWeightModel.touched }}</p>
    <p>Value: {{ demoWeightModel.value }}</p>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Text Field - Using Value</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="demousername.outlined = !demousername.outlined">Outlined: {{demousername.outlined ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demousername.dense = !demousername.dense">Dense: {{demousername.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demousername.disabled = !demousername.disabled">Disabled: {{demousername.disabled ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demousername.required = !demousername.required">Required: {{demousername.required ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="alternateColors(demousername)">Alternate Colors</button>
    </div>
    <mdc-text-field #demousername label="Username" [value]="username" outlined [helperText]="userHelper" required></mdc-text-field>
    <p mdcTextFieldHelperText #userHelper="mdcHelperText" validation>
      <span *ngIf="!demousername?.value">Username is required</span>
    </p>
    <button mdc-button (click)="demousername.value = null">Reset value</button>
    <p>Value: {{demousername.value | json}}</p>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Leading and Trailing Icons</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="bothIcons.outlined = !bothIcons.outlined">Outlined: {{bothIcons.outlined ? 'On' : 'Off'}}</button>
    </div>
    <mdc-text-field autocomplete="tel" type="tel" #bothIcons label="Phone number">
      <mdc-icon mdcTextFieldIcon leading>phone</mdc-icon>
      <mdc-icon mdcTextFieldIcon trailing>event</mdc-icon>
    </mdc-text-field>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Examples</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="outlined.disabled = !outlined.disabled">Disabled: {{outlined.disabled ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="outlined.required = !outlined.required">Required: {{outlined.required ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="outlined.dense = !outlined.dense">Dense: {{outlined.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="alternateColors(outlined)">Alternate Colors</button>
    </div>
    <mdc-text-field #outlined label="Your name"></mdc-text-field>

    <div class="demo-layout__row">
      <button mdc-button (click)="outlinedicon.disabled = !outlinedicon.disabled">Disabled: {{outlinedicon.disabled ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="outlinedicon.required = !outlinedicon.required">Required: {{outlinedicon.required ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="outlinedicon.dense = !outlinedicon.dense">Dense: {{outlinedicon.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="leadingicon.clickable = !leadingicon.clickable">Clickable Icon: {{leadingicon.clickable ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="alternateColors(outlinedicon)">Alternate Colors</button>
    </div>
    <mdc-text-field type="date" #outlinedicon outlined label="Event date">
      <mdc-icon mdcTextFieldIcon leading #leadingicon>event</mdc-icon>
    </mdc-text-field>

    <div class="demo-layout__row">
      <button mdc-button (click)="trailingicon.clickable = !trailingicon.clickable">Clickable Icon: {{trailingicon.clickable ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="alternateColors(outlinedtrailing)">Alternate Colors</button>
    </div>
    <mdc-text-field type="date" #outlinedtrailing outlined label="Event date">
      <mdc-icon mdcTextFieldIcon trailing #trailingicon>event</mdc-icon>
    </mdc-text-field>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Numeric with ngModel</h3>
    <mdc-text-field type="number" label="Distance" [(ngModel)]="waypoint.dt"></mdc-text-field>
    <div class="demo-layout__row">
      <button mdc-button (click)="submitNumeric()">Submit</button>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Prefilled via ngModel</h3>
    <mdc-text-field [(ngModel)]="prefilledText" label="Username"></mdc-text-field>
    <p>ngModel: {{prefilledText}}
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Date / Time / Color / Password</h3>
    <div class="demo-layout__row">
      <mdc-text-field type="date" label="Birthday" outlined></mdc-text-field>
      <mdc-text-field type="time" label="Time" outlined></mdc-text-field>
      <mdc-text-field type="password" label="Password" required outlined></mdc-text-field>
      <mdc-text-field type="color" label="Color" style="width: 6rem" outlined></mdc-text-field>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Textarea</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="comments.disabled = !comments.disabled">Disabled: {{comments.disabled ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="comments.required = !comments.required">Required: {{comments.required ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="comments.dense = !comments.dense">Dense: {{comments.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="alternateColors(comments)">Alternate Colors</button>
    </div>
    <mdc-textarea #comments label="Comments" rows="8" cols="40"></mdc-textarea>
  </div>
  <div class="demo-content">
    <h3 class="demo-content__headline">Full-width single line</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="alternateColors(demofullwidth)">Alternate Colors</button>
    </div>
    <mdc-text-field #demofullwidth label="Subject" fullwidth></mdc-text-field>
  </div>
  <div class="demo-content">
    <h3 class="demo-content__headline">Full-width Textarea</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="demofullwidthtextarea.disabled = !demofullwidthtextarea.disabled">Disabled: {{demofullwidthtextarea.disabled ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demofullwidthtextarea.required = !demofullwidthtextarea.required">Required: {{demofullwidthtextarea.required ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demofullwidthtextarea.dense = !demofullwidthtextarea.dense">Dense: {{demofullwidthtextarea.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="alternateColors(demofullwidthtextarea)">Alternate Colors</button>
    </div>
    <mdc-textarea #demofullwidthtextarea label="Type your message here" fullwidth rows="8"></mdc-textarea>
  </div>
</div>
