<div class="demo-page">
  <div class="markdown-body">
    <h1>Grid List</h1>
    MDC Grid List provides a RTL-aware Material Design Grid list component adhering to the Material Design Grid list spec. Grid Lists are best suited for presenting homogeneous data, typically images. Each item in a grid list is called a tile. Tiles maintain consistent width, height, and padding across screen sizes.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/components/grid-lists.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Grid lists</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-grid-list/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code><![CDATA[import { MdcGridListModule } from '@angular-mdc/web';]]></code></pre>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <h3>mdc-grid-list</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>narrow: boolean</td>
            <td>If set, gutter padding becomes 1px. (Default is 4px).</td>
          </tr>
          <tr>
            <td>header: boolean</td>
            <td>Change the footer caption to be a header caption.</td>
          </tr>
          <tr>
            <td>aspect: string</td>
            <td>Applies desired aspect ratio to grid list. (Default is 1x1).<pre>Valid values:
1x1, 16x9, 2x3, 3x2, 4x3, 3x4</pre></td>
          </tr>
          <tr>
            <td>iconAlign: string</td>
            <td>Change the placement of icon inside secondary content. (Default is start).
<pre>Valid values: start | end</pre></td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>setNarrow(narrow: boolean)</td>
            <td>If set, gutter padding becomes 1px. (Default is 4px).</td>
          </tr>
          <tr>
            <td>setHeader(header: boolean)</td>
            <td>Change the footer caption to be a header caption.</td>
          </tr>
          <tr>
            <td>setAspect(aspect: string)</td>
            <td>Applies desired aspect ratio to grid list. (Default is 1x1).<pre>Valid values:
1x1, 16x9, 2x3, 3x2, 4x3, 3x4</pre></td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-grid-tile</h3>
      <table>
        <tbody>
          <tr>
            <td>Mandatory. Indicates each tile in an grid list.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-grid-tile-primary, [mdcGridTilePrimary]</h3>
      <table>
        <tbody>
          <tr>
            <td>Mandatory. Container element for mdcGridTilePrimaryContent.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-grid-tile-primary-content, [mdcGridTilePrimaryContent]</h3>
      <table>
        <tbody>
          <tr>
            <td>Mandatory. Indicates the image element in each tile.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-grid-tile-secondary, [mdcGridTileSecondary]</h3>
      <table>
        <tbody>
          <tr>
            <td>Optional. Container element for mdc-grid-tile-title.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-grid-tile-title, [mdcGridTileTitle]</h3>
      <table>
        <tbody>
          <tr>
            <td>Optional. Indicates the tile label in each item.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-grid-tile-support-text, [mdcGridTileSupportText]</h3>
      <table>
        <tbody>
          <tr>
            <td>Optional. Indicates the tile supporting text below a tile title for each item.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-grid-list"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content demo-content--column">
    <h3>Grid List</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="demogrid1.header = !demogrid1.header">Header: {{demogrid1.header ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demogrid1.narrow = !demogrid1.narrow">Narrow: {{demogrid1.narrow ? 'On' : 'Off'}}</button>
    </div>
    <div class="demo-content--row">
      <button mdc-button (click)="demogrid1.aspect = '1x1'">1x1</button>
      <button mdc-button (click)="demogrid1.aspect = '16x9'">16x9 Aspect</button>
      <button mdc-button (click)="demogrid1.aspect = '2x3'">2x3 Aspect</button>
      <button mdc-button (click)="demogrid1.aspect = '3x2'">3x2 Aspect</button>
      <button mdc-button (click)="demogrid1.aspect = '4x3'">4x3 Aspect</button>
      <button mdc-button (click)="demogrid1.aspect = '3x4'">3x4 Aspect</button>
    </div>
    <mdc-grid-list #demogrid1>
      <mdc-grid-tile *ngFor="let tile of tiles">
        <mdc-grid-tile-primary>
          <img mdcGridTilePrimaryContent src="https://material-components-web.appspot.com/images/1-1.jpg"/>
        </mdc-grid-tile-primary>
        <mdc-grid-tile-secondary>
          <mdc-grid-tile-title>{{tile.title}}</mdc-grid-tile-title>
          <mdc-grid-tile-support-text>{{tile.caption}}</mdc-grid-tile-support-text>
        </mdc-grid-tile-secondary>
      </mdc-grid-tile>
    </mdc-grid-list>
  </div>

  <div class="demo-content demo-content--column">
    <div class="demo-content--row">
      <button mdc-button (click)="demogrid2.header = !demogrid2.header">Header: {{demogrid2.header ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demogrid2.narrow = !demogrid2.narrow">Narrow: {{demogrid2.narrow ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demogrid2.iconAlign = 'start'">Icon Alignment - Start: {{demogrid2.iconAlign === 'start' ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demogrid2.iconAlign = 'end'">Icon Alignment - End: {{demogrid2.iconAlign === 'end' ? 'On' : 'Off'}}</button>
    </div>
    <mdc-grid-list #demogrid2>
      <mdc-grid-tile *ngFor="let tile of tiles">
        <mdc-grid-tile-primary>
          <img mdcGridTilePrimaryContent src="https://material-components-web.appspot.com/images/1-1.jpg"/>
        </mdc-grid-tile-primary>
        <mdc-grid-tile-secondary>
          <mdc-icon>{{tile.icon}}</mdc-icon>
          <mdc-grid-tile-title>{{tile.title}}</mdc-grid-tile-title>
          <mdc-grid-tile-support-text>{{tile.caption}}</mdc-grid-tile-support-text>
        </mdc-grid-tile-secondary>
      </mdc-grid-tile>
    </mdc-grid-list>
  </div>

  <div class="demo-content demo-content--column">
    <div class="demo-content--row">
      <button mdc-button (click)="demogrid3.header = !demogrid3.header">Header: {{demogrid3.header ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demogrid3.narrow = !demogrid3.narrow">Narrow: {{demogrid3.narrow ? 'On' : 'Off'}}</button>
    </div>
    <mdc-grid-list #demogrid3>
      <mdc-grid-tile *ngFor="let tile of tiles">
        <mdc-grid-tile-primary>
          <img mdcGridTilePrimaryContent src="https://material-components-web.appspot.com/images/1-1.jpg"/>
        </mdc-grid-tile-primary>
        <mdc-grid-tile-secondary>
          <mdc-grid-tile-title>{{tile.title}}</mdc-grid-tile-title>
        </mdc-grid-tile-secondary>
      </mdc-grid-tile>
    </mdc-grid-list>
  </div>
</div>
