<div class="docs-api">
  <h2 mdcHeadline6>Service</h2>
  <h3 mdcHeadline6>MdcIconRegistry</h3>
  Service to register and display icons used by the <code>&lt;mdc-icon&gt;</code> component.
  <ul>
    <li>Registers icon URLs by namespace and name.</li>
    <li>Registers icon set URLs by namespace.</li>
    <li>Registers aliases for CSS classes, for use with icon fonts.</li>
    <li>Loads icons from URLs and extracts individual icons from icon sets.</li>
  </ul>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>addSvgIcon()</td>
        <td>Registers an icon by URL in the default namespace.</td>
      </tr>
      <tr>
        <td>addSvgIconInNamespace()</td>
        <td>Registers an icon by URL in the specified namespace.</td>
      </tr>
      <tr>
        <td>addSvgIconLiteral()</td>
        <td>Registers an icon using an HTML string in the default namespace.</td>
      </tr>
      <tr>
        <td>addSvgIconLiteralInNamespace()</td>
        <td>Registers an icon using an HTML string in the specified namespace.</td>
      </tr>
      <tr>
        <td>addSvgIconSet()</td>
        <td>Registers an icon set by URL in the default namespace.</td>
      </tr>
      <tr>
        <td>addSvgIconSetInNamespace()</td>
        <td>Registers an icon set by URL in the specified namespace.</td>
      </tr>
      <tr>
        <td>addSvgIconSetLiteral()</td>
        <td>Registers an icon set using an HTML string in the default namespace.</td>
      </tr>
      <tr>
        <td>addSvgIconSetLiteralInNamespace()</td>
        <td>Registers an icon set using an HTML string in the specified namespace.</td>
      </tr>
      <tr>
        <td>classNameForFontAlias()</td>
        <td>Returns the CSS class name associated with the alias by a previous call to registerFontClassAlias. If no
          CSS class has been associated, returns the alias unmodified.</td>
      </tr>
      <tr>
        <td>getDefaultFontSetClass()</td>
        <td>Returns the CSS class name to be used for icon fonts when an <code>&lt;mdc-icon&gt;</code> component does
          not have a fontSet input value, and is not loading an icon by name or URL.</td>
      </tr>
      <tr>
        <td>getNamedSvgIcon()</td>
        <td>Returns an Observable that produces the icon (as an <code>&lt;svg&gt;</code> DOM element) with the given
          name and namespace. The icon must have been previously registered with addIcon or addIconSet; if not, the
          Observable will throw an error.</td>
      </tr>
      <tr>
        <td>getSvgIconFromUrl()</td>
        <td>Returns an Observable that produces the icon (as an <code>&lt;svg&gt;</code> DOM element) from the given
          URL. The response from the URL may be cached so this will not always cause an HTTP request, but the produced
          element will always be a new copy of the originally fetched icon. (That is, it will not contain any
          modifications made to elements previously returned).</td>
      </tr>
      <tr>
        <td>registerFontClassAlias()</td>
        <td>Defines an alias for a CSS class name to be used for icon fonts. Creating an mdcIcon component with the
          alias as the fontSet input will cause the class name to be applied to the <code>&lt;mdc-icon&gt;</code>
          element.</td>
      </tr>
      <tr>
        <td>setDefaultFontSetClass()</td>
        <td>Sets the CSS class name to be used for icon fonts when an <code>&lt;mdc-icon&gt;</code> component does not
          have a fontSet input value, and is not loading an icon by name or URL.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h2 mdcHeadline6>Directives</h2>
  <h3 mdcHeadline6>MdcIcon</h3>
  Component to display an icon. It can be used in the following ways:
  <ul>
    <li>
      <p>Specify the svgIcon input to load an SVG icon from a URL previously registered with the addSvgIcon,
        addSvgIconInNamespace, addSvgIconSet, or addSvgIconSetInNamespace methods of MdcIconRegistry. If the svgIcon
        value contains a colon it is assumed to be in the format "[namespace]:[name]", if not the value will be the
        name
        of an icon in the default namespace. Examples: <code>&lt;mdc-icon svgIcon="left-arrow"&gt;&lt;/mdc-icon&gt; &lt;mdc-icon svgIcon="animals:cat"&gt;&lt;/mdc-icon&gt;</code></p>
    </li>
    <li>
      <p>Use a font ligature as an icon by putting the ligature text in the content of the <code>&lt;mdc-icon&gt;</code>
        component. By default the Material icons font is used as described at <a href="http://google.github.io/material-design-icons/#icon-font-for-the-web">http://google.github.io/material-design-icons/#icon-font-for-the-web</a>.
        You can specify an alternate font by setting the fontSet input to either the CSS class to apply to use the
        desired font, or to an alias previously registered with MdcIconRegistry.registerFontClassAlias. Examples: <code>&lt;mdc-icon&gt;home&lt;/mdc-icon&gt; &lt;mdc-icon fontSet="myfont"&gt;sun&lt;/mdc-icon&gt;</code></p>
    </li>
    <li>
      <p>Specify a font glyph to be included via CSS rules by setting the fontSet input to specify the font, and the
        fontIcon input to specify the icon. Typically the fontIcon will specify a CSS class which causes the glyph to
        be
        displayed via a :before selector, as in <a href="https://fortawesome.github.io/Font-Awesome/examples/">https://fortawesome.github.io/Font-Awesome/examples/</a>
        Example: <code>&lt;mdc-icon fontSet="fa" fontIcon="alarm"&gt;&lt;/mdc-icon&gt;</code></p>
    </li>
  </ul>
  <p>
    Selector:
    <span class="markdown-code">mdc-icon</span>
    <span class="markdown-code">mdcIcon</span>
    <span class="markdown-code">a[mdc-icon]</span>
  </p>
  Exported as: <span class="markdown-code">mdcIcon</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>fontSet: string</td>
        <td>Font set that the icon is a part of.</td>
      </tr>
      <tr>
        <td>fontIcon: string</td>
        <td>Name of an icon within a font set.</td>
      </tr>
      <tr>
        <td>svgIcon: string</td>
        <td>Name of the icon in the SVG icon set.</td>
      </tr>
      <tr>
        <td>clickable: boolean</td>
        <td>Whether or not icon can be interacted with.</td>
      </tr>
      <tr>
        <td>inline: boolean</td>
        <td>Whether the icon should be inlined, automatically sizing the icon to match the font size of the element the icon is contained in.</td>
      </tr>
    </tbody>
  </table>
</div>