<div class="demo-page">
  <div class="markdown-body">
    <h1>Icons</h1>
    Material icons use geometric shapes to visually represent core ideas, capabilities, or topics.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/style/icons.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Icons</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code highlight="import { MdcIconModule } from '@angular-mdc/web';"></code></pre>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-icon</span>
        <span class="docs-api-class-selector-name">mdcIcon</span>
        <span class="docs-api-class-selector-name">a[mdc-icon]</span>
      </p>
      <h3>mdc-icon, a[mdcIcon], mdcIcon</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>fontSet: string</td>
            <td>Font set that the icon is a part of.</td>
          </tr>
          <tr>
            <td>fontIcon: string</td>
            <td>Name of an icon within a font set.</td>
          </tr>
          <tr>
            <td>svgIcon: string</td>
            <td>Name of the icon in the SVG icon set.</td>
          </tr>
          <tr>
            <td>clickable: boolean</td>
            <td>Whether or not icon can be interacted with.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    Example for an alternate icon color.
     <pre><![CDATA[
.demo-icon-custom-colors {
  $color: $material-color-orange-500;

  @include mdc-theme-prop(color, $color);
}]]></pre>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-icon"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Material icons (default)</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="alternateColors(demoicon)">Alternate Colors</button>
    </div>
    <mdc-icon #demoicon>home</mdc-icon>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Using Font Awesome</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="alternateColors(demofa)">Alternate Colors</button>
    </div>
    <mdc-icon #demofa fontSet="fa" fontIcon="fa-camera"></mdc-icon>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">SVG Icon</h3>
    <mdc-icon svgIcon="thumbup"></mdc-icon>
  </div>
</div>
