.mdc-list-item {
  &__start-detail.mdc-checkbox {
    height: $mdc-checkbox-size;
  }

  &__end-detail.mdc-checkbox {
    height: $mdc-checkbox-size;
  }
}

.mdc-list--border {
  border: 1px solid rgba(0, 0, 0, .1);
}
