<div class="demo-page">
  <div class="markdown-body">
    <h1>Buttons</h1>
    Buttons allow users to take actions, and make choices, with a single tap.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/design/components/buttons.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Buttons</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-button/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <p class="docs-api-module-import"><![CDATA[import { MdcButtonModule } from '@angular-mdc/web';]]></p>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">button[mdc-button]</span>
        <span class="docs-api-class-selector-name">a[mdc-button]</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>primary: boolean</td>
            <td>Colors the button with the primary theme color.</td>
          </tr>
          <tr>
            <td>secondary: boolean</td>
            <td>Colors the button with the secondary theme color.</td>
          </tr>
          <tr>
            <td>dense: boolean</td>
            <td>Compresses the button text to make it slightly smaller.</td>
          </tr>
          <tr>
            <td>raised: boolean</td>
            <td>A contained button that is elevated upon the surface.</td>
          </tr>
          <tr>
            <td>unelevated: boolean</td>
            <td>A contained button that is flush with the surface.</td>
          </tr>
          <tr>
            <td>outlined: boolean</td>
            <td>A contained button that is flush with the surface and has a visible border.</td>
          </tr>
          <tr>
            <td>disabled: boolean</td>
            <td>Disables the button.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>focus()</td>
            <td>Focuses the button.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize the colors of any part of the button, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-button#advanced-sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-buttons"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <div class="demo-layout__row">
      <button mdc-button (click)="demobutton.primary = !demobutton.primary">Primary: {{demobutton.primary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demobutton.secondary = !demobutton.secondary">Secondary: {{demobutton.secondary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demobutton.dense = !demobutton.dense">Dense: {{demobutton.dense ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demobutton.raised = !demobutton.raised">Raised: {{demobutton.raised ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demobutton.unelevated = !demobutton.unelevated">Unelevated: {{demobutton.unelevated ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demobutton.outlined = !demobutton.outlined">Outlined: {{demobutton.outlined ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demobutton.disabled = !demobutton.disabled">Disabled: {{demobutton.disabled ? 'On' : 'Off'}}</button>
    </div>
    <button mdc-button #demobutton outlined>My Button</button>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">SVG Icon</h3>
    <button mdc-button raised>
      <mdc-icon>
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000">
          <path fill="none" d="M0 0h24v24H0z"/>
          <path d="M23 12c0-6.07-4.93-11-11-11S1 5.93 1 12s4.93 11 11 11 11-4.93 11-11zM5 17.64C3.75 16.1 3 14.14 3 12c0-2.13.76-4.08 2-5.63v11.27zM17.64 5H6.36C7.9 3.75 9.86 3 12 3s4.1.75 5.64 2zM12 14.53L8.24 7h7.53L12 14.53zM17 9v8h-4l4-8zm-6 8H7V9l4 8zm6.64 2c-1.55 1.25-3.51 2-5.64 2s-4.1-.75-5.64-2h11.28zM21 12c0 2.14-.75 4.1-2 5.64V6.37c1.24 1.55 2 3.5 2 5.63z"/>
        </svg>
      </mdc-icon>
      SVG Icon
    </button>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Different Color Icons/Ink</h3>
    <div class="demo-layout__row">
      <button mdc-button unelevated class="demo-button-ink-color">
        <mdc-icon>favorite</mdc-icon>
        Ink Color
      </button>
      <button mdc-button outlined class="demo-button-icon-color">
        <mdc-icon>favorite</mdc-icon>
        Icon Color
      </button>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Custom button (Experimental)</h3>
    <div class="demo-layout__row">
      <button mdc-button unelevated class="big-round-shape-button">
        Corner Radius
      </button>
      <button mdc-button outlined class="thick-stroke-button">
        Thick Stroke Width
      </button>
    </div>
  </div>

  <div class="demo-content">
    <div class="demo-layout__row">
      <button mdc-button primary raised>Primary and Raised</button>
      <button mdc-button secondary>Secondary Color</button>
    </div>

    <div class="demo-layout__row">
      <button mdc-button><mdc-icon #demoicon1>favorite</mdc-icon>Icon</button>
      <button mdc-button secondary raised><mdc-icon>favorite</mdc-icon>Icon</button>
    </div>

    <div class="demo-layout__row">
      <button mdc-button unelevated>Unelevated</button>
      <button mdc-button outlined>Outlined</button>
      <a mdc-button primary raised href="#/button-demo">Href link</a>
    </div>

    <div class="demo-layout__row">
      <button mdc-button raised>Raised</button>
      <button mdc-button dense raised>Dense and Raised</button>
      <button mdc-button primary raised disabled>Disabled</button>
    </div>
  </div>
</div>
