<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Toolbars</h1>
  <p mdc-typography-subheading2>MDC Toolbar acts as a container for multiple rows containing items such as application title, navigation menu, and tabs, among other things. Toolbars scroll with content by default, but supports fixed behavior as well.</p>
  <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-toolbar">Google Material Components documentation</a>
  <h1 mdc-typography-headline>Usage</h1>
  <div>
    <pre class="prettyprint"><![CDATA[import { ToolbarModule } from '@angular-mdc/web';]]></pre>
  </div>
  <h1 mdc-typography-headline>Directives</h1>
  <div>
    <pre class="prettyprint">mdc-toolbar-row</pre>
    <pre class="prettyprint">mdc-toolbar-section</pre>
    <pre class="prettyprint">mdc-toolbar-title</pre>
    <pre class="prettyprint">mdc-toolbar-fixed-adjust</pre>
  </div>
  <div fxLayout="column">
    <h1 mdc-typography-headline>API reference</h1>
    <table>
      <thead>
        <tr>
          <th>Attribute</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre class="prettyprint">@Input() fixed: boolean</pre></td>
          <td>Makes toolbar fixed on top and have persistent elavation.</td>
        </tr>
        <tr>
          <td><pre class="prettyprint">@Input() waterfall: boolean</pre></td>
          <td>Removes fixed toolbar persistent elavation; gaining elevation scrolling down the page.</td>
        </tr>
        <tr>
          <td><pre class="prettyprint">@Input() flexible: boolean</pre></td>
          <td>Makes toolbar first row has flexible space.</td>
        </tr>
        <tr>
          <td><pre class="prettyprint">@Input() flexibleTitle: boolean</pre></td>
          <td>Toolbar text has flexible movement.</td>
        </tr>
        <tr>
          <td><pre class="prettyprint">@Input() fixedLastrow: boolean</pre></td>
          <td>Makes only last row of fixed toolbar anchored on top.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Event</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre class="prettyprint">@Output() change <![CDATA[{flexibleExpansionRatio: number})]]></pre>
            <td>Emits the ratio of current flexible space to total flexible space height.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h1 mdc-typography-headline>Examples</h1>
  <div fxLayout="column" class="mdc-padding">
    <div fxFlexAlign="start">
      <mdc-toolbar [flexible]="false" [fixed]="false" [waterfall]="false" [fixedLastrow]="false" [flexibleTitle]="true">
        <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true">
            <a href="#" class="material-icons mdc-toolbar__icon--menu" aria-label="menu">menu</a>
            <span mdc-toolbar-title>Toolbar Title</span>
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true">
            <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Download">file_download</a>
            <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Print this page">print</a>
            <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Bookmark this page">bookmark</a>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
      <pre class="prettyprint">
&lt;mdc-toolbar 
  [flexible]="false"
  [fixed]="false"
  [waterfall]="false"
  [fixedLastrow]="false"
  [flexibleTitle]="true"&gt;
  &lt;mdc-toolbar-row&gt;
    &lt;mdc-toolbar-section [alignStart]="true"&gt;
      &lt;a href="#" class="material-icons mdc-toolbar__icon--menu"&gt;menu&lt;/a&gt;
      &lt;mdc-toolbar-title&gt;Title&lt;/mdc-toolbar-title&gt;
    &lt;/mdc-toolbar-section&gt;
    &lt;mdc-toolbar-section [alignEnd]="true"&gt;
      &lt;a href="#" class="material-icons mdc-toolbar__icon" alt="Download"&gt;file_download&lt;/a&gt;
      &lt;a href="#" class="material-icons mdc-toolbar__icon" alt="Print page"&gt;print&lt;/a&gt;
      &lt;a href="#" class="material-icons mdc-toolbar__icon" alt="Bookmark page"&gt;bookmark&lt;/a&gt;
    &lt;/mdc-toolbar-section&gt;
  &lt;/mdc-toolbar-row&gt;
&lt;/mdc-toolbar&gt;
&lt;main mdc-toolbar-fixed-adjust&gt;
  &lt;p&gt;
    All your page content here will have a default margin-top by using the mdc-toolbar-fixed-adjust directive.
  &lt;/p&gt;
&lt;/main&gt;
        </pre>
    </div>
  </div>
</div>
