<div fxLayout="column" class="mdc-padding">
  <div fxFlexAlign="start">
    <mdc-toolbar 
      [flexible]="true"
      [fixed]="false"
      [waterfall]="false"
      [fixedLastrow]="false"
      [flexibleTitle]="true">
      <mdc-toolbar-row>
        <mdc-toolbar-section [alignStart]="true">
          <i class="material-icons">menu</i>
          <span mdc-toolbar-title>Title</span>
        </mdc-toolbar-section>
        <mdc-toolbar-section [alignEnd]="true">
          <i href="#" class="material-icons" aria-label="Download">file_download</i>
          <i href="#" class="material-icons" aria-label="Print this page">print</i>
          <i href="#" class="material-icons" aria-label="Bookmark this page">bookmark</i>
        </mdc-toolbar-section>
      </mdc-toolbar-row>
    </mdc-toolbar>
   </div>
</div>
