<div class="demo-content">
  <h3 class="demo-content__headline">Text Field - Fluid</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="demoFluid.fluid = !demoFluid.fluid">Fluid: {{demoFluid.fluid ? 'On' :
      'Off'}}</button>
  </div>
  <mdc-form-field #demoFluid fluid>
    <mdc-text-field label="First name" outlined></mdc-text-field>
  </mdc-form-field>

  <example-viewer [example]="exampleFluid"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Checkbox</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="demofield.alignEnd = !demofield.alignEnd">Align End: {{demofield.alignEnd ? 'On' :
      'Off'}}</button>
  </div>

  <mdc-form-field #demofield>
    <mdc-checkbox></mdc-checkbox>
    <label>Checkbox</label>
  </mdc-form-field>
  <example-viewer [example]="example2"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Radio</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="formfieldradio.alignEnd = !formfieldradio.alignEnd">Align End:
      {{formfieldradio.alignEnd ? 'On' : 'Off'}}</button>
  </div>
  <mdc-form-field #formfieldradio>
    <mdc-radio #demoradio1></mdc-radio>
    <label>Radio</label>
  </mdc-form-field>
  <example-viewer [example]="example3"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Switch</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="demoformswitch.alignEnd = !demoformswitch.alignEnd">Align End:
      {{demoformswitch.alignEnd ? 'On' : 'Off'}}</button>
  </div>
  <mdc-form-field #demoformswitch>
    <mdc-switch></mdc-switch>
    <label>off/on</label>
  </mdc-form-field>
  <example-viewer [example]="example4"></example-viewer>
</div>