//
// Top App Bar
//

.demo-top-app-bar {
  @include mdc-top-app-bar-fill-color($color-rally);
}

.demo-app-bar-control-container {
  @include mdc-elevation(4);

  position: fixed;
  bottom: 0;
  right: 0;
  background-color: $color-white;
  padding: 10px;
  display: none;
}
