.demo-landing {
  @include mdc-theme-prop(color, $color-white);
  @include mdc-theme-prop(background-color, $color-rally);

  height: 40vh;

  &__title {
    @include mdc-typography(headline2);

    margin-top: 20px;
    margin-bottom: 0;

    @media (max-width: 699px) {
      font-size: 8vw;
    }
  }

  &__label {
    @include mdc-typography(headline4);

    margin-top: 20px;
    margin-bottom: 0;

    @media (max-width: 699px) {
      font-size: 6vw;
      margin: 0;
    }
  }

  &__subtitle {
    @include mdc-typography(body1);
    @include mdc-theme-prop(color, text-secondary-on-background);

    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__version {
    @include mdc-typography(caption);

    margin: 8px;
  }
}

//
// Demo page
//

.demo-page {
  padding-left: 10px;
  padding-bottom: 45px;
  max-width: calc(70% - 17rem);

  @media (max-width: 1239px) {
    max-width: calc(100% - 1rem);
  }
}

.demo-content {
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .75rem;
  margin: 1.5rem;
  padding: 1rem;

  &__headline {
    @include mdc-typography(headline6);

    margin-top: .1em;
    margin-bottom: .3em;
  }
}

.demo-top-app-bar {
  @include mdc-top-app-bar-fill-color($color-rally);

  // only apply this style if below top app bar
  z-index: 7;
}

.demo-drawer {
  position: fixed;

  .mdc-list-item {
    cursor: pointer;
  }
}
