.demo-landing {
  @include mdc-theme-prop(color, $color-white);
  @include mdc-theme-prop(background-color, $color-rally);

  @media (min-width: 1240px) {
    @include mdc-rtl-reflexive-box(margin, left, $mdc-drawer-width);
  }

  height: 40vh;

  &__title {
    @include mdc-typography(headline2);

    margin-top: 20px;
    margin-bottom: 0;

    @media (max-width: 699px) {
      font-size: 8vw;
    }
  }

  &__label {
    @include mdc-typography(headline4);

    margin-top: 20px;
    margin-bottom: 0;

    @media (max-width: 699px) {
      font-size: 6vw;
      margin: 0;
    }
  }

  &__secondary {
    @media (min-width: 1240px) {
      @include mdc-rtl-reflexive-box(margin, left, $mdc-drawer-width);
    }
  }

  &__subtitle {
    @include mdc-typography(body1);
    @include mdc-theme-prop(color, text-secondary-on-background);

    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__version {
    @include mdc-typography(caption);

    margin: 8px;
  }
}

//
// Demo mdc-drawer
//

.demo-drawer--fixed {
  position: fixed;
  height: 100vh;
  overflow-y: auto;

  .mdc-list-item {
    cursor: pointer;
  }
}

//
// Demo page
//

.demo-page {
  max-width: 1000px;
  padding-bottom: 45px;

  @media (min-width: 1240px) {
    @include mdc-rtl-reflexive-box(margin, left, $mdc-drawer-width);
    padding-left: 20px;
  }

  @media (max-width: 1239px) {
    padding-left: 20px;
  }
}

//
// Demo content
//

.demo-content {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 15px;
  margin: 15px 15px 15px 0;

  &__headline {
    @include mdc-typography(headline6);

    margin-top: .1em;
    margin-bottom: .3em;
  }
}
