//
// Row
//

.demo-layout__row {
  display: flex;
  flex-flow: row wrap;
}

.demo-layout__row > * {
  margin-right: 24px;
  margin-top: 12px;
}

.demo-layout__row--no-wrap {
  display: flex;
  flex-direction: row;
}

//
// Column
//

.demo-layout__column {
  display: flex;
  flex-direction: column;
}

//
// Modifiers
//

.demo-layout--start {
  align-self: flex-start;
}

.demo-layout--end {
  align-self: flex-end;
}

.demo-layout--center {
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
}
