<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-switch-toggled-on-color($color)</code></td>
        <td>Sets the base color of the track, thumb, and ripple when the switch is toggled on.</td>
      </tr>
      <tr>
        <td><code>mdc-switch-toggled-off-color($color)</code></td>
        <td>Sets the base color of the track, thumb, and ripple when the switch is toggled off.</td>
      </tr>
      <tr>
        <td><code>mdc-switch-toggled-on-track-color($color)</code></td>
        <td>Sets color of the track when the switch is toggled on.</td>
      </tr>
      <tr>
        <td><code>mdc-switch-toggled-off-track-color($color)</code></td>
        <td>Sets color of the track when the switch is toggled off.</td>
      </tr>
      <tr>
        <td><code>mdc-switch-toggled-on-thumb-color($color)</code></td>
        <td>Sets color of the thumb when the switch is toggled on.</td>
      </tr>
      <tr>
        <td><code>mdc-switch-toggled-off-thumb-color($color)</code></td>
        <td>Sets color of the thumb when the switch is toggled off.</td>
      </tr>
      <tr>
        <td><code>mdc-switch-toggled-on-ripple-color($color)</code></td>
        <td>Sets the color of the ripple surrounding the thumb when the switch is toggled on.</td>
      </tr>
      <tr>
        <td><code>mdc-switch-toggled-off-ripple-color($color)</code></td>
        <td>Sets the color of the ripple surrounding the thumb when the switch is toggled off.</td>
      </tr>
    </tbody>
  </table>
</div>