<div class="docs-api">
  <h4 mdcSubtitle2>Tab Bar - Sass Mixins</h4>
  <p>
    To customize the width of the tab bar, use the following mixin.
  </p>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>width($width)</code></td>
        <td>Customizes the width of the tab bar.</td>
      </tr>
      <tr>
        <td><code>density($density-scale)</code></td>
        <td>Sets density scale to default tab bar variant. Use
          <code>stacked-density</code> mixin for stacked variant. Supported
          density scales <code>-4</code>, <code>-3</code>, <code>-2</code>,
          <code>-1</code> and <code>0</code>.</td>
      </tr>
      <tr>
        <td><code>stacked-density($density-scale)</code></td>
        <td>Sets density scale to stacked tab bar variant. Supported density
          scales <code>-4</code>, <code>-3</code>, <code>-2</code>,
          <code>-1</code> and <code>0</code>.</td>
      </tr>
      <tr>
        <td><code>tab-scroller-transition($duration-ms, $timing-function)</code>
        </td>
        <td>Sets the CSS transition for the tab scrolling animation. This mixin
          is a proxy to <code>mdc-tab-scroller-transition</code> mixin.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h4 mdcSubtitle2>Tab - Sass Mixins</h4>
  <p>
    To customize the width of the tab, use the following mixin.
  </p>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>text-label-color($color)</code></td>
        <td>Customizes the color of the tab text label.</td>
      </tr>
      <tr>
        <td><code>icon-color($color)</code></td>
        <td>Customizes the color of the tab icon.</td>
      </tr>
      <tr>
        <td><code>states-color($color)</code></td>
        <td>Customizes the base states color, which affects hover/focus states
          and the press ripple.</td>
      </tr>
      <tr>
        <td><code>ink-color($color)</code></td>
        <td>Customizes the text label, icon, and base states color.</td>
      </tr>
      <tr>
        <td><code>active-text-label-color($color)</code></td>
        <td>Customizes the color of the active tab's text label.</td>
      </tr>
      <tr>
        <td><code>active-icon-color($color)</code></td>
        <td>Customizes the color of the active tab's icon.</td>
      </tr>
      <tr>
        <td><code>active-states-color($color)</code></td>
        <td>Customizes the color of the active tab's states.</td>
      </tr>
      <tr>
        <td><code>parent-positioning</code></td>
        <td>Sets the positioning of the MDCTab's parent element so that
          <code>MDCTab.computeDimensions()</code> reports the same values in all
          browsers.</td>
      </tr>
      <tr>
        <td><code>fixed-width($width)</code></td>
        <td>Sets the fixed width of the tab. The tab will never be smaller than
          the given width.</td>
      </tr>
      <tr>
        <td><code>horizontal-padding($padding)</code></td>
        <td>Sets the horizontal padding of the tab.</td>
      </tr>
      <tr>
        <td><code>height($height)</code></td>
        <td>Sets custom height to tab bar.</td>
      </tr>
      <tr>
        <td><code>text-transform($transform)</code></td>
        <td>Sets tab <code>text-transform</code> property</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h4 mdcSubtitle2>Tab Scroller - Sass Mixins</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>transition($duration-ms, $timing-function)</code></td>
        <td>Sets the scroll animation duration and, optionally, the timing
          function.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h4 mdcSubtitle2>Tab Indicator - Sass Mixins</h4>
  <p>
    To customize the width of the tab indicator, use the following mixin.
  </p>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>surface</code></td>
        <td>Mandatory. Must be applied to the parent element of the
          <code>mdc-tab-indicator</code>.</td>
      </tr>
      <tr>
        <td><code>underline-color($color)</code></td>
        <td>Customizes the color of the underline.</td>
      </tr>
      <tr>
        <td><code>icon-color($color)</code></td>
        <td>Customizes the color of the icon subelement.</td>
      </tr>
      <tr>
        <td><code>underline-height($height)</code></td>
        <td>Customizes the height of the underline.</td>
      </tr>
      <tr>
        <td><code>icon-height($height)</code></td>
        <td>Customizes the height of the icon subelement.</td>
      </tr>
      <tr>
        <td><code>underline-top-corner-radius($radius)</code></td>
        <td>Customizes the top left and top right border radius of the underline
          child element.</td>
      </tr>
    </tbody>
  </table>
</div>