<div class="demo-content">
  <div class="demo-layout__row">
    <mdc-form-field>
      <mdc-checkbox #disabled></mdc-checkbox>
      <label>Disable ripple</label>
    </mdc-form-field>
  </div>

  <div #rippleExample mdcRipple [attachTo]="demodiv"
    [disabled]="disabled.checked">
    <div style="height: 200px; width: 100%;" class="demo-layout--center"
      #demodiv>
      Click me
    </div>
  </div>
  <example-viewer [example]="exampleRipple"></example-viewer>
</div>

<div class="demo-content">
  <div mdcRipple [attachTo]="demoPrimary" primary>
    <div style="height: 200px; width: 100%;" class="demo-layout--center"
      #demoPrimary>
      Primary Color
    </div>
  </div>
  <example-viewer [example]="examplePrimary"></example-viewer>
</div>

<div class="demo-content">
  <div mdcRipple [attachTo]="demoSecondary" secondary>
    <div style="height: 200px; width: 100%;" class="demo-layout--center"
      #demoSecondary>
      Secondary Color
    </div>
  </div>
  <example-viewer [example]="exampleSecondary"></example-viewer>
</div>