<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-menu-width($width)</code></td>
        <td>Used to set the <code>width</code> of the menu. When used without units (e.g. <code>4</code> or <code>5</code>)
          it computes the <code>width</code> by multiplying by the base width (<code>56px</code>). When used with units
          (e.g. <code>240px</code>, <code>15%</code>, or <code>calc(200px + 10px)</code> it sets the <code>width</code>
          to the exact value provided.</td>
      </tr>
    </tbody>
  </table>
  <p>See <a mdc-button href="/#/menu-surface-demo/sass">Menu Surface</a> and <a mdc-button href="/#/list-demo/sass">List</a>
    documentation for additional style customization options.</p>
</div>