<div class="demo-content">
  <h3 class="demo-content__headline">Alert</h3>
  <button mdc-button (click)="openAlert()">Open Alert</button>
  <example-viewer [example]="exampleAlert"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Simple</h3>
  <button mdc-button (click)="openSimple()">Open Simple</button>
  <example-viewer [example]="exampleSimple"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Confirmation</h3>
  <button mdc-button (click)="openConfirmation()">Open Confirmation</button>
  <example-viewer [example]="exampleConfirmation"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Scrollable</h3>
  <button mdc-button (click)="openScrollable()">Open Scrollable</button>
  <example-viewer [example]="exampleScrollable"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Form</h3>
  <button mdc-button (click)="openForm()">Open Form</button>
  <example-viewer [example]="exampleDialogForm"></example-viewer>
</div>