<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-dialog-container-fill-color($color)</code></td>
        <td>Sets the fill color of the dialog.</td>
      </tr>
      <tr>
        <td><code>mdc-dialog-scrim-color($color, $opacity)</code></td>
        <td>Sets the color of the scrim behind the dialog.</td>
      </tr>
      <tr>
        <td><code>mdc-dialog-title-ink-color($color, $opacity)</code></td>
        <td>Sets the color of the dialog's title text.</td>
      </tr>
      <tr>
        <td><code>mdc-dialog-content-ink-color($color, $opacity)</code></td>
        <td>Sets the color of the dialog's content text.</td>
      </tr>
      <tr>
        <td><code>mdc-dialog-scroll-divider-color($color, $opacity)</code></td>
        <td>Sets the color of the dividers which display around scrollable content.</td>
      </tr>
      <tr>
        <td><code>mdc-dialog-shape-radius($radius, $rtl-reflexive)</code></td>
        <td>Sets the rounded shape to dialog surface with given radius size. Set <code>$rtl-reflexive</code> to true to
          flip radius values in RTL context, defaults to false.</td>
      </tr>
      <tr>
        <td><code>mdc-dialog-min-width($min-width)</code></td>
        <td>Sets the minimum width of the dialog (defaults to 280px).</td>
      </tr>
      <tr>
        <td><code>mdc-dialog-max-width($max-width, $margin)</code></td>
        <td>Sets the maximum width of the dialog (defaults to 560px max width and 16px margins).</td>
      </tr>
      <tr>
        <td><code>mdc-dialog-max-height($max-height, $margin)</code></td>
        <td>Sets the maximum height of the dialog (defaults to no max height and 16px margins).</td>
      </tr>
    </tbody>
  </table>
</div>