<div class="demo-content">
  <h3 class="demo-content__headline">Configuring Dialog via
    entryComponents</h3>
  <p mdcBody2>Because <code class="docs-markdown-code">MdcDialog</code>
    instantiates components at run-time, the
    Angular compiler needs extra information to create the necessary
    ComponentFactory for your dialog content component.</p>
  <p mdcBody2>For any component loaded into a dialog, you must include your
    component
    class in the list of <code class="docs-markdown-code">entryComponents</code>
    in your NgModule definition so that
    the Angular compiler knows to create the ComponentFactory.</p>
  <pre><code highlight="@NgModule({
  imports: [
    // ...
    MdcDialogModule
  ],
  declarations: [
    AppComponent,
    ExampleDialogComponent
  ],
  entryComponents: [
    ExampleDialogComponent
  ],
  bootstrap: [AppComponent]
})
export class AppModule {}"></code></pre>

  <h3 class="demo-content__headline">Usage</h3>
  A dialog is opened by calling the <code class="docs-markdown-code">open</code>
  method with a component to be loaded
  and an optional config object. The <code
    class="docs-markdown-code">open</code> method will return an instance of
  <code class="docs-markdown-code">MdcDialogRef</code>:

  <pre><code highlight="let dialogRef = dialog.open(UserProfileComponent, {
  clickOutsideToClose: true,
  escapeToClose: true,
});"></code></pre>

  The <code class="docs-markdown-code">MdcDialogRef</code> provides a handle on
  the opened dialog. It can be used to
  close the dialog and to receive notification when the dialog has been closed.

  <pre><code highlight="dialogRef.afterClosed().subscribe(result => {
  console.log(`Dialog result: ${result}`);
});

dialogRef.close('Pizza!');"></code></pre>

  <p>Components created via <code class="docs-markdown-code">MdcDialog</code>
    can inject <code class="docs-markdown-code">MdcDialogRef</code>
    and use it to close the dialog in which they are contained. When closing, an
    optional result value can be
    provided. This result value is forwarded as the result of the <code
      class="docs-markdown-code">afterClosed</code>
    promise.</p>

  <pre><code highlight="@Component({/* ... */})
export class YourDialog {
  constructor(
    dialogRef: MdcDialogRef<YourDialog>) { }

  closeDialog() {
    this.dialogRef.close('Pizza!');
  }
}"></code></pre>

<h3 class="demo-content__headline">Focus Management</h3>
<p>By default, the first tabbable element within the dialog will receive focus upon open. 
  This can be configured by setting the <code class="docs-markdown-code">cdkFocusInitial</code> attribute on another focusable element.</p>

<p>Tabbing through the elements of the dialog will keep focus inside of the dialog element, 
  wrapping back to the first tabbable element when reaching the end of the tab sequence.</p>

<pre><code highlight='<mdc-dialog-actions>
  <button mdcDialogButton mdcDialogAction="close">Decline</button>
  <button mdcDialogButton mdcDialogAction="accept" cdkFocusInitial>Accept</button>
</mdc-dialog-actions>'></code></pre>

<a mdc-button href="https://material.angular.io/cdk/a11y/overview#example" target="_blank" rel="noopener">Focus Trap - Read more</a>

  <h3 class="demo-content__headline">Sharing data with the Dialog component</h3>
  If you want to share data with your dialog, you can use the <code
    class="docs-markdown-code">data</code> option to
  pass information to the dialog component.

  <pre><code highlight="let dialogRef = dialog.open(YourDialog, {
  data: {name: this.name, animal: this.animal}
});"></code></pre>

  To access the data in your dialog component.

  <pre><code highlight="import { Component, Inject } from '@angular/core';
import {
  MdcDialogRef,
  MDC_DIALOG_DATA
} from '@angular-mdc/web';

@Component({
  // ...
})
export class YourDialog {
  constructor(
    public dialogRef: MdcDialogRef<YourDialog>,
    @Inject(MDC_DIALOG_DATA) public data: DialogData) {
    userName: string = data.name;
  }
}"></code></pre>
</div>