<div class="docs-api">
  <h3 mdcHeadline6>MdcLinearProgress</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-linear-progress</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcLinearProgress</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>open: boolean</td>
        <td>Set the linear progress indicator to an opened or closed state.</td>
      </tr>
      <tr>
        <td>determinate: boolean</td>
        <td>Puts the linear progress indicator in an determinate or indeterminate state.</td>
      </tr>
      <tr>
        <td>reversed: boolean</td>
        <td>Reverses the direction of the linear progress indicator.</td>
      </tr>
      <tr>
        <td>secondary: boolean</td>
        <td>Colors the button with the secondary theme color.</td>
      </tr>
      <tr>
        <td>progress: number</td>
        <td>Sets the progress bar to this value. Value should be between [0, 1].</td>
      </tr>
      <tr>
        <td>buffer: number</td>
        <td>Sets the buffer bar to this value. Value should be between [0, 1].</td>
      </tr>
    </tbody>
  </table>
</div>