<div class="docs-api">
  <h3 mdcHeadline6>MdcFormField</h3>
  <p>
    Selector:
    <span class="markdown-code">mdc-form-field</span>
  </p>
  Exported as: <span class="markdown-code">mdcFormField</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>fluid: boolean</td>
        <td>Width expands and contracts as the screen size changes.</td>
      </tr>
      <tr>
        <td>alignEnd: boolean</td>
        <td>Position the input after the label.</td>
      </tr>
    </tbody>
  </table>
</div>