<div class="docs-api">
  <h3 mdcHeadline6>MdcTabBar</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-tab-bar</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTabBar</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>stacked: boolean</td>
        <td>Indicates that the tab icon and label should flow vertically instead of horizontally.</td>
      </tr>
      <tr>
        <td>fixed: boolean</td>
        <td>Indicates that the tab should shrink in size to be as narrow as possible without causing text to wrap.</td>
      </tr>
      <tr>
        <td>fade: boolean</td>
        <td>Sets up the tab indicator to fade in on activation and fade out on deactivation. Default is false.</td>
      </tr>
      <tr>
        <td>activeTabIndex: number</td>
        <td>Set the active tab by index. (Default is 0). Set to -1 for no initially selected tab.</td>
      </tr>
      <tr>
        <td>iconIndicator: string</td>
        <td>A material icon to display in the center of the tab.</td>
      </tr>
      <tr>
        <td>useAutomaticActivation: boolean</td>
        <td>If true, permits using movement keys to switch tabs.</td>
      </tr>
      <tr>
        <td>focusOnActivate: boolean</td>
        <td>Sets whether the tab should focus itself when activated. Defaults to true.</td>
      </tr>
      <tr>
        <td>align: string</td>
        <td>Sets the elements inside the scroll content element to be aligned to the start, center or end of the scroll
          content element.
          <p>Valid values: 'start' | 'center' | 'end' * Only for Fixed Tabs.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>activateTab(index: number)</td>
        <td>Activates the Tab at the given index.</td>
      </tr>
      <tr>
        <td>scrollIntoView(index: number)</td>
        <td>Scrolls the Tab at the given index into view.</td>
      </tr>
      <tr>
        <td>getActiveTabIndex(): number</td>
        <td>Returns the index of the active Tab.</td>
      </tr>
      <tr>
        <td>getActiveTab(): MdcTab | undefined</td>
        <td>Returns the MdcTab that is active.</td>
      </tr>
      <tr>
        <td>getTabIndex(tab: MdcTab): number</td>
        <td>Returns the MdcTab index for given tab.</td>
      </tr>
      <tr>
        <td>disableTab(index: number, disabled: boolean)</td>
        <td>Control whether or not the tab is in a disable state.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Events</h4>
  <table>
    <tbody>
      <tr>
        <td>activated: (source: MdcTabBar, index: number, tab: MdcTab)</td>
        <td>Emitted when a tab is activated.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTabBarScroller</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-tab-scroller</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTabBarScroller</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>scrollTo(scrollX: number)</td>
        <td>Scrolls to the scrollX value.</td>
      </tr>
      <tr>
        <td>incrementScroll(scrollXIncrement: number)</td>
        <td>Increments the current scroll value by the scrollX value.</td>
      </tr>
      <tr>
        <td>getScrollPosition(): number</td>
        <td>Returns the current visual scroll position.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTab</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-tab</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTab</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>id: string</td>
        <td>Unique id of the tab (auto generated if not supplied).</td>
      </tr>
      <tr>
        <td>label: string</td>
        <td>Optional. Adds a label in the tab.</td>
      </tr>
      <tr>
        <td>icon: string</td>
        <td>Optional. Indicates a leading icon in the tab.</td>
      </tr>
      <tr>
        <td>disabled: boolean</td>
        <td>Optional. Control the disabled state of the tab.</td>
      </tr>
      <tr>
        <td>stacked: boolean</td>
        <td>Indicates that the tab icon and label should flow vertically instead of horizontally.</td>
      </tr>
      <tr>
        <td>fixed: boolean</td>
        <td>Indicates that the tab should shrink in size to be as narrow as possible without causing text to wrap.</td>
      </tr>
      <tr>
        <td>focusOnActivate: boolean</td>
        <td>Sets whether the tab should focus itself when activated. Defaults to true.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>getTabBarParent(): MdcTabBarParentComponent</td>
        <td>Interface for communicating with ancestor MdcTabBar.</td>
      </tr>
      <tr>
        <td>focus(): void</td>
        <td>Sets focus to the tab.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Events</h4>
  <table>
    <tbody>
      <tr>
        <td>interacted: (detail: MdcTab)</td>
        <td>Emitted when a tab is interacted with.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTabLabel</h3>
  Optional. Allows customizing a label in the tab.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-tab-label</span>
    <span class="docs-api-class-selector-name">mdcTabLabel</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTabLabel</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTabIcon</h3>
  Optional. Allows customizing a leading icon in the tab.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-icon[mdcTabIcon]</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTabIcon</span>
</div>