<div class="demo-content">
  <h3 class="demo-content__headline">Dynamic Tabs</h3>
  <div class="demo-layout__row">
    <button mdc-button primary (click)="addTab()">Add Tab</button>
    <button mdc-button (click)="exampleDynamic.useAutomaticActivation = !exampleDynamic.useAutomaticActivation">Automatic
      Activation: {{exampleDynamic.useAutomaticActivation ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="exampleDynamic.activateTab(2)">Activate Tab(3)</button>
    <button mdc-button (click)="exampleDynamic.disableTab(1, true)">Disable Tab(2)</button>
  </div>
  <mdc-tab-bar #exampleDynamic (activated)="logTab($event)" [activeTabIndex]="1" useAutomaticActivation
    [focusOnActivate]="false">
    <mdc-tab-scroller>
      <mdc-tab *ngFor="let tab of tabs" [label]="tab.label" [icon]="tab.icon"></mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <p>Activated tab: {{ exampleDynamic.activeTabIndex }}</p>
  <example-viewer [example]="example1"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Tabs (no initial selection)</h3>
  <mdc-tab-bar #demoTabNoIndex [activeTabIndex]="-1" [focusOnActivate]="false">
    <mdc-tab-scroller>
      <mdc-tab *ngFor="let tab of tabs" [label]="tab.label"></mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <p>Activated tab: {{ demoTabNoIndex.activeTabIndex }}</p>
  <example-viewer [example]="example2"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Tabs with icons next to label</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="demoTabBarDefault.fade = !demoTabBarDefault.fade">Fade: {{demoTabBarDefault.fade ? 'On'
      : 'Off'}}</button>
  </div>
  <mdc-tab-bar #demoTabBarDefault [focusOnActivate]="false">
    <mdc-tab-scroller>
      <mdc-tab>
        <mdc-icon mdcTabIcon>favorite</mdc-icon>
        <mdc-tab-label>Favorites</mdc-tab-label>
      </mdc-tab>
      <mdc-tab label="Flights" icon="airplanemode_active"></mdc-tab>
      <mdc-tab label="Hotel" icon="hotel"></mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <example-viewer [example]="example3"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Tabs with stacked label and icon</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="demoStackedTabBar.fade = !demoStackedTabBar.fade">Fade: {{demoStackedTabBar.fade ? 'On'
      : 'Off'}}</button>
  </div>
  <mdc-tab-bar #demoStackedTabBar stacked [focusOnActivate]="false">
    <mdc-tab-scroller>
      <mdc-tab *ngFor="let tab of tabs" [label]="tab.label" [icon]="tab.icon"></mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <example-viewer [example]="example4"></example-viewer>
</div>

<div class="demo-content">
    <h3 class="demo-content__headline">Tabs with indicator fading</h3>
    <mdc-tab-bar fade [focusOnActivate]="false">
      <mdc-tab-scroller>
        <mdc-tab *ngFor="let tab of tabs" [label]="tab.label" [icon]="tab.icon"></mdc-tab>
      </mdc-tab-scroller>
    </mdc-tab-bar>
    <example-viewer [example]="exampleTabFade"></example-viewer>
  </div>
  
<div class="demo-content">
  <h3 class="demo-content__headline">Tabs with icon indicator</h3>
  <mdc-tab-bar iconIndicator='star' [focusOnActivate]="false">
    <mdc-tab-scroller>
      <mdc-tab *ngFor="let tab of tabs" [label]="tab.label"></mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <example-viewer [example]="example5"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Fixed Tabs</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="demoFixedTabsTabBar.align = 'start'">Align Start</button>
    <button mdc-button (click)="demoFixedTabsTabBar.align = 'center'">Align Center</button>
    <button mdc-button (click)="demoFixedTabsTabBar.align = 'end'">Align End</button>
    <button mdc-button (click)="demoFixedTabsTabBar.stacked = !demoFixedTabsTabBar.stacked">Stacked:
      {{demoFixedTabsTabBar.stacked ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="demoFixedTabsTabBar.fade = !demoFixedTabsTabBar.fade">Fade: {{demoFixedTabsTabBar.fade
      ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="demoFixedTabsTabBar.useAutomaticActivation = !demoFixedTabsTabBar.useAutomaticActivation">Automatic
      Activation: {{demoFixedTabsTabBar.useAutomaticActivation ? 'On' : 'Off'}}</button>
  </div>
  <mdc-tab-bar #demoFixedTabsTabBar fixed [focusOnActivate]="false">
    <mdc-tab-scroller>
      <mdc-tab *ngFor="let tab of tabs" [label]="tab.label" [icon]="tab.icon"></mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <example-viewer [example]="example6"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Scrolling Tabs</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="demoScrollingTabBar.scrollIntoView(0)">Scroll Start</button>
    <button mdc-button (click)="demoScrollingTabBar.scrollIntoView(6)">Scroll End</button>
    <button mdc-button (click)="demoScrollingTabBar.activateTab(5)">Activate Hotel</button>
    <button mdc-button (click)="demoScrollingTabBar.stacked = !demoScrollingTabBar.stacked">Stacked:
      {{demoScrollingTabBar.stacked ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="demoScrollingTabBar.fade = !demoScrollingTabBar.fade">Fade:
      {{demoScrollingTabBar.fade ? 'On' : 'Off'}}</button>
  </div>
  <mdc-tab-bar #demoScrollingTabBar [focusOnActivate]="false">
    <mdc-tab-scroller>
      <mdc-tab *ngFor="let tab of scrollingTabs" [label]="tab.label" [icon]="tab.icon"></mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <example-viewer [example]="example7"></example-viewer>
</div>