<div class="docs-api">
  <h4 mdcSubtitle2>Tab Bar - Sass Mixins</h4>
  <p>
    To customize the width of the tab bar, use the following mixin.
  </p>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-tab-bar-width($width)</code></td>
        <td>Customizes the width of the tab bar.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h4 mdcSubtitle2>Tab - Sass Mixins</h4>
  <p>
    To customize the width of the tab, use the following mixin.
  </p>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-tab-text-label-color($color)</code></td>
        <td>Customizes the color of the tab text label.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-icon-color($color)</code></td>
        <td>Customizes the color of the tab icon.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-states-color($color)</code></td>
        <td>Customizes the base states color, which affects hover/focus states and the press ripple.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-ink-color($color)</code></td>
        <td>Customizes the text label, icon, and base states color.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-parent-positioning</code></td>
        <td>Sets the positioning of the MDCTab's parent element so that <code>MDCTab.computeDimensions()</code> reports
          the same values in all browsers.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-fixed-width($width)</code></td>
        <td>Sets the fixed width of the tab. The tab will never be smaller than the given width.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-active-states-color($color)</code></td>
        <td>Customizes the color of the active tab's states.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-horizontal-padding($padding)</code></td>
        <td>Sets the horizontal padding of the tab.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h4 mdcSubtitle2>Tab Indicator - Sass Mixins</h4>
  <p>
    To customize the width of the tab indicator, use the following mixin.
  </p>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-tab-indicator-surface</code></td>
        <td>Mandatory. Must be applied to the parent element of the <code>mdc-tab-indicator</code>.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-indicator-underline-color($color)</code></td>
        <td>Customizes the color of the underline.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-indicator-icon-color($color)</code></td>
        <td>Customizes the color of the icon subelement.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-indicator-underline-height($height)</code></td>
        <td>Customizes the height of the underline.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-indicator-icon-height($height)</code></td>
        <td>Customizes the height of the icon subelement.</td>
      </tr>
      <tr>
        <td><code>mdc-tab-indicator-underline-top-corner-radius($radius)</code></td>
        <td>Customizes the top left and top right border radius of the underline child element.</td>
      </tr>
    </tbody>
  </table>
</div>