<div fxFlexOffset="1" fxLayout="column" fxLayoutAlign="start start" class="demo-page">
  <div>
    <h1 mdc-typography-display1>Tabs</h1>
    <span>Tabs enable content organization at a high level, such as switching between views, data sets, or functional aspects of an app.</span>
  </div>
  <div class="demo-docs-class-name" mdc-typography-subheading2 fxFlexOffset="2">
    <![CDATA[import { MdcTabModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-tab-bar</td>
          <td>The main component which is composed of mdc-tab elements.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>active: boolean</td>
          <td>Sets a tab as active.</td>
        </tr>
        <tr>
          <td>primary: boolean</td>
          <td>Sets tab to use primary theme color.</td>
        </tr>
        <tr>
          <td>secondary: boolean</td>
          <td>Sets tab to use secondary theme color.</td>
        </tr>
        <tr>
          <td>selectedIndex: number</td>
          <td>Set the index of the active tab.</td>
        </tr>
        <tr>
          <td>disableRipple: boolean</td>
          <td>
            <pre>Disable the ink ripple.
Example: disableRipple="true" or disableRipple</pre></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Methods</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>getNumberOfTabs(): number</td>
          <td>Returns the number of tabs.</td>
        </tr>
        <tr>
          <td>getComputedWidth(): number</td>
          <td>Returns the width of the element containing the tabs.</td>
        </tr>
        <tr>
          <td>layout()</td>
          <td>Set or refresh layout for the Tab Bar component.</td>
        </tr>
        <tr>
          <td>getActiveTabIndex(): number</td>
          <td>Returns index of currently active tab.</td>
        </tr>
        <tr>
          <td>switchToTabAtIndex(index: number, shouldNotify: boolean = true)</td>
          <td>Updates the active tab to be the tab at the given index, emits change event if shouldNotify is true.</td>
        </tr>
        <tr>
          <td>setPreventDefaultOnClickForTabAtIndex(index: number, preventDefaultOnClick: boolean)</td>
          <td>Sets preventDefault to true or false on a passed tab index.</td>
        </tr>
        <tr>
          <td>isDefaultPreventedOnClickForTabAtIndex(index: number): boolean</td>
          <td>Returns whether or not preventDefault is set on a tab.</td>
        </tr>
        <tr>
          <td>setDisableRipple(disabled: boolean)</td>
          <td>Disable or enable ink ripples on tabs.</td>
        </tr>
        <tr>
          <td>setActiveTab(tab: MdcTab, active: boolean)</td>
          <td>Use to enable or disable an active tab.</td>
        </tr>
        <tr>
          <td>getActiveTab(): MdcTab</td>
          <td>Returns the active tab.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Events</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre>selectedTabChange: EventEmitter<![CDATA[<MdcTabChangeEvent>]]></pre></td>
          <td>Broadcast when a user actions on a tab, resulting in a change in the selected tab.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre>mdc-tab
a[mdc-tab]</pre></td>
          <td>The individual tab elements.</td>
        </tr>
        <tr>
          <td>disabled: boolean</td>
          <td>Whether or not the tab is disabled. Setting this makes the tab disabled.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-tab-icon-text</td>
          <td>Text and icon are centered horizontally in the tab.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Methods</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>getComputedWidth(): number</td>
          <td>Return the computed width for tab.</td>
        </tr>
        <tr>
          <td>getComputedLeft(): number</td>
          <td>Return the computed left offset for tab.</td>
        </tr>
        <tr>
          <td>isActive()</td>
          <td>Return true if tab is active.</td>
        </tr>
        <tr>
          <td>setActive(boolean)</td>
          <td>Set tab to active.</td>
        </tr>
        <tr>
          <td>getPreventDefaultOnClick(): boolean</td>
          <td>Return true if the tab prevents the default click action.</td>
        </tr>
        <tr>
          <td>setPreventDefaultOnClick(boolean)</td>
          <td>Sets tabs preventDefaultOnClick property to the value of the preventDefaultOnClick argument passed.</td>
        </tr>
        <tr>
          <td>measureSelf()</td>
          <td>Sets computedWidth and computedLeft for a tab.</td>
        </tr>
        <tr>
          <td>setDisabled(isDisabled: boolean)</td>
          <td>Whether or not the tab is disabled.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Events</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>select(tab: TabComponent)</td>
          <td>Broadcast when a user actions on the tab.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-tab-bar-scroller</td>
          <td>The component which controls the horizontal scrolling behavior of an mdc-tab-bar that overflows its container.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-tab-bar-scroll-frame</td>
          <td>The scroll frame is the parent element of the tab bar, and serves to mask the tabs in the tab bar when they overflow the available width.</td>
        </tr>
        <tr>
          <td>mdc-tab-bar-scroll-back</td>
          <td>Scrolls the tab bar such that the leftmost tab traverses the scroll frame.</td>
        </tr>
        <tr>
          <td>mdc-tab-bar-scroll-forward</td>
          <td>Scrolls the tab bar such that the rightmost tab traverses the scroll frame.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Methods</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>scrollToTabAtIndex(index: number)</td>
          <td>Scrolls the tab bar such that the tab at the index provided traverses the scroll frame and becomes the leftmost tab.</td>
        </tr>
        <tr>
          <td>layout()</td>
          <td>If the tab bar is overflowing its available width, this method will reset the back and forward indicators to the correct states (visible/hidden) based on the new width.</td>
        </tr>
        <tr>
          <td>scrollBack(event?: Event)</td>
          <td>Scrolls the tab bar such that the leftmost tab traverses the scroll frame and becomes the rightmost tab.</td>
        </tr>
        <tr>
          <td>scrollForward(event?: Event)</td>
          <td>Scrolls the tab bar such that the rightmost tab traverses the scroll frame and becomes the leftmost tab.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="demo-content">
    <h3>Tabs - Labels</h3>
    <a fxFlexAlign="start" mdc-button href="https://stackblitz.com/edit/angular-mdc-tabs?embed=1&file=app/app.component.html&view=editor" target="_blank" rel="noopener noreferrer">View Example Source</a>
    <div class="demo-content--row">
      <button mdc-button (click)="demotab1.primary = !demotab1.primary">Primary: {{demotab1.primary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demotab1.secondary = !demotab1.secondary">Secondary: {{demotab1.secondary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demotab1.disableRipple = !demotab1.disableRipple">Ripple Disabled: {{demotab1.disableRipple ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="panels[2].disabled = !panels[2].disabled">Disable Tab Three: {{panels[2].disabled ? 'On' : 'Off'}}</button>
    </div>
    <mdc-tab-bar #demotab1 [primary]="true">
      <mdc-tab *ngFor="let tab of panels" [disabled]="tab.disabled">{{tab.label}}</mdc-tab>
    </mdc-tab-bar>
  </div>

  <div class="demo-content">
    <h3>Tabs - Icons</h3>
    <a fxFlexAlign="start" mdc-button href="https://stackblitz.com/edit/angular-mdc-tabs?embed=1&file=app/app.component.html&view=editor" target="_blank" rel="noopener noreferrer">View Example Source</a>
    <div class="demo-content--row">
      <button mdc-button (click)="demotabicons.primary = !demotabicons.primary">Primary: {{demotabicons.primary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demotabicons.secondary = !demotabicons.secondary">Secondary: {{demotabicons.secondary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demotabicons.disableRipple = !demotabicons.disableRipple">Ripple Disabled: {{demotabicons.disableRipple ? 'On' : 'Off'}}</button>
    </div>
    <mdc-tab-bar #demotabicons>
      <mdc-tab *ngFor="let tab of panels">
        <mdc-icon>{{tab.icon}}</mdc-icon>
      </mdc-tab>
    </mdc-tab-bar>
  </div>

  <div class="demo-content">
    <h3>Tabs - Icons and Labels</h3>
    <a fxFlexAlign="start" mdc-button href="https://stackblitz.com/edit/angular-mdc-tabs?embed=1&file=app/app.component.html&view=editor" target="_blank" rel="noopener noreferrer">View Example Source</a>
    <div class="demo-content--row">
      <button mdc-button (click)="demotabiconslabels.primary = !demotabiconslabels.primary">Primary: {{demotabiconslabels.primary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demotabiconslabels.secondary = !demotabiconslabels.secondary">Secondary: {{demotabiconslabels.secondary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demotabiconslabels.setDisableRipple(!demotabiconslabels.disableRipple)">Ripple Disabled: {{demotabiconslabels.disableRipple ? 'On' : 'Off'}}</button>
    </div>
    <mdc-tab-bar #demotabiconslabels>
      <mdc-tab *ngFor="let tab of panels">
        <mdc-icon>{{tab.icon}}</mdc-icon>
        <mdc-tab-icon-text>{{tab.label}}</mdc-tab-icon-text>
      </mdc-tab>
    </mdc-tab-bar>
  </div>

  <div class="demo-content">
    <h3>Tabs - Scroller</h3>
    <a fxFlexAlign="start" mdc-button href="https://stackblitz.com/edit/angular-mdc-tabs?embed=1&file=app/app.component.html&view=editor" target="_blank" rel="noopener noreferrer">View Example Source</a>
    <div class="demo-content--row">
      <button mdc-button (click)="demoscrolltab.primary = !demoscrolltab.primary">Primary: {{demoscrolltab.primary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoscrolltab.secondary = !demoscrolltab.secondary">Secondary: {{demoscrolltab.secondary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoscrolltab.setDisableRipple(!demoscrolltab.disableRipple)">Ripple Disabled: {{demoscrolltab.disableRipple ? 'On' : 'Off'}}</button>
    </div>
    <div class="demo-content--row">
      <button mdc-button (click)="demoscroll.scrollBack()">Scroll Back</button>
      <button mdc-button (click)="demoscroll.scrollForward()">Scroll Forward</button>
      <button mdc-button (click)="demoscroll.scrollToTabAtIndex(6)">Scroll To Tab Seven</button>
    </div>
    <mdc-tab-bar-scroller #demoscroll>
      <mdc-tab-bar-scroll-back>
        <mdc-icon>navigate_before</mdc-icon>
      </mdc-tab-bar-scroll-back>
      <mdc-tab-bar-scroll-frame>
        <mdc-tab-bar #demoscrolltab (selectedTabChange)="onTabChange($event)">
          <mdc-tab *ngFor="let tab of panelsLarge" [active]="tab.active">{{tab.label}}</mdc-tab>
        </mdc-tab-bar>
      </mdc-tab-bar-scroll-frame>
      <mdc-tab-bar-scroll-forward>
        <mdc-icon>navigate_next</mdc-icon>
      </mdc-tab-bar-scroll-forward>
    </mdc-tab-bar-scroller>
  </div>

  <h3>Toolbar with Tabs</h3>
  <a fxFlexAlign="start" mdc-button href="https://stackblitz.com/edit/angular-mdc-tabs?embed=1&file=app/app.component.html&view=editor" target="_blank" rel="noopener noreferrer">View Example Source</a>
  <div class="demo-content--row">
    <button mdc-button (click)="panels[2].disabled = !panels[2].disabled">Disable Tab Three: {{panels[2].disabled ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="toolbartab1.setTabActiveAtIndex(1)">Make Tab Two Active</button>
  </div>
  <div class="demo-tabs-host">
    <mdc-toolbar class="demo__toolbar-tabs--indigo">
      <mdc-toolbar-row>
        <mdc-toolbar-section [alignStart]="true">
          <mdc-toolbar-title>App Title</mdc-toolbar-title>
        </mdc-toolbar-section>
        <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="false">
          <mdc-tab-bar #toolbartab1 class="demo-tab-bar--indigo">
            <mdc-tab *ngFor="let tab of panels" [disabled]="tab.disabled">
              <mdc-icon>{{tab.icon}}</mdc-icon>
              <mdc-tab-icon-text>{{tab.label}}</mdc-tab-icon-text>
            </mdc-tab>
          </mdc-tab-bar>
        </mdc-toolbar-section>
      </mdc-toolbar-row>
    </mdc-toolbar>
  </div>

  <h3>Toolbar - Router Outlet</h3>
  <a fxFlexAlign="start" mdc-button href="https://stackblitz.com/edit/angular-mdc-tabs?embed=1&file=app/app.component.html&view=editor" target="_blank" rel="noopener noreferrer">View Example Source</a>
  <div class="demo-content--row">
    <button mdc-button (click)="myTabBar.primary = !myTabBar.primary">Primary: {{myTabBar.primary ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="myTabBar.secondary = !myTabBar.secondary">Secondary: {{myTabBar.secondary ? 'On' : 'Off'}}</button>
  </div>
  <div class="demo-tabs-host">
    <mdc-toolbar class="demo__toolbar-tabs--dark">
      <mdc-toolbar-row>
        <mdc-toolbar-section [alignStart]="true">
          <mdc-toolbar-title>Dynamic Views</mdc-toolbar-title>
        </mdc-toolbar-section>
        <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="false">
          <mdc-tab-bar #myTabBar [primary]="true">
            <mdc-tab *ngFor="let child of panels" [routerLink]="[{outlets: {taboutlet: child.route}}]"
             routerLinkActive #rla="routerLinkActive">{{child.label}}</mdc-tab>
          </mdc-tab-bar>
        </mdc-toolbar-section>
      </mdc-toolbar-row>
    </mdc-toolbar>
    <router-outlet name="taboutlet"></router-outlet>
  </div>
</div>
