<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Tabs</h1>
  <div mdc-typography-subheading2>Tabs enable content organization at a high level, such as switching between views, data sets, or functional aspects of an app.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcTabModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-tab-bar</td>
          <td>The main component which is composed of mdc-tab elements.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>primary: boolean</td>
          <td>Sets indicator bar line to use primary theme color.</td>
        </tr>
        <tr>
          <td>secondary: boolean</td>
          <td>Sets indicator bar line to use secondary theme color.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Events</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
<pre><code><![CDATA[change
EventEmitter<{ activeTabIndex: number }]]></code></pre></td>
          <td>Broadcast when a user actions on a tab, resulting in a change in the selected tab.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
<pre><code><![CDATA[mdc-tab
a[mdc-tab]]]></code></pre></td>
          <td>The individual tab elements.</td>
        </tr>
        <tr>
          <td>active: boolean</td>
          <td>Whether or not the tab is active. Setting this makes the tab active.</td>
        </tr>
        <tr>
          <td>preventsDefaultOnClick: boolean</td>
          <td>Whether or not the tab will call preventDefault() on an event. Setting this makes the tab call preventDefault() on events.</td>
        </tr>
        <tr>
          <td>disableRipple: boolean</td>
          <td>
<pre><code><![CDATA[Disable the ink ripple.
Example: disableRipple="true" or disableRipple]]></code></pre></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Events</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
<pre><code><![CDATA[select
EventEmitter<{ tab: TabComponent }>]]></code></pre></td>
          <td>Broadcast when a user actions on the tab.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-tab-icon</td>
          <td>Add icon to the tab.</td>
        </tr>
        <tr>
          <td>mdc-tab-icon-text</td>
          <td>Text and icon are centered horizontally in the tab.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-tab-bar-scroller</td>
          <td>The component which controls the horizontal scrolling behavior of an mdc-tab-bar that overflows its container.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-tab-bar-scroll-frame</td>
          <td>The scroll frame is the parent element of the tab bar, and serves to mask the tabs in the tab bar when they overflow the available width.</td>
        </tr>
        <tr>
          <td>mdc-tab-bar-scroll-back</td>
          <td>Scrolls the tab bar such that the leftmost tab traverses the scroll frame.</td>
        </tr>
        <tr>
          <td>mdc-tab-bar-scroll-forward</td>
          <td>Scrolls the tab bar such that the rightmost tab traverses the scroll frame.</td>
        </tr>
        <tr>
          <td>mdc-tab-bar-scroll-button</td>
          <td>Use to add a button to either [mdc-tab-bar-scroll-back] or [mdc-tab-bar-scroll-forward] directives.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start start" class="mdc-padding">
      <span mdc-typography-headline>Simple Tab Bar with text labels</span>
      <mdc-tab-bar>
        <mdc-tab [active]="true">Home</mdc-tab>
        <mdc-tab>Merchandise</mdc-tab>
        <mdc-tab>About Us</mdc-tab>
      </mdc-tab-bar>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span> [<span style="color:#89bdff">active</span>]=<span style="color:#65b042">"true"</span>></span>Home<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Merchandise<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>About Us<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
</pre>
      <span mdc-typography-headline>Tab Bar with icon labels</span>
      <mdc-tab-bar [primary]="true">
        <mdc-tab [active]="true">
          <mdc-tab-icon material-icon>phone</mdc-tab-icon>
        </mdc-tab>
        <mdc-tab>
          <mdc-tab-icon material-icon>favorite</mdc-tab-icon>
        </mdc-tab>
        <mdc-tab>
          <mdc-tab-icon material-icon>person_pin</mdc-tab-icon>
        </mdc-tab>
      </mdc-tab-bar>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span> [<span style="color:#89bdff">primary</span>]=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span> [<span style="color:#89bdff">active</span>]=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>phone<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>favorite<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>person_pin<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
</pre>

      <span mdc-typography-headline>Tab Bar with icon and text labels</span>
      <mdc-tab-bar>
        <mdc-tab [active]="true">
          <mdc-tab-icon material-icon>phone</mdc-tab-icon>
          <mdc-tab-icon-text>Recents</mdc-tab-icon-text>
        </mdc-tab>
        <mdc-tab>
          <mdc-tab-icon material-icon>favorite</mdc-tab-icon>
          <mdc-tab-icon-text>Favorites</mdc-tab-icon-text>
        </mdc-tab>
        <mdc-tab>
          <mdc-tab-icon material-icon>person_pin</mdc-tab-icon>
          <mdc-tab-icon-text>Nearby</mdc-tab-icon-text>
        </mdc-tab>
      </mdc-tab-bar>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span> [<span style="color:#89bdff">active</span>]=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>phone<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>Recents<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>favorite<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>Favorites<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>person_pin<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>Nearby<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
</pre>

      <span mdc-typography-headline>Secondary Color Indicator</span>
      <mdc-tab-bar [secondary]="true">
        <a mdc-tab [active]="true" href="#/tab-demo">
          <mdc-tab-icon material-icon>phone</mdc-tab-icon>
          <mdc-tab-icon-text>Recents</mdc-tab-icon-text>
        </a>
        <a mdc-tab href="#/tab-demo">
          <mdc-tab-icon material-icon>favorite</mdc-tab-icon>
          <mdc-tab-icon-text>Favorites</mdc-tab-icon-text>
        </a>
        <a mdc-tab href="#/tab-demo">
          <mdc-tab-icon material-icon>person_pin</mdc-tab-icon>
          <mdc-tab-icon-text>Nearby</mdc-tab-icon-text>
        </a>
      </mdc-tab-bar>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span> [<span style="color:#89bdff">secondary</span>]=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-tab</span> [<span style="color:#e0c589">active</span>]=<span style="color:#65b042">"true"</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/tab-demo"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>phone<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>Recents<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>
  <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-tab</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/tab-demo"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>favorite<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>Favorites<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>
  <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-tab</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/tab-demo"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>person_pin<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>Nearby<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>
  <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
</pre>

      <span mdc-typography-headline>Dark Theme</span>
<mdc-tab-bar [secondary]="true" [mdc-theme-dark]="true">
  <mdc-tab [active]="true">
    <mdc-tab-icon material-icon>phone</mdc-tab-icon>
    <mdc-tab-icon-text>Recents</mdc-tab-icon-text>
  </mdc-tab>
  <mdc-tab>
    <mdc-tab-icon material-icon>favorite</mdc-tab-icon>
    <mdc-tab-icon-text>Favorites</mdc-tab-icon-text>
  </mdc-tab>
  <mdc-tab>
    <mdc-tab-icon material-icon>person_pin</mdc-tab-icon>
    <mdc-tab-icon-text>Nearby</mdc-tab-icon-text>
  </mdc-tab>
</mdc-tab-bar>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span> [<span style="color:#89bdff">secondary</span>]=<span style="color:#65b042">"true"</span> [<span style="color:#89bdff">mdc-theme-dark</span>]=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span> [<span style="color:#89bdff">active</span>]=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>phone<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>Recents<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>favorite<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>Favorites<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span> <span style="color:#89bdff">material-icon</span>></span>person_pin<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>Nearby<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-icon-text</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
</pre>
      <div>
      <span mdc-typography-headline>Dynamic view switching</span>
<mdc-tab-bar>
  <mdc-tab *ngFor="let tabLink of tabLinks" [routerLink]="[{outlets: {taboutlet: tabLink.link}}]" [active]="tabLink.active">{{tabLink.label}}</mdc-tab>
</mdc-tab-bar>
      <section>
        <div class="panels">
          <router-outlet name="taboutlet"></router-outlet>
        </div>
      </section>
      <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span> *<span style="color:#89bdff">ngFor</span>=<span style="color:#65b042">"let tabLink of tabLinks"</span>
    [<span style="color:#89bdff">routerLink</span>]=<span style="color:#65b042">"[<span style="color:#daefa3"><![CDATA[{outlets: {taboutlet: tabLink.link}}]]></span>]"</span> 
    [<span style="color:#89bdff">active</span>]=<span style="color:#65b042">"tabLink.active"</span>></span>tabLink.label<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
</pre>
</div>

    <div>
      <span mdc-typography-headline>Tab Bar Scoller</span>
      <mdc-tab-bar-scroller fxLayout="row" style="width: 30%;">
        <mdc-tab-bar-scroll-back>
          <mdc-tab-bar-scroll-button material-icon>
            navigate_before
          </mdc-tab-bar-scroll-button>
        </mdc-tab-bar-scroll-back>
        <mdc-tab-bar-scroll-frame>
          <mdc-tab-bar [secondary]="true">
            <mdc-tab [active]="true">Item One</mdc-tab>
            <mdc-tab>Item Two</mdc-tab>
            <mdc-tab>Item Three</mdc-tab>
            <mdc-tab>Item Four</mdc-tab>
            <mdc-tab>Item Five</mdc-tab>
            <mdc-tab>Item Six</mdc-tab>
            <mdc-tab>Item Seven</mdc-tab>
            <mdc-tab>Item Eight</mdc-tab>
            <mdc-tab>Item Nine</mdc-tab>
            <mdc-tab>Item Ten</mdc-tab>
            <mdc-tab>Item Eleven</mdc-tab>
            <mdc-tab>Item Tweleve</mdc-tab>
            <mdc-tab>Item Thirteen</mdc-tab>
          </mdc-tab-bar>
        </mdc-tab-bar-scroll-frame>
        <mdc-tab-bar-scroll-forward>
          <mdc-tab-bar-scroll-button material-icon>
            navigate_next
          </mdc-tab-bar-scroll-button>
        </mdc-tab-bar-scroll-forward>
      </mdc-tab-bar-scroller>
    </div>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroller</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-back</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-button</span> <span style="color:#89bdff">material-icon</span>></span>
      navigate_before
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-button</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-back</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-frame</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span> [<span style="color:#89bdff">secondary</span>]=<span style="color:#65b042">"true"</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span> [<span style="color:#89bdff">active</span>]=<span style="color:#65b042">"true"</span>></span>Item One<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Item Two<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Item Three<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Item Four<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Item Five<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Item Six<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Item Seven<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Item Eight<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Item Nine<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>Item Ten<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-frame</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-forward</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-button</span> <span style="color:#89bdff">material-icon</span>></span>
      navigate_next
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-button</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroll-forward</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-tab-bar-scroller</span>></span>
</pre>
    </div>
</div>