<div class="demo-page">
  <div class="markdown-body">
    <h1>Drawers</h1>
    Navigation drawers provide access to destinations in your app.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/design/components/navigation-drawer.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Navigation Drawer</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-drawer/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <p class="docs-api-module-import"><![CDATA[import { MdcDrawerModule } from '@angular-mdc/web';]]></p>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-drawer</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>drawer: string</td>
            <td>Set the drawer implementation.
              <p>Valid values: 'permanent' | 'dismissible' | 'modal'</p>
            </td>
          </tr>
          <tr>
            <td>fixedAdjustElement: any</td>
            <td>Optional. Reference to a drawer's attached body element.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>open()</td>
            <td>Opens the drawer.</td>
          </tr>
          <tr>
            <td>close()</td>
            <td>Closes the drawer.</td>
          </tr>
          <tr>
            <td>isOpen(): boolean</td>
            <td>Returns whether or not the drawer is open.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Events</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>opened()</td>
            <td>Event dispatched on drawer open.</td>
          </tr>
          <tr>
            <td>closed()</td>
            <td>Event dispatched on drawer close.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-drawer-header</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Optional. Non-scrollable element that exists at the top of the drawer.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <td>title: string</td>
            <td>Optional. Title text element of the drawer.</td>
          </tr>
          <tr>
            <td>subtitle: string</td>
            <td>Optional. Subtitle text element of the drawer.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdcDrawerTitle</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Optional. Title text element of the drawer.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdcDrawerSubtitle</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Optional. Subtitle text element of the drawer.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-drawer-content</span>
      </p>
      <table>
        <tbody>
          <tr>
            <td>Scrollable content area of the drawer.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize the colors of any part of the drawer, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-drawer#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-drawer"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Permanent</h3>
    <mdc-drawer drawer="permanent">
      <mdc-drawer-content>
        <mdc-list useActivatedClass>
          <mdc-list-item *ngFor="let item of destinations">
            <mdc-icon mdcListItemGraphic *ngIf="item.icon">{{item.icon}}</mdc-icon>{{item.label}}
          </mdc-list-item>
        </mdc-list>
      </mdc-drawer-content>
    </mdc-drawer>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Dismissible</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="demoDismissible.open()">Open</button>
      <button mdc-button (click)="demoDismissible.close()">Close</button>
    </div>

    <mdc-drawer drawer="dismissible" #demoDismissible class="demo-drawer-dismissible">
      <mdc-drawer-content>
        <mdc-list useActivatedClass>
          <mdc-list-item *ngFor="let item of destinations">
            <mdc-icon mdcListItemGraphic *ngIf="item.icon">{{item.icon}}</mdc-icon>{{item.label}}
          </mdc-list-item>
        </mdc-list>
      </mdc-drawer-content>
    </mdc-drawer>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Modal</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="demoModal.open()">Open</button>
    </div>

    <mdc-drawer drawer="modal" #demoModal class="demo-drawer-modal">
      <mdc-drawer-content>
        <mdc-list useActivatedClass>
          <mdc-list-item *ngFor="let item of destinations">
            <mdc-icon mdcListItemGraphic *ngIf="item.icon">{{item.icon}}</mdc-icon>{{item.label}}
          </mdc-list-item>
        </mdc-list>
      </mdc-drawer-content>
    </mdc-drawer>
  </div>
</div>
