<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Material Theme</h1>
  <div mdc-typography-subheading2>Theme is a foundational module that themes MDC Web components.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcThemeModule } from '@angular-mdc/web';]]>
  </div>

<div mdc-typography-subheading2>Import the Angular MDC theme into your project Sass.</div>

<div style="background: #272822; overflow:auto;width:auto;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #f8f8f2">$mdc-theme-primary</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">#1565c0</span><span style="color: #f8f8f2">;</span> <span style="color: #75715e">// change primary color</span>
<span style="color: #f8f8f2">$mdc-theme-secondary</span><span style="color: #f92672">:</span> <span style="color: #ae81ff">#388e3c</span><span style="color: #f8f8f2">;</span> <span style="color: #75715e">// change secondary color</span>

<span style="color: #66d9ef">@import</span> <span style="color: #e6db74">&quot;~@angular-mdc/theme&quot;</span><span style="color: #f8f8f2">;</span>
</pre></div>


Additional documentation is coming soon..
</div>
