<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Floating Action Buttons</h1>
  <div mdc-typography-subheading2>The MDC FAB component is a spec-aligned button component adhering to the Material Design button requirements.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { FabModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>button[mdc-fab]</td>
        </tr>
        <tr>
          <td>a[mdc-fab]</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@Input() mini: boolean</td>
          <td>Makes the fab smaller (40 x 40 pixels).</td>
        </tr>
        <tr>
          <td>@Input() plain: boolean</td>
          <td>Makes the FAB have a white background.</td>
        </tr>
        <tr>
          <td>@Input() disabled: boolean</td>
          <td>Disables the button.</td>
        </tr>
        <tr>
          <td>@Input() disableRipple: boolean</td>
          <td>
            <pre><code><![CDATA[Disable the ink ripple.
Example: disableRipple="true" or disableRipple]]></code></pre></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-fab-icon</td>
          <td><pre><code><![CDATA[Add an icon or svg in the center of the button.
Note - Add the [material-icon] directive to apply Material Icon styling.]]></code></pre></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="row" class="mdc-padding" fxLayoutAlign="center center" fxLayoutGap="25px">
    <div fxLayout="column">
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isMini"></mdc-checkbox>
        <label>Mini</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isPlain"></mdc-checkbox>
        <label>Plain</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isDisabled"></mdc-checkbox>
        <label>Disable</label>
      </mdc-form-field>
    </div>
    <button mdc-fab
      [mini]="isMini"
      [plain]="isPlain"
      [disabled]="isDisabled">
      <mdc-fab-icon material-icon>edit</mdc-fab-icon>
    </button>
  </div>
<pre style="background:#000;color:#f8f8f8"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-fab</span>
   [<span style="color:#e0c589">mini</span>]=<span style="color:#65b042">"isMini"</span>
   [<span style="color:#e0c589">plain</span>]=<span style="color:#65b042">"isPlain"</span>
   [<span style="color:#e0c589">disabled</span>]=<span style="color:#65b042">"isDisabled"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-fab-icon</span> <span style="color:#89bdff">material-icon</span>></span>edit<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-fab-icon</span>></span>
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
</div>