<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Floating Action Button</h1>
  <div mdc-typography-subheading2>The MDC FAB component is a spec-aligned button component adhering to the Material Design button requirements.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcFabModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>button[mdc-fab]</td>
        </tr>
        <tr>
          <td>a[mdc-fab]</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mini: boolean</td>
          <td>Make the fab smaller (40 x 40 pixels).</td>
        </tr>
        <tr>
          <td>tabIndex: number</td>
          <td>Set the tabindex of the button. (Default: 0).</td>
        </tr>
        <tr>
          <td>disableRipple: boolean</td>
          <td>
            <pre><code><![CDATA[Disable the ink ripple.
Example: disableRipple="true" or disableRipple]]></code></pre></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-fab-icon</td>
          <td><pre><code><![CDATA[Add an icon or svg in the center of the button.
- Use [material-icon] directive if using the Material Icon collection.
- Use custom styling for other icon collections.]]></code></pre></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="column" class="mdc-padding" fxLayoutGap="25px">
  <div fxLayout="row" class="mdc-padding" fxLayoutAlign="start center" fxLayoutGap="25px">
    <div fxLayout="column">
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isMini"></mdc-checkbox>
        <label>Mini</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isRippleDisabled"></mdc-checkbox>
        <label>Disable Ripple</label>
      </mdc-form-field>
    </div>
    <button mdc-fab
      [mini]="isMini"
      [disableRipple]="isRippleDisabled">
      <mdc-fab-icon material-icon>edit</mdc-fab-icon>
    </button>
    </div>
<pre style="background:#000;color:#f8f8f8"><span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-fab</span>
   [<span style="color:#e0c589">mini</span>]=<span style="color:#65b042">"false"</span>
   [<span style="color:#e0c589">disableRipple</span>]=<span style="color:#65b042">"false"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-fab-icon</span> <span style="color:#89bdff">material-icon</span>></span>edit<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-fab-icon</span>></span>
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>

<span mdc-typography-headline>Using Font Awesome</span>
<button mdc-fab class="fa-icon">
  <mdc-fab-icon class="fa fa-keyboard-o"></mdc-fab-icon>
</button>
<pre style="background:#000;color:#f8f8f8"><span style="color:#aeaeae;font-style:italic">&lt;!--Sample styling--></span>
.fa-icon
  justify-content: center;
  font-size: 24px;

<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-fab</span> <span style="color:#e0c589">class</span>=<span style="color:#65b042">"fa-icon"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-fab-icon</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"fa fa-keyboard-o"</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-fab-icon</span>></span>
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>

<span mdc-typography-headline>Text only</span>
<button mdc-fab>
  <mdc-fab-icon class="fa-icon">T</mdc-fab-icon>
</button>
<pre style="background:#000;color:#f8f8f8"><span style="color:#aeaeae;font-style:italic">&lt;!--Sample styling--></span>
.fa-icon
  justify-content: center;
  font-size: 24px;

<span style="color:#e0c589">&lt;<span style="color:#e0c589">button</span> <span style="color:#e0c589">mdc-fab</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-fab-icon</span> <span style="color:#89bdff">class</span>=<span style="color:#65b042">"fa-icon"</span>></span>T<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-fab-icon</span>></span>
<span style="color:#e0c589">&lt;/<span style="color:#e0c589">button</span>></span>
</pre>
</div>
</div>
