<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Text Field</h1>
  <div mdc-typography-subheading2>The MDC Text Field component provides a textual input field adhering the Material Design specification.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { TextfieldModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-textfield</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@Input() id: string</td>
          <td>Unique id of the element.</td>
        </tr>
        <tr>
          <td>@Input() type: string = 'text'</td>
          <td>Input type of textfield (e.g. email, password, url).</td>
        </tr>
        <tr>
          <td>@Input() name: string</td>
          <td>Name of the textfield.</td>
        </tr>
        <tr>
          <td>@Input() value: string</td>
          <td>The input element's value.</td>
        </tr>
        <tr>
          <td>@Input() fullwidth: boolean</td>
          <td>Use to change element to fullwidth textfield.</td>
        </tr>
        <tr>
          <td>@Input() multiline: boolean</td>
          <td>Use to allow multiple lines inside the textfield.</td>
        </tr>
        <tr>
          <td>@Input() disabled: boolean</td>
          <td>Disables the component.</td>
        </tr>
        <tr>
          <td>@Input() required: boolean</td>
          <td>Whether the element is required.</td>
        </tr>
        <tr>
          <td>@Input() labelId: string</td>
          <td></td>
        </tr>
        <tr>
          <td>@Input() label: string</td>
          <td>Shown to the user when there's no focus or values.</td>
        </tr>
        <tr>
          <td>@Input() placeholder: string</td>
          <td>Placeholder attribute of the element.</td>
        </tr>
        <tr>
          <td>@Input() tabindex: number</td>
          <td>Tab index of the text element.</td>
        </tr>
        <tr>
          <td>@Input() rows: number</td>
          <td>Number of rows for this textarea.</td>
        </tr>
        <tr>
          <td>@Input() cols: number</td>
          <td>Number of columns for this textarea.</td>
        </tr>
        <tr>
          <td>@Input() maxlength: number</td>
          <td>Maxlength of characters allowed to be entered.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Event</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>focus</td>
          <td>Native input element for a "focus" event.</td>
        </tr>
        <tr>
          <td>blur</td>
          <td>Native input element for a "blur" event.</td>
        </tr>
        <tr>
          <td>input</td>
          <td>Native input element for a "input" event.</td>
        </tr>
        <tr>
          <td>keydown</td>
          <td>Native input element for a "keydown" event.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-textfield-helptext</td>
          <td>Useful for providing supplemental information to users, as well for validation messages.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>@Input() validation: boolean</td>
          <td>Help text can be used to provide additional validation messages.</td>
        </tr>
        <tr>
          <td>@Input() persistent: boolean</td>
          <td>Help text will always be visible.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <div fxFlexAlign="start">
      <mdc-textfield [(ngModel)]="username" id="username" label="Username" [required]="isRequired" [disabled]="isDisabled" aria-controls="help-username-val">
      </mdc-textfield>
      <p mdc-textfield-helptext id="help-username-val" [validation]="true" [persistent]="false">Username is required</p>
    </div>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="isDisabled"></mdc-checkbox>
      <label>Disable</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="isRequired"></mdc-checkbox>
      <label>Required</label>
    </mdc-form-field>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span>
  [(<span style="color:#89bdff">ngModel</span>)]=<span style="color:#65b042">"username"</span>
  <span style="color:#89bdff">label</span>=<span style="color:#65b042">"Username"</span>
  [<span style="color:#89bdff">required</span>]=<span style="color:#65b042">"true"</span>
  [<span style="color:#89bdff">disabled</span>]=<span style="color:#65b042">"false"</span>
  <span style="color:#89bdff">aria-controls</span>=<span style="color:#65b042">"help-username-val"</span>
  (<span style="color:#89bdff">focus</span>)=<span style="color:#65b042">"handleFocus($event);"</span>
  (<span style="color:#89bdff">blur</span>)=<span style="color:#65b042">"handleBlur($event);"</span>
  (<span style="color:#89bdff">input</span>)=<span style="color:#65b042">"handleInput($event);"</span>
  (<span style="color:#89bdff">keydown</span>)=<span style="color:#65b042">"handleKeyDown($event);"</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span>></span>
<span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span> <span style="color:#89bdff">mdc-textfield-helptext</span>
  <span style="color:#89bdff">id</span>=<span style="color:#65b042">"help-username-val"</span>
  [<span style="color:#89bdff">validation</span>]=<span style="color:#65b042">"true"</span>
  [<span style="color:#89bdff">persistent</span>]=<span style="color:#65b042">"false"</span>></span>Username is required<span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
</pre> </div>
  <div fxLayout="column" class="mdc-padding">
    <div fxFlexAlign="start" class="mdc-padding" mdc-theme-dark>
      <mdc-textfield label="Dark theme"></mdc-textfield>
    </div>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">div</span> <span style="color:#89bdff">mdc-theme-dark</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span> <span style="color:#89bdff">label</span>=<span style="color:#65b042">"Dark theme"</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">div</span>></span>
</pre> </div>
  <div fxLayout="column" class="mdc-padding">
    <div fxFlexAlign="start">
      <mdc-textfield [(ngModel)]="comments" id="comments" label="Comments" rows="8" cols="40" [multiline]="true"></mdc-textfield>
    </div>
    <p>Multi-line</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span>
 [(<span style="color:#89bdff">ngModel</span>)]=<span style="color:#65b042">"comments"</span>
 <span style="color:#89bdff">label</span>=<span style="color:#65b042">"Comments"</span>
 <span style="color:#89bdff">rows</span>=<span style="color:#65b042">"8"</span>
 <span style="color:#89bdff">cols</span>=<span style="color:#65b042">"40"</span>
 [<span style="color:#89bdff">multiline</span>]=<span style="color:#65b042">"true"</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span>></span>
</pre> </div>
  <div fxLayout="column" class="mdc-padding">
    <div>
      <mdc-textfield [(ngModel)]="subject" id="subject" placeholder="Subject" [fullwidth]="true"></mdc-textfield>
    </div>
    <p>Full-width single line</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span> [(<span style="color:#89bdff">ngModel</span>)]=<span style="color:#65b042">"subject"</span>
  <span style="color:#89bdff">placeholder</span>=<span style="color:#65b042">"Subject"</span>
  [<span style="color:#89bdff">fullwidth</span>]=<span style="color:#65b042">"true"</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span>></span>
</pre>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <div>
      <mdc-textfield [(ngModel)]="message" id="message" placeholder="Type your message here" [fullwidth]="true" [multiline]="true" rows="8"></mdc-textfield>
    </div>
    <p>Full-width multi-line</p>
    <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span> [(<span style="color:#89bdff">ngModel</span>)]=<span style="color:#65b042">"message"</span>
  <span style="color:#89bdff">placeholder</span>=<span style="color:#65b042">"Type your message here"</span>
  [<span style="color:#89bdff">fullwidth</span>]=<span style="color:#65b042">"true"</span>
  [<span style="color:#89bdff">multiline</span>]=<span style="color:#65b042">"true"</span>
  <span style="color:#89bdff">rows</span>=<span style="color:#65b042">"8"</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-textfield</span>></span>
</pre>
  </div>
</div>
<!--     <p>Username ngModel : {{username ? username : 'empty'}}</p>
    <p>Focused : {{inputHasFocus}}</p>
    <p>Keydown event count : {{inputKeysPressed}}</p>
    <p>Input event count : {{inputCount}}</p>
 -->
