<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Typography</h1>
  <p mdc-typography-subheading2>The MDC Typography directives implement the Material Design typography guidelines.</p>
  <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography">Google's MDC Documentation</a>
  <h1 mdc-typography-headline>Usage</h1>
  <div>
    <pre class="prettyprint"><![CDATA[import { TypographyModule } from '@angular-mdc/web';]]></pre>
  </div>
  <h1 mdc-typography-headline>Examples</h1>
  <div fxLayout="column">
    <h3 mdc-typography-title mdc-typography-adjust-margin>Text with adjust margins directive</h3>
    <h4 mdc-typography-caption mdc-typography-adjust-margin>Sample text showing the aligned margin</h4>
    <span>If you include the mdc-typography-adjust-margin directive, positioning will be adjusted according to the style.</span>
    <pre class="prettyprint">
&lt;h3 mdc-typography-title mdc-typography-adjust-margin&gt;Text with adjust margins directive&lt;/h3&gt;
&lt;h4 mdc-typography-caption mdc-typography-adjust-margin&gt;Sample text showing the aligned margins&lt;/h4&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <h2 mdc-typography-display4>Display 4</h2>
    <pre class="prettyprint">
&lt;h2 mdc-typography-display4&gt;Display 4&lt;/h2&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <h1 mdc-typography-display3>Display 3</h1>
    <pre class="prettyprint">
&lt;h1 mdc-typography-display3&gt;Display3&lt;/h1&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <h1 mdc-typography-display2>Display 2</h1>
    <pre class="prettyprint">
&lt;h1 mdc-typography-display2&gt;Display2&lt;/h1&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <h1 mdc-typography-display1>Display 1</h1>
    <pre class="prettyprint">
&lt;h1 mdc-typography-display1&gt;Display1&lt;/h1&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <h1 mdc-typography-headline>Headline</h1>
    <pre class="prettyprint">
&lt;h1 mdc-typography-headline&gt;Headline&lt;/h1&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <h2 mdc-typography-title>Title</h2>
    <pre class="prettyprint">
&lt;h2 mdc-typography-title&gt;Title&lt;/h2&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <h2 mdc-typography-caption>Caption</h2>
    <pre class="prettyprint">
&lt;h2 mdc-typography-caption&gt;Caption&lt;/h2&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <h3 mdc-typography-subheading2>Subheading 2</h3>
    <pre class="prettyprint">
&lt;h3 mdc-typography-subheading2&gt;Subheading 2&lt;/h3&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <h4 mdc-typography-subheading1>Subheading 1</h4>
    <pre class="prettyprint">
&lt;h4 mdc-typography-subheading1&gt;Subheading 1&lt;/h4&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <p mdc-typography-body2>Body 2</p>
    <pre class="prettyprint">
&lt;p mdc-typography-body2&gt;Body 2&lt;/p&gt;
      </pre>
  </div>
  <div fxLayout="column">
    <p mdc-typography-body1>Body 1</p>
    <pre class="prettyprint">
&lt;p mdc-typography-body1&gt;Body 1&lt;/p&gt;
      </pre>
  </div>
</div>
