<div class="demo-page">
  <div class="markdown-body">
    <h1>Floating Action Button</h1>
    A floating action button represents the primary action in an application.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/design/components/buttons-floating-action-button.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Floating Action Button</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-fab/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code><![CDATA[import { MdcFabModule } from '@angular-mdc/web';]]></code></pre>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <h3>button[mdc-fab]</h3>
      <h3 class="small-margin">a[mdc-fab]</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>mini: boolean</td>
            <td>Make the fab smaller (40 x 40 pixels).</td>
          </tr>
          <tr>
            <td>exited: boolean</td>
            <td>Animates the FAB in or out of view.</td>
          </tr>
          <tr>
            <td>extended: boolean</td>
            <td>Modifies the FAB to wider size which includes a text label.</td>
          </tr>
          <tr>
            <td>label: string</td>
            <td>Optional, for the text label. Applicable only for Extended FAB.</td>
          </tr>
          <tr>
            <td>tabIndex: number</td>
            <td>Set the tabindex of the button. (Default: 0).</td>
          </tr>
          <tr>
            <td>position: string</td>
            <td>Set the fab absolute position. <pre>Valid values: 'bottom-left' | 'bottom-right'</pre></td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>setMini(mini: boolean)</td>
            <td>Modifies the FAB to a smaller size.</td>
          </tr>
          <tr>
            <td>setExited(exited: boolean)</td>
            <td>Toggle the fab animation in and out.</td>
          </tr>
          <tr>
            <td>setExtended(extended: boolean)</td>
            <td>Modifies the FAB to wider size which includes a text label.</td>
          </tr>
          <tr>
            <td>setPosition(position: string)</td>
            <td>Set the fab absolute position. <pre>Valid values: 'bottom-left' | 'bottom-right'</pre></td>
          </tr>
          <tr>
            <td>toggleExited(exited?: boolean)</td>
            <td>Toggle the fab animation in and out.</td>
          </tr>
          <tr>
            <td>focus()</td>
            <td>Focuses the button.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize the colors of any part of the FAB, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-fab#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-fab"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Simple FAB</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="demofab.mini = !demofab.mini">Mini: {{demofab.mini ? 'On' : 'Off'}}</button>
    </div>
    <button mdc-fab #demofab>
      <mdc-icon>edit</mdc-icon>
    </button>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Extended FAB</h3>
    <div class="demo-content--row demo-content--row-with-button">
      <button mdc-fab [extended]="true" label="Add to cart" class="blackFab">
        <mdc-icon>add_shopping_cart</mdc-icon>
      </button>

      <button mdc-fab [extended]="true" label="Create" class="blackFab"></button>
      <button mdc-fab [extended]="true" label="Save Changes" class="purple500Fab">
        <mdc-icon>save</mdc-icon>
      </button>
    </div>
    <h3 class="demo-content__headline">Auto width extended FAB (Responsive)</h3>
    <div class="demo-content--row demo-content--row-with-button">
      <button mdc-fab [extended]="true" label="Add to cart" class="demo-fab-extended-fluid">
        <mdc-icon>add_shopping_cart</mdc-icon>
      </button>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Exit/Entry Animation</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="demoexited.toggleExited()">Toggle Exited</button>
      <button mdc-button (click)="demoexited.mini = !demoexited.mini">Mini: {{demoexited.mini ? 'On' : 'Off'}}</button>
    </div>
    <button mdc-fab #demoexited (click)="demoexited.toggleExited();">
      <mdc-icon>save</mdc-icon>
    </button>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Using Font Awesome</h3>
    <button mdc-fab>
      <mdc-icon fontSet="fa" fontIcon="fa-keyboard-o"></mdc-icon>
    </button>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Alternate colors</h3>
    <div class="demo-content--row demo-content--row-with-button">
      <button mdc-fab class="red800Fab">
        <mdc-icon>edit</mdc-icon>
      </button>
      <button mdc-fab class="yellow800Fab">
        <mdc-icon>edit</mdc-icon>
      </button>
      <button mdc-fab class="purple500Fab">
        <mdc-icon>edit</mdc-icon>
      </button>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Absolute Positioning</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="demofabposition.position = 'bottom-left'">Bottom Left</button>
      <button mdc-button (click)="demofabposition.position = 'bottom-right'">Bottom Right</button>
      <button mdc-button (click)="demofabposition.mini = !demofabposition.mini">Mini: {{demofabposition.mini ? 'On' : 'Off'}}</button>
    </div>
    <button #demofabposition mdc-fab position='bottom-right'>
      <mdc-icon>add</mdc-icon>
    </button>
  </div>
</div>
