$app-blue: #2980b9;

$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;

@import "~@angular-mdc/theme";

body {
  height: calc(100vh - 64px);
  margin: 0;
}

// Remove clear button for IE inputs
::-ms-clear {
  display: none;
}

// Remove pseudo-element for password field from IE
::-ms-reveal {
  display: none;
}

.demo__toolbar--primary {
  @include mdc-toolbar-fill-color($app-blue);
}

.demo__toolbar-tabs--dark {
  @include mdc-toolbar-fill-color(black);
}

.demo__toolbar-tabs--indigo {
  @include mdc-toolbar-fill-color($material-color-indigo-500);
}

.demo-landing {
  @include mdc-theme-prop(color, #fff);
  @include mdc-theme-prop(background-color, $app-blue);

  height: 40vh;

  &__subtitle {
    @include mdc-theme-prop(color, text-secondary-on-background);

    margin: 20px;
  }
}

.demo__toolbar-logo {
  padding-top: 10px;
}

.demo-page {
  padding: 0 0 50px 20px;
  max-width: 1000px;
}

.demo-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 15px;

  p {
    @include mdc-typography(body1);
  }

  h3 {
    @include mdc-typography(title);

    margin-top: .1em;
    margin-bottom: .8em;
  }
}

.demo-content--no-padding {
  padding: 0;
}

.demo-content-no-border {
  padding: 15px;
  margin: 15px;
}

.demo-content--column {
  display: flex;
  flex-direction: column;
}

.demo-content--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0 10px 0;
}

.demo-content--center {
  align-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.demo-surface {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  border-radius: 3px;
}

.demo-tabs-host {
  border: 1px solid;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 800px;
}

//
// Markdown
//

.markdown-body {
  line-height: 1.5;
  word-wrap: break-word;
  margin-top: 0 !important;
  max-width: 900px;

  h1 {
    @include mdc-typography(display1);

    font-weight: 500;
  }

  h2 {
    @include mdc-typography(headline);
  }

  h1, h2 {
    margin: 24px 16px 16px 0;
    line-height: 1.25;
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
  }

  h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 7px;

    &.small-margin  {
      margin-top: 1px;
    }
  }

  ul {
    margin-bottom: 0;
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 90%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    margin-top: 0;
    margin-bottom: 16px;
    width: fit-content;
  }

  .caption {
    margin: 0;
  }

  pre > code {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
}

//
// API table
//

.docs-api table {
  overflow-x: auto;
  margin: 0 0 7px;
  max-width: 90vw;
  border: 1px solid #eee;
  border-collapse: collapse;
  border-spacing: 0;

  td, th {
    border: 1px solid #eee;
    padding: 12px 12px 12px 24px;
  }

  td:first-child, th:first-child {
    border-left: none;
  }

  td:last-child, th:last-child {
    border-right: none;
  }

  th {
    background: #fafafa;
    border-top: none;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    text-align: left;
  }

  td:first-child code {
    background: 0;
  }

  tr:last-child > td {
    border-bottom: none;
  }

  td {
    font-size: .9em;
  }
}

//
// Demo toolbar-with-tabs
//

.demo-toolbar--with-tab-bar {
  .mdc-tab:not(.mdc-tab--active) {
    @include mdc-tab-ink-color(rgba(mdc-theme-prop-value(text-primary-on-primary), 0.54));
  }

  .mdc-tab--active,
  .mdc-tab:hover {
    @include mdc-tab-ink-color(text-primary-on-primary);
  }
}

.demo-tab-bar--indigo {
  .mdc-tab:not(.mdc-tab--active) {
    @include mdc-tab-ink-color(rgba(mdc-theme-prop-value(white), 0.54));
  }

  .mdc-tab--active,
  .mdc-tab:hover {
    @include mdc-tab-ink-color(white);
  }
}

//
// Card styles
//

.demo-card {
  width: 350px;
}

.demo-card__primary {
  padding: 1rem;
}

.demo-card__title {
  margin: 0;
}

.demo-card__subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);

  margin: 0;
}

.demo-card__secondary {
  @include mdc-theme-prop(color, text-secondary-on-background);

  padding: 0 1rem 8px 1rem;
}

.demo-card-article {
  width: 300px;
}

.demo-card-article {
  padding: 16px;
  text-decoration: none;
  color: inherit;
}

.demo-card-article-group-heading {
  @include mdc-theme-prop(color, text-secondary-on-light);

  padding: 8px 16px;
}

.demo-card-article__title {
  margin: 0 0 4px 0;
}

.demo-card-article__snippet {
  @include mdc-theme-prop(color, text-secondary-on-light);

  margin: 0;
}

.demo-card--photo {
  width: 200px;
}

.demo-card__media {
  background-image: url(https://material-components-web.appspot.com/images/1-1.jpg);
}

.demo-card__media--16-9 {
  background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
}

.demo-card__media-content--with-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.demo-card__media-title {
  padding: 8px 16px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  color: white;
}

.demo-card--music {
  @include mdc-card-corner-radius(24px 4px);

  @include mdc-rtl {
    @include mdc-card-corner-radius(4px 24px);
  }
}

.demo-card__music-row {
  display: flex;
  border-top-left-radius: inherit;

  @include mdc-rtl {
    border-top-left-radius: 0;
    border-top-right-radius: inherit;
  }
}

.demo-card__media--music {
  width: 110px;
  border-top-left-radius: inherit;

  @include mdc-rtl {
    border-top-left-radius: 0;
    border-top-right-radius: inherit;
  }
}

.demo-card__music-info {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

.demo-card__action-buttons--text-only {
  margin-left: 8px;
}

//
// Drawer
//

.demo-drawer-content--row {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 1000px;
}

//
// Radio button
//

.demo-radio--custom {
  $color: $material-color-red-500;

  @include mdc-radio-unchecked-stroke-color($color);
  @include mdc-radio-checked-stroke-color($color);
  @include mdc-radio-ink-color($material-color-orange-500);
  @include mdc-radio-focus-indicator-color($color);
  @include mdc-states($color);
}

//
// Top App Bar
//

.demo-top-app-bar-content {
  height: 300px;
  overflow-y: scroll;
  will-change: transform;
}

.demo-top-app-bar--not-fixed {
  .mdc-top-app-bar--short {
    position: relative;
  }
}

//
// Grid List
//

.demo-grid-tile__image {
  background-image: url(https://material-components-web.appspot.com/images/1-1.jpg);
}

//
// MDC Content
//

.mdc-content {
  overflow: auto;
}

//
// Image List
//

.standard-image-list {
  @include mdc-image-list-aspect(1.5); // Images are 3:2
  @include mdc-image-list-standard-columns(5);
}

.masonry-image-list {
  @include mdc-image-list-masonry-columns(5);
}

@media (max-width: 599px) {
  .standard-image-list {
    @include mdc-image-list-standard-columns(3);
  }

  .masonry-image-list {
    @include mdc-image-list-masonry-columns(3);
  }
}

//
// Checkbox
//

.demo-checkbox--custom-all {
  $color: $material-color-red-500;

  @include mdc-checkbox-focus-indicator-color($color);
  @include mdc-states($color);
  @include mdc-checkbox-container-colors(
    $unmarked-stroke-color: $color,
    $unmarked-fill-color: rgba($color, .25),
    $marked-fill-color: $color);
}

.demo-checkbox--custom-stroke-and-fill {
  @include mdc-checkbox-container-colors(
    $unmarked-stroke-color: $material-color-blue-500,
    $marked-fill-color: $material-color-purple-500);
}

//
// Text Field
//

.demo-text-field-custom-colors:not(.mdc-text-field--invalid) {
  $idle-border: rgba(blue, .38);
  $hover-border: rgba(blue, .6);
  $focused-border: rgba(blue, 1);

  @include mdc-text-field-bottom-line-color($idle-border);
  @include mdc-text-field-hover-bottom-line-color($hover-border);
  @include mdc-text-field-line-ripple-color($focused-border);
  @include mdc-text-field-ink-color(black);
  @include mdc-text-field-label-color(rgba(blue, .5));
  @include mdc-text-field-outline-color($idle-border);
  @include mdc-text-field-hover-outline-color($hover-border);
  @include mdc-text-field-focused-outline-color($focused-border);
  @include mdc-text-field-helper-text-color($idle-border);
  @include mdc-text-field-textarea-stroke-color($idle-border);
  @include mdc-text-field-icon-color($hover-border);

  &.mdc-text-field--focused {
    @include mdc-text-field-label-color(rgba(blue, .87));
    @include mdc-text-field-icon-color($focused-border);
  }
}

.demo-textarea:not(.mdc-text-field--invalid) {
  $idle-border: rgba(blue, .38);
  $hover-border: rgba(blue, .6);
  $focused-border: rgba(blue, 1);

  @include mdc-text-field-ink-color(black);
  @include mdc-text-field-label-color(rgba(blue, .5));
  @include mdc-text-field-textarea-stroke-color($idle-border);

  &.mdc-text-field--focused {
    @include mdc-text-field-label-color(rgba(blue, .87));
    @include mdc-text-field-textarea-stroke-color($focused-border);
  }
}

.demo-textarea.mdc-text-field--invalid {
  @include mdc-text-field-ink-color(orange);
  @include mdc-text-field-label-color(rgba(orange, .5));
  @include mdc-text-field-textarea-stroke-color(rgba(orange, .38));

  &.mdc-text-field--focused {
    @include mdc-text-field-label-color(rgba(orange, .87));
    @include mdc-text-field-textarea-stroke-color(orange);
  }
}

.demo-fullwidth-input:not(.mdc-text-field--invalid) {
  @include mdc-text-field-fullwidth-bottom-line-color(rgba(blue, .38));
  @include mdc-text-field-ink-color(black);
  @include mdc-text-field-label-color(rgba(blue, .5));
  @include mdc-text-field-line-ripple-color(blue);

  &.mdc-text-field--focused {
    @include mdc-text-field-label-color(rgba(blue, .87));
  }
}

.demo-fullwidth-input.mdc-text-field--invalid {
  @include mdc-text-field-fullwidth-bottom-line-color(rgba(orange, .38));
  @include mdc-text-field-ink-color(orange);
  @include mdc-text-field-label-color(rgba(orange, .5));
  @include mdc-text-field-line-ripple-color(orange);

  &.mdc-text-field--focused {
    @include mdc-text-field-label-color(rgba(orange, .87));
    @include mdc-text-field-fullwidth-bottom-line-color(orange);
  }
}

//
// Icon
//

.demo-icon-custom-colors {
  $color: $material-color-orange-500;

  @include mdc-theme-prop(color, $color);
}

//
// Switch
//

.demo-switch--custom {
  $color: $material-color-red-500;

  @include mdc-switch-track-color($color);
  @include mdc-switch-knob-color($color);
  @include mdc-switch-focus-indicator-color($color);
}

//
// Button
//

.mdc-button.big-round-corner-button {
  @include mdc-button-corner-radius(8px);
}

.mdc-button.thick-stroke-button {
  @include mdc-button-stroke-width(4px);
}

.demo-ink-color {
  @include mdc-button-icon-color(white);
  @include mdc-button-ink-color(orange);
  @include mdc-states(orange);
}

.demo-icon-color {
  @include mdc-button-icon-color(orange);
}

//
// FAB
//

.mdc-fab.red800Fab {
  @include mdc-fab-accessible($material-color-red-800);
}

.mdc-fab.yellow800Fab {
  @include mdc-fab-accessible($material-color-yellow-800);
}

.mdc-fab.purple500Fab {
  @include mdc-fab-accessible($material-color-purple-500);
}

//
// Slider
//

.demo-slider--custom {
  @include mdc-slider-highlight-color($material-color-red-700);
  @include mdc-slider-rail-color($material-color-yellow-600, 1);
  @include mdc-slider-rail-tick-mark-color(white);
  @include mdc-slider-thumb-color($material-color-orange-500);
  @include mdc-slider-focus-halo-color($material-color-yellow-900);
  @include mdc-slider-value-pin-fill-color-accessible($material-color-pink-500);
}
