$app-blue: #2980b9;

$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;

@import "~@angular-mdc/theme";

body {
  height: 100%;
  margin: 0;
}

// Remove clear button for IE inputs
::-ms-clear {
  display: none;
}

// Remove pseudo-element for password field from IE
::-ms-reveal {
  display: none;
}

.demo__toolbar--primary {
  @include mdc-toolbar-fill-color($app-blue);
}

.demo__toolbar-tabs--dark {
  @include mdc-toolbar-fill-color(black);
}

.demo__toolbar-tabs--indigo {
  @include mdc-toolbar-fill-color($material-color-indigo-500);
}

.demo-landing {
  @include mdc-theme-prop(color, #fff);
  @include mdc-theme-prop(background-color, $app-blue);

  height: 300px;

  &__subtitle {
    @include mdc-theme-prop(color, text-secondary-on-background);

    margin: 20px;
  }
}

.demo-page {
  padding-bottom: 50px;
}

.demo-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  max-width: 700px;
}

.demo-content-no-border {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 15px;
  max-width: 700px;
}

.demo-content--column {
  display: flex;
  flex-direction: column;
}

.demo-content--row {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.demo-text-field__container--column {
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  flex-direction: column;
  position: relative;
  max-width: 200px;
}

.demo-surface {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  margin: 0 60px 50px;
  border-radius: 3px;
  font-size: .8em;
  color: #9E9E9E;
  background: white;
}

.demo-docs-class-name {
  background: rgba(0,0,0,.06);
  font-family: Roboto Mono,monospace;
  padding: 3px;
}

.demo-toolbar--with-tab-bar {
  .mdc-tab:not(.mdc-tab--active) {
    @include mdc-tab-ink-color(rgba(mdc-theme-prop-value(text-primary-on-primary), 0.54));
  }

  .mdc-tab--active,
  .mdc-tab:hover {
    @include mdc-tab-ink-color(text-primary-on-primary);
  }
}

.demo-tab-bar--indigo {
  .mdc-tab:not(.mdc-tab--active) {
    @include mdc-tab-ink-color(rgba(mdc-theme-prop-value(white), 0.54));
  }

  .mdc-tab--active,
  .mdc-tab:hover {
    @include mdc-tab-ink-color(white);
  }
}

.docs-api table {
  margin: 20px 0 32px;
  border-radius: 2px;
  color: rgba(0, 0, 0, .87);
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .24), 0 0 1px rgba(0, 0, 0, .12);

  th {
    padding: 13px 32px;
    background: #f5f5f5;
    text-align: left;
    max-width: 100px;
  }

  td {
    margin: 1em, 0;
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, .03);
    font-size: 0.8em;
    font-family: monospace, monospace;
  }

  pre {
    font-size: 0.9em;
    font-family: monospace, monospace;
  }
}

.demo-host {
  border: 1px solid;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 800px;
}

.demo-tabs-host {
  border: 1px solid;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 800px;
}

.demo-list-host {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  margin-bottom: 10px;
  padding: 5px;
  flex-direction: column;
  position: relative;
  max-width: 600px;
}

//
// Card styles
//

.demo-card {
  width: 350px;
}

.demo-card__primary {
  padding: 1rem;
}

.demo-card__title {
  margin: 0;
}

.demo-card__subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);

  margin: 0;
}

.demo-card__secondary {
  @include mdc-theme-prop(color, text-secondary-on-background);

  padding: 0 1rem 8px 1rem;
}

.demo-card-article {
  width: 300px;
}

.demo-card-article {
  padding: 16px;
  text-decoration: none;
  color: inherit;
}

.demo-card-article-group-heading {
  @include mdc-theme-prop(color, text-secondary-on-light);

  padding: 8px 16px;
}

.demo-card-article__title {
  margin: 0 0 4px 0;
}

.demo-card-article__snippet {
  @include mdc-theme-prop(color, text-secondary-on-light);

  margin: 0;
}

.demo-card--photo {
  width: 200px;
}

.demo-card__media {
  background-image: url(https://material-components-web.appspot.com/images/1-1.jpg);
}

.demo-card__media--16-9 {
  background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
}

.demo-card__media-content--with-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.demo-card__media-title {
  padding: 8px 16px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  color: white;
}

.demo-card--music {
  @include mdc-card-corner-radius(24px 4px);

  @include mdc-rtl {
    @include mdc-card-corner-radius(4px 24px);
  }
}

.demo-card__music-row {
  display: flex;
  border-top-left-radius: inherit;

  @include mdc-rtl {
    border-top-left-radius: 0;
    border-top-right-radius: inherit;
  }
}

.demo-card__media--music {
  width: 110px;
  border-top-left-radius: inherit;

  @include mdc-rtl {
    border-top-left-radius: 0;
    border-top-right-radius: inherit;
  }
}

.demo-card__music-info {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
}

.demo-card__action-buttons--text-only {
  margin-left: 8px;
}

//
// Radio button
//

.demo-radio--custom {
  $color: $material-color-red-500;

  @include mdc-radio-unchecked-stroke-color($color);
  @include mdc-radio-checked-stroke-color($color);
  @include mdc-radio-ink-color($material-color-orange-500);
  @include mdc-radio-focus-indicator-color($color);
  @include mdc-states($color);
}

//
// Top App Bar
//

.demo-top-app-bar-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.demo-top-app-bar-content {
  width: 700px;
  height: 300px;
  overflow-y: scroll;
  will-change: transform;
}

.demo-top-app-bar--not-fixed {
  .mdc-top-app-bar--short {
    position: relative;
  }
}
