<mdc-list-divider class="example-divider"></mdc-list-divider>
<button mdc-button raised class="example-opener" *ngIf="!open"
  (click)="open = !open" [label]="label">
</button>
<mdc-tab-bar fixed [focusOnActivate]="false" *ngIf="open"
  (activated)="onActivatedTab($event)">
  <mdc-tab-scroller>
    <mdc-tab *ngFor="let tab of tabs" [label]="tab.label"></mdc-tab>
  </mdc-tab-scroller>
</mdc-tab-bar>
<div class="example-container" *ngIf="open">
  <button mdcIconButton class="example-copy-button" (click)="copyCode()">
    <mdc-icon>file_copy</mdc-icon>
  </button>
  <pre><code [highlight]="!config.url ? config?.code : config?.code | codeFromUrl | async"></code></pre>
</div>