<button mdc-button raised class="example-opener" *ngIf="!open"
  (click)="open = !open" [label]="label">
</button>
<mdc-tab-bar fixed [focusOnActivate]="false" *ngIf="open"
  (activated)="onActivatedTab($event)">
  <mdc-tab-scroller>
    <mdc-tab *ngFor="let tab of tabs" [label]="tab.label"></mdc-tab>
  </mdc-tab-scroller>
</mdc-tab-bar>
<div class="example-code-container" *ngIf="open">
  <div class="example-code-container__buttons">
    <button mdcIconButton (click)="copyCode()" title="Copy to clipboard"
      icon="file_copy">
    </button>
    <button mdcIconButton icon="close" (click)="open = false"
      title="Close"></button>
  </div>
  <pre><code [highlight]="!config.url ? config?.code : config?.code | codeFromUrl | async"></code></pre>
</div>