<mdc-top-app-bar class="demo-top-app-bar" #topAppBar fixed>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Angular MDC">
      <button mdcIconButton mdcTopAppBarNavIcon (click)="appdrawer.open = !appdrawer.open" icon="menu"></button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <span>v0.42.0</span>
      <a mdcTopAppBarActionItem href="https://github.com/trimox/angular-mdc-web" alt="GitHub" target="_blank" rel="noopener noreferrer">
        <mdc-icon>
          <img src="https://trimox.github.io/angular-mdc-web/assets/github-circle-white-transparent.svg" height="24" />
        </mdc-icon>
      </a>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<mdc-drawer class="demo-drawer" #appdrawer="mdcDrawer" [open]="!isScreenSmall()" [drawer]="isScreenSmall() ? 'modal' : 'dismissible'" mdcTopAppBarFixedAdjust>
  <mdc-drawer-content>
    <mdc-list useActivatedClass>
      <mdc-list-item (selectionChange)="onDrawerSelect('home')">Home</mdc-list-item>
      <mdc-list-divider></mdc-list-divider>
      <mdc-list-item (selectionChange)="startVisible = !startVisible">
        Getting Started
        <mdc-icon mdcListItemMeta>keyboard_arrow_{{startVisible ? 'down' : 'right'}}</mdc-icon>
      </mdc-list-item>
      <div *ngIf="startVisible">
        <mdc-list-item *ngFor="let item of startRoutes" (selectionChange)="onDrawerSelect('getting-started')">{{item.name}}</mdc-list-item>
      </div>
      <mdc-list-divider></mdc-list-divider>
      <mdc-list-item *ngFor="let navItem of navigationLinks" (selectionChange)="onDrawerSelect(navItem.route)">{{navItem.name}}</mdc-list-item>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>

<div mdcDrawerAppContent mdcTopAppBarFixedAdjust>
  <router-outlet></router-outlet>
</div>

<div class="demo-app-bar-control-container" #demoTopAppBarControls>
  <div class="demo-layout__row">
    <button mdc-button (click)="topAppBar.fixed = !topAppBar.fixed">Fixed: {{topAppBar.fixed ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="topAppBar.prominent = !topAppBar.prominent">Promient: {{topAppBar.prominent ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="topAppBar.dense = !topAppBar.dense">Dense: {{topAppBar.dense ? 'On' : 'Off'}}</button>
  </div>
  <div class="demo-layout__row">
    <button mdc-button (click)="topAppBar.short = !topAppBar.short">Short: {{topAppBar.short ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="topAppBar.shortCollapsed = !topAppBar.shortCollapsed">Short Collapsed: {{topAppBar.shortCollapsed ? 'On' : 'Off'}}</button>
  </div>
</div>
