<mdc-top-app-bar class="demo-top-app-bar" #topAppBar fixed>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Angular MDC">
      <button mdcIconButton mdcTopAppBarNavIcon (click)="appDrawer.open = !appDrawer.open" icon="menu"></button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <span>v{{version}}</span>
      <a mdcTopAppBarActionItem href="https://github.com/trimox/angular-mdc-web" alt="GitHub" target="_blank" rel="noopener noreferrer">
        <mdc-icon>
          <img src="https://trimox.github.io/angular-mdc-web/assets/github-circle-white-transparent.svg" height="24" />
        </mdc-icon>
      </a>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<div class="demo-panel">
  <mdc-drawer class="demo-drawer" #appDrawer="mdcDrawer" [open]="!isScreenSmall()" [drawer]="isScreenSmall() ? 'modal' : 'dismissible'"
    mdcTopAppBarFixedAdjust>
    <mdc-drawer-content>
      <mdc-list>
        <mdc-list-item (selectionChange)="onDrawerSelect('home')">Home</mdc-list-item>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item (selectionChange)="startVisible = !startVisible">
          Getting Started
          <mdc-icon mdcListItemMeta>keyboard_arrow_{{startVisible ? 'down' : 'right'}}</mdc-icon>
        </mdc-list-item>
        <div *ngIf="startVisible">
          <mdc-list-item *ngFor="let item of startRoutes" (selectionChange)="onDrawerSelect('getting-started')">{{item.name}}</mdc-list-item>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item (selectionChange)="themeVisible = !themeVisible">
          Theme
          <mdc-icon mdcListItemMeta>keyboard_arrow_{{themeVisible ? 'down' : 'right'}}</mdc-icon>
        </mdc-list-item>
        <div *ngIf="themeVisible">
          <mdc-list-item *ngFor="let item of themeRoutes" (selectionChange)="onDrawerSelect(item.route)">{{item.name}}</mdc-list-item>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item *ngFor="let navItem of navigationLinks" (selectionChange)="onDrawerSelect(navItem.route)">{{navItem.name}}</mdc-list-item>
      </mdc-list>
    </mdc-drawer-content>
  </mdc-drawer>

  <div mdcDrawerAppContent mdcTopAppBarFixedAdjust class="demo-panel-section">
    <router-outlet></router-outlet>
  </div>
</div>