<div fxFlexOffset="1" fxLayout="column" fxLayoutAlign="start start" class="demo-page">
  <div>
    <h1 mdc-typography-display1>Ripple</h1>
    <span>Ripple provides components (or any element) with a material "ink ripple" interaction effect.</span>
  </div>
  <div class="demo-docs-class-name" mdc-typography-subheading2 fxFlexOffset="2">
    <![CDATA[import { MdcRippleModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-ripple</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ripple: <a href="https://github.com/trimox/angular-mdc-web/blob/master/src/lib/ripple/ripple.service.ts" target="_blank" rel="noopener noreferrer">MdcRipple</a></td>
          <td>Use ripple orchestration properties and methods.</td>
        </tr>
        <tr>
          <td>primary: boolean</td>
          <td>Colors the ripple with the primary theme color.</td>
        </tr>
        <tr>
          <td>secondary: boolean</td>
          <td>Colors the ripple with the secondary theme color.</td>
        </tr>
        <tr>
          <td>disabled: boolean</td>
          <td>Disable the ripple ink.</td>
        </tr>
        <tr>
          <td>unbounded: boolean</td>
          <td>Whether or not the ripple is unbounded (e.g.: checkbox or radio buttons).</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="demo-content">
    <h3>Ripple</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="demoripple.primary = !demoripple.primary">Primary Color: {{demoripple.primary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoripple.secondary = !demoripple.secondary">Secondary Color: {{demoripple.secondary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoripple.disabled = !demoripple.disabled">Disabled: {{demoripple.disabled ? 'On' : 'Off'}}</button>
    </div>
    <mdc-ripple #demoripple [mdc-elevation]="1" [attachTo]="demodiv">
      <div style="height: 200px; width: 100%;" fxLayoutAlign="center center" #demodiv>
        Click me
      </div>
    </mdc-ripple>
  </div>
</div>
