<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Ripple</h1>
  <div mdc-typography-subheading2>MDC Ripple provides components (or any element) with a material "ink ripple" interaction effect.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcRippleModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-ripple</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>boolean</td>
          <td>Activate or de-activate ripple ink effect. (Default is true)</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <mdc-card class="demo-card mdc-padding" [mdc-ripple]="isRippleActive">
    <mdc-card-primary>
      <mdc-card-title>Card - Click me</mdc-card-title>
    </mdc-card-primary>
  </mdc-card>
  <mdc-form-field>
    <mdc-checkbox [(ngModel)]="isRippleActive"></mdc-checkbox>
    <label>Active ripple</label>
  </mdc-form-field>
  <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span> [<span style="color:#89bdff">mdc-ripple</span>]=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-title</span>></span>My card - Click me<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-title</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">h2</span> <span style="color:#89bdff">mdc-card-subtitle</span>></span>Subtitle<span style="color:#89bdff">&lt;/<span style="color:#89bdff">h2</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card-primary</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-card</span>></span></pre>
  </div>
</div>
