<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Ripple</h1>
  <div mdc-typography-subheading2>MDC Ripple provides components (or any element) with a material "ink ripple" interaction effect.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcRippleModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-ripple</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ripple: <a href="https://github.com/trimox/angular-mdc-web/blob/master/src/lib/ripple/ripple.orchestration.ts"
           target="_blank" rel="noopener noreferrer">MdcRippleOrchestration</a></td>
          <td>Use ripple orchestration properties and methods.</td>
        </tr>
        <tr>
          <td>active: boolean</td>
          <td>Activate or de-activate ripple ink effect. (Default is true)</td>
        </tr>
        <tr>
          <td>primary: boolean</td>
          <td>Colors the ripple with the primary theme color.</td>
        </tr>
        <tr>
          <td>secondary: boolean</td>
          <td>Colors the ripple with the secondary theme color.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutWrap>
<div fxLayout="column" fxFlexOffset="5">
<div class="demo-small-container" mdc-ripple>
  Click me
</div>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">div</span> <span style="color:#89bdff">mdc-ripple</span>></span>
  Click me
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">div</span>></span>
</pre>
</div>

<div fxLayout="column" fxFlexOffset="5">
<mdc-ripple class="demo-small-container" [mdc-elevation]="7" [active]="isRippleActive">
  Click me
</mdc-ripple>
  <mdc-form-field>
    <mdc-checkbox [(ngModel)]="isRippleActive"></mdc-checkbox>
    <label>Ripple Active</label>
  </mdc-form-field>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-ripple</span> [<span style="color:#89bdff">active</span>]=<span style="color:#65b042">"true"</span>></span>
  Click me
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-ripple</span>></span>
</pre>
</div>

<div fxLayout="column" fxFlexOffset="5">
  <mdc-ripple [primary]="true" class="demo-small-container" [mdc-elevation]="7">
   Ripple w/Primary Color
  </mdc-ripple>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-ripple</span> [<span style="color:#89bdff">primary</span>]=<span style="color:#65b042">"true"</span>></span>
 Ripple w/Primary Color
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-ripple</span>></span>
</pre>
</div>

<div fxLayout="column" fxFlexOffset="5">
  <mdc-ripple [secondary]="true" class="demo-small-container" [mdc-elevation]="7">
   Ripple w/Secondary Color
  </mdc-ripple>
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-ripple</span> [<span style="color:#89bdff">secondary</span>]=<span style="color:#65b042">"true"</span>></span>
 Ripple w/Secondary Color
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-ripple</span>></span>
</pre>
</div>
  </div>
</div>
