<div class="demo-content">
  <div class="demo-layout__row">
    <div class="demo-content">
      <h3 class="demo-content__headline">Anchor Corner</h3>
      <div class="demo-layout__column">
        <mdc-radio-group #menuSurfaceAnchorCorner class="demo-layout__column">
          <mdc-form-field *ngFor="let corner of corners">
            <mdc-radio [value]="corner"></mdc-radio>
            <label>{{corner}}</label>
          </mdc-form-field>
        </mdc-radio-group>
      </div>
    </div>

    <div class="demo-content">
      <h3 class="demo-content__headline">Anchor Margin</h3>
      <div class="demo-layout__column">
        <mdc-text-field #marginTop label="Top margin" type="number"></mdc-text-field>
        <mdc-text-field #marginBottom label="Bottom margin" type="number"></mdc-text-field>
        <mdc-text-field #marginLeft label="Left margin" type="number"></mdc-text-field>
        <mdc-text-field #marginRight label="Right margin" type="number"></mdc-text-field>
      </div>
    </div>

    <div class="demo-content">
      <div class="demo-layout__column">
        <mdc-form-field>
          <mdc-checkbox #quickOpen></mdc-checkbox>
          <label>Disable open animation: {{quickOpen.checked}}</label>
        </mdc-form-field>
        <mdc-form-field>
          <mdc-checkbox #fixed></mdc-checkbox>
          <label>Fixed position (scrolls with page)</label>
        </mdc-form-field>
        <mdc-form-field>
          <mdc-checkbox #hoistToBody></mdc-checkbox>
          <label>Hoist to Body</label>
        </mdc-form-field>
      </div>
    </div>
  </div>

  <div class="demo-layout--center">
    <div mdcMenuSurfaceAnchor #demoAnchor>
      <button mdc-button raised (click)="demoSurface.open = !demoSurface.open">
        Show Menu Surface
      </button>
      <mdc-menu-surface #demoSurface class="demo-menu-surface--one" [hoistToBody]="hoistToBody.checked"
        [anchorElement]="demoAnchor" [anchorCorner]="menuSurfaceAnchorCorner.value" [quickOpen]="quickOpen.checked"
        [fixed]="fixed.checked" [anchorMargin]="{top: marginTop.value, bottom: marginBottom.value, left: marginLeft.value, right: marginRight.value}">
        <mdc-image-list class="menu-surface-image-list">
          <mdc-image-list-item *ngFor="let i of images">
            <mdc-image-list-image-aspect>
              <img mdcImageListImage src="https://material-components-web.appspot.com/images/photos/3x2/{{i+1}}.jpg" />
            </mdc-image-list-image-aspect>
            <mdc-image-list-supporting>
              <span mdcImageListLabel>Text label</span>
            </mdc-image-list-supporting>
          </mdc-image-list-item>
        </mdc-image-list>
      </mdc-menu-surface>
    </div>
  </div>

  <example-viewer [example]="example1"></example-viewer>
</div>