<div class="demo-layout__column demo-layout--center">
  <div class="demo-page">
    <div class="markdown-body">
      <h1>Form Fields</h1>
      MDC Form Field aligns an MDC Web form field (for example, a checkbox) with its label and makes it RTL-aware. It also activates a ripple effect upon interacting with the label.
      <h2>References</h2>
      <ul>
        <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-form-field/README.md"
          target="_blank" rel="noopener noreferrer">Material Components Web</a>
        </li>
      </ul>
      <h2>Import</h2>
      <p class="docs-api-module-import"><![CDATA[import { MdcFormFieldModule } from '@angular-mdc/web';]]></p>

      <h2>Design & API Documentation</h2>
      <div class="docs-api">
        <p>
          <span class="docs-api-class-selector-label">Selector:</span>
          <span class="docs-api-class-selector-name">mdc-form-field</span>
        </p>
        <table>
          <thead>
            <tr>
              <th>Properties</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>alignEnd: boolean</td>
              <td>Position the input after the label.</td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>Methods</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>setInput(input: string)</td>
              <td>Gets and sets the form field input.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Basic Usage</h2>
      <a mdc-button href="https://stackblitz.com/edit/angular-mdc-form-field"
       target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
    </div>

    <div class="demo-content">
      <h3 class="demo-content__headline">Checkbox</h3>
      <div class="demo-layout__row">
        <button mdc-button (click)="demofield.alignEnd = !demofield.isAlignEnd()">Align End: {{demofield.alignEnd ? 'On' : 'Off'}}</button>
      </div>

      <mdc-form-field #demofield>
        <mdc-checkbox></mdc-checkbox>
        <label>Checkbox</label>
      </mdc-form-field>
    </div>

    <div class="demo-content">
      <h3 class="demo-content__headline">Radio</h3>
      <div class="demo-layout__row">
        <button mdc-button (click)="formfieldradio.setAlignEnd(!formfieldradio.alignEnd)">Align End: {{formfieldradio.alignEnd ? 'On' : 'Off'}}</button>
      </div>

      <mdc-form-field #formfieldradio>
        <mdc-radio #demoradio1></mdc-radio>
        <label>Radio</label>
      </mdc-form-field>
    </div>

    <div class="demo-content">
      <h3 class="demo-content__headline">Switch</h3>
      <div class="demo-layout__row">
        <button mdc-button (click)="demoformswitch.setAlignEnd(!demoformswitch.alignEnd)">Align End: {{demoformswitch.alignEnd ? 'On' : 'Off'}}</button>
      </div>

      <mdc-form-field #demoformswitch>
        <mdc-switch></mdc-switch>
        <label>off/on</label>
      </mdc-form-field>
    </div>
  </div>
</div>
