<div class="docs-api">
  <h4 mdcSubtitle2>Mixins for all Text Fields</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>ink-color($color)</code></td>
        <td>Customizes the color of the text entered into an enabled text field.
        </td>
      </tr>
      <tr>
        <td><code>placeholder-color($color)</code></td>
        <td>Customizes the color of the placeholder in an enabled text field.
        </td>
      </tr>
      <tr>
        <td><code>disabled-ink-color($color)</code></td>
        <td>Customizes the color of the entered text in a disabled text field.
        </td>
      </tr>
      <tr>
        <td><code>disabled-placeholder-color($color)</code></td>
        <td>Customizes the color of the placeholder in a disabled text field.
        </td>
      </tr>
      <tr>
        <td><code>label-color($color)</code></td>
        <td>Customizes the text color of the label in an enabled text field.
        </td>
      </tr>
      <tr>
        <td><code>disabled-label-color($color)</code></td>
        <td>Customizes the text color of the label in a disabled text field.
        </td>
      </tr>
      <tr>
        <td><code>caret-color($color)</code></td>
        <td>Customizes the color of the cursor caret of the text field.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Filled Text Field and Textarea</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>fill-color($color)</code></td>
        <td>Customizes the background color of the text field or textarea when
          enabled.</td>
      </tr>
      <tr>
        <td><code>disabled-fill-color($color)</code></td>
        <td>Customizes the background color of the text field or textarea when
          disabled.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Filled Text Field</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>shape-radius($radius, $rtl-reflexive)</code>
        </td>
        <td>Sets rounded shape to boxed text field variant with given radius
          size. Set <code>$rtl-reflexive</code> to true to flip radius values in
          RTL context, defaults to false.</td>
      </tr>
      <tr>
        <td><code>bottom-line-color($color)</code></td>
        <td>Customizes the text field bottom line color.</td>
      </tr>
      <tr>
        <td><code>hover-bottom-line-color($color)</code></td>
        <td>Customizes the hover text field bottom line color.</td>
      </tr>
      <tr>
        <td><code>disabled-bottom-line-color($color)</code></td>
        <td>Customizes the disabled text field bottom line color.</td>
      </tr>
      <tr>
        <td><code>line-ripple-color($color)</code></td>
        <td>Customizes the color of the default line ripple of the text field.
        </td>
      </tr>
      <tr>
        <td><code>density($density-scale)</code></td>
        <td>Sets density scale for default text field variant. Supported density
          scale values <code>-4</code>, <code>-3</code>, <code>-2</code>,
          <code>-1</code>, <code>0</code>.</td>
      </tr>
      <tr>
        <td><code>height($height)</code></td>
        <td>Sets height of default text field variant.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Outlined Text Field and Textarea</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>focused-outline-color($color)</code></td>
        <td>Customizes the outline border color when the text field or textarea
          is focused.</td>
      </tr>
      <tr>
        <td><code>hover-outline-color($color)</code></td>
        <td>Customizes the outline border color when the text field or textarea
          is hovered.</td>
      </tr>
      <tr>
        <td><code>disabled-outline-color($color)</code></td>
        <td>Customizes the outline border color when the text field or textarea
          is disabled.</td>
      </tr>
      <tr>
        <td><code>outline-color($color)</code></td>
        <td>Customizes the border color of the outlined text field or textarea.
        </td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Outlined Text Field</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code>outline-shape-radius($radius, $rtl-reflexive)</code>
        </td>
        <td>Sets rounded shape to outlined text field variant with given radius
          size. Set <code>$rtl-reflexive</code> to true to flip radius values in
          RTL context, defaults to false.</td>
      </tr>
      <tr>
        <td><code>outlined-density($density-scale)</code></td>
        <td>Sets density scale for outlined text field (Excluding outlined text
          field with leading icon). Supported density scale values
          <code>-4</code>, <code>-3</code>, <code>-2</code>, <code>-1</code>,
          <code>0</code>.</td>
      </tr>
      <tr>
        <td><code>outlined-height($height)</code></td>
        <td>Sets height of outlined text field variant (Excluding outlined text
          field with leading icon).</td>
      </tr>
      <tr>
        <td>
          <code>outlined-with-leading-icon-density($density-scale)</code>
        </td>
        <td>Sets density scale for outlined text field with leading icon.
          Supported density scale values <code>-4</code>, <code>-3</code>,
          <code>-2</code>, <code>-1</code>, <code>0</code>.</td>
      </tr>
      <tr>
        <td>
          <code>outlined-with-leading-icon-height($height)</code>
        </td>
        <td>Sets height of outlined text field with leading icon variant.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Textarea</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <code>textarea-shape-radius($radius, $rtl-reflexive)</code>
        </td>
        <td>Sets rounded shape to text area variant with given radius size. Set
          <code>$rtl-reflexive</code> to true to flip radius values in RTL
          context, defaults to false.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Text Field Icon</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>leading-icon-color($color)</code></td>
        <td>Customizes the color for the leading icon in an enabled text-field.
        </td>
      </tr>
      <tr>
        <td><code>trailing-icon-color($color)</code></td>
        <td>Customizes the color for the trailing icon in an enabled text-field.
        </td>
      </tr>
      <tr>
        <td><code>disabled-icon-color($color)</code></td>
        <td>Customizes the color for the leading/trailing icons in a disabled
          text-field.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Text Field Helper Text</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>helper-text-color($color)</code></td>
        <td>Customizes the color of the helper text following an enabled
          text-field.</td>
      </tr>
      <tr>
        <td><code>disabled-helper-text-color($color)</code></td>
        <td>Customizes the color of the helper text following a disabled
          text-field.</td>
      </tr>
      <tr>
        <td><code>helper-text-validation-color($color)</code>
        </td>
        <td>Customizes the color of the helper text when it's used as a
          validation message.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Text Field Character Counter</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>character-counter-color($color)</code></td>
        <td>Customizes the color of the character counter associated with an
          enabled text field.</td>
      </tr>
      <tr>
        <td><code>character-disabled-counter-color($color)</code>
        </td>
        <td>Customizes the color of the character counter associated with a
          disabled text field.</td>
      </tr>
      <tr>
        <td>
          <code>character-counter-position($xOffset, $yOffset)</code>
        </td>
        <td>Positions the character counter element inside text field. Used only
          for textarea variant.</td>
      </tr>
    </tbody>
  </table>
</div>