<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawer</h3>
  <p>
    Selector:
    <span class="markdown-code">mdc-drawer</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawer</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>drawer: string</td>
        <td>Set the drawer implementation.
          <p>Valid values: dismissible | modal | empty</p>
        </td>
      </tr>
      <tr>
        <td>open: boolean</td>
        <td>Opens or closes the drawer.</td>
      </tr>
      <tr>
        <td>fixedAdjustElement: any</td>
        <td>Optional. Reference to a drawer's attached body element.</td>
      </tr>
      <tr>
        <td>dir: string</td>
        <td>Optional. If value is 'rtl', drawer opens from the right side of the
          screen.</td>
      </tr>
      <tr>
        <td>autoFocus: boolean</td>
        <td>Whether the drawer should focus the first focusable element on open.
          (Default: true)</td>
      </tr>
      <tr>
        <td>restoreFocus: boolean</td>
        <td>Whether the drawer should restore focus to the previously-focused
          element, after it's closed. (Default: true)</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Events</h4>
  <table>
    <tbody>
      <tr>
        <td>opened()</td>
        <td>Event dispatched on drawer open.</td>
      </tr>
      <tr>
        <td>closed()</td>
        <td>Event dispatched on drawer close.</td>
      </tr>
      <tr>
        <td>openedChange(opened: boolean)</td>
        <td>Event dispatched on drawer open state changes.</td>
      </tr>
      <tr>
        <td>drawerChange()</td>
        <td>Event dispatched when the drawer variant changes.</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h3 class="demo-content__headline">Focus Management</h3>
  <p>By default, the first element within the drawer will receive focus upon
    open.
    This can be configured by setting the <code
      class="docs-markdown-code">cdkFocusInitial</code> attribute on another
    focusable element or setting <code
    class="docs-markdown-code">autoFocus</code> to false.</p>

  <pre><code highlight='<mdc-list-item cdkFocusInitial>
  <mdc-icon mdcListItemGraphic>star</mdc-icon>List item
</mdc-list-item>'></code></pre>

  <a mdc-button href="https://material.angular.io/cdk/a11y/overview#example"
    target="_blank" rel="noopener">Focus Trap - Read more</a>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawerHeader</h3>
  Optional. Non-scrollable element that exists at the top of the drawer.
  <p>
    Selector:
    <span class="markdown-code">mdc-drawer-header</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawerHeader</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>title: string</td>
        <td>Optional. Title text element of the drawer.</td>
      </tr>
      <tr>
        <td>subtitle: string</td>
        <td>Optional. Subtitle text element of the drawer.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawerTitle</h3>
  Optional. Title text element of the drawer.
  <p>
    Selector:
    <span class="markdown-code">mdcDrawerTitle</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawerTitle</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawerSubtitle</h3>
  Optional. Subtitle text element of the drawer.
  <p>
    Selector:
    <span class="markdown-code">mdcDrawerSubtitle</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawerSubtitle</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawerContent</h3>
  Scrollable content area of the drawer
  <p>
    Selector:
    <span class="markdown-code">mdc-drawer-content</span>
    <span class="markdown-code">mdcDrawerContent</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawerContent</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>dir: string</td>
        <td>Optional. If value is 'rtl', content is displayed right to left.
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawerAppContent</h3>
  Mandatory for dismissible variant only. Sibling element that is resized when the drawer opens/closes.
  <p>
    Selector:
    <span class="markdown-code">mdcDrawerAppContent</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawerAppContent</span>
</div>