<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawer</h3>
  <p>
    Selector:
    <span class="markdown-code">mdc-drawer</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawer</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>drawer: string</td>
        <td>Set the drawer implementation.
          <p>Valid values: 'permanent' | 'dismissible' | 'modal'</p>
        </td>
      </tr>
      <tr>
        <td>open: boolean</td>
        <td>Opens or closes the drawer.</td>
      </tr>
      <tr>
        <td>fixedAdjustElement: any</td>
        <td>Optional. Reference to a drawer's attached body element.</td>
      </tr>
      <tr>
        <td>dir: string</td>
        <td>Optional. If value is 'rtl', drawer opens from the right side of the screen.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Events</h4>
  <table>
    <tbody>
      <tr>
        <td>opened()</td>
        <td>Event dispatched on drawer open.</td>
      </tr>
      <tr>
        <td>closed()</td>
        <td>Event dispatched on drawer close.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawerHeader</h3>
  Optional. Non-scrollable element that exists at the top of the drawer.
  <p>
    Selector:
    <span class="markdown-code">mdc-drawer-header</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawerHeader</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>title: string</td>
        <td>Optional. Title text element of the drawer.</td>
      </tr>
      <tr>
        <td>subtitle: string</td>
        <td>Optional. Subtitle text element of the drawer.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawerTitle</h3>
  Optional. Title text element of the drawer.
  <p>
    Selector:
    <span class="markdown-code">mdcDrawerTitle</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawerTitle</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawerSubtitle</h3>
  Optional. Subtitle text element of the drawer.
  <p>
    Selector:
    <span class="markdown-code">mdcDrawerSubtitle</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawerSubtitle</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcDrawerContent</h3>
  Scrollable content area of the drawer
  <p>
    Selector:
    <span class="markdown-code">mdc-drawer-content</span>
    <span class="markdown-code">mdcDrawerContent</span>
  </p>
  Exported as: <span class="markdown-code">mdcDrawerContent</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>dir: string</td>
        <td>Optional. If value is 'rtl', content is displayed right to left.</td>
      </tr>
    </tbody>
  </table>
</div>