<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-drawer-border-color($color)</code></td>
        <td>Sets border color of <code>mdc-drawer</code> surface.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-divider-color($color)</code></td>
        <td>Sets divider color found between list groups.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-fill-color-accessible($color)</code></td>
        <td>Sets the fill color to <code>$color</code>, and list item and icon ink colors to an accessible color
          relative to <code>$color</code>.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-surface-fill-color($color)</code></td>
        <td>Sets the background color of <code>mdc-drawer</code>.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-title-ink-color($color)</code></td>
        <td>Sets the ink color of <code>mdc-drawer__title</code>.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-subtitle-ink-color</code></td>
        <td>Sets drawer subtitle and list subheader ink color.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-item-icon-ink-color($color)</code></td>
        <td>Sets drawer list item graphic icon ink color.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-item-text-ink-color($color)</code></td>
        <td>Sets drawer list item text ink color.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-item-activated-icon-ink-color($color)</code></td>
        <td>Sets activated drawer list item icon ink color.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-item-activated-text-ink-color($color)</code></td>
        <td>Sets activated drawer list item text ink color.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-shape-radius($radius)</code></td>
        <td>Sets the rounded shape to drawer with given radius size. <code>$radius</code> can be single radius or list
          of 2 radius values for trailing-top and trailing-bottom. Automatically flips the radius values in RTL
          context.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-item-shape-radius($radius, $rtl-reflexive)</code></td>
        <td>Sets the rounded shape to drawer navigation item with given radius size. Set <code>$rtl-reflexive</code> to
          true to flip radius values in RTL context, defaults to true.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-activated-overlay-color($color)</code></td>
        <td>Sets the overlay color of the activated drawer list item.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-scrim-fill-color($color)</code></td>
        <td>Sets the fill color of <code>mdc-drawer-scrim</code>.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-z-index($value)</code></td>
        <td>Sets the z index of drawer. Drawer stays on top of top app bar except for clipped variant of drawer.</td>
      </tr>
      <tr>
        <td><code>mdc-drawer-width($width)</code></td>
        <td>Sets the width of the drawer. In the case of the dismissible variant, also sets margin required for <code>mdc-drawer-app-content</code>.</td>
      </tr>
    </tbody>
  </table>
</div>