<div class="demo-content">
  <h3 class="demo-content__headline">Large</h3>
  <div class="demo-container">
    <mdc-circular-progress size="large">
    </mdc-circular-progress>
  </div>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Determinate</h3>
  <div class="demo-container">
    <mdc-circular-progress size="large" [determinate]="true" [progress]="sliderForLarge.value">
    </mdc-circular-progress>
    <div class="demo-container">
      <mdc-slider #sliderForLarge [min]="0" [max]="100" value="50" (input)="onInput($event)"
    (change)="onChange($event)"></mdc-slider>
    {{sliderForLarge.value}}
    </div>
  </div>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Medium</h3>
  <mdc-circular-progress size="medium">
  </mdc-circular-progress>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Small</h3>
  <mdc-circular-progress size="small">
  </mdc-circular-progress>
</div>