<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>ink-color($color)</code></td>
        <td>Sets the ink color of the top app bar.</td>
      </tr>
      <tr>
        <td><code>icon-ink-color($color)</code></td>
        <td>Sets the ink color of the top app bar icons.</td>
      </tr>
      <tr>
        <td><code>fill-color($color)</code></td>
        <td>Sets the fill color of the top app bar.</td>
      </tr>
      <tr>
        <td><code>fill-color-accessible($color)</code></td>
        <td>Sets the fill color of the top app bar and automatically sets a high-contrast ink color.</td>
      </tr>
      <tr>
        <td><code>short-shape-radius($radius, $rtl-reflexive)</code></td>
        <td>Sets the rounded shape to short top app bar variant (when it is collapsed) with given radius size. Set
          <code>$rtl-reflexive</code> to true to flip radius values in RTL context, defaults to true.</td>
      </tr>
    </tbody>
  </table>
</div>