<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Menu</h1>
  <p mdc-typography-subheading2>The MDC Menu component is a spec-aligned menu component adhering to the Material Design menu requirements.</p>
  <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-menu">Google's MDC Documentation</a>
  <h1 mdc-typography-headline>Usage</h1>
  <div>
    <pre class="prettyprint"><![CDATA[import { MenuModule } from '@angular-mdc/web';]]></pre>
  </div>
  <h1 mdc-typography-headline>Directives</h1>
  <div>
    <pre class="prettyprint">mdc-menu-anchor</pre>
    <pre class="prettyprint">mdc-menu-item</pre>
    <pre class="prettyprint">mdc-menu-divider</pre>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout="column">
      <h1 mdc-typography-headline>API reference</h1>
      <table>
        <thead>
          <tr>
            <th>Attribute</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">@Input() openFrom: string
// Valid values: TOP_LEFT (default), TOP_RIGHT, BOTTOM_LEFT and BOTTOM_RIGHT</pre></td>
            <td>Override the opening point of the menu.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Method</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">open(focusIndex: number)</pre></td>
            <td>Opens the menu. Takes an focusIndex property that specifies the index of the menu item to be focused. If the focusIndex is omitted, no menu item will be focused.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">isOpen()</pre></td>
            <td>Returns whether or not the menu is open.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">close()</pre></td>
            <td>Closes the menu.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Event</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">cancel</pre></td>
            <td>Dispatches an event that the menu closed with no selection made.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">select</pre></td>
            <td>Dispatches an event that a menu item has been selected.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h1 mdc-typography-headline>Examples</h1>
  <div fxLayout="column" class="mdc-padding">
    <p>Change opening point of menu (openFrom)</p>
    <div fxLayout="row">
      <mdc-form-field>
        <mdc-radio value="TOP_LEFT" (change)="handleChange();" name="radioGroup" [(ngModel)]="openingPoint"></mdc-radio>
        <label>Top Left</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-radio value="TOP_RIGHT" (change)="handleChange();" name="radioGroup" [(ngModel)]="openingPoint"></mdc-radio>
        <label>Top Right</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-radio value="BOTTOM_LEFT" (change)="handleChange();" name="radioGroup" [(ngModel)]="openingPoint"></mdc-radio>
        <label>Bottom Left</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-radio value="BOTTOM_RIGHT" (change)="handleChange();" name="radioGroup" [(ngModel)]="openingPoint"></mdc-radio>
        <label>Bottom Right</label>
      </mdc-form-field>
    </div>
    <div fxLayout="column" class="mdc-padding">
      <div mdc-menu-anchor>
        <button mdc-fab (click)="showMenu();">
          <span mdc-fab-icon>person</span>
        </button>
        <mdc-menu #menu (select)="handleMenuSelect($event);">
          <mdc-menu-item [id]="0">Item 1</mdc-menu-item>
          <mdc-menu-item [id]="1" [disabled]="true">Item 2</mdc-menu-item>
          <mdc-menu-item [id]="2">Item 3</mdc-menu-item>
          <mdc-menu-divider></mdc-menu-divider>
          <mdc-menu-item [id]="3">Item 4</mdc-menu-item>
        </mdc-menu>
      </div>
      <div fxLayout="column" fxFlexOffset="5">
        <p mdc-typography-body1>Selected index: {{selectedIndex}}</p>
      </div>
    </div>
    <pre class="prettyprint">
<![CDATA[
<div mdc-menu-anchor>
  <button mdc-fab (click)="showMenu();">
    <span mdc-fab-icon>person</span>
  </button>
  <mdc-menu #menu (select)="handleMenuSelect($event);">
    <mdc-menu-item [id]="0">Item 1</mdc-menu-item>
    <mdc-menu-item [id]="1" [disabled]="true">Item 2</mdc-menu-item>
    <mdc-menu-item [id]="2">Item 3</mdc-menu-item>
    <mdc-menu-divider></mdc-menu-divider>
    <mdc-menu-item [id]="3">Item 4</mdc-menu-item>
  </mdc-menu>
</div>
]]></pre>
  </div>
</div>
