<div fxLayout="column" style="padding: 20px 0 15px; margin-left: 15px;">
  <span mdc-typography-headline>Angular Material Design Components</span>
  <span mdc-typography-subheading1>View on <a href="https://github.com/trimox/angular-mdc-web" alt="GitHub" mdc-typography-subheading1>GitHub</a></span>
</div>
<div fxLayout="row" fxLayoutAlign="center start" fxLayoutWrap fxLayoutGap="10px">
  <mdc-card class="home-card" *ngFor="let item of navLinks">
    <mdc-card-primary>
      <h1 mdc-card-title>{{item.name}}</h1>
    </mdc-card-primary>
    <mdc-card-supporting-text>
      {{item.desc}}
    </mdc-card-supporting-text>
    <mdc-card-actions fxLayoutAlign.xs="end">
      <button mdc-button [cardAction]="true" [routerLink]="[item.route]">Explore</button>
    </mdc-card-actions>
  </mdc-card>
</div>
