<div class="mdc-padding">
  <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px" class="mdc-padding">
    <mdc-card class="home-card" *ngFor="let item of navLinks">
      <mdc-card-primary>
        <h1 mdc-card-title>{{item.name}}</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        {{item.desc}}
      </mdc-card-supporting-text>
      <mdc-card-actions fxLayoutAlign.xs="end">
        <button mdc-card-button [routerLink]="[item.route]">Explore</button>
      </mdc-card-actions>
    </mdc-card>
  </div>
</div>
<div class="mdc-padding">
  <span mdc-typography-headline>Material Properties</span>
  <div fxLayout="row" fxLayoutWrap fxLayoutGap="10px" class="mdc-padding">
    <mdc-card class="home-card" *ngFor="let item of coreLinks">
      <mdc-card-primary>
        <h1 mdc-card-title>{{item.name}}</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        {{item.desc}}
      </mdc-card-supporting-text>
      <mdc-card-actions fxLayoutAlign.xs="end">
        <button mdc-card-button [routerLink]="[item.route]">Explore</button>
      </mdc-card-actions>
    </mdc-card>
  </div>
</div>
