<div fxLayout="column" class="mdc-padding">
  <h1 mdc-typography-display1>Lists</h1>
  <div mdc-typography-subheading2>MDC List provides styles which implement Material Design Lists - "A single continuous column of tessellated subdivisions of equal width." Both single-line and two-line lists are supported.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcListModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-list</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>dense: boolean</td>
          <td>Shrinks the font size and height of each list item.</td>
        </tr>
        <tr>
          <td>twoLine: boolean</td>
          <td>Sets a class modifier for using two lines inside of list items.</td>
        </tr>
        <tr>
          <td>avatar: boolean</td>
          <td>Style the start detail elements as "avatars" - large, circular details that lend themselves well to contact images, profile pictures, etc.</td>
        </tr>
        <tr>
          <td>border: boolean</td>
          <td>Sets a border around the list.</td>
        </tr>
        <tr>
          <td>disableRipple: boolean</td>
          <td>Disables ink ripple. Applied at the parent mdc-list level; overrides mdc-list-item's [disableRipple].</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-list-item</td>
        </tr>
        <tr>
          <td>a[mdc-list-item]</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>disableRipple: boolean</td>
          <td>
<pre><code><![CDATA[Disables ink ripple on an individual list item.
Note: Overridden by mdc-list's [disableRipple]]]></code></pre></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directive</th>
        </tr>
      </thead>
        <tr>
          <td>mdc-list-item-start</td>
          <td>Position element at the start of the row.</td>
        </tr>
        <tr>
          <td>mdc-list-item-end</td>
          <td>Position element at the end of the row.</td>
        </tr>
        <tr>
          <td>mdc-list-item-text</td>
        </tr>
        <tr>
          <td>mdc-list-item-secondary</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-list-divider</td>
          <td>Use as full-width or inset subdivisions either within lists themselves, or event standalone.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>inset: boolean</td>
          <td>Inset dividers are useful when working with lists which have start details.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Directive</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-list-group</td>
          <td>Multiple related lists can be grouped together using the mdc-list-group.</td>
        </tr>
        <tr>
          <td>mdc-list-group-subheader</td>
          <td>Use to add a subheader to the top of your grouped list.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <h3>Single-Line</h3>
    <div fxLayout="row">
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isSinglelineDense"></mdc-checkbox>
        <label>Dense</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isSingleDarkTheme"></mdc-checkbox>
        <label>Dark Theme</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isBordered"></mdc-checkbox>
        <label>Bordered</label>
      </mdc-form-field>
    </div>
<mdc-list [dense]="isSinglelineDense" [mdc-theme-dark]="isSingleDarkTheme" [border]="isBordered">
  <mdc-list-item>Single-line item</mdc-list-item>
  <mdc-list-item>Single-line item</mdc-list-item>
  <mdc-list-item>Single-line item</mdc-list-item>
</mdc-list>
    <div fxLayout="column" fxLayoutAlign="start start">
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span> [<span style="color:#89bdff">dense</span>]=<span style="color:#65b042">"false"</span>
  [<span style="color:#89bdff">mdc-theme-dark</span>]=<span style="color:#65b042">"false"</span>
  [<span style="color:#89bdff">border</span>]=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>Single-line item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>Single-line item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>Single-line item<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span>></span>
</pre></div>
 </div>
  <div fxLayout="column" class="mdc-padding">
    <h3>Two-line List</h3>
    <div fxLayout="row">
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isTwolineDense"></mdc-checkbox>
        <label>Dense</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isTwoDarkTheme"></mdc-checkbox>
        <label>Dark Theme</label>
      </mdc-form-field>
    </div>
    <mdc-list [twoLine]="true" [dense]="isTwolineDense" [mdc-theme-dark]="isTwoDarkTheme" [border]="true">
      <mdc-list-item>
        <mdc-list-item-text>
          Single-line item
          <mdc-list-item-secondary>Secondary text</mdc-list-item-secondary>
        </mdc-list-item-text>
      </mdc-list-item>
      <mdc-list-item>
        <mdc-list-item-text>
          Single-line item
          <mdc-list-item-secondary>Secondary text</mdc-list-item-secondary>
        </mdc-list-item-text>
      </mdc-list-item>
      <mdc-list-item>
        <mdc-list-item-text>
          Single-line item
          <mdc-list-item-secondary>Secondary text</mdc-list-item-secondary>
        </mdc-list-item-text>
      </mdc-list-item>
    </mdc-list>

   <div fxLayout="column" fxLayoutAlign="start start">
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span> 
  [<span style="color:#89bdff">twoLine</span>]=<span style="color:#65b042">"true"</span>
  [<span style="color:#89bdff">dense</span>]=<span style="color:#65b042">"false"</span>
  [<span style="color:#89bdff">border</span>]=<span style="color:#65b042">"true"</span>
  [<span style="color:#89bdff">mdc-theme-dark</span>]=<span style="color:#65b042">"false"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-text</span>></span>
      Single-line item
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-secondary</span>></span>Secondary text<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-secondary</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-text</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-text</span>></span>
      Single-line item
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-secondary</span>></span>Secondary text<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-secondary</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-text</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-text</span>></span>
      Single-line item
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-secondary</span>></span>Secondary text<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-secondary</span>></span>
    <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item-text</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span>></span>
</pre></div></div>

  <div fxLayout="column" class="mdc-padding">
    <h3>Start Detail</h3>
    <div fxLayout="row">
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isStartDetailDarkTheme"></mdc-checkbox>
        <label>Dark Theme</label>
      </mdc-form-field>
    </div>
    <mdc-list [mdc-theme-dark]="isStartDetailDarkTheme" [border]="true">
      <mdc-list-item>
        <mdc-icon mdc-list-item-start>network_wifi</mdc-icon>Wi-Fi
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-start>data_usage</mdc-icon>Data Usage
      </mdc-list-item>
    </mdc-list>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <h3>End Detail</h3>
    <mdc-list [border]="true">
      <mdc-list-item>
        Wi-Fi<mdc-icon mdc-list-item-end>info</mdc-icon>
      </mdc-list-item>
      <mdc-list-item>
        Bluetooth<mdc-icon mdc-list-item-end>info</mdc-icon>
      </mdc-list-item>
      <mdc-list-item>
        Data Usage<mdc-icon mdc-list-item-end>info</mdc-icon>
      </mdc-list-item>
    </mdc-list>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <h3>Start + End Detail</h3>
    <div fxLayout="row">
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isStartEndDetailDarkTheme"></mdc-checkbox>
        <label>Dark Theme</label>
      </mdc-form-field>
    </div>
<mdc-list [mdc-theme-dark]="isStartEndDetailDarkTheme" [border]="true">
  <mdc-list-item>
    <mdc-icon mdc-list-item-start>network_wifi</mdc-icon>Wi-Fi<mdc-icon mdc-list-item-end>info</mdc-icon>
  </mdc-list-item>
  <mdc-list-item>
    <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth<mdc-icon mdc-list-item-end>info</mdc-icon>
  </mdc-list-item>
  <mdc-list-item>
    <mdc-icon mdc-list-item-start>data_usage</mdc-icon>Data Usage<mdc-icon mdc-list-item-end>info</mdc-icon>
  </mdc-list-item>
</mdc-list>
        <div fxLayout="column" fxLayoutAlign="start start">
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span>
 [<span style="color:#89bdff">mdc-theme-dark</span>]=<span style="color:#65b042">"false"</span>
 [<span style="color:#89bdff">border</span>]=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>network_wifi<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Wi-Fi
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-end</span>></span>info<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>bluetooth<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Bluetooth
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-end</span>></span>info<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>data_usage<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Data Usage
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-end</span>></span>info<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span>></span>
</pre>
</div>  </div>

  <div fxLayout="column" class="mdc-padding">
    <h3>Avatar List</h3>
    <div fxLayout="row">
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isAvatarDense"></mdc-checkbox>
        <label>Dense</label>
      </mdc-form-field>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isAvatarDarkTheme"></mdc-checkbox>
        <label>Dark Theme</label>
      </mdc-form-field>
    </div>
    <mdc-list avatar="true" [dense]="isAvatarDense" [mdc-theme-dark]="isAvatarDarkTheme" [border]="true">
      <mdc-list-item>
        <mdc-icon mdc-list-item-start>person</mdc-icon>Single-line item
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-start>person</mdc-icon>Single-line item
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdc-list-item-start>person</mdc-icon>Single-line item
      </mdc-list-item>
    </mdc-list>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <h3>Avatar List + Checkbox</h3>
<mdc-list [avatar]="true" [dense]="isAvatarDense" [mdc-theme-dark]="isAvatarDarkTheme" [border]="true">
  <mdc-list-item>
    <mdc-icon mdc-list-item-start>person</mdc-icon>Single-line item
    <mdc-checkbox mdc-list-item-end></mdc-checkbox>
  </mdc-list-item>
  <mdc-list-item>
    <mdc-icon mdc-list-item-start>person</mdc-icon>Single-line item
    <mdc-checkbox mdc-list-item-end></mdc-checkbox>
  </mdc-list-item>
  <mdc-list-item>
    <mdc-icon mdc-list-item-start>person</mdc-icon>Single-line item
    <mdc-checkbox mdc-list-item-end></mdc-checkbox>
  </mdc-list-item>
</mdc-list>
        <div fxLayout="column" fxLayoutAlign="start start">
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span> [<span style="color:#89bdff">avatar</span>]=<span style="color:#65b042">"true"</span>
  [<span style="color:#89bdff">dense</span>]=<span style="color:#65b042">"false"</span>
  [<span style="color:#89bdff">mdc-theme-dark</span>]=<span style="color:#65b042">"false"</span>
  [<span style="color:#89bdff">border</span>]=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>person<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Single-line item
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-checkbox</span> <span style="color:#89bdff">mdc-list-item-end</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-checkbox</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>person<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Single-line item
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-checkbox</span> <span style="color:#89bdff">mdc-list-item-end</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-checkbox</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>person<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Single-line item
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-checkbox</span> <span style="color:#89bdff">mdc-list-item-end</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-checkbox</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-item</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span>></span>
</pre></div>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <h3>Interactive Lists (using ink ripple)</h3>
<mdc-list [border]="true">
  <a mdc-list-item href="#/list-demo">
    <mdc-icon mdc-list-item-start>network_wifi</mdc-icon>Wi-Fi
    <mdc-icon mdc-list-item-end>info</mdc-icon>
  </a>
  <a mdc-list-item href="#/list-demo">
    <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
    <mdc-icon mdc-list-item-end>info</mdc-icon>
  </a>
  <a mdc-list-item href="#/list-demo">
    <mdc-icon mdc-list-item-start>data_usage</mdc-icon>Data Usage
    <mdc-icon mdc-list-item-end>info</mdc-icon>
  </a>
</mdc-list>
        <div fxLayout="column" fxLayoutAlign="start start">
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span> [<span style="color:#89bdff">border</span>]=<span style="color:#65b042">"true"</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-list-item</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/list-demo"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>network_wifi<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Wi-Fi
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-end</span>></span>info<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>
  <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-list-item</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/list-demo"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>bluetooth<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Bluetooth
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-end</span>></span>info<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>
  <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
  <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-list-item</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/list-demo"</span>></span>
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>data_usage<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Data Usage
    <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-end</span>></span>info<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>
  <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span>></span>
</pre></div>  </div>
  <div fxLayout="column" class="mdc-padding">
    <h3>Grouped Lists</h3>
<mdc-list-group>
  <mdc-list-group-subheader>Grouped Lists</mdc-list-group-subheader>
  <mdc-list>
    <a mdc-list-item href="#/list-demo">
      <mdc-icon mdc-list-item-start>network_wifi</mdc-icon>Wi-Fi
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item href="#/list-demo">
      <mdc-icon mdc-list-item-start>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
    <a mdc-list-item href="#/list-demo">
      <mdc-icon mdc-list-item-start>data_usage</mdc-icon>Data Usage
      <mdc-icon mdc-list-item-end>info</mdc-icon>
    </a>
  </mdc-list>
  <mdc-list-divider></mdc-list-divider>
  <mdc-list-group-subheader>2nd Group</mdc-list-group-subheader>
  <mdc-list [avatar]="true">
    <a mdc-list-item href="#/list-demo">
      <mdc-icon mdc-list-item-start>person</mdc-icon>Single-line item
    </a>
    <a mdc-list-item href="#/list-demo">
      <mdc-icon mdc-list-item-start>person</mdc-icon>Single-line item
    </a>
    <a mdc-list-item href="#/list-demo">
      <mdc-icon mdc-list-item-start>person</mdc-icon>Single-line item
    </a>
  </mdc-list>
</mdc-list-group>
  </div>
          <div fxLayout="column" fxLayoutAlign="start start">
<pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-group</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-group-subheader</span>></span>Grouped Lists<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-group-subheader</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-list-item</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/list-demo"</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>network_wifi<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Wi-Fi
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-end</span>></span>info<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-list-item</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/list-demo"</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>bluetooth<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Bluetooth
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-end</span>></span>info<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-list-item</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/list-demo"</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>data_usage<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Data Usage
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-end</span>></span>info<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-divider</span>></span><span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-divider</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-group-subheader</span>></span>2nd Group<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-group-subheader</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span> <span style="color:#89bdff">avatar</span>=<span style="color:#65b042">"true"</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-list-item</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/list-demo"</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>person<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Single-line item
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-list-item</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/list-demo"</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>person<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Single-line item
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">a</span> <span style="color:#e0c589">mdc-list-item</span> <span style="color:#e0c589">href</span>=<span style="color:#65b042">"#/list-demo"</span>></span>
      <span style="color:#89bdff">&lt;<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span> <span style="color:#89bdff">mdc-list-item-start</span>></span>person<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-icon</span>></span>Single-line item
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">a</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">mdc</span><span style="color:#89bdff">-list-group</span>></span>
</pre></div>
