// MDC
@import './mdc.scss';

// Remove clear button for IE inputs
::-ms-clear {
  display: none;
}

// Remove pseudo-element for password field from IE
::-ms-reveal {
  display: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.500em;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
}

.mdc-padding {
  padding: 10px;
}

.mdc-margin {
  margin: 8px;
}

.material-icons {
  text-decoration: none;
  cursor: pointer;
  padding-right: 8px;
  color: white;
}

pre.prettyprint {
  width: auto !important;
  margin-right: 15px !important;
}

.home-card {
  width: 400px;
  margin-right: 15px;
  margin-top: 15px;
}
