$slate-grape: rgb(65, 64, 70);

$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;


.demo-toolbar--primary {
  @include mdc-theme-prop(background-color, $slate-grape);
}
@import "../../theme/material";

// .mdc-theme--dark {
//   background-color: #333;
// }

// Remove clear button for IE inputs
::-ms-clear {
  display: none;
}

// Remove pseudo-element for password field from IE
::-ms-reveal {
  display: none;
}

.mdc-textfield--short {
  width: 5rem;
}

.mdc-padding {
  padding: 7px !important;
}

.demo-card__16-9-media {
  height: 12.313rem;
  background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.home-card {
  width: 21.875rem;
  margin-bottom: 20px;
}

.demo-card {
  width: 22.875rem;
  margin-bottom: 20px;
}

.demo-surface {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  margin: 0 60px 80px;
  border-radius: 3px;
  background: white;
  color: #9e9e9e;
  font-size: .8rem;
}

.demo-icon-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 190px;
}

.info-banner {
  justify-content: center;
  height: auto;
  margin: 16px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding: 16px;
  border: 1px solid hsla(0, 0%, 86%, .5);
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  overflow: visible;
}

.docs-api table {
  margin: 0 0 32px;
  border-radius: 2px;
  color: rgba(0, 0, 0, .87);
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);

  tbody tr td:first-child {
    min-width: 5em;
  }

  th {
    padding: 13px 32px;
    background: #f5f5f5;
    text-align: left;
  }

  td {
    margin: 1em, 0;
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, .03);
    font-family: monospace;
    font-size: 14px;
  }
}

pre {
  padding: 6px;
}

.demo-wrapper {
  border: 1px solid rgba(0, 0, 0, .1);
}

.grey-avatar {
  background-color: #999;
  color: #fff;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
}

.panels {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

  .panel {
    display: block;
  }
}

.fa-icon {
  justify-content: center;
  font-size: 24px;
}
