@import "./mdc.scss";
// Remove clear button for IE inputs
::-ms-clear {
  display: none;
}

// Remove pseudo-element for password field from IE
::-ms-reveal {
  display: none;
}

.mdc-padding {
  padding: 7px !important;
}

.mdc-theme--dark {
  background-color: #333;
}

.prettyprint {
  width: 97% !important;
}

td {
  padding-right: 25px;
}

.demo-card__16-9-media {
  height: 12.313rem;
  background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.demo-card {
  width: 21.875rem;
  margin-bottom: 20px;
}
