$potus-blue: #2980b9;

$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;

@import "../../theme/material.scss";

body {
  height: 100%;
  margin: 0;
}

// Remove clear button for IE inputs
::-ms-clear {
  display: none;
}

// Remove pseudo-element for password field from IE
::-ms-reveal {
  display: none;
}

.demo-toolbar--primary {
  @include mdc-theme-prop(background-color, $potus-blue);
}

.mdc-textfield--short {
  width: 5rem;
}

.mdc-padding {
  padding: 7px !important;
}

.demo-select-container {
  .mdc-select {
    width: 200px;
  }
  .mdc-simple-menu {
    width: 224px;
  }
}

.demo-landing {
  @include mdc-theme-prop(color, #fff);
  @include mdc-theme-prop(background-color, $potus-blue);
  height: 35vh;
}

.demo-landing-card {
  @include mdc-theme-prop(background-color, #fff);
  width: 35em;
  min-height: 190px;
  margin-top: -70px;
  padding: 7px;
}

.demo-card__16-9-media {
  height: 12.313rem;
  background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.demo-toolbar-logo {
  line-height: 0.5rem;
}

.demo-card {
  width: 22.875rem;
  margin-bottom: 20px;
}

.demo-surface {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  margin: 0 60px 80px;
  border-radius: 3px;
  background: white;
  color: #9e9e9e;
  font-size: .8rem;
}

.demo-small-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 170px;
  padding: 5px;
}

.info-banner {
  justify-content: center;
  margin: 16px 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding: 16px;
  border: 1px solid hsla(0, 0%, 86%, .5);
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  overflow: visible;
}

.docs-api table {
  margin: 0 0 32px;
  border-radius: 2px;
  color: rgba(0, 0, 0, .87);
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .24), 0 0 1px rgba(0, 0, 0, .12);

  tbody tr td:first-child {
    min-width: 5em;
  }

  th {
    padding: 13px 32px;
    background: #f5f5f5;
    text-align: left;
  }

  td {
    margin: 1em, 0;
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, .03);
    font-size: 0.8em;
    font-family: monospace, monospace;
  }

  pre {
    font-size: 0.9em;
    font-family: monospace, monospace;
  }
}

.panels {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

  .panel {
    display: block;
  }
}

.demo-drawer-host {
  border: 1px solid;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 800px;
}

.demo-tabs-host {
  border: 1px solid;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 800px;
}
