/* Material Design Components - Web */

$mdc-theme-primary: #1565c0;

@import "material-components-web/material-components-web";

.mdc-button {
  border-radius: 2px;
}

.mdc-dialog {
  @media (max-width: 599px) {
    &__surface {
      width: calc(100% - 30px);
    }
  }

  @media (min-width: 600px) {
    &__surface {
      width: auto;
    }
  }
}
