<div class="docs-api">
  <h3 mdcHeadline6>MdcChipSet</h3>
  <p>
    Selector:
    <span class="markdown-code">mdc-chip-set</span>
  </p>
  Exported as: <span class="markdown-code">mdcChipSet</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>choice: boolean</td>
        <td>Indicates that the chips in the set are choice chips, which allow a single selection from a set of options.</td>
      </tr>
      <tr>
        <td>filter: boolean</td>
        <td>Indicates that the chips in the set are filter chips, which allow multiple selection from a set of options.</td>
      </tr>
      <tr>
        <td>input: boolean</td>
        <td>Indicates that the chips in the set are input chips, which enable user input by converting text into chips.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>getSelectedChipIds(): string[]</td>
        <td>Returns an array of the IDs of all selected chips.</td>
      </tr>
      <tr>
        <td>select(chipId: string): void</td>
        <td>Selects the chip with the given id. Deselects all other chips if the chip set is of the choice variant.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Events</h4>
  <table>
    <tbody>
      <tr>
        <td>interaction: MdcChipInteractionEvent</td>
        <td>Indicates when a chip is interacted with (via click/tap or Enter key)</td>
      </tr>
      <tr>
        <td>change: MdcChipSetChange</td>
        <td>Emitted when a chip is interacted with.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcChip</h3>
  <p>
    Selector:
    <span class="markdown-code">mdc-chip</span>
  </p>
  Exported as: <span class="markdown-code">mdcChip</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>choice: boolean</td>
        <td>Indicates that the chips in the set are choice chips, which allow a single selection from a set of options.</td>
      </tr>
      <tr>
        <td>filter: boolean</td>
        <td>Indicates that the chips in the set are filter chips, which allow multiple selection from a set of options.</td>
      </tr>
      <tr>
        <td>input: boolean</td>
        <td>Indicates that the chips in the set are input chips, which enable user input by converting text into chips.</td>
      </tr>
      <tr>
        <td>label: string</td>
        <td>Sets the text content of the chip.</td>
      </tr>
      <tr>
        <td>value: string | string[]</td>
        <td>The value of the chip. Defaults to the content inside <code>mdc-chip</code>.</td>
      </tr>
      <tr>
        <td>removable: boolean</td>
        <td>Sets whether a trailing icon click should trigger exit/removal of the chip. (Default is true)</td>
      </tr>
      <tr>
        <td>disableRipple: boolean</td>
        <td>Whether ripples are disabled.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>focus()</td>
        <td>Set focus to the chip.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Events</h4>
  <table>
    <tbody>
      <tr>
        <td>interactionEvent: MdcChipInteractionEvent</td>
        <td>Indicates the chip was interacted with (via click/tap or Enter key)</td>
      </tr>
      <tr>
        <td>selectionChange: MdcChipSelectionEvent</td>
        <td>Indicates the chip's selection state has changed (for choice/filter chips)</td>
      </tr>
      <tr>
        <td>removalEvent: MdcChipRemovalEvent</td>
        <td>Indicates the chip removal event from a chip set</td>
      </tr>
      <tr>
        <td>navigationEvent: MdcChipNavigationEvent</td>
        <td>Indicates a navigation event has occurred on a chip</td>
      </tr>
      <tr>
        <td>trailingIconInteraction: MdcChipInteractionEvent</td>
        <td>Indicates the chip's trailing icon was interacted with (via click/tap or Enter key)</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcChipText</h3>
  Optional. Indicates the text content of the chip.
  <p>
    Selector:
    <span class="markdown-code">mdc-chip-text</span>
  </p>
  Exported as: <span class="markdown-code">mdcChipText</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcChipIcon</h3>
  Optional. Indicates the text content of the chip.
  <p>
    Selector:
    <span class="markdown-code">mdc-chip-icon</span>
  </p>
  Exported as: <span class="markdown-code">mdcChipIcon</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>leading: boolean</td>
        <td>Indicates a leading icon in the chip</td>
      </tr>
      <tr>
        <td>trailing: boolean</td>
        <td>Indicates a trailing icon in the chip</td>
      </tr>
    </tbody>
  </table>
</div>