<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Linear Progress</h1>
  <p mdc-typography-subheading2>The MDC Linear Progress component is a spec-aligned linear progress indicator component adhering to the Material Design progress & activity requirements.</p>
  <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-button">Google Material Components documentation</a>
  <h1 mdc-typography-headline>Usage</h1>
  <div>
    <pre class="prettyprint"><![CDATA[import { LinearProgressModule } from '@angular-mdc/web';]]></pre>
  </div>
  <div fxLayout="column">
    <h1 mdc-typography-headline>API reference</h1>
    <table>
      <thead>
        <tr>
          <th>Attribute</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre class="prettyprint">@Input() indeterminate: boolean</pre></td>
          <td>Puts the linear progress indicator in an indeterminate state.</td>
        </tr>
        <tr>
          <td><pre class="prettyprint">@Input() reversed: boolean</pre></td>
          <td>Reverses the direction of the linear progress indicator.</td>
        </tr>
        <tr>
          <td><pre class="prettyprint">@Input() accent: boolean</pre></td>
          <td>Colors the button with the accent color.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Function</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><pre class="prettyprint">open()</pre></td>
          <td>Puts the component in the open state.</td>
        </tr>
        <tr>
          <td><pre class="prettyprint">close()</pre></td>
          <td>Puts the component in the closed state.</td>
        </tr>
        <tr>
          <td><pre class="prettyprint">setProgress(value: number)</pre></td>
          <td>Sets the progress bar to this value. Value should be between [0, 1].</td>
        </tr>
        <tr>
          <td><pre class="prettyprint">setBuffer(value: number)</pre></td>
          <td>Sets the buffer bar to this value. Value should be between [0, 1].</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h1 mdc-typography-headline>Examples</h1>
  <div fxLayout="column" class="mdc-padding">
    <mdc-linear-progress [indeterminate]="true"></mdc-linear-progress>
    <p>Indeterminate</p>
    <pre class="prettyprint">
&lt;mdc-linear-progress [indeterminate]="true"&gt;&lt;/mdc-linear-progress&gt;
      </pre>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <mdc-linear-progress [indeterminate]="false"></mdc-linear-progress>
    <p>Determinate</p>
    <pre class="prettyprint">
&lt;mdc-linear-progress [indeterminate]="false"&gt;&lt;/mdc-linear-progress&gt;
      </pre>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <mdc-linear-progress [indeterminate]="true" [reversed]="true"></mdc-linear-progress>
    <p>Reversed</p>
    <pre class="prettyprint">
&lt;mdc-linear-progress [indeterminate]="true" [reversed]="true"&gt;&lt;/mdc-linear-progress&gt;
      </pre>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <mdc-linear-progress [indeterminate]="true" [accent]="true"></mdc-linear-progress>
    <p>Accent</p>
    <pre class="prettyprint">
&lt;mdc-linear-progress [indeterminate]="true" [accent]="true"&gt;&lt;/mdc-linear-progress&gt;
      </pre>
  </div>
</div>
