<div class="docs-api">
  <h3 mdcHeadline6>MdcImageList</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-image-list</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcImageList</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>masonry: boolean</td>
        <td>Indicates that this Image List should use the Masonry variant.</td>
      </tr>
      <tr>
        <td>textProtection: boolean</td>
        <td>Indicates that supporting content should be positioned in a scrim overlaying each image (instead of
          positioned separately under each image).</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcImageList</h3>
  Mandatory. Indicates each item in an Image List.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-image-list</span>
    <span class="docs-api-class-selector-name">mdcImageListItem</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcImageListItem</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcImageListImageAspect</h3>
  Optional. Parent of each item's image element, responsible for constraining aspect ratio. This element may be omitted
  entirely if images are already sized to the correct aspect ratio.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-image-list-image-aspect</span>
    <span class="docs-api-class-selector-name">mdcImageListImageAspect</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcImageListImageAspect</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcImageListImage</h3>
  Mandatory. Indicates the image element in each item.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-image-list-image</span>
    <span class="docs-api-class-selector-name">mdcImageListImage</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcImageListImage</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcImageListSupporting</h3>
  Optional. Indicates the area within each item containing the supporting text label, if the Image List contains text
  labels.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-image-list-supporting</span>
    <span class="docs-api-class-selector-name">MdcImageListSupporting</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcImageListSupporting</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcImageListLabel</h3>
  Optional. Indicates the text label in each item, if the Image List contains text labels.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-image-list-label</span>
    <span class="docs-api-class-selector-name">mdcImageListLabel</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcImageListLabel</span>
</div>