<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-image-list-aspect($width-height-ratio)</code></td>
        <td>Styles the aspect container elements within an Image List to conform to the given ratio, where 1 is 1:1,
          greater than 1 is wider, and less than 1 is taller.</td>
      </tr>
      <tr>
        <td><code>mdc-image-list-shape-radius($radius, $rtl-reflexive)</code></td>
        <td>Sets the rounded shape to image list item with given radius size. Set <code>$rtl-reflexive</code> to true
          to flip radius values in RTL context, defaults to false.</td>
      </tr>
      <tr>
        <td><code>mdc-image-list-standard-columns($column-count, $gutter-size)</code></td>
        <td>Styles a Standard Image List to display the given number of columns. <code>$gutter-size</code> is optional
          and overrides the default amount of space between items.</td>
      </tr>
      <tr>
        <td><code>mdc-image-list-masonry-columns($column-count, $gutter-size)</code></td>
        <td>Styles a Masonry Image List to display the given number of columns. <code>$gutter-size</code> is optional
          and overrides the default amount of space between items.</td>
      </tr>
    </tbody>
  </table>
</div>