<div class="docs-api">
  <h3 mdcHeadline6>MdcButton</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">button[mdc-button]</span>
    <span class="docs-api-class-selector-name">a[mdc-button]</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcButton</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>primary: boolean</td>
        <td>Colors the button with the primary theme color.</td>
      </tr>
      <tr>
        <td>secondary: boolean</td>
        <td>Colors the button with the secondary theme color.</td>
      </tr>
      <tr>
        <td>dense: boolean</td>
        <td>Compresses the button text to make it slightly smaller.</td>
      </tr>
      <tr>
        <td>raised: boolean</td>
        <td>A contained button that is elevated upon the surface.</td>
      </tr>
      <tr>
        <td>unelevated: boolean</td>
        <td>A contained button that is flush with the surface.</td>
      </tr>
      <tr>
        <td>outlined: boolean</td>
        <td>A contained button that is flush with the surface and has a visible border.</td>
      </tr>
      <tr>
        <td>disabled: boolean</td>
        <td>Disables the button.</td>
      </tr>
      <tr>
        <td>label: string</td>
        <td>Indicates the element containing the button's text label.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>focus()</td>
        <td>Focuses the button.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcButtonLabel</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-button-label</span>
    <span class="docs-api-class-selector-name">[mdcButtonLabel]</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcButtonLabel</span>
</div>
