<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>ink-color($color)</code></td>
        <td>Customizes the color of the selected item displayed in the select.
        </td>
      </tr>
      <tr>
        <td><code>container-fill-color($color)</code></td>
        <td>Customizes the background color of the select.</td>
      </tr>
      <tr>
        <td><code>label-color($color)</code></td>
        <td>Customizes the label color of the select in the unfocused state.
        </td>
      </tr>
      <tr>
        <td><code>focused-label-color($color)</code></td>
        <td>Customizes the label color of the select when focused.</td>
      </tr>
      <tr>
        <td><code>bottom-line-color($color)</code></td>
        <td>Customizes the color of the default bottom line of the select.</td>
      </tr>
      <tr>
        <td><code>focused-bottom-line-color($color)</code></td>
        <td>Customizes the color of the bottom line of the select when focused.
        </td>
      </tr>
      <tr>
        <td><code>shape-radius($radius, $rtl-reflexive)</code></td>
        <td>Sets rounded shape to boxed select variant with given radius size.
          Set <code>$rtl-reflexive</code> to true to flip radius values in RTL
          context, defaults to false.</td>
      </tr>
      <tr>
        <td><code>hover-bottom-line-color($color)</code></td>
        <td>Customizes the color of the bottom line when the select is hovered.
        </td>
      </tr>
      <tr>
        <td><code>outline-color($color)</code></td>
        <td>Customizes the color of the notched outline.</td>
      </tr>
      <tr>
        <td>
          <code>outline-shape-radius($radius, $rtl-reflexive)</code>
        </td>
        <td>Sets the border radius of of the outlined select variant. Set
          <code>$rtl-reflexive</code> to true to flip radius values in RTL
          context, defaults to false.</td>
      </tr>
      <tr>
        <td><code>focused-outline-color($color)</code></td>
        <td>Customizes the color of the outline of the select when focused.</td>
      </tr>
      <tr>
        <td><code>hover-outline-color($color)</code></td>
        <td>Customizes the color of the outline when the select is hovered.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Select Helper Text</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>helper-text-color($color)</code></td>
        <td>Customizes the color of the helper text following a select.</td>
      </tr>
      <tr>
        <td><code>helper-text-validation-color($color)</code></td>
        <td>Customizes the color of the helper text when it's used as a
          validation message.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Mixins for Select Icon</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>icon-color($color)</code></td>
        <td>Customizes the color for the leading icon.</td>
      </tr>
    </tbody>
  </table>
</div>