<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Text Field</h1>
  <p mdc-typography-subheading2>The MDC Text Field component provides a textual input field adhering the Material Design specification.</p>
  <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-textfield">Google Material Components documentation</a>
  <h1 mdc-typography-headline>Usage</h1>
  <div>
    <pre class="prettyprint"><![CDATA[import { TextfieldModule } from '@angular-mdc/web';]]></pre>
  </div>
  <h1 mdc-typography-headline>Directives</h1>
  <div>
    <pre class="prettyprint">mdc-textfield-helptext</pre>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout="column">
      <h1 mdc-typography-headline>API reference</h1>
      <table>
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">@Input() id: string</pre></td>
            <td>Unique id of the element.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() type: string = 'text'</pre></td>
            <td>Input type of textfield (e.g. email, password, url).</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() value: string</pre></td>
            <td>The input element's value.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() fullwidth: boolean</pre></td>
            <td>Use to change element to fullwidth textfield.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() multiline: boolean</pre></td>
            <td>Use to allow multiple lines inside the textfield.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() disabled: boolean</pre></td>
            <td>Disables the component.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() required: boolean</pre></td>
            <td>Whether the element is required.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() labelId: string</pre></td>
            <td></td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() label: string</pre></td>
            <td></td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() placeholder: string</pre></td>
            <td>Placeholder attribute of the element.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() tabindex: number</pre></td>
            <td>Tab index of the text element.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() rows: number</pre></td>
            <td>Number of rows for this textarea.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() cols: number</pre></td>
            <td>Number of columns for this textarea.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">@Input() maxlength: number</pre></td>
            <td>Maxlength of characters allowed to be entered.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div fxLayout="column" fxFlexOffset.gt-md="5">
      <h1 mdc-typography-headline>Events</h1>
      <table>
        <thead>
          <tr>
            <th>Event</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">focus</pre></td>
            <td>Native input element for a "focus" event.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">blur</pre></td>
            <td>Native input element for a "blur" event.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">input</pre></td>
            <td>Native input element for a "input" event.</td>
          </tr>
          <tr>
            <td><pre class="prettyprint">keydown</pre></td>
            <td>Native input element for a "keydown" event.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h1 mdc-typography-headline>Examples</h1>
  <div fxLayout="column" class="mdc-padding">
    <div fxFlexAlign="start">
      <mdc-textfield #user [(ngModel)]="username" id="username" label="Username" required [disabled]="isDisabled" aria-controls="help-username-val" (focus)="handleFocus($event);" (blur)="handleBlur($event);" (input)="handleInput($event);" (keydown)="handleKeyDown($event);">
      </mdc-textfield>
      <p mdc-textfield-helptext id="help-username-val" [validation]="true" [persistent]="false">Username is required</p>
    </div>
      <mdc-form-field>
        <mdc-checkbox [(ngModel)]="isDisabled"></mdc-checkbox>
        <label>Disable textfield</label>
      </mdc-form-field>
    <pre class="prettyprint">
&lt;mdc-textfield [(ngModel)]="username"
  id="username"
  label="Username"
  required
  [disabled]="isDisabled"
  aria-controls="help-username-val"
  (focus)="handleFocus($event);"
  (blur)="handleBlur($event);"
  (input)="handleInput($event);"
  (keydown)="handleKeyDown($event);"&gt;
&lt;/mdc-textfield&gt;
&lt;p mdc-textfield-helptext
  id="help-username-val"
  [validation]="true"
  [persistent]="false">Username is required&lt;/p&gt;
      </pre>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <div fxFlexAlign="start">
      <mdc-textfield [(ngModel)]="comments" id="comments" label="Comments" rows="8" cols="40" [multiline]="true"></mdc-textfield>
    </div>
    <p>Multi-line</p>
    <pre class="prettyprint">
&lt;mdc-textfield [(ngModel)]="comments"
  id="comments"
  label="Comments"
  rows="8"
  cols="40"
  [multiline]="true"&gt;
&lt;/mdc-textfield&gt;
      </pre>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <div>
      <mdc-textfield [(ngModel)]="subject" id="subject" placeholder="Subject" [fullwidth]="true"></mdc-textfield>
    </div>
    <p>Full-width single line</p>
    <pre class="prettyprint">
&lt;mdc-textfield [(ngModel)]="subject"
  id="subject"
  placeholder="Subject"
  [fullwidth]="true"&gt;
&lt;/mdc-textfield&gt;
      </pre>
  </div>
  <div fxLayout="column" class="mdc-padding">
    <div>
      <mdc-textfield [(ngModel)]="message" id="message" placeholder="Type your message here" [fullwidth]="true" [multiline]="true" rows="8"></mdc-textfield>
    </div>
    <p>Full-width multi-line</p>
    <pre class="prettyprint">
&lt;mdc-textfield [(ngModel)]="message"
  id="message"
  placeholder="Type your message here"
  [fullwidth]="true"
  [multiline]="true"
  rows="8"&gt;
&lt;/mdc-textfield&gt;
      </pre>
  </div>
</div>
<!--     <p>Username ngModel : {{username ? username : 'empty'}}</p>
    <p>Focused : {{inputHasFocus}}</p>
    <p>Keydown event count : {{inputKeysPressed}}</p>
    <p>Input event count : {{inputCount}}</p>
 -->
