@use '@material/checkbox/_index' as checkbox;
@use '@material/ripple/_index' as ripple;
@use '@material/theme/color-palette' as material-color;

.demo-checkbox--custom-all {
  $color: material-color.$red-500;

  @include checkbox.focus-indicator-color($color);
  @include ripple.states($color);
  @include checkbox.container-colors(
    $unmarked-stroke-color: $color,
    $unmarked-fill-color: rgba($color, .25),
    $marked-fill-color: $color,
    $generate-keyframes: false);
}

.demo-checkbox--custom-stroke-and-fill {
  @include checkbox.container-colors(
    $unmarked-stroke-color: material-color.$blue-500,
    $marked-fill-color: material-color.$purple-500,
    $generate-keyframes: false);
}
