@use '@material/drawer/_index' as drawer;

.demo-drawer--custom {
  @include drawer.border-color(lightblue);
  @include drawer.subtitle-ink-color(darkolivegreen);
  @include drawer.surface-fill-color(black);
  @include drawer.item-icon-ink-color(darkolivegreen);
  @include drawer.title-ink-color(darkolivegreen);
  @include drawer.activated-overlay-color(darkcyan);
  @include drawer.item-text-ink-color(darkolivegreen);
  @include drawer.item-activated-text-ink-color(darkcyan);
  @include drawer.item-activated-icon-ink-color(darkcyan);
}

.demo-drawer--accessible {
  @include drawer.fill-color-accessible(darkcyan);
  @include drawer.activated-overlay-color(pink);
  @include drawer.item-activated-text-ink-color(pink);
  @include drawer.item-activated-icon-ink-color(pink);
}

.demo-drawer-app {
  border: 1px solid rgba(0, 0, 0, .15);
  min-height: 16.7rem;
  overflow: hidden;
  position: relative;
  z-index: 0;

  .mdc-drawer-scrim, .mdc-drawer--modal {
    position: absolute;
  }
}
