$mdc-theme-primary: #6200ee !default;
$mdc-theme-secondary: #faab1a !default;

body {
  margin: 0;
}

// Remove clear button for IE inputs
::-ms-clear {
  display: none;
}

// Remove pseudo-element for password field from IE
::-ms-reveal {
  display: none;
}
