.demo-radio--custom {
  $color: $material-color-red-500;

  @include mdc-radio-unchecked-stroke-color($color);
  @include mdc-radio-checked-stroke-color($color);
  @include mdc-radio-ink-color($material-color-orange-500);
  @include mdc-radio-focus-indicator-color($color);
  @include mdc-states($color);
}
