<div class="demo-page">
  <div class="markdown-body">
    <h1>Chips</h1>
    Chips are compact elements that allow users to enter information, select a choice, filter content, or trigger an action.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/components/chips.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Chips</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-chips/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <p class="docs-api-module-import"><![CDATA[import { MdcChipsModule } from '@angular-mdc/web';]]></p>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-chip-set</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>choice: boolean</td>
            <td>Indicates that the chips in the set are choice chips, which allow a single selection from a set of options.</td>
          </tr>
          <tr>
            <td>filter: boolean</td>
            <td>Indicates that the chips in the set are filter chips, which allow multiple selection from a set of options.</td>
          </tr>
          <tr>
            <td>input: boolean</td>
            <td>Indicates that the chips in the set are input chips, which enable user input by converting text into chips.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>getSelectedChipIds(): string[]</td>
            <td>Returns an array of the IDs of all selected chips.</td>
          </tr>
          <tr>
            <td>select(chipId: string): void</td>
            <td>Selects the chip with the given id. Deselects all other chips if the chip set is of the choice variant.</td>
          </tr>
          <tr>
            <td>deselect(chipId: string): void</td>
            <td>Deselects the chip with the given id.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Events</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>change: MdcChipSetChange</td>
            <td>Emitted when a chip is interacted with.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-chip</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>label: string</td>
            <td>Sets the text content of the chip.</td>
          </tr>
          <tr>
            <td>removable: boolean</td>
            <td>Sets whether a trailing icon click should trigger exit/removal of the chip. (Default is true)</td>
          </tr>
          <tr>
            <td>primary: boolean</td>
            <td>Colors selected chip with the primary theme color.</td>
          </tr>
          <tr>
            <td>secondary: boolean</td>
            <td>Colors selected chips with the secondary theme color.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Events</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>selectionChange: MdcChipInteractionEvent</td>
            <td>Emitted when the chip is selected or deselected.</td>
          </tr>
          <tr>
            <td>removed: MdcChipRemovedEvent</td>
            <td>Emitted when a chip is removed from a set.</td>
          </tr>
        </tbody>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-chip-text</span>
      </p>
      <table>
        <tr>
          <td>Optional. Indicates the text content of the chip.</td>
        </tr>
      </table>

      <p>
        <span class="docs-api-class-selector-label">Selector:</span>
        <span class="docs-api-class-selector-name">mdc-chip-icon</span>
      </p>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>leading: boolean</td>
            <td>Indicates a leading icon in the chip</td>
          </tr>
          <tr>
            <td>trailing: boolean</td>
            <td>Indicates a trailing icon in the chip</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize the colors of any part of the chip, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-chips#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-chips"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Chip - Theming</h3>
    <div class="demo-layout__row">
      <button mdc-button (click)="simplechip.primary = !simplechip.primary">Primary: {{simplechip.primary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="simplechip.secondary = !simplechip.secondary">Secondary: {{simplechip.secondary ? 'On' : 'Off'}}</button>
    </div>
    <mdc-chip-set>
      <mdc-chip #simplechip>
        <mdc-chip-icon leading>face</mdc-chip-icon>
        <mdc-chip-text>Jane Smith</mdc-chip-text>
      </mdc-chip>
    </mdc-chip-set>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Input Chips</h3>
    <div class="demo-layout__row">
      <mdc-chip-set #inputchipset input>
        <mdc-chip label="Alice">
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-icon trailing>cancel</mdc-chip-icon>
        </mdc-chip>
        <mdc-chip label="Bob">
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-icon trailing>cancel</mdc-chip-icon>
        </mdc-chip>
        <mdc-chip label='Charlie'>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-icon trailing>cancel</mdc-chip-icon>
        </mdc-chip>
        <mdc-chip label='David'>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-icon trailing>cancel</mdc-chip-icon>
        </mdc-chip>
      </mdc-chip-set>
    </div>
  </div>
  <div class="demo-content">
    <h3 class="demo-content__headline">Choice Chips</h3>
    <div class="demo-layout__row">
      <mdc-chip-set choice>
        <mdc-chip>
          <mdc-chip-text>Get Directions</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Get Weather</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Add to Calendar</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
    </div>
  </div>
  <div class="demo-content">
    <h3 class="demo-content__headline">Filter Chips</h3>
    <div class="demo-layout__row">
      <mdc-chip-set filter>
        <mdc-chip>
          <mdc-chip-text>Tops</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Bottoms</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Shoes</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Accessories</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
    </div>

    <div class="demo-layout__row">
      <mdc-chip-set filter>
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>Alice</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>Bob</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>Charlie</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>David</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Action Chips</h3>
    <div class="demo-layout__row">
      <mdc-chip-set>
        <mdc-chip>
          <mdc-chip-icon leading>wb_sunny</mdc-chip-icon>
          <mdc-chip-text>Turn on lights</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>bookmark</mdc-chip-icon>
          <mdc-chip-text>Bookmark</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>alarm</mdc-chip-icon>
          <mdc-chip-text>Set alarm</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>directions</mdc-chip-icon>
          <mdc-chip-text>Get Directions</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Custom Theme</h3>
    <div class="demo-layout__row">
      <mdc-chip-set>
        <mdc-chip class="custom-chip-secondary">
          <mdc-chip-text>Turn on lights</mdc-chip-text>
        </mdc-chip>
        <mdc-chip class="custom-chip-secondary">
          <mdc-chip-text>Bookmark</mdc-chip-text>
        </mdc-chip>
        <mdc-chip class="custom-chip-secondary">
          <mdc-chip-text>Set alarm</mdc-chip-text>
        </mdc-chip>
        <mdc-chip class="custom-chip-secondary">
          <mdc-chip-text>Get Directions</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
    </div>
  </div>
</div>
