<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>
  <p>
    The following mixins apply only to enabled checkboxes. It is not currently possible to customize the color of a disabled checkbox.
  </p>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-checkbox-container-colors($unmarked-stroke-color, $unmarked-fill-color, $marked-stroke-color, $marked-fill-color, $generate-keyframes)</code></td>
        <td>Generates CSS classes to set and animate the stroke color and/or container fill color of a checkbox</td>
      </tr>
      <tr>
        <td><code>mdc-checkbox-ink-color($color)</code></td>
        <td>Sets the ink color of the checked and indeterminate icons</td>
      </tr>
      <tr>
        <td><code>mdc-checkbox-focus-indicator-color($color)</code></td>
        <td>Sets the color of the focus indicator</td>
      </tr>
    </tbody>
  </table>
</div>