<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-data-table-fill-color($color)</code></td>
        <td>Sets the background color of data-table surface.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-row-fill-color($color)</code></td>
        <td>Sets the background color of table row container.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-header-row-fill-color($color)</code></td>
        <td>Sets the background color of table header row container.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-selected-row-fill-color($color)</code></td>
        <td>Sets the background color of selected row container.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-checked-icon-color($color)</code></td>
        <td>Sets the checked icon color.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-divider-color($color)</code></td>
        <td>Sets the table rows divider color.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-divider-size($size)</code></td>
        <td>Sets the table rows divider size.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-row-hover-fill-color($color)</code></td>
        <td>Sets the background color of table row on hover.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-header-row-text-color($color)</code></td>
        <td>Sets the header row text color.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-row-text-color($color)</code></td>
        <td>Sets the row text color.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-shape-radius($radius)</code></td>
        <td>Sets the rounded shape with given radius size. <code>$radius</code>
          can be single radius or list radius values up to 4 list size.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-stroke-size($size)</code></td>
        <td>Sets the border size of data-table.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-stroke-color($color)</code></td>
        <td>Sets the border color of data-table.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-header-row-height($height)</code></td>
        <td>Sets the header row height.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-row-height($height)</code></td>
        <td>Sets row height.</td>
      </tr>
      <tr>
        <td>
          <code>mdc-data-table-cell-padding($leading-padding, $trailing-padding)</code>
        </td>
        <td>Sets leading &amp; trailing padding for all cells.</td>
      </tr>
      <tr>
        <td><code>mdc-data-table-column-widths($width-list)</code></td>
        <td>Sets the custom widths for each table column.</td>
      </tr>
    </tbody>
  </table>
</div>