.mdc-content {
  display: block;
  position: relative; // Prevent content from overlaying drawers in x, y, or z.

  .ng-mdc-drawer--fixed + & {
    @include mdc-rtl-reflexive-box(margin, left, $mdc-permanent-drawer-width);
  }

  // If the drawer is collapsed, which needs to be the element directly before
  // the content, set the content to the left edge.
  .mdc-drawer--persistent:not(.mdc-drawer--open) + & {
    margin-left: 0;
  }
}
