.ng-mdc-drawer--fixed {
  position: fixed;
  height: 100vh;
  overflow-y: auto;
}

.mdc-drawer--persistent:not(.mdc-drawer--open) {
  display: none;
}

.mdc-drawer--persistent {
  display: inline-flex;
}
