<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Typography</h1>
  <div mdc-typography-subheading2>MDC Typography directives implement the Material Design typography guidelines.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcCoreModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Directive</th>
          <th>Format</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-typography-button</td>
          <td>
            <div mdc-typography-button>Button</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-body1</td>
          <td>
            <div mdc-typography-body1>Body 1</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-body2</td>
          <td>
            <div mdc-typography-body2>Body 2</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-subheading1</td>
          <td>
            <div mdc-typography-subheading1>Subheading 1</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-subheading2</td>
          <td>
            <div mdc-typography-subheading2>Subheading 2</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-caption</td>
          <td>
            <div mdc-typography-caption>Caption</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-title</td>
          <td>
            <div mdc-typography-title>Title</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-headline</td>
          <td>
            <div mdc-typography-headline>Headline</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-display1</td>
          <td>
            <div mdc-typography-display1>Display 1</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-display2</td>
          <td>
            <div mdc-typography-display2>Display 2</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-display3</td>
          <td>
            <div mdc-typography-display3>Display 3</div>
          </td>
        </tr>
        <tr>
          <td>mdc-typography-display4</td>
          <td>
            <div mdc-typography-display4>Display 4</div>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>mdc-typography-adjust-margin</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <pre style="background:#000;color:#f8f8f8"><span style="color:#89bdff">&lt;<span style="color:#89bdff">body</span> <span style="color:#89bdff">mdc-typography</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">h1</span> <span style="color:#89bdff">mdc-typography-display</span>4 <span style="color:#89bdff">mdc-typography-adjust-margin</span>></span>
    Big header
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">h1</span>></span>
  <span style="color:#89bdff">&lt;<span style="color:#89bdff">p</span> <span style="color:#89bdff">mdc-typography-body</span>1 <span style="color:#89bdff">mdc-typography-adjust-margin</span>></span>
    A paragraph with
    <span style="color:#e0c589">&lt;<span style="color:#e0c589">span</span> <span style="color:#e0c589">mdc-typography-body</span>2 <span style="color:#e0c589">mdc-typography-adjust-margin</span>></span>
      emphasis.
    <span style="color:#e0c589">&lt;/<span style="color:#e0c589">span</span>></span>
  <span style="color:#89bdff">&lt;/<span style="color:#89bdff">p</span>></span>
<span style="color:#89bdff">&lt;/<span style="color:#89bdff">body</span>></span>
</pre>
            <p>
              In order to minimize unexpected behavior, the style classes only specify font properties, such as size, weight and line height. This means that while text will be correctly styled, it may not be correctly positioned. If you include the mdc-typography--adjust-margin class, though, positioning will be adjusted according to the style</p>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
