<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Create profile</mdc-dialog-title>
      <mdc-dialog-content>
        <form [formGroup]="profileForm" id="profileForm" (ngSubmit)="submit()" autocomplete="off" style="margin-top: 5px">
          <mdc-form-field fluid>
            <mdc-text-field formControlName="first" label="First name" validationMessage="Field is required" outlined></mdc-text-field>
          </mdc-form-field>
          <mdc-form-field fluid>
            <mdc-text-field formControlName="last" label="Last name" validationMessage="Field is required" outlined></mdc-text-field>
          </mdc-form-field>
          <mdc-form-field fluid>
            <mdc-text-field type="email" formControlName="email" label="Email" maxlength="254" validationMessage="Field is required" outlined></mdc-text-field>
          </mdc-form-field>
        </form>
      </mdc-dialog-content>
      <mdc-dialog-actions>
        <button mdcDialogButton mdcDialogAction="close">Cancel</button>
        <button mdcDialogButton form="profileForm">Create</button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
