<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Drawers</h1>
  <div mdc-typography-subheading2>The MDC Drawer component is a spec-aligned drawer component adhering to the Material Design navigation drawer pattern. It implements permanent, persistent, and temporary drawers.</div>
  <div class="info-banner" mdc-typography-subheading1>
    <![CDATA[import { MdcDrawerModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-permanent-drawer</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>fixed: boolean</td>
          <td>Makes permanent drawer fixed on top and have persistent elevation.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-permanent-drawer-spacer</td>
          <td>Optional. Add to node to provide the matching amount of space for toolbar.</td>
        </tr>
        <tr>
          <td>mdc-permanent-drawer-content</td>
          <td>Mandatory. Needs to be set on the container node for the drawer content.</td>
        </tr>
        <tr>
          <td>mdc-permanent-drawer-selected</td>
          <td>Optional. Highlights currently selected drawer item.</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-persistent-drawer</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-persistent-drawer-spacer</td>
          <td>Optional. Add to provide the matching amount of space for toolbar.</td>
        </tr>
        <tr>
          <td>mdc-persistent-drawer-header</td>
          <td>Optional. Add to create a 16:9 drawer header.</td>
        </tr>
        <tr>
          <td>mdc-persistent-drawer-header-content</td>
          <td>Optional. Add content inside mdc-persistent-drawer-header.</td>
        </tr>
        <tr>
          <td>mdc-persistent-drawer-content</td>
          <td>Mandatory. Needs to be set as the container node for the drawer content.</td>
        </tr>
        <tr>
          <td>mdc-persistent-drawer-selected</td>
          <td>Optional. Highlights currently selected drawer item.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>open()</td>
          <td>Opens the drawer.</td>
        </tr>
        <tr>
          <td>close()</td>
          <td>Closes the drawer.</td>
        </tr>
        <tr>
          <td>isOpen(): boolean</td>
          <td>Returns whether or not the drawer is open.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Events</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>opened</td>
          <td>Event dispatched on drawer open.</td>
        </tr>
        <tr>
          <td>closed</td>
          <td>Event dispatched on drawer close.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-temporary-drawer</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-temporary-drawer-spacer</td>
          <td>Optional. Add to provide the matching amount of space for toolbar.</td>
        </tr>
        <tr>
          <td>mdc-temporary-drawer-header</td>
          <td>Optional. Add to create a 16:9 drawer header.</td>
        </tr>
        <tr>
          <td>mdc-temporary-drawer-header-content</td>
          <td>Optional. Add content inside mdc-temporary-drawer-header.</td>
        </tr>
        <tr>
          <td>mdc-temporary-drawer-content</td>
          <td>Mandatory. Use for the drawer content.</td>
        </tr>
        <tr>
          <td>mdc-temporary-drawer-selected</td>
          <td>Optional. Highlights currently selected drawer item.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>absolute: boolean</td>
          <td>If true, drawer can open from container element (e.g.: mdc-content). (Default: false)</td>
        </tr>
        <tr>
          <td>closeOnClick: boolean</td>
          <td>If false, clicking on the drawer will not close it. (Default: true)</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>open()</td>
          <td>Opens the drawer.</td>
        </tr>
        <tr>
          <td>close()</td>
          <td>Closes the drawer.</td>
        </tr>
        <tr>
          <td>isOpen(): boolean</td>
          <td>Returns whether or not the drawer is open.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Events</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>opened</td>
          <td>Event dispatched on drawer open.</td>
        </tr>
        <tr>
          <td>closed</td>
          <td>Event dispatched on drawer close.</td>
        </tr>
      </tbody>
    </table>
  </div>

<span mdc-typography-headline>Permanent Drawer - Above Toolbar</span>
<div class="mdc-padding">
 <a mdc-button href="https://github.com/trimox/angular-mdc-web/tree/master/src/demo-app/components/drawer-demo" target="_blank" rel="noopener noreferrer">View Example Source</a>
</div>
<div class="demo-drawer-host">
  <mdc-permanent-drawer>
    <mdc-permanent-drawer-spacer></mdc-permanent-drawer-spacer>
    <mdc-permanent-drawer-content>
        <mdc-list-group>
          <mdc-list>
            <mdc-list-item mdc-permanent-drawer-selected>
              <mdc-icon mdc-list-item-start>home</mdc-icon>Home
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>star</mdc-icon>Star
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>send</mdc-icon>Sent Mail
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>drafts</mdc-icon>Drafts
            </mdc-list-item>
          </mdc-list>
          <mdc-list-divider></mdc-list-divider>
          <mdc-list>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>email</mdc-icon>All Mail
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>delete</mdc-icon>Trash
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-start>report</mdc-icon>Spam
            </mdc-list-item>
          </mdc-list>
        </mdc-list-group>
    </mdc-permanent-drawer-content>
  </mdc-permanent-drawer>
  <mdc-content>
    <mdc-toolbar>
        <mdc-toolbar-row>
            <mdc-toolbar-section [alignStart]="true">
              <span mdc-toolbar-title>App Layout</span>
            </mdc-toolbar-section>
            <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>file_download</a>
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>print</a>
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>more_vert</a>
            </mdc-toolbar-section>
        </mdc-toolbar-row>
    </mdc-toolbar>
    <div class="mdc-padding">
      Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo
      et. Diam phaedrum ei mea, quaeque voluptaria efficiantur duo no. Eu adhuc
      veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. Per an
      legere iriure blandit. Veri iisque accusamus an pri.
    </div>
  </mdc-content>
</div>

<span style="margin-top: 20px;" mdc-typography-headline>Permanent Drawer - Below Toolbar</span>
<div class="mdc-padding">
 <a mdc-button href="https://github.com/trimox/angular-mdc-web/tree/master/src/demo-app/components/drawer-demo" target="_blank" rel="noopener noreferrer">View Example Source</a>
</div>
<div class="demo-drawer-host" fxLayout="column">
  <mdc-toolbar style="flex-shrink: 0" mdc-elevation=3>
      <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true">
            <span mdc-toolbar-title>App Layout</span>
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>file_download</a>
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>print</a>
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>more_vert</a>
          </mdc-toolbar-section>
      </mdc-toolbar-row>
  </mdc-toolbar>
  <mdc-content fxLayout="row">
    <mdc-permanent-drawer mdc-elevation=1>
      <mdc-permanent-drawer-content>
          <mdc-list-group>
            <mdc-list>
              <mdc-list-item mdc-permanent-drawer-selected>
                <mdc-icon mdc-list-item-start>home</mdc-icon>Home
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-start>star</mdc-icon>Star
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-start>send</mdc-icon>Sent Mail
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-start>drafts</mdc-icon>Drafts
              </mdc-list-item>
            </mdc-list>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list>
              <mdc-list-item>
                <mdc-icon mdc-list-item-start>email</mdc-icon>All Mail
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-start>delete</mdc-icon>Trash
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-start>report</mdc-icon>Spam
              </mdc-list-item>
            </mdc-list>
          </mdc-list-group>
      </mdc-permanent-drawer-content>
    </mdc-permanent-drawer>
    <div>
      Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo
      et. Diam phaedrum ei mea, quaeque voluptaria efficiantur duo no. Eu adhuc
      veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. Per an
      legere iriure blandit. Veri iisque accusamus an pri.
    </div>
  </mdc-content>
</div>

<span mdc-typography-headline style="margin-top: 20px;">Temporary Drawer</span>
<div class="mdc-padding">
 <a mdc-button href="https://github.com/trimox/angular-mdc-web/tree/master/src/demo-app/components/drawer-demo" target="_blank" rel="noopener noreferrer">View Example Source</a>
</div>
<div class="demo-drawer-host">
<mdc-temporary-drawer #temporary [absolute]="true">
  <mdc-temporary-drawer-header class="mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
    <mdc-temporary-drawer-header-content>
      Header goes here
    </mdc-temporary-drawer-header-content>
  </mdc-temporary-drawer-header>
  <mdc-temporary-drawer-content>
      <mdc-list-group>
        <mdc-list>
          <mdc-list-item mdc-temporary-drawer-selected>
            <mdc-icon mdc-list-item-start>home</mdc-icon>Home
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>star</mdc-icon>Star
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>send</mdc-icon>Sent Mail
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>drafts</mdc-icon>Drafts
          </mdc-list-item>
        </mdc-list>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>email</mdc-icon>All Mail
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>delete</mdc-icon>Trash
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>report</mdc-icon>Spam
          </mdc-list-item>
        </mdc-list>
      </mdc-list-group>
  </mdc-temporary-drawer-content>
</mdc-temporary-drawer>
  <mdc-content>
    <mdc-toolbar>
        <mdc-toolbar-row>
            <mdc-toolbar-section [alignStart]="true">
              <button mdc-toolbar-menu-icon material-icon (click)="handleTemporary();">menu</button>
              <span mdc-toolbar-title>Mobile Layout</span>
            </mdc-toolbar-section>
            <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>file_download</a>
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>print</a>
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>more_vert</a>
            </mdc-toolbar-section>
        </mdc-toolbar-row>
    </mdc-toolbar>
    <div>
      Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo
      et. Diam phaedrum ei mea, quaeque voluptaria efficiantur duo no. Eu adhuc
      veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. Per an
      legere iriure blandit. Veri iisque accusamus an pri.
    </div>
  </mdc-content>
</div>

<span mdc-typography-headline style="margin-top: 20px;">Persistent Drawer</span>
<div class="mdc-padding">
 <a mdc-button href="https://github.com/trimox/angular-mdc-web/tree/master/src/demo-app/components/drawer-demo" target="_blank" rel="noopener noreferrer">View Example Source</a>
</div>
<div class="demo-drawer-host">
  <mdc-persistent-drawer #persistent>
    <mdc-persistent-drawer-spacer></mdc-persistent-drawer-spacer>
      <mdc-list-group>
        <mdc-list>
          <mdc-list-item mdc-persistent-drawer-selected>
            <mdc-icon mdc-list-item-start>home</mdc-icon>Home
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>star</mdc-icon>Star
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>send</mdc-icon>Sent Mail
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>drafts</mdc-icon>Drafts
          </mdc-list-item>
        </mdc-list>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>email</mdc-icon>All Mail
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>delete</mdc-icon>Trash
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-start>report</mdc-icon>Spam
          </mdc-list-item>
        </mdc-list>
    </mdc-list-group>
  </mdc-persistent-drawer>
  <mdc-content>
    <mdc-toolbar>
        <mdc-toolbar-row>
            <mdc-toolbar-section [alignStart]="true">
              <button mdc-toolbar-menu-icon material-icon (click)="handlePersistent();">menu</button>
              <span mdc-toolbar-title>Simple Layout</span>
            </mdc-toolbar-section>
            <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>file_download</a>
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>print</a>
              <a href="#/drawer-demo" mdc-toolbar-icon material-icon>more_vert</a>
            </mdc-toolbar-section>
        </mdc-toolbar-row>
    </mdc-toolbar>
    <div>
      Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo
      et. Diam phaedrum ei mea, quaeque voluptaria efficiantur duo no. Eu adhuc
      veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. Per an
      legere iriure blandit. Veri iisque accusamus an pri.
    </div>
  </mdc-content>
</div>

</div>
