<div fxFlexOffset="1" fxLayout="column" fxLayoutAlign="start start" class="demo-page">
  <div>
    <h1 mdc-typography-display1>Drawers</h1>
    <span>A spec-aligned drawer component adhering to the Material Design navigation drawer pattern. It implements permanent, persistent, and temporary drawers.</span>
  </div>
  <div class="demo-docs-class-name" mdc-typography-subheading2 fxFlexOffset="2">
    <![CDATA[import { MdcDrawerModule } from '@angular-mdc/web';]]>
  </div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Component</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-drawer</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>drawer: string</td>
          <td>Set the drawer implementation. (Default is 'permanent')
            <pre>Valid values: 'permanent' | 'persistent' | 'temporary'</pre>
          </td>
        </tr>
        <tr>
          <td>fixed: boolean</td>
          <td>Makes permanent drawer fixed on top and have persistent elevation.
          <pre>* Permanent drawer only</pre></td>
        </tr>
        <tr>
          <td>fixedAdjustElement: any</td>
          <td>Reference to a drawer's attached body element. Default is document.body.</td>
        </tr>
        <tr>
          <td>closeOnClick: boolean</td>
          <td>If false, clicking on the drawer will not close it. Default is true.
          <pre>* Temporary drawer only</pre></td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Method</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>open()</td>
          <td>Opens the drawer.</td>
        </tr>
        <tr>
          <td>close()</td>
          <td>Closes the drawer.</td>
        </tr>
        <tr>
          <td>isOpen(): boolean</td>
          <td>Returns whether or not the drawer is open.</td>
        </tr>
        <tr>
          <td>isDrawerPermanent(): boolean</td>
          <td>Returns whether or not the drawer is permanent.</td>
        </tr>
        <tr>
          <td>isDrawerTemporary(): boolean</td>
          <td>Returns whether or not the drawer is temporary.</td>
        </tr>
        <tr>
          <td>isDrawerPersistent(): boolean</td>
          <td>Returns whether or not the drawer is persistent.</td>
        </tr>
        <tr>
          <td>isRtl(): boolean</td>
          <td>Returns whether or not the drawer is set right-to-left.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Events</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>opened()</td>
          <td>Event dispatched on drawer open.</td>
        </tr>
        <tr>
          <td>closed()</td>
          <td>Event dispatched on drawer close.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-drawer-spacer</td>
          <td>Optional. Add to provide the matching amount of space for toolbar.</td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-drawer-header</td>
          <td>Optional. Add to create a 16:9 drawer header.</td>
        </tr>
        <tr>
          <td>mdc-drawer-header-content</td>
          <td>Optional. Add content inside mdc-drawer-header.</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Properties</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>primary: boolean</td>
          <td>If true, sets mdc-theme--primary-bg and mdc-theme--text-primary-on-primary on mdc-drawer-header-content. Default is true.
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Child Directives</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>mdc-drawer-content</td>
          <td>Optional. Should be set on the list of items inside the drawer.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h3>Permanent Drawer - Above Toolbar</h3>
  <div class="mdc-padding">
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-drawer?embed=1&file=app/app.component.html" target="_blank" rel="noopener noreferrer">View Example Source</a>
  </div>
  <div class="demo-host">
    <mdc-drawer drawer='permanent'>
      <mdc-drawer-spacer></mdc-drawer-spacer>
      <mdc-drawer-content>
        <mdc-list-group>
          <mdc-list>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>home</mdc-icon>Home
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>star</mdc-icon>Star
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>send</mdc-icon>Sent Mail
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>drafts</mdc-icon>Drafts
            </mdc-list-item>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>email</mdc-icon>All Mail
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>delete</mdc-icon>Trash
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>report</mdc-icon>Spam
            </mdc-list-item>
          </mdc-list>
        </mdc-list-group>
      </mdc-drawer-content>
    </mdc-drawer>
    <mdc-content>
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true">
            <mdc-toolbar-title>App Layout</mdc-toolbar-title>
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>file_download</a>
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>print</a>
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>more_vert</a>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
      <div class="mdc-padding">
        Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo et. Diam phaedrum ei mea, quaeque voluptaria efficiantur duo no. Eu adhuc veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. Per an legere iriure blandit. Veri iisque accusamus an pri.
      </div>
    </mdc-content>
  </div>
  <h3>Permanent Drawer - Below Toolbar</h3>
  <div class="mdc-padding">
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-drawer?embed=1&file=app/app.component.html" target="_blank" rel="noopener noreferrer">View Example Source</a>
  </div>
  <div class="demo-host" fxLayout="column">
    <mdc-toolbar style="flex-shrink: 0" [mdc-elevation]="3">
      <mdc-toolbar-row>
        <mdc-toolbar-section [alignStart]="true">
          <mdc-toolbar-title>App Layout</mdc-toolbar-title>
        </mdc-toolbar-section>
        <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
          <a href="#/drawer-demo" mdc-toolbar-icon material-icon>file_download</a>
          <a href="#/drawer-demo" mdc-toolbar-icon material-icon>print</a>
          <a href="#/drawer-demo" mdc-toolbar-icon material-icon>more_vert</a>
        </mdc-toolbar-section>
      </mdc-toolbar-row>
    </mdc-toolbar>
    <mdc-content fxLayout="row">
      <mdc-drawer drawer='permanent'>
        <mdc-drawer-content>
          <mdc-list-group>
            <mdc-list>
              <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>home</mdc-icon>Home
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>star</mdc-icon>Star
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>send</mdc-icon>Sent Mail
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>drafts</mdc-icon>Drafts
              </mdc-list-item>
              <mdc-list-divider></mdc-list-divider>
              <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>email</mdc-icon>All Mail
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>delete</mdc-icon>Trash
              </mdc-list-item>
              <mdc-list-item>
                <mdc-icon mdc-list-item-graphic>report</mdc-icon>Spam
              </mdc-list-item>
            </mdc-list>
          </mdc-list-group>
        </mdc-drawer-content>
      </mdc-drawer>
      <div>
        Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo et. Diam phaedrum ei mea, quaeque voluptaria efficiantur duo no. Eu adhuc veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. Per an legere iriure blandit. Veri iisque accusamus an pri.
      </div>
    </mdc-content>
  </div>
  <h3>Temporary Drawer</h3>
  <div class="mdc-padding">
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-drawer?embed=1&file=app/app.component.html" target="_blank" rel="noopener noreferrer">View Example Source</a>
  </div>
  <div class="demo-host">
    <mdc-drawer #temporary drawer='temporary' [fixedAdjustElement]="tempcontent">
      <mdc-drawer-header>
        <mdc-drawer-header-content>
          Header goes here
        </mdc-drawer-header-content>
      </mdc-drawer-header>
      <mdc-drawer-content>
        <mdc-list-group>
          <mdc-list>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>home</mdc-icon>Home
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>star</mdc-icon>Star
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>send</mdc-icon>Sent Mail
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>drafts</mdc-icon>Drafts
            </mdc-list-item>
            <mdc-list-divider></mdc-list-divider>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>email</mdc-icon>All Mail
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>delete</mdc-icon>Trash
            </mdc-list-item>
            <mdc-list-item>
              <mdc-icon mdc-list-item-graphic>report</mdc-icon>Spam
            </mdc-list-item>
          </mdc-list>
        </mdc-list-group>
      </mdc-drawer-content>
    </mdc-drawer>
    <mdc-content #tempcontent>
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true">
            <button mdc-toolbar-menu-icon material-icon (click)="temporary.open()">menu</button>
            <mdc-toolbar-title>Mobile Layout</mdc-toolbar-title>
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>file_download</a>
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>print</a>
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>more_vert</a>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
      <div>
        Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo et. Diam phaedrum ei mea, quaeque voluptaria efficiantur duo no. Eu adhuc veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. Per an legere iriure blandit. Veri iisque accusamus an pri.
      </div>
    </mdc-content>
  </div>
  <h3>Persistent Drawer</h3>
  <div class="mdc-padding">
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-drawer?embed=1&file=app/app.component.html" target="_blank" rel="noopener noreferrer">View Example Source</a>
  </div>
  <div class="demo-host">
    <mdc-drawer #persistent drawer='persistent'>
      <mdc-drawer-spacer></mdc-drawer-spacer>
      <mdc-list-group>
        <mdc-list>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>home</mdc-icon>Home
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>star</mdc-icon>Star
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>send</mdc-icon>Sent Mail
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>drafts</mdc-icon>Drafts
          </mdc-list-item>
          <mdc-list-divider></mdc-list-divider>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>email</mdc-icon>All Mail
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>delete</mdc-icon>Trash
          </mdc-list-item>
          <mdc-list-item>
            <mdc-icon mdc-list-item-graphic>report</mdc-icon>Spam
          </mdc-list-item>
        </mdc-list>
      </mdc-list-group>
    </mdc-drawer>
    <mdc-content>
      <mdc-toolbar>
        <mdc-toolbar-row>
          <mdc-toolbar-section [alignStart]="true">
            <button mdc-toolbar-menu-icon material-icon (click)="persistent.open();">menu</button>
            <mdc-toolbar-title>Simple Layout</mdc-toolbar-title>
          </mdc-toolbar-section>
          <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>file_download</a>
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>print</a>
            <a href="#/drawer-demo" mdc-toolbar-icon material-icon>more_vert</a>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>
      <div>
        Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam quo et. Diam phaedrum ei mea, quaeque voluptaria efficiantur duo no. Eu adhuc veritus civibus nec, sumo invidunt mel id, in vim dictas detraxit. Per an legere iriure blandit. Veri iisque accusamus an pri.
      </div>
    </mdc-content>
  </div>
</div>
