@use './styles/body';

@use '~highlight.js/scss/github';

@use '@material/theme' with (
  $primary: #6200ee,
  $secondary: #faab1a,
  $background: #fff,
);

@use './styles/mdc';
@use './styles/demo';
@use './styles/layout';

// Angular MDC
@use '../../packages/material-components-web/material';
