<div class="demo-content">
  <div class="demo-layout__row">
    <button mdc-button
      (click)="standard.outlined = !standard.outlined">Outlined:
      {{standard.outlined ? 'On' :
      'Off'}}</button>
    <button mdc-button
      (click)="standard.required = !standard.required">Required:
      {{standard.required ? 'On' :
      'Off'}}</button>
    <button mdc-button
      (click)="standard.disabled = !standard.disabled">Disabled:
      {{standard.disabled ? 'On' :
      'Off'}}</button>
    <button mdc-button (click)="standard.readonly = !standard.readonly">Read
      Only: {{standard.readonly ? 'On' :
      'Off'}}</button>
  </div>
  <mdc-text-field #standard label="Standard" name="txt-field-standard" required
    helper="Helper text" helperPersistent></mdc-text-field>
  <example-viewer [example]="exampleStandard"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Input and Change events</h3>
  <mdc-text-field label="Standard" (input)="onInput($event)"
    (focus)="onFocus($event)" (change)="onChange($event)"></mdc-text-field>
  <p>Input event: {{inputEvent}}</p>
  <p>Change event: {{changeEvent}}</p>
  <p>Focus event: {{focusEvent}}</p>
  <example-viewer [example]="exampleEvents"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Reactive Form</h3>
  <div class="demo-layout__row">
    <button mdc-button
      (click)="demoformInput.outlined = !demoformInput.outlined">Outlined:
      {{demoformInput.outlined
      ? 'On' : 'Off'}}</button>
    <button mdc-button
      (click)="demoformInput.useNativeValidation = !demoformInput.useNativeValidation">Native
      validation:
      {{demoformInput.useNativeValidation ? 'On' : 'Off'}}</button>
    <button mdc-button [disabled]="demoForm.touched"
      (click)="demoForm.controls['username'].markAsTouched()">Mark
      touched</button>
  </div>
  <form [formGroup]="demoForm" (ngSubmit)="submit(demoForm)"
    #formDirective="ngForm">
    <mdc-form-field>
      <mdc-text-field #demoformInput formControlName="username" label="Username"
        outlined [errorStateMatcher]="matcher"
        [validationMessage]="validationMessage">
      </mdc-text-field>
    </mdc-form-field>
    <div class="demo-layout__row">
      <button mdc-button type="submit">Submit</button>
      <button mdc-button type="button"
        (click)="resetForm(formDirective)">Reset</button>
      <button mdc-button type="button"
        (click)="demoForm.controls['username'].setValue('User-1')">Set
        Value</button>
    </div>
  </form>
  <p>Control Valid: {{demoForm.controls['username'].valid}}</p>
  <p>Dirty: {{ demoForm.dirty }}</p>
  <p>Valid: {{ demoForm.valid }}</p>
  <p>Pristine: {{ demoForm.pristine }}</p>
  <p>Touched: {{ demoForm.touched }}</p>
  <p>Value: {{ demoForm.value | json }}</p>

  <example-viewer [example]="exampleReactive"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Numeric with ngModel Form</h3>
  <div class="demo-layout__row">
    <button mdc-button
      (click)="demoweight.outlined = !demoweight.outlined">Outlined:
      {{demoweight.outlined ? 'On' :
      'Off'}}</button>
  </div>
  <form #demoWeightForm="ngForm" id="demoWeightForm"
    (ngSubmit)="submit(demoWeightForm)">
    <mdc-form-field>
      <mdc-text-field #demoweight type="number" name="demoweight" label="Weight"
        ngModel #demoWeightModel="ngModel" required
        validationMessage="Field is required">
      </mdc-text-field>
    </mdc-form-field>
  </form>
  <div class="demo-layout__row">
    <button mdc-button type="submit" form="demoWeightForm">Submit</button>
    <button mdc-button (click)="demoWeightForm.reset()">Reset</button>
  </div>
  <p>Dirty: {{ demoWeightModel.dirty }}</p>
  <p>Valid: {{ demoWeightForm.valid }}</p>
  <p>Pristine: {{ demoWeightForm.pristine }}</p>
  <p>Touched: {{ demoWeightModel.touched }}</p>
  <p>Value: {{ demoWeightModel.value }}</p>
  <example-viewer [example]="exampleNumericNgModel"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Prefix and suffix text</h3>
  <div class="demo-container">
    <mdc-text-field label="Currency Value" type="number" prefix="$"
      suffix=".00"></mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field outlined label="Currency Value" type="number" prefix="$"
      suffix=".00"></mdc-text-field>
  </div>
  <div class="demo-layout__row">
    <button mdc-button
      (click)="endAlignedExample.endAligned = !endAlignedExample.endAligned">End
      Aligned:
      {{endAlignedExample.endAligned ? 'On' :
      'Off'}}</button>
  </div>
  <div class="demo-container">
    <mdc-text-field #endAlignedExample outlined type="number" prefix="$"
      suffix=".00" endAligned></mdc-text-field>
  </div>
  <div class="demo-layout__row">
    <button mdc-button
      (click)="ltrTextExample.ltrText = !ltrTextExample.ltrText">LTR Text:
      {{ltrTextExample.ltrText ? 'On' :
      'Off'}}</button>
  </div>
  <div class="demo-container">
    <div dir="rtl">
      <mdc-text-field #ltrTextExample outlined label="Label" type="number"
        suffix="/100" ltrText></mdc-text-field>
    </div>
  </div>
  <example-viewer [example]="examplePrefixSuffix"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Character Counter</h3>
  <div class="demo-layout__row">
    <mdc-form-field>
      <mdc-text-field label="Standard" charCounter maxlength="10">
      </mdc-text-field>
    </mdc-form-field>

    <mdc-form-field>
      <mdc-text-field outlined charCounter label="Standard" maxlength="10">
      </mdc-text-field>
    </mdc-form-field>
  </div>
  <example-viewer [example]="exampleCharacterCounter"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">No Label</h3>
  <div class="demo-layout__row">
    <mdc-form-field>
      <mdc-text-field helper="Helper text"></mdc-text-field>
    </mdc-form-field>

    <mdc-form-field>
      <mdc-text-field outlined helper="Helper text" helperPersistent>
      </mdc-text-field>
    </mdc-form-field>

    <mdc-form-field>
      <mdc-text-field outlined class="demo-shaped-text-field--outline"
        helper="Helper text" helperPersistent>
      </mdc-text-field>
    </mdc-form-field>
  </div>

  <mdc-form-field>
    <mdc-text-field outlined required helper="Required with no label">
    </mdc-text-field>
  </mdc-form-field>
  <example-viewer [example]="exampleNoLabel"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Using [value]</h3>
  <div class="demo-layout__row">
    <button mdc-button
      (click)="demoValue.required = !demoValue.required">Required:
      {{demoValue.required ? 'On' :
      'Off'}}</button>
  </div>
  <mdc-form-field>
    <mdc-text-field #demoValue label="Enter value" [value]="demoInputValue"
      required validationMessage="Field is required"></mdc-text-field>
  </mdc-form-field>
  <div class="demo-layout__row">
    <button mdc-button (click)="demoValue.value = null">Reset value</button>
  </div>
  <p>Value: {{demoValue.value}}</p>

  <example-viewer [example]="exampleUsingValue"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Leading and Trailing Icons</h3>
  <div class="demo-container">
    <mdc-text-field autocomplete="tel" type="tel" label="Phone number">
      <mdc-icon mdcTextFieldIcon leading>phone</mdc-icon>
      <mdc-icon mdcTextFieldIcon trailing>event</mdc-icon>
    </mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field type="date" outlined label="Event date">
      <mdc-icon mdcTextFieldIcon leading>event</mdc-icon>
    </mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field type="date" outlined label="Event date">
      <button mdc-icon-button mdcTextFieldIcon trailing icon="event"></button>
    </mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field disabled label="Disabled">
      <mdc-icon mdcTextFieldIcon leading>event</mdc-icon>
    </mdc-text-field>
  </div>
  <example-viewer [example]="exampleIcons"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Svg Icon</h3>
  <div class="demo-container">
    <mdc-text-field outlined label="Svg icon">
      <mdc-icon mdcTextFieldIcon leading svgIcon="thumbup"
        class="temporary-workaround-for-text-field-svg"></mdc-icon>
    </mdc-text-field>
  </div>
  <example-viewer [example]="exampleSvgIcon"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Density</h3>
  <div class="demo-container">
    <mdc-text-field class="demo-density-text-field" label="Density">
    </mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field class="demo-density-outlined-text-field" outlined
      label="Density"></mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field class="demo-density-outlined-text-field-with-leading-icon"
      outlined label="Event date">
      <mdc-icon mdcTextFieldIcon leading>event</mdc-icon>
    </mdc-text-field>
  </div>
  <example-viewer [example]="exampleDensity"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Shape</h3>
  <div class="demo-container">
    <mdc-text-field label="Standard" required
      class="demo-text-field-custom-colors"></mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field label="Standard" class="demo-shaped-text-field">
    </mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field label="Standard" outlined
      class="demo-shaped-text-field--outline"></mdc-text-field>
  </div>

  <example-viewer [example]="exampleShape"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Numeric with ngModel</h3>
  <mdc-text-field type="number" label="Distance" [(ngModel)]="waypoint.dt">
  </mdc-text-field>
  <p>Model: {{waypoint | json}}</p>

  <example-viewer [example]="exampleNumeric"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Prefilled via ngModel</h3>
  <mdc-text-field [(ngModel)]="prefilledText" label="Username">
  </mdc-text-field>
  <p>ngModel: {{prefilledText}}

    <example-viewer [example]="examplePrefilled"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">RTL</h3>
  <mdc-form-field dir="rtl">
    <mdc-text-field outlined label="Standard">
      <mdc-icon mdcTextFieldIcon leading>phone</mdc-icon>
    </mdc-text-field>
  </mdc-form-field>
  <example-viewer [example]="exampleRtl"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Date / Time / Color / Password</h3>
  <div class="demo-container">
    <mdc-text-field type="date" label="Birthday"></mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field type="time" label="Time"></mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field type="password" label="Password" required outlined>
    </mdc-text-field>
  </div>
  <div class="demo-container">
    <mdc-text-field type="color" label="Color" style="width: 6rem">
    </mdc-text-field>
  </div>
  <example-viewer [example]="exampleDateTime"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Full Width</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="alternateColors(demofullwidth)">Alternate
      Colors</button>
  </div>
  <mdc-text-field #demofullwidth label="Subject" fullwidth></mdc-text-field>
  <example-viewer [example]="exampleFullWithSingleLine"></example-viewer>
</div>