<div class="demo-content">
  Set page to use Roboto.
  <example-viewer [example]="exampleRoboto"></example-viewer>
</div>

<div class="demo-content">
  <div mdcHeadline1>Headline 1</div>
  <div mdcHeadline2>Headline 2</div>
  <div mdcHeadline3>Headline 3</div>
  <div mdcHeadline4>Headline 4</div>
  <div mdcHeadline5>Headline 5</div>
  <div mdcHeadline6>Headline 6</div>
  <example-viewer [example]="exampleHeadline"></example-viewer>
</div>

<div class="demo-content">
  <div mdcSubtitle1>Subtitle 1</div>
  <div mdcSubtitle2>Subtitle 2</div>
  <example-viewer [example]="exampleSubtitle"></example-viewer>
</div>

<div class="demo-content">
  <div mdcBody1>Body 1</div>
  <div mdcBody2>Body 2</div>
  <example-viewer [example]="exampleBody"></example-viewer>
</div>

<div class="demo-content">
  <div mdcButton>Button text</div>
  <div mdcCaption>Caption text</div>
  <div mdcOverline>Overline text</div>
  <example-viewer [example]="exampleMisc"></example-viewer>
</div>