<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>base</code></td>
        <td>Sets the font to Roboto</td>
      </tr>
      <tr>
        <td><code>mdc-typography($style)</code></td>
        <td>Applies one of the typography styles, including setting the font to
          Roboto</td>
      </tr>
      <tr>
        <td><code>overflow-ellipsis</code></td>
        <td>Truncates overflow text to one line with an ellipsis</td>
      </tr>
      <tr>
        <td><code>baseline-top($distance)</code></td>
        <td>Sets the baseline height of a text element from top.</td>
      </tr>
      <tr>
        <td><code>baseline-bottom($distance)</code></td>
        <td>Sets the distance from text baseline to bottom. This mixin should be
          combined with <code>mdc-typography-baseline-top</code>
          when setting baseline distance to following text element.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Overriding</h4>
  <div class="demo-content">
    <pre><code [highlight]="exampleFontFamilySimple"></code></pre>
  </div>

  <div class="demo-content">
    <pre><code [highlight]="exampleOverrideFontFamilyGotham"></code></pre>
  </div>
</div>