<div class="demo-page">
  <div class="markdown-body">
    <h1>Icon Buttons</h1>
    Icon buttons allow users to take actions, and make choices, with a single tap.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/design/components/buttons.html#toggle-button"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Toggle Buttons</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-icon-button/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code><![CDATA[import { MdcIconButtonModule } from '@angular-mdc/web';]]></code></pre>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <h3>button[mdcIconButton]</h3>
      <h3>a[mdcIconButton]</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>on: boolean</td>
            <td>Sets the toggle state to the provided value.</td>
          </tr>
          <tr>
            <td>iconOn: string</td>
            <td>Set icon as content when toggled on.</td>
          </tr>
          <tr>
            <td>iconOff: string</td>
            <td>Set icon as content when toggled off.</td>
          </tr>
          <tr>
            <td>labelOn: string</td>
            <td>Set "aria-label" attribute when toggled on.</td>
          </tr>
          <tr>
            <td>labelOff: string</td>
            <td>Set "aria-label" attribute when toggled off.</td>
          </tr>
          <tr>
            <td>primary: boolean</td>
            <td>Colors the button with the primary theme color.</td>
          </tr>
          <tr>
            <td>secondary: boolean</td>
            <td>Colors the button with the secondary theme color.</td>
          </tr>
          <tr>
            <td>disabled: boolean</td>
            <td>Disables the icon button.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Parameters</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>toggle(isOn: boolean)</td>
            <td>Toggles the icon toggle state. If an argument is given, will toggle on if true, off if false.</td>
          </tr>
          <tr>
            <td>refreshToggleData()</td>
            <td>Allow's developers to refresh toggle data if needed.</td>
          </tr>
          <tr>
            <td>isOn()</td>
            <td>Returns true if the button is toggled on, false otherwise.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Events</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>change: MdcIconButtonChange</td>
            <td>Emits when the icon is toggled.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize an icon button's color and properties, you can use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-icon-button/README.md#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-icon-button"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Using NgModel Form</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="demoiconbutton.primary = !demoiconbutton.primary">Primary Color: {{demoiconbutton.primary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoiconbutton.secondary = !demoiconbutton.secondary">Secondary Color: {{demoiconbutton.secondary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="demoiconbutton.disabled = !demoiconbutton.disabled">Disabled: {{demoiconbutton.disabled ? 'On' : 'Off'}}</button>
    </div>
    <form #demoForm="ngForm" id="demoForm">
      <button mdcIconButton name="demoiconbutton" #demoiconbutton
       ngModel #demoIconButtonModel="ngModel"
       iconOn="favorite" iconOff="favorite_border"
       labelOn="Add to Favorites" labelOff="Remove from Favorites"></button>
    </form>
    <p>Value: {{ demoIconButtonModel.value }}</p>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Using Font Awesome</h3>
    <button mdcIconButton
      iconOn="fa-star" iconOff="fa-star-o"
      labelOn="Star this item" labelOff="Unstar this item">
      <i class="fa fa-star" aria-hidden="true"></i>
    </button>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Using [on] property</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="demoiconbutton3.on = !demoiconbutton3.on">Icon: {{demoiconbutton3.on ? 'On' : 'Off'}}</button>
    </div>
    <button mdcIconButton #demoiconbutton3 iconOn="favorite" iconOff="favorite_border" labelOn="Add to Favorites" labelOff="Remove from Favorites"></button>
  </div>
</div>
