<div class="demo-page">
  <div class="markdown-body">
    <h1>Typography</h1>
    Material Design's text sizes and styles were developed to balance content density and reading comfort under typical usage conditions.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/style/typography.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Typography</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-typography/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <p class="docs-api-module-import"><![CDATA[import { MdcTypographyModule } from '@angular-mdc/web';]]></p>

    <h2>Sass Mixins</h2>
    To customize the typography of a style, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography#sass-variables-and-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-typography"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <table>
        <thead>
          <tr>
            <th>Directive</th>
            <th>Format</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>mdcTypography</td>
            <td>Set document body or element font to Roboto</td>
          </tr>
          <tr>
            <td>mdcOverline</td>
            <td>
              <div mdcOverline>Overline Text</div>
            </td>
          </tr>
          <tr>
            <td>mdcButton</td>
            <td>
              <div mdcButton>Button Text</div>
            </td>
          </tr>
          <tr>
            <td>mdcBody1</td>
            <td>
              <div mdcBody1>Body 1</div>
            </td>
          </tr>
          <tr>
            <td>mdcBody2</td>
            <td>
              <div mdcBody2>Body 2</div>
            </td>
          </tr>
          <tr>
            <td>mdcSubtitle1</td>
            <td>
              <div mdcSubtitle1>Subtitle 1</div>
            </td>
          </tr>
          <tr>
            <td>mdcSubtitle2</td>
            <td>
              <div mdcSubtitle2>Subtitle 2</div>
            </td>
          </tr>
          <tr>
            <td>mdcCaption</td>
            <td>
              <span mdcCaption>Caption</span>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline6</td>
            <td>
              <div mdcHeadline6>Headline 6</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline5</td>
            <td>
              <div mdcHeadline5>Headline 5</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline4</td>
            <td>
              <div mdcHeadline4>Headline 4</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline3</td>
            <td>
              <div mdcHeadline3>Headline 3</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline2</td>
            <td>
              <div mdcHeadline2>Headline 2</div>
            </td>
          </tr>
          <tr>
            <td>mdcHeadline1</td>
            <td>
              <div mdcHeadline1>Headline 1</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
