<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayoutWrap fxFlex="70" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxLayout="column" fxFlex="100" style="padding-bottom: 15px;">
      <span mdc-typography-headline>Angular for Material Design Components</span>
      <span mdc-typography-subheading1>angular-mdc-web - <a href="https://github.com/trimox/angular-mdc-web" alt="GitHub" mdc-typography-subheading1>GitHub</a></span>
    </div>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Buttons</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        Buttons communicate the action that will occur when the user touches them.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('button-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Card</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        A card is a sheet of material that serves as an entry point to more detailed information.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('card-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Checkbox</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        Checkboxes allow the user to select multiple options from a set.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('checkbox-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Floating Action Button (FAB)</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        A floating action button represents the primary action in an application.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('fab-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Linear Progress</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        Progress and activity indicators are visual indications of an app loading content.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('linear-progress-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Menu</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        Menus display a list of choices on a transient sheet of material.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('menu-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Radio Button</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        Radio buttons allow the user to select one option from a set.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('radio-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Snackbar</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        Snackbars provide brief feedback through a message at the bottom of the screen.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('snackbar-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Switch</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        On/off switches toggle the state of a single settings option.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('switch-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Textfield</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        Text fields allow users to input, edit, and select text.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('textfield-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Toolbar</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        Toolbars appear a step above the sheet of material affected by their actions.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('toolbar-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
    <mdc-card class="demo-card">
      <mdc-card-primary>
        <h1 mdc-card-title>Typography</h1>
      </mdc-card-primary>
      <mdc-card-supporting-text>
        Material Design typography uses the Roboto font.
      </mdc-card-supporting-text>
      <mdc-card-actions>
        <button mdc-button [cardAction]="true" (click)="viewComponent('typography-demo');">View Demo</button>
      </mdc-card-actions>
    </mdc-card>
  </div>
</div>
