<div fxLayout="row" fxLayoutAlign="center" style="padding-top: 20px;">
<div fxLayout="center" fxLayoutWrap fxFlex="70">
  <div class="mdc-card home-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Buttons</h1>
      <h2 class="mdc-card__subtitle">Material Design Component</h2>
    </section>
    <section class="mdc-card__supporting-text">
      Buttons communicate the action that will occur when the user touches them.
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action" (click)="buttonDemo();">View Demo</button>
    </section>
  </div>
  <div class="mdc-card home-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Checkbox</h1>
      <h2 class="mdc-card__subtitle">Material Design Component</h2>
    </section>
    <section class="mdc-card__supporting-text">
      Checkboxes allow the user to select multiple options from a set.
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action" (click)="checkboxDemo();">View Demo</button>
    </section>
  </div>
  <div class="mdc-card home-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Switch</h1>
      <h2 class="mdc-card__subtitle">Material Design Component</h2>
    </section>
    <section class="mdc-card__supporting-text">
      On/off switches toggle the state of a single settings option.
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action" (click)="switchDemo();">View Demo</button>
    </section>
  </div>
  <div class="mdc-card home-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Floating Action Button (FAB)</h1>
      <h2 class="mdc-card__subtitle">Material Design Component</h2>
    </section>
    <section class="mdc-card__supporting-text">
      A floating action button represents the primary action in an application.
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action" (click)="fabDemo();">View Demo</button>
    </section>
  </div>
  <div class="mdc-card home-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Snackbar</h1>
      <h2 class="mdc-card__subtitle">Material Design Component</h2>
    </section>
    <section class="mdc-card__supporting-text">
      Snackbars provide brief feedback about an operation through a message at the bottom of the screen.
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action" (click)="snackDemo();">View Demo</button>
    </section>
  </div>
  <div class="mdc-card home-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Menu</h1>
      <h2 class="mdc-card__subtitle">Material Design Component</h2>
    </section>
    <section class="mdc-card__supporting-text">
      Menus display a list of choices on a transient sheet of material.
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action" (click)="menuDemo();">View Demo</button>
    </section>
  </div>
  <div class="mdc-card home-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Textfield</h1>
      <h2 class="mdc-card__subtitle">Material Design Component</h2>
    </section>
    <section class="mdc-card__supporting-text">
      Text fields allow users to input, edit, and select text.
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action" (click)="textfieldDemo();">View Demo</button>
    </section>
  </div>
  <div class="mdc-card home-card">
    <section class="mdc-card__primary">
      <h1 class="mdc-card__title mdc-card__title--large">Toolbar</h1>
      <h2 class="mdc-card__subtitle">Material Design Component</h2>
    </section>
    <section class="mdc-card__supporting-text">
      Toolbars appear a step above the sheet of material affected by their actions.
    </section>
    <section class="mdc-card__actions">
      <button class="mdc-button mdc-button--compact mdc-card__action" (click)="toolbarDemo();">View Demo</button>
    </section>
  </div>
</div>
