<div fxLayout="row" fxLayoutAlign="center" style="padding-top: 20px;">
  <div fxLayout="center" fxLayoutWrap fxFlex="70">
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Buttons</h1>
      </section>
      <section class="mdc-card__supporting-text">
        Buttons communicate the action that will occur when the user touches them.
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('button-demo');">View Demo</button>
      </section>
    </div>
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Checkbox</h1>
      </section>
      <section class="mdc-card__supporting-text">
        Checkboxes allow the user to select multiple options from a set.
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('checkbox-demo');">View Demo</button>
      </section>
    </div>
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Floating Action Button (FAB)</h1>
      </section>
      <section class="mdc-card__supporting-text">
        A floating action button represents the primary action in an application.
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('fab-demo');">View Demo</button>
      </section>
    </div>
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Linear Progress</h1>
      </section>
      <section class="mdc-card__supporting-text">
        Progress and activity indicators are visual indications of an app loading content.
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('linear-progress-demo');">View Demo</button>
      </section>
    </div>
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Menu</h1>
      </section>
      <section class="mdc-card__supporting-text">
        Menus display a list of choices on a transient sheet of material.
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('menu-demo');">View Demo</button>
      </section>
    </div>
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Snackbar</h1>
      </section>
      <section class="mdc-card__supporting-text">
        Snackbars provide brief feedback about an operation through a message at the bottom of the screen.
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('snackbar-demo');">View Demo</button>
      </section>
    </div>
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Switch</h1>
      </section>
      <section class="mdc-card__supporting-text">
        On/off switches toggle the state of a single settings option.
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('switch-demo');">View Demo</button>
      </section>
    </div>
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Textfield</h1>
      </section>
      <section class="mdc-card__supporting-text">
        <p>Text fields allow users to input, edit, and select text.</p>
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('textfield-demo');">View Demo</button>
      </section>
    </div>
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Toolbar</h1>
      </section>
      <section class="mdc-card__supporting-text">
        Toolbars appear a step above the sheet of material affected by their actions.
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('toolbar-demo');">View Demo</button>
      </section>
    </div>
    <div class="mdc-card home-card">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Typography</h1>
      </section>
      <section class="mdc-card__supporting-text">
        Material Design typography uses the Roboto font.
      </section>
      <section class="mdc-card__actions">
        <button mdc-button [compact]="true" class="mdc-card__action" (click)="viewComponent('typography-demo');">View Demo</button>
      </section>
    </div>
  </div>
