<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-select-ink-color($color)</code></td>
        <td>Customizes the color of the selected item displayed in the select.</td>
      </tr>
      <tr>
        <td><code>mdc-select-container-fill-color($color)</code></td>
        <td>Customizes the background color of the select.</td>
      </tr>
      <tr>
        <td><code>mdc-select-label-color($color)</code></td>
        <td>Customizes the label color of the select in the unfocused state.</td>
      </tr>
      <tr>
        <td><code>mdc-select-focused-label-color($color)</code></td>
        <td>Customizes the label color of the select when focused.</td>
      </tr>
      <tr>
        <td><code>mdc-select-bottom-line-color($color)</code></td>
        <td>Customizes the color of the default bottom line of the select.</td>
      </tr>
      <tr>
        <td><code>mdc-select-focused-bottom-line-color($color)</code></td>
        <td>Customizes the color of the bottom line of the select when focused.</td>
      </tr>
      <tr>
        <td><code>mdc-select-shape-radius($radius, $rtl-reflexive)</code></td>
        <td>Sets rounded shape to boxed select variant with given radius size. Set <code>$rtl-reflexive</code> to true
          to flip radius values in RTL context, defaults to false.</td>
      </tr>
      <tr>
        <td><code>mdc-select-hover-bottom-line-color($color)</code></td>
        <td>Customizes the color of the bottom line when the select is hovered.</td>
      </tr>
      <tr>
        <td><code>mdc-select-outline-color($color)</code></td>
        <td>Customizes the color of the notched outline.</td>
      </tr>
      <tr>
        <td><code>mdc-select-outline-shape-radius($radius, $rtl-reflexive)</code></td>
        <td>Sets the border radius of of the outlined select variant. Set <code>$rtl-reflexive</code> to true to flip
          radius values in RTL context, defaults to false.</td>
      </tr>
      <tr>
        <td><code>mdc-select-focused-outline-color($color)</code></td>
        <td>Customizes the color of the outline of the select when focused.</td>
      </tr>
      <tr>
        <td><code>mdc-select-hover-outline-color($color)</code></td>
        <td>Customizes the color of the outline when the select is hovered.</td>
      </tr>
    </tbody>
  </table>
</div>