<div class="docs-api">
  <h3 mdcHeadline6>MdcElevation</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">[mdcElevation]="0-24"</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcElevation</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>[mdcElevation]="#"</td>
        <td>Elevation values are mapped out in a "z-space" and range from 0 to 24.</td>
      </tr>
    </tbody>
  </table>
</div>