<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-elevation($z-value, $color, $opacity-boost)</code></td>
        <td>Sets the elevation to the z-space for that given elevation, and optionally sets the color and/or boosts the
          opacity of the shadow</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Function</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-elevation-transition-value($duration, $easing)</code></td>
        <td>Returns a value for the <code>transition</code> property to transition an element between elevations</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Variable</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>$mdc-elevation-property</code></td>
        <td>Default property for elevation transitions</td>
      </tr>
      <tr>
        <td><code>$mdc-elevation-transition-duration</code></td>
        <td>Default duration value for elevation transitions</td>
      </tr>
      <tr>
        <td><code>$mdc-elevation-transition-timing-function</code></td>
        <td>Default easing value for elevation transitions</td>
      </tr>
    </tbody>
  </table>
</div>