<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>
  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>mdc-elevation($z-value, $color, $opacity-boost)</code></td>
        <td>Sets the elevation to the z-space for that given elevation, and
          optionally sets the color and/or boosts the opacity of the shadow</td>
      </tr>
      <tr>
        <td><code>overlay-common</code></td>
        <td>Called once per application to setup the universal elevation overlay
          styles</td>
      </tr>
      <tr>
        <td><code>shadow($box-shadow)</code></td>
        <td>Sets the <code>box-shadow</code> of the closest parent selector</td>
      </tr>
      <tr>
        <td><code>overlay-surface-position</code></td>
        <td>Sets the positioning of the overlay's surface element so that the
          overlay can be appropriately centered</td>
      </tr>
      <tr>
        <td>
          <code>overlay-dimensions($width, $height: $width, $has-content-sizing: true)</code>
        </td>
        <td>Sets the dimensions of the elevation overlay</td>
      </tr>
      <tr>
        <td><code>overlay-fill-color($color)</code></td>
        <td>Sets the color of the elevation overlay</td>
      </tr>
      <tr>
        <td><code>overlay-opacity($opacity)</code></td>
        <td>Sets the opacity of the elevation overlay</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Function</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>transition-value($duration, $easing)</code></td>
        <td>Returns a value for the <code>transition</code> property to
          transition an element between elevations</td>
      </tr>
      <tr>
        <td>
          <code>overlay-transition-value($duration, $easing)</code>
        </td>
        <td>Returns a value for the <code>transition</code> property to
          transition the elevation overlay between elevations</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Variable</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>$property</code></td>
        <td>Default property for elevation transitions</td>
      </tr>
      <tr>
        <td><code>$transition-duration</code></td>
        <td>Default duration value for elevation transitions</td>
      </tr>
      <tr>
        <td><code>$transition-timing-function</code></td>
        <td>Default easing value for elevation transitions</td>
      </tr>
      <tr>
        <td><code>$overlay-color</code></td>
        <td>Default color for the elevation overlay</td>
      </tr>
      <tr>
        <td><code>$overlay-property</code></td>
        <td>Default property for the elevation overlay transitions</td>
      </tr>
    </tbody>
  </table>
</div>