<mdc-top-app-bar class="demo-top-app-bar" #topAppBar fixed [fixedAdjustElement]="mainContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Angular MDC">
      <mdc-icon mdcTopAppBarNavIcon (click)="appdrawer.open = !appdrawer.open" *ngIf="isScreenSmall() || topAppBar.isCollapsed()">menu</mdc-icon>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <a mdcTopAppBarActionItem href="https://github.com/trimox/angular-mdc-web" alt="GitHub" target="_blank" rel="noopener noreferrer">
        <mdc-icon>
          <img src="https://trimox.github.io/angular-mdc-web/assets/github-circle-white-transparent.svg" height="24" />
        </mdc-icon>
      </a>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<div #mainContent>
  <mdc-drawer #appdrawer="mdcDrawer" [drawer]="isScreenSmall() || topAppBar.isCollapsed() ? 'modal' : 'permanent'" class="demo-drawer--fixed">
    <mdc-drawer-content>
      <mdc-list useActivatedClass>
        <mdc-list-item [routerLink]="['home']" routerLinkActive #rlaHome="routerLinkActive">
          <mdc-icon mdcListItemGraphic>home</mdc-icon>Home
        </mdc-list-item>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item (click)="startVisible = !startVisible">
          <mdc-icon mdcListItemGraphic>keyboard_arrow_{{startVisible ? 'down' : 'right'}}</mdc-icon>Getting Started
        </mdc-list-item>
        <div *ngIf="startVisible">
          <mdc-list-item *ngFor="let item of startRoutes" [routerLink]="[item.route]" routerLinkActive #rlaCore="routerLinkActive">
            <mdc-icon mdcListItemGraphic>{{item.icon}}</mdc-icon>{{item.name}}
          </mdc-list-item>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item (click)="buttonVisible = !buttonVisible">
          <mdc-icon mdcListItemGraphic>keyboard_arrow_{{buttonVisible ? 'down' : 'right'}}</mdc-icon>Buttons
        </mdc-list-item>
        <div *ngIf="buttonVisible">
          <mdc-list-item *ngFor="let item of buttonRoutes" [routerLink]="[item.route]" routerLinkActive #rlaButton="routerLinkActive">
            <mdc-icon mdcListItemGraphic>{{item.icon}}</mdc-icon>{{item.name}}
          </mdc-list-item>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item (click)="inputVisible = !inputVisible">
          <mdc-icon mdcListItemGraphic>keyboard_arrow_{{inputVisible ? 'down' : 'right'}}</mdc-icon>Inputs and Controls
        </mdc-list-item>
        <div *ngIf="inputVisible">
          <mdc-list-item *ngFor="let item of inputRoutes" [routerLink]="[item.route]" routerLinkActive #rlaInputs="routerLinkActive">
            <mdc-icon mdcListItemGraphic>{{item.icon}}</mdc-icon>{{item.name}}
          </mdc-list-item>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item (click)="listVisible = !listVisible">
          <mdc-icon mdcListItemGraphic>keyboard_arrow_{{listVisible ? 'down' : 'right'}}</mdc-icon>Lists
        </mdc-list-item>
        <div *ngIf="listVisible">
          <mdc-list-item *ngFor="let item of listRoutes" [routerLink]="[item.route]" routerLinkActive #rlaLists="routerLinkActive">
            <mdc-icon mdcListItemGraphic>{{item.icon}}</mdc-icon>{{item.name}}
          </mdc-list-item>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list-item *ngFor="let navItem of navigationLinks" [routerLink]="[navItem.route]" routerLinkActive #rla="routerLinkActive">
          <mdc-icon mdcListItemGraphic>{{navItem.icon}}</mdc-icon>{{navItem.name}}
        </mdc-list-item>
      </mdc-list>
    </mdc-drawer-content>
  </mdc-drawer>

  <router-outlet></router-outlet>
</div>

<div class="demo-app-bar-control-container demo-layout__row-with-button" #demoTopAppBarControls>
  <div class="demo-layout__row">
    <button mdc-button (click)="topAppBar.fixed = !topAppBar.fixed">Fixed: {{topAppBar.fixed ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="topAppBar.prominent = !topAppBar.prominent">Promient: {{topAppBar.prominent ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="topAppBar.dense = !topAppBar.dense">Dense: {{topAppBar.dense ? 'On' : 'Off'}}</button>
  </div>
  <div class="demo-layout__row">
    <button mdc-button (click)="topAppBar.short = !topAppBar.short">Short: {{topAppBar.short ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="topAppBar.shortCollapsed = !topAppBar.shortCollapsed">Short Collapsed: {{topAppBar.shortCollapsed ? 'On' : 'Off'}}</button>
  </div>
</div>
