<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>unchecked-stroke-color($color)</code></td>
        <td>Sets the stroke color of an unchecked radio button</td>
      </tr>
      <tr>
        <td><code>checked-stroke-color($color)</code></td>
        <td>Sets the stroke color of a checked radio button</td>
      </tr>
      <tr>
        <td><code>ink-color($color)</code></td>
        <td>Sets the ink color of a radio button</td>
      </tr>
      <tr>
        <td><code>focus-indicator-color($color)</code></td>
        <td>Sets the color of the focus indicator</td>
      </tr>
    </tbody>
  </table>
</div>