@use './styles/global';

@use '@material/theme' with (
  $primary: #6200ee,
  $secondary: #faab1a,
  $background: #fff,
);

// Material Components Web
@use './styles/mdc';

// Angular MDC
@use '@angular-mdc/theme/material';

// App styles
@use './styles/top-app-bar';
@use './styles/drawer';
