<div class="demo-content">
  <h3 class="demo-content__headline">Custom</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="custom.border = !custom.border">Border: {{custom.border ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="custom.dense = !custom.dense">Dense: {{custom.dense ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="custom.singleSelection = !custom.singleSelection">Single Selection:
      {{custom.singleSelection ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="custom.wrapFocus = !custom.wrapFocus">Wrap Focus: {{custom.wrapFocus ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="custom.interactive = !custom.interactive">Interactive: {{custom.interactive ? 'On' :
      'Off'}}</button>
    <button mdc-button (click)="custom.disableRipple = !custom.disableRipple">Disable Ripple: {{custom.disableRipple ?
      'On' :
      'Off'}}</button>
  </div>
  <div class="demo-layout__row">
    <button mdc-button (click)="custom.useActivatedClass = !custom.useActivatedClass">Use Activated Class:
      {{custom.useActivatedClass ?
      'On' : 'Off'}}</button>
    <button mdc-button (click)="custom.useSelectedClass = !custom.useSelectedClass">Use Selected Class:
      {{custom.useSelectedClass ?
      'On' : 'Off'}}</button>
  </div>
  <mdc-list-group subheader="Folders">
    <mdc-list #custom twoLine avatar class="demo-list--custom">
      <mdc-list-item *ngFor="let folder of folders">
        <mdc-icon mdcListItemGraphic>{{folder.icon}}</mdc-icon>
        <mdc-list-item-text [secondaryText]="folder.addDate">{{folder.name}}</mdc-list-item-text>
        <a href="#/list-demo/examples" mdcListItemMeta mdcIcon aria-label="View more" title="More info">info</a>
      </mdc-list-item>
      <mdc-list-divider inset></mdc-list-divider>
      <h3 mdcListGroupSubheader>Files</h3>
      <mdc-list-item *ngFor="let file of files">
        <mdc-icon mdcListItemGraphic>{{file.icon}}</mdc-icon>
        <mdc-list-item-text [secondaryText]="file.addDate">{{file.name}}</mdc-list-item-text>
        <a href="#/list-demo/examples" mdcListItemMeta mdcIcon aria-label="View more" title="More info">info</a>
      </mdc-list-item>
    </mdc-list>
  </mdc-list-group>
  <example-viewer [example]="exampleCustom"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Ripple disabled</h3>
  <mdc-list disableRipple>
    <mdc-list-item *ngFor="let item of items">
      <mdc-icon mdcListItemGraphic>{{item.icon}}</mdc-icon>
      {{item.label}}
    </mdc-list-item>
  </mdc-list>
  <example-viewer [example]="exampleRippleDisabled"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Shaped</h3>
  <mdc-list class="demo-list--shaped" singleSelection>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>network_wifi</mdc-icon>Wi-Fi
    </mdc-list-item>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>bluetooth</mdc-icon>Bluetooth
    </mdc-list-item>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>data_usage</mdc-icon>Data Usage
    </mdc-list-item>
  </mdc-list>
  <example-viewer [example]="exampleShaped"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Single-Line</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="singleline.border = !singleline.border">Border: {{singleline.border ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="singleline.dense = !singleline.dense">Dense: {{singleline.dense ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="singleline.singleSelection = !singleline.singleSelection">Single Selection:
      {{singleline.singleSelection ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="singleline.interactive = !singleline.interactive">Interactive: {{singleline.interactive
      ? 'On' : 'Off'}}</button>
  </div>
  <mdc-list #singleline>
    <mdc-list-item>Single-line item</mdc-list-item>
    <mdc-list-item>Single-line item</mdc-list-item>
    <mdc-list-item disabled>Single-line item (disabled)</mdc-list-item>
    <mdc-list-item>Single-line item</mdc-list-item>
  </mdc-list>
  <example-viewer [example]="exampleSingleLine"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Two-Line</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="twoline.border = !twoline.border">Border: {{twoline.border ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="twoline.dense = !twoline.dense">Dense: {{twoline.dense ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="twoline.singleSelection = !twoline.singleSelection">Single Selection:
      {{twoline.singleSelection ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="twoline.interactive = !twoline.interactive">Interactive: {{twoline.interactive ? 'On' :
      'Off'}}</button>
  </div>
  <mdc-list #twoline twoLine>
    <mdc-list-item>
      <mdc-list-item-text secondaryText="Secondary text">Single-line item</mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-item>
      <mdc-list-item-text secondaryText="Secondary text">Single-line item</mdc-list-item-text>
    </mdc-list-item>
    <mdc-list-item>
      <mdc-list-item-text secondaryText="Secondary text">Single-line item</mdc-list-item-text>
    </mdc-list-item>
  </mdc-list>
  <example-viewer [example]="exampleTwoLine"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Start Graphic</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="startgraphic.border = !startgraphic.border">Border: {{startgraphic.border ? 'On' :
      'Off'}}</button>
    <button mdc-button (click)="startgraphic.dense = !startgraphic.dense">Dense: {{startgraphic.dense ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="startgraphic.singleSelection = !startgraphic.singleSelection">Single Selection:
      {{startgraphic.singleSelection ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="startgraphic.interactive = !startgraphic.interactive">Interactive:
      {{startgraphic.interactive ? 'On' : 'Off'}}</button>
  </div>
  <mdc-list #startgraphic>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>network_wifi</mdc-icon>Wi-Fi
    </mdc-list-item>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>bluetooth</mdc-icon>Bluetooth
    </mdc-list-item>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>data_usage</mdc-icon>Data Usage
    </mdc-list-item>
  </mdc-list>
  <example-viewer [example]="exampleStartGraphic"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">End Meta</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="endmeta.border = !endmeta.border">Border: {{endmeta.border ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="endmeta.dense = !endmeta.dense">Dense: {{endmeta.dense ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="endmeta.interactive = !endmeta.interactive">Interactive: {{endmeta.interactive ? 'On' :
      'Off'}}</button>
  </div>
  <mdc-list #endmeta>
    <mdc-list-item>Wi-Fi
      <mdc-icon mdcListItemMeta>info</mdc-icon>
    </mdc-list-item>
    <mdc-list-item>Bluetooth
      <mdc-icon mdcListItemMeta>info</mdc-icon>
    </mdc-list-item>
    <mdc-list-item>Data Usage
      <mdc-icon mdcListItemMeta>info</mdc-icon>
    </mdc-list-item>
  </mdc-list>
  <example-viewer [example]="exampleMeta"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Start and End Graphic/Meta Detail</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="startend.border = !startend.border">Border: {{startend.border ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="startend.dense = !startend.dense">Dense: {{startend.dense ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="startend.interactive = !startend.interactive">Interactive: {{startend.interactive ?
      'On' : 'Off'}}</button>
  </div>
  <mdc-list #startend>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>network_wifi</mdc-icon>Wi-Fi
      <mdc-icon mdcListItemMeta>info</mdc-icon>
    </mdc-list-item>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>bluetooth</mdc-icon>Bluetooth
      <mdc-icon mdcListItemMeta>info</mdc-icon>
    </mdc-list-item>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>data_usage</mdc-icon>Data Usage
      <mdc-icon mdcListItemMeta>info</mdc-icon>
    </mdc-list-item>
  </mdc-list>
  <example-viewer [example]="exampleStartEnd"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Checkbox List</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="checkboxes.border = !checkboxes.border">Border: {{checkboxes.border ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="checkboxes.dense = !checkboxes.dense">Dense: {{checkboxes.dense ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="checkboxes.singleSelection = !checkboxes.singleSelection">Single Selection:
      {{checkboxes.singleSelection ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="checkboxes.interactive = !checkboxes.interactive">Interactive: {{checkboxes.interactive
      ? 'On' : 'Off'}}</button>
  </div>
  <mdc-list #checkboxes>
    <mdc-list-item>
      Single-line item
      <mdc-checkbox mdcListItemMeta></mdc-checkbox>
    </mdc-list-item>
    <mdc-list-item>
      Single-line item
      <mdc-checkbox mdcListItemMeta></mdc-checkbox>
    </mdc-list-item>
    <mdc-list-item>
      Single-line item
      <mdc-checkbox mdcListItemMeta></mdc-checkbox>
    </mdc-list-item>
  </mdc-list>
  <example-viewer [example]="exampleCheckList"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Avatars</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="avatar.border = !avatar.border">Border: {{avatar.border ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="avatar.dense = !avatar.dense">Dense: {{avatar.dense ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="avatar.interactive = !avatar.interactive">Interactive: {{avatar.interactive ? 'On' :
      'Off'}}</button>
  </div>
  <mdc-list #avatar>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>person</mdc-icon>Single-line item
    </mdc-list-item>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>person</mdc-icon>Single-line item
    </mdc-list-item>
    <mdc-list-item>
      <mdc-icon mdcListItemGraphic>person</mdc-icon>Single-line item
    </mdc-list-item>
  </mdc-list>
  <example-viewer [example]="exampleAvatars"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Group Lists</h3>
  <div class="demo-layout__row">
    <button mdc-button (click)="divider.inset = !divider.inset">Divider Inset: {{divider.inset ? 'On' : 'Off'}}</button>
    <button mdc-button (click)="divider.padded = !divider.padded">Divider Padded: {{divider.padded ? 'On' : 'Off'}}</button>
  </div>
  <mdc-list-group subheader="First Group">
    <mdc-list>
      <mdc-list-item>
        <mdc-icon mdcListItemGraphic>network_wifi</mdc-icon>Wi-Fi
        <mdc-icon mdcListItemMeta>info</mdc-icon>
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdcListItemGraphic>bluetooth</mdc-icon>Bluetooth
        <mdc-icon mdcListItemMeta>info</mdc-icon>
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdcListItemGraphic>data_usage</mdc-icon>Data Usage
        <mdc-icon mdcListItemMeta>info</mdc-icon>
      </mdc-list-item>
    </mdc-list>
    <mdc-list-divider #divider></mdc-list-divider>
    <h3 mdcListGroupSubheader>Second Group</h3>
    <mdc-list avatar>
      <mdc-list-item>
        <mdc-icon mdcListItemGraphic>person</mdc-icon>Single-line item
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdcListItemGraphic>person</mdc-icon>Single-line item
      </mdc-list-item>
      <mdc-list-item>
        <mdc-icon mdcListItemGraphic>person</mdc-icon>Single-line item
      </mdc-list-item>
    </mdc-list>
  </mdc-list-group>
  <example-viewer [example]="exampleGroupLists"></example-viewer>
</div>