<div class="demo-page">
  <div class="markdown-body">
    <h1>Image List</h1>
    <span>MDC Image List provides a RTL-aware Material Design image list component, representing an evolution of the Material Design Grid List spec. An Image List consists of several items, each containing an image and optionally supporting content (i.e. a text label).
    </span>
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/components/grid-lists.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Grid lists</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-image-list/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code><![CDATA[import { MdcImageListModule } from '@angular-mdc/web';]]></code></pre>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <h3>mdc-image-list</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>masonry: boolean</td>
            <td>Indicates that this Image List should use the Masonry variant.</td>
          </tr>
          <tr>
            <td>textProtection: boolean</td>
            <td>Indicates that supporting content should be positioned in a scrim overlaying each image (instead of positioned separately under each image).</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-image-list-item</h3>
      <h3 class="small-margin">[mdcImageListItem]</h3>
      <table>
        <tbody>
          <tr>
            <td>Mandatory. Indicates each item in an Image List.</td>
          </tr>
        </tbody>
      </table>

      <h3>[mdcImageListImageAspect]</h3>
      <h3 class="small-margin">mdc-image-list-image-aspect</h3>
      <table>
        <tbody>
          <tr>
            <td>Optional. Parent of each item's image element, responsible for constraining aspect ratio. This element may be omitted entirely if images are already sized to the correct aspect ratio.</td>
          </tr>
        </tbody>
      </table>

      <h3>[mdcImageListImage]</h3>
      <h3 class="small-margin">mdc-image-list-image</h3>
      <table>
        <tbody>
          <tr>
            <td>Mandatory. Indicates the image element in each item.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-image-list-supporting</h3>
      <h3 class="small-margin">[mdcImageListSupporting]</h3>
      <table>
        <tbody>
          <tr>
            <td>Optional. Indicates the area within each item containing the supporting text label, if the Image List contains text labels.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-image-list-label</h3>
      <h3 class="small-margin">[mdcImageListLabel]</h3>
      <table>
        <tbody>
          <tr>
            <td>Optional. Indicates the text label in each item, if the Image List contains text labels.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-image-list"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3>Image List</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="demolist.textProtection = !demolist.textProtection">Text Protection: {{demolist.textProtection ? 'On' : 'Off'}}</button>
    </div>
    <mdc-image-list #demolist class="standard-image-list">
      <mdc-image-list-item *ngFor="let i of images">
        <mdc-image-list-image-aspect>
          <img mdcImageListImage src="https://material-components-web.appspot.com/images/photos/3x2/{{i+1}}.jpg" />
        </mdc-image-list-image-aspect>
        <mdc-image-list-supporting>
          <span mdcImageListLabel>Text label</span>
        </mdc-image-list-supporting>
      </mdc-image-list-item>
    </mdc-image-list>
  </div>

    <h3>Masonry Image List</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="demomasonry.textProtection = !demomasonry.textProtection">Text Protection: {{demomasonry.textProtection ? 'On' : 'Off'}}</button>
    </div>
    <mdc-image-list #demomasonry [masonry]="true" class="masonry-image-list">
      <mdc-image-list-item *ngFor="let item of masonryImages">
        <img mdcImageListImage src="{{item.image}}" />
        <mdc-image-list-supporting>
          <span mdcImageListLabel>Text label</span>
        </mdc-image-list-supporting>
      </mdc-image-list-item>
    </mdc-image-list>
</div>
