<div class="docs-api">
  <h3 mdcHeadline6>MdcTopAppBar</h3>
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-top-app-bar</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTopAppBar</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>fixed: boolean</td>
        <td>Style the app bar as a fixed top app bar.</td>
      </tr>
      <tr>
        <td>short: boolean</td>
        <td>Style the app bar as a short app bar. Short top app bars should only be used with one action item.</td>
      </tr>
      <tr>
        <td>prominent: boolean</td>
        <td>Enables prominent variant.</td>
      </tr>
      <tr>
        <td>dense: boolean</td>
        <td>Enables dense variant.</td>
      </tr>
      <tr>
        <td>shortCollapsed: boolean</td>
        <td>Set the short app bar to always collapsed.</td>
      </tr>
      <tr>
        <td>fixedAdjustElement: any</td>
        <td>If set, scroll event listener is attached to element object.</td>
      </tr>
      <tr>
        <td>scrollTarget: target: Element | Window</td>
        <td>Sets scroll target to different DOM node (default is window).</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Methods</h4>
  <table>
    <tbody>
      <tr>
        <td>isCollapsed: boolean</td>
        <td>Whether or not the app bar is in a collapsed state.</td>
      </tr>
    </tbody>
  </table>

  <h4 mdcSubtitle2>Events</h4>
  <table>
    <tbody>
      <tr>
        <td>navigationSelected: MdcTopAppBarNavSelected</td>
        <td>Emitted when the top app bar navigation menu icon is selected.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTopAppBarRow</h3>
  A one-line row to add app bar sections.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-top-app-bar-row</span>
    <span class="docs-api-class-selector-name">mdcTopAppBarRow</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTopAppBarRow</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTopAppBarSection</h3>
  A content area for navigation or actions.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-top-app-bar-section</span>
    <span class="docs-api-class-selector-name">mdcTopAppBarSection</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTopAppBarSection</span>

  <h4 mdcSubtitle2>Properties</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>title: string</td>
        <td>Optional. The text used to describe the app or section.</td>
      </tr>
      <tr>
        <td>align: string = 'start' | 'end'</td>
        <td>Align section to either 'start' or 'end' of row.</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTopAppBarTitle</h3>
  Optional. The text used to describe the app or section.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-top-app-bar-title</span>
    <span class="docs-api-class-selector-name">mdcTopAppBarTitle</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTopAppBarTitle</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTopAppBarNavIcon</h3>
  Left most icon of app bar used for navigation.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-icon[mdcTopAppBarNavIcon]</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTopAppBarNavIcon</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTopAppBarActionItem</h3>
  Top app bars can accommodate multiple action items on opposite side of navigation icon.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-icon[mdcTopAppBarActionItem]</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTopAppBarActionItem</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTopAppBarActionItem</h3>
  Top app bars can accommodate multiple action items on opposite side of navigation icon.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdc-icon[mdcTopAppBarActionItem]</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTopAppBarActionItem</span>
</div>

<div class="docs-api">
  <h3 mdcHeadline6>MdcTopAppBarFixedAdjust</h3>
  Style the content below the standard and fixed top app bar to prevent the top app bar from covering it.
  <p>
    Selector:
    <span class="docs-api-class-selector-name">mdcTopAppBarFixedAdjust</span>
  </p>
  Exported as: <span class="docs-api-class-selector-name">mdcTopAppBarFixedAdjust</span>
</div>