<div class="demo-content">
  <h3 class="demo-content__headline">Standard</h3>
  <div class="demo-top-app-bar-container">
    <mdc-top-app-bar style="position: relative">
      <mdc-top-app-bar-row>
        <mdc-top-app-bar-section align="start" title="App">
          <button mdcTopAppBarNavIcon>
            <mdc-icon>menu</mdc-icon>
          </button>
        </mdc-top-app-bar-section>
        <mdc-top-app-bar-section align="end">
          <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
          <mdc-icon mdcTopAppBarActionItem>print</mdc-icon>
          <mdc-icon mdcTopAppBarActionItem>bookmark</mdc-icon>
        </mdc-top-app-bar-section>
      </mdc-top-app-bar-row>
    </mdc-top-app-bar>
    <div>
      <p *ngFor="let lorem of lorems">{{lorem}}</p>
    </div>
  </div>
  <example-viewer [example]="exampleStandard"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Fixed</h3>
  <mdc-top-app-bar #fixed style="position: unset" fixed [scrollTarget]="fixedContent">
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start" title="App">
        <button mdcTopAppBarNavIcon>
          <mdc-icon>menu</mdc-icon>
        </button>
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="end">
        <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
        <mdc-icon mdcTopAppBarActionItem>print</mdc-icon>
        <mdc-icon mdcTopAppBarActionItem>bookmark</mdc-icon>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>
  <div class="demo-app-bar-content" #fixedContent>
    <p *ngFor="let lorem of lorems">{{lorem}}</p>
  </div>
  <div class="demo-layout__row">
    <mdc-form-field>
      <mdc-checkbox (change)="fixed.prominent = !fixed.prominent"></mdc-checkbox>
      <label>Prominent</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox (change)="fixed.dense = !fixed.dense"></mdc-checkbox>
      <label>Dense</label>
    </mdc-form-field>
  </div>
  <example-viewer [example]="exampleFixed"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Prominent</h3>
  <div class="demo-top-app-bar-container">
    <mdc-top-app-bar prominent style="position: relative">
      <mdc-top-app-bar-row>
        <mdc-top-app-bar-section align="start" title="App">
          <button mdcTopAppBarNavIcon>
            <mdc-icon>menu</mdc-icon>
          </button>
        </mdc-top-app-bar-section>
        <mdc-top-app-bar-section align="end">
          <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
          <mdc-icon mdcTopAppBarActionItem>print</mdc-icon>
          <mdc-icon mdcTopAppBarActionItem>bookmark</mdc-icon>
        </mdc-top-app-bar-section>
      </mdc-top-app-bar-row>
    </mdc-top-app-bar>
    <div>
      <p *ngFor="let lorem of lorems">{{lorem}}</p>
    </div>
  </div>
  <example-viewer [example]="exampleProminent"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Dense</h3>
  <div class="demo-top-app-bar-container">
    <mdc-top-app-bar dense style="position: relative">
      <mdc-top-app-bar-row>
        <mdc-top-app-bar-section align="start" title="App">
          <button mdcTopAppBarNavIcon>
            <mdc-icon>menu</mdc-icon>
          </button>
        </mdc-top-app-bar-section>
        <mdc-top-app-bar-section align="end">
          <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
          <mdc-icon mdcTopAppBarActionItem>print</mdc-icon>
          <mdc-icon mdcTopAppBarActionItem>bookmark</mdc-icon>
        </mdc-top-app-bar-section>
      </mdc-top-app-bar-row>
    </mdc-top-app-bar>
    <div>
      <p *ngFor="let lorem of lorems">{{lorem}}</p>
    </div>
  </div>
  <example-viewer [example]="exampleDense"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Short</h3>
  <mdc-top-app-bar short style="position: unset" [scrollTarget]="shortContent">
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start" title="App">
        <button mdcTopAppBarNavIcon>
          <mdc-icon>menu</mdc-icon>
        </button>
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="end">
        <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>
  <div class="demo-app-bar-content" #shortContent>
    <p *ngFor="let lorem of lorems">{{lorem}}</p>
  </div>
  <example-viewer [example]="exampleShort"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Short Collapsed</h3>
  <mdc-top-app-bar shortCollapsed style="position: unset">
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start" title="App">
        <button mdcTopAppBarNavIcon>
          <mdc-icon>menu</mdc-icon>
        </button>
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="end">
        <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>
  <div class="demo-app-bar-content">
    <p *ngFor="let lorem of lorems">{{lorem}}</p>
  </div>
  <example-viewer [example]="exampleShortCollapsed"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">Theme</h3>
  <mdc-top-app-bar fixed class="demo-top-app-bar-themed" style="position: unset"
    [scrollTarget]="themeContent">
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start" title="App">
        <button mdcTopAppBarNavIcon>
          <mdc-icon>menu</mdc-icon>
        </button>
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="end">
        <mdc-icon mdcTopAppBarActionItem>file_download</mdc-icon>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>
  <div class="demo-app-bar-content" #themeContent>
    <p *ngFor="let lorem of lorems">{{lorem}}</p>
  </div>
  <example-viewer [example]="exampleTheme"></example-viewer>
</div>

<div class="demo-content">
  <h3 class="demo-content__headline">With Tab Bar and Drawer</h3>
  <mdc-top-app-bar style="position: unset" class="demo-top-app-bar-with-tabs">
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section align="start" title="App">
        <button mdcTopAppBarNavIcon (click)="drawer.open = !drawer.open">
          <mdc-icon>menu</mdc-icon>
        </button>
      </mdc-top-app-bar-section>
      <mdc-top-app-bar-section align="end">
        <mdc-icon mdcTopAppBarActionItem>search</mdc-icon>
        <mdc-icon mdcTopAppBarActionItem>notifications_none</mdc-icon>
        <mdc-icon mdcTopAppBarActionItem (click)="profileMenu.open = !profileMenu.open">more_vert</mdc-icon>
        <div mdcMenuSurfaceAnchor #menuAnchor>
          <mdc-menu #profileMenu [anchorElement]="menuAnchor">
            <mdc-list>
              <mdc-list-item>My Profile</mdc-list-item>
              <mdc-list-divider></mdc-list-divider>
              <mdc-list-item>Sign out</mdc-list-item>
            </mdc-list>
          </mdc-menu>
        </div>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
    <mdc-top-app-bar-row>
      <mdc-top-app-bar-section>
        <mdc-tab-bar [focusOnActivate]="false">
          <mdc-tab-scroller>
            <mdc-tab *ngFor="let tab of tabs" [label]="tab.label" [icon]="tab.icon"></mdc-tab>
          </mdc-tab-scroller>
        </mdc-tab-bar>
      </mdc-top-app-bar-section>
    </mdc-top-app-bar-row>
  </mdc-top-app-bar>

  <div class="demo-drawer-app-content">
    <mdc-drawer drawer="dismissible" #drawer>
      <mdc-drawer-header title="Drawer Title" subtitle="Subtitle"></mdc-drawer-header>
      <mdc-drawer-content>
        <mdc-list>
          <mdc-list-item *ngFor="let link of links">
            <mdc-icon mdcListItemGraphic>{{link.icon}}</mdc-icon>{{link.label}}
          </mdc-list-item>
        </mdc-list>
      </mdc-drawer-content>
    </mdc-drawer>
    <div mdcDrawerAppContent style="padding: 16px; height: 400px;">
      Lorem ipsum dolor sit amet, ad erat postea ullamcorper nec, veri veniam
      quo et. Diam phaedrum ei mea, quaeque
      voluptaria efficiantur duo no. Eu adhuc veritus civibus nec, sumo
      invidunt mel id, in vim dictas detraxit. Per an
      legere iriure blandit. Veri iisque accusamus an pri.
    </div>
  </div>
  <example-viewer [example]="exampleWithTabsDrawer"></example-viewer>
</div>