<div class="docs-api">
  <h4 mdcSubtitle2>Sass Mixins</h4>

  <table>
    <thead>
      <tr>
        <th>Mixin</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>color-accessible($color)</code></td>
        <td>Sets the color of all slider elements and automatically sets an accessible ink color with high contrast for
          the value indicator pin</td>
      </tr>
      <tr>
        <td><code>highlight-color($color)</code></td>
        <td>Sets the color of the highlighted (aka "on") portion of the slider</td>
      </tr>
      <tr>
        <td><code>rail-color($color, $opacity)</code></td>
        <td>Sets the color (and optionally the opacity) of the rail</td>
      </tr>
      <tr>
        <td><code>rail-tick-mark-color($color)</code></td>
        <td>Sets the color of the tick marks on the rail</td>
      </tr>
      <tr>
        <td><code>thumb-color($color)</code></td>
        <td>Sets the color of the thumb (grab handle)</td>
      </tr>
      <tr>
        <td><code>focus-halo-color($color)</code></td>
        <td>Sets the color of the focus halo</td>
      </tr>
      <tr>
        <td><code>value-pin-fill-color-accessible($color)</code></td>
        <td>Sets the fill color of the value indicator pin and automatically sets an accessible ink color with high
          contrast</td>
      </tr>
      <tr>
        <td><code>value-pin-fill-color($color)</code></td>
        <td>Sets the fill color of the value indicator pin</td>
      </tr>
      <tr>
        <td><code>value-pin-ink-color($color)</code></td>
        <td>Sets the ink color of the value indicator pin</td>
      </tr>
    </tbody>
  </table>
</div>