<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Snackbar</h1>
  <div mdc-typography-subheading2>The MDC Snackbar is a spec-aligned snackbar component adhering to the Material Design snackbars requirements.</div>
  <div class="info-banner" mdc-typography-subheading1><![CDATA[import { MdcSnackbar } from '@angular-mdc/web';]]></div>
  <div class="docs-api">
    <table>
      <thead>
        <tr>
          <th>Service</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MdcSnackbar</td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Methods</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>show(message: string)</td>
          <td>Show snackbar message.</td>
        </tr>
        <tr>
          <td>show(message: string, action: string)</td>
          <td>Show snackbar message and action.</td>
        </tr>
        <tr>
          <td><pre><![CDATA[show(
  message: string,
  action: string,
  {
    config
  })
]]></pre></td>
          <td>
<pre><![CDATA[config {
  timeout?: number = 2750;
  actionHandler?: Function;
  multiline?: boolean = false;
  actionOnBottom?: boolean = false;
  align?: string = 'center';
  dismissOnAction?: boolean = true;
  focusAction?: boolean = false;
}]]></pre>
          </td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th>Config</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>timeout: number (Default 2750)</td>
          <td>The amount of time in milliseconds to show the snackbar.</td>
        </tr>
        <tr>
          <td>actionHandler: Function</td>
          <td>The function to execute when the action is clicked.</td>
        </tr>
        <tr>
          <td>multiline: boolean</td>
          <td>Whether to show the snackbar with space for multiple lines of text.</td>
        </tr>
        <tr>
          <td>actionOnBottom: boolean</td>
          <td>Whether to show the action below the multiple lines of text.</td>
        </tr>
        <tr>
          <td>align: string (Default 'center')</td>
          <td>Alignment of the snackbar on screen. Valid values - 'start' | 'center'</td>
        </tr>
        <tr>
          <td>dismissOnAction: boolean</td>
          <td>Dismisses snackbar when action button is clicked.</td>
        </tr>
        <tr>
          <td>focusAction: boolean</td>
          <td>Sets focus to the action button.</td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="mdc-padding">
 <a mdc-button href="https://github.com/trimox/angular-mdc-web/tree/master/src/demo-app/components/snackbar-demo" target="_blank" rel="noopener noreferrer">View Example Source</a>
</div>
  <div fxLayout="column" class="mdc-padding">
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="multiline"></mdc-checkbox>
      <label>Multiline</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="actionOnBottom" [disabled]="!multiline"></mdc-checkbox>
      <label>Action on Bottom (requires multiline)</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="alignStart"></mdc-checkbox>
      <label>Start align (desktop only)</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="dismissOnAction"></mdc-checkbox>
      <label>Dismiss on Action Click</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="focusAction"></mdc-checkbox>
      <label>Focus on Action button</label>
    </mdc-form-field>

    <div fxLayout="column">
      <mdc-text-field [(ngModel)]="message" label="Message" [required]="true"></mdc-text-field>
      <mdc-text-field [(ngModel)]="action" label="Action"></mdc-text-field>
    </div>
    <div class="mdc-padding" fxLayout="column" fxFlexOffset="2">
      <button mdc-button [primary]="true" [raised]="true" (click)="show();">Show Snackbar</button>
    </div>
  </div>
</div>
