<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Snackbar</h1>
  <p mdc-typography-subheading2>The MDC Snackbar component is a spec-aligned snackbar/toast component adhering to the Material Design snackbars & toasts requirements.</p>
  <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-snackbar">Google Material Components documentation</a>
  <h1 mdc-typography-headline>Usage</h1>
  <div>
    <pre class="prettyprint"><![CDATA[import { SnackbarModule } from '@angular-mdc/web';]]></pre>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout="column">
      <h1 mdc-typography-headline>API reference</h1>
      <table>
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">@Input() dismissOnAction: boolean</pre></td>
            <td>Dismiss snackbar when the user presses the action button. Defaults to true</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div fxLayout="column" fxFlexOffset.gt-md="5">
      <h1 mdc-typography-headline>Methods</h1>
      <table>
        <thead>
          <tr>
            <th>Method</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">show(data)</pre></td>
            <td>Show snackbar using argument properties.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h1 mdc-typography-headline>Examples</h1>
  <div class="mdc-padding">
    <button mdc-button [primary]="true" [raised]="true" (click)="showSimple();">Simple</button>
    <button mdc-button [primary]="true" [raised]="true" (click)="showActionButton();">Show Action</button>
    <button mdc-button [primary]="true" [raised]="true" (click)="showMultiline();">Show Multiline</button>
    <button mdc-button [primary]="true" [raised]="true" (click)="showMultilineBottom();">Show Multiline - Bottom</button>
  </div>
</div>
<mdc-snackbar #snack></mdc-snackbar>
