<div fxLayout="column" fxFlex class="mdc-padding">
  <h1 class="mdc-typography--display1">Snackbar</h1>
  <p class="mdc-typography--subheading2">The MDC Snackbar component is a spec-aligned button component adhering to the Material Design button requirements.</p>
  <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-snackbar">Google's Material Components for the web documentation</a>
  <h1 class="mdc-typography--headline">Usage</h1>
  <div style="width: 500px;">
    <pre class="prettyprint"><![CDATA[import { SnackbarModule } from '@angular-mdc/web';]]></pre>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout="column">
      <h1 class="mdc-typography--headline">API reference</h1>
      <table>
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">@Input() dismissOnAction: boolean</pre></td>
            <td>Dismiss snackbar when the user presses the action button. Defaults to true</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div fxLayout="column" fxFlexOffset.gt-md="5">
      <h1 class="mdc-typography--headline">Methods</h1>
      <table>
        <thead>
          <tr>
            <th>Method</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">show(data)</pre></td>
            <td>Show snackbar using argument properties.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h1 class="mdc-typography--headline">Examples</h1>
    <div class="mdc-padding">
      <button mdc-button [primary]="true" [raised]="true" (click)="showSimple();">Simple</button>
      <button mdc-button [primary]="true" [raised]="true" (click)="showActionButton();">Show Action</button>
      <button mdc-button [primary]="true" [raised]="true" (click)="showMultiline();">Show Multiline</button>
      <button mdc-button [primary]="true" [raised]="true" (click)="showMultilineBottom();">Show Multiline - Bottom</button>
    </div>
    <!-- <pre class="prettyprint">&lt;button mdc-button [primary]="true" [raised]="true"&gt;Primary and Raised&lt;/button&gt;</pre> -->
</div>
<mdc-snackbar #snack></mdc-snackbar>
