<div fxLayout="column" fxLayoutAlign="start start" class="mdc-padding">
  <h1 mdc-typography-display1>Snackbar</h1>
  <p mdc-typography-subheading2>The MDC Snackbar component is a spec-aligned snackbar/toast component adhering to the Material Design snackbars & toasts requirements.</p>
  <a href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-snackbar">Google Material Components documentation</a>
  <h1 mdc-typography-headline>Usage</h1>
  <div>
    <pre class="prettyprint"><![CDATA[import { SnackbarModule } from '@angular-mdc/web';]]></pre>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxLayout="column">
      <h1 mdc-typography-headline>API reference</h1>
      <table>
        <thead>
          <tr>
            <th>Method</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><pre class="prettyprint">show(data, dismissOnAction: boolean = true)</pre></td>
            <td>Show snackbar using argument properties. Argument 'dismissOnAction' defaults to true and is optional.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <h1 mdc-typography-headline>Examples</h1>
  <div fxLayout="column" class="mdc-padding">
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="isActionOnBottom"></mdc-checkbox>
      <label>Action on Bottom</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="isMultiline"></mdc-checkbox>
      <label>Multiline</label>
    </mdc-form-field>
    <mdc-form-field>
      <mdc-checkbox [(ngModel)]="isDismissOnAction"></mdc-checkbox>
      <label>Dismiss on Action</label>
    </mdc-form-field>
  </div>
  <div fxLayout="column" fxFlexOffset="1">
    <mdc-textfield [(ngModel)]="messageText" label="Message text" [required]="true"></mdc-textfield>
    <mdc-textfield [(ngModel)]="actionText" label="Action button text"></mdc-textfield>
  </div>
  <div class="mdc-padding" fxFlexOffset="2">
    <button mdc-button [primary]="true" [raised]="true" (click)="show();">Show</button>
  </div>
  <div fxFlexAlign="start">
    <pre class="prettyprint">
<![CDATA[
  this.snack.show({
    message: this.messageText ? this.messageText : 'Sample text',
    multiline: this.isMultiline || this.isActionOnBottom,
    actionOnBottom: this.isActionOnBottom,
    actionText: this.actionText,
    actionHandler: this.actionText ? () => { console.log('Action button pressed!') } : null
}, this.isDismissOnAction);]]>
  </pre>
  </div>
</div>
<mdc-snackbar #snack></mdc-snackbar>
