<div class="demo-page">
  <div class="markdown-body">
    <h1>Chips</h1>
    Chips are compact elements that allow users to enter information, select a choice, filter content, or trigger an action.
    <h2>References</h2>
    <ul>
      <li><a mdc-button href="https://material.io/guidelines/components/chips.html"
        target="_blank" rel="noopener noreferrer">Material Design guidelines: Chips</a>
      </li>
      <li><a mdc-button href="https://github.com/material-components/material-components-web/blob/master/packages/mdc-chips/README.md"
        target="_blank" rel="noopener noreferrer">Material Components Web</a>
      </li>
    </ul>
    <h2>Import</h2>
    <pre><code><![CDATA[import { MdcChipsModule } from '@angular-mdc/web';]]></code></pre>

    <h2>Design & API Documentation</h2>
    <div class="docs-api">
      <h3>mdc-chip-set</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>choice: boolean</td>
            <td>Indicates that the chips in the set are choice chips, which allow a single selection from a set of options.</td>
          </tr>
          <tr>
            <td>filter: boolean</td>
            <td>Indicates that the chips in the set are filter chips, which allow multiple selection from a set of options.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Methods</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>setChoice(choice: boolean)</td>
            <td>Indicates that the chips in the set are choice chips, which allow a single selection from a set of options.</td>
          </tr>
          <tr>
            <td>setFilter(filter: boolean)</td>
            <td>Indicates that the chips in the set are filter chips, which allow multiple selection from a set of options.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-chip</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>primary: boolean</td>
            <td>Colors selected chip with the primary theme color.</td>
          </tr>
          <tr>
            <td>secondary: boolean</td>
            <td>Colors selected chips with the secondary theme color.</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Events</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>selectionChange: MdcChipSelectionChange</td>
            <td>Emitted when the chip is selected or deselected.</td>
          </tr>
        </tbody>
      </table>

      <h3>mdc-chip-text, mdcChipText</h3>
      <table>
        <tr>
          <td>Indicates the text content of the chip.</td>
        </tr>
      </table>

      <h3>mdc-chip-icon, mdcChipIcon</h3>
      <table>
        <thead>
          <tr>
            <th>Properties</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>leading: boolean</td>
            <td>Indicates a leading icon in the chip</td>
          </tr>
          <tr>
            <td>trailing: boolean</td>
            <td>Indicates a trailing icon in the chip</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h2>Sass Mixins</h2>
    To customize the colors of any part of the chip, use the following mixins.
    <p><a mdc-button href="https://github.com/material-components/material-components-web/tree/master/packages/mdc-chips#sass-mixins"
     target="_blank" rel="noopener noreferrer">Sass Mixins</a></p>

    <h2>Basic Usage</h2>
    <a mdc-button href="https://stackblitz.com/edit/angular-mdc-chips"
     target="_blank" rel="noopener noreferrer">EDIT IN STACKBLITZ</a>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Chip - Theming</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="simplechip.primary = !simplechip.primary">Primary: {{simplechip.primary ? 'On' : 'Off'}}</button>
      <button mdc-button (click)="simplechip.secondary = !simplechip.secondary">Secondary: {{simplechip.secondary ? 'On' : 'Off'}}</button>
    </div>
    <mdc-chip-set>
      <mdc-chip #simplechip>
        <mdc-chip-icon leading>face</mdc-chip-icon>
        <mdc-chip-text>Jane Smith</mdc-chip-text>
      </mdc-chip>
    </mdc-chip-set>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Input Chips</h3>
    <div class="demo-content--row">
      <button mdc-button (click)="inputchipset.addChip('test', 'face', 'cancel')">Add Chip</button>
    </div>
    <div class="demo-content--row">
      <mdc-chip-set #inputchipset [input]="true">
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>Jane Smith</mdc-chip-text>
          <mdc-chip-icon trailing>cancel</mdc-chip-icon>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>John Doe</mdc-chip-text>
          <mdc-chip-icon trailing>cancel</mdc-chip-icon>
        </mdc-chip>
      </mdc-chip-set>
    </div>
  </div>
  <div class="demo-content">
    <h3 class="demo-content__headline">Choice Chips</h3>
    <div class="demo-content--row">
      <mdc-chip-set [choice]="true">
        <mdc-chip>
          <mdc-chip-text>Get Directions</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Get Weather</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Add to Calendar</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
    </div>
  </div>
  <div class="demo-content">
    <h3 class="demo-content__headline">Filter Chips</h3>
    <div class="demo-content--row">
      <mdc-chip-set [filter]="true">
        <mdc-chip>
          <mdc-chip-text>Tops</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Bottoms</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Shoes</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-text>Accessories</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
    </div>

    <div class="demo-content--row">
      <mdc-chip-set [filter]="true">
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>Alice</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>Bob</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>Charlie</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>face</mdc-chip-icon>
          <mdc-chip-text>David</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
    </div>
  </div>

  <div class="demo-content">
    <h3 class="demo-content__headline">Action Chips</h3>
    <div class="demo-content--row">
      <mdc-chip-set>
        <mdc-chip>
          <mdc-chip-icon leading>wb_sunny</mdc-chip-icon>
          <mdc-chip-text>Turn on lights</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>bookmark</mdc-chip-icon>
          <mdc-chip-text>Bookmark</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>alarm</mdc-chip-icon>
          <mdc-chip-text>Set alarm</mdc-chip-text>
        </mdc-chip>
        <mdc-chip>
          <mdc-chip-icon leading>directions</mdc-chip-icon>
          <mdc-chip-text>Get Directions</mdc-chip-text>
        </mdc-chip>
      </mdc-chip-set>
    </div>
  </div>
</div>
